[2019-02-28 19:35] #578 closed

[2019-02-28 19:38] pnorman commented on #580
Yes - fixing all of the issues here should fix #552. It's hard to say which of the spec violations is causing #552, but in general violating the spec can confuse proxies.

[2019-03-01 01:28] ARolek commented on #579
Just to clarify, they would not be overwriting each other as the cache prepends a map name before the z/x/y folder structure.

Not with tegola. If this is desired I would suggest a proxy in front of tegola that can do serving as well (i.e. nginx)

[2019-03-01 01:38] pnorman commented on #579
They wouldn't be overwriting each other, but they'd still both be writing to the cache.

Not going through tegola is easy enough with the disk cache, but how is something like that possible with an object store backed cache?

[2019-03-01 04:52] ARolek commented on #579
If you use S3 as the cache you can use their [static web hosting feature](https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html). You will need to store the TileJSON with the map metadata somewhere static as well.

[2019-03-02 07:57] pnorman opened #581 "error marshalling tile gives unhelpful error message"
I get the error

[code]

This error message gives me no idea what tile was requested, what layer the problem is in, or how to fix it.

[2019-03-02 16:09] ARolek commented on #581
But it did tell us what line in the source code it came from so we can improve it. 😜

[2019-03-03 02:58] pnorman commented on #356
So, I've been giving this some thought on an architecture level. The deployment I'm considering is worldwide with pre-rendering, and needs to handle schema-incompatible map upgrades without shutting down or trying to have simultaneous updates of the client-side style and actions on the backend. This means serving old tiles still, which with #579 means either keeping around multiple configs on the

[2019-03-03 18:44] pnorman commented on #581
When running seed I get a similar error that tells me the tile, but not the layer

[code]

[2019-03-03 18:55] pnorman commented on #581
I'm adding this as a note in case someone is hitting the same error and wants to debug their style. I found the source by starting Tegola in `serve` mode and then requesting the tile with just one layer, e.g. `http://legolas.paulnorman.ca:8080/maps/bolder/transport/5/11/18`. When I got the error in the tegola console, I knew I had found the right layer.

[2019-03-07 21:36] rory opened #582 "Suggestion: Move off .io ccTLD"
In keeping with the letter, but definitely the spirit of this project's Code of Conduct, I suggest moving off the .io ccTLD, [tegola.io](https://tegola.io)

.io is for the "British Indian Ocean Territory", and fees go to support the British military occupation, which has carried an effective genocide of an entire people (the Chagossians). A CIA black site is rumored to be operating there. In recen

[2019-03-08 01:40] genofire opened #583 "Add mbtiles as a Providers"
Use mbtiles-file from filesystem.

Do not mix it with caching to mbtiles like in #520 (where you save cache in this format)

[2019-03-08 19:40] gdey commented on #570
@capan did @dBitech answer your question? Should I close this issue?

[2019-03-08 19:42] gdey commented on #65
As per #568 include Last-Modified header as well.

[2019-03-09 07:59] capan commented on #570
Hi @gdey ,
You can close the issue. Seeding/purging was the answer I was looking for. I haven't tested yet but testing is not related with this issue.
Thank you

[2019-03-09 07:59] #570 closed

[2019-03-11 18:23] ARolek commented on #583
I think using mbtiles as a cache provider makes sense but not so much as a data provider. Tegola data providers expect geometries to work with, not tiles. We could decode the tiles and return geometries to match the data provider interface but it sounds like your request is more around using tegola as a tile server for a pre seeded cache.

If we supported tegola being configured with only a cache

[2019-03-11 19:16] pnorman commented on #583
Readonly is what #579 is about, and I think it makes sense.

[2019-03-11 19:20] pnorman commented on #520
Couple of things to keep in mind

- the mbtiles spec sets out what it needs to look like for the consumer of it, but allows different storage with views. A common way of writing mbtiles is to write x, y, z, md5 into one table, md5, tiledata into another table, and have a view that joins them
- Most mbtiles caches I've seen fail with concurrency errors when you put heavy concurrent reads and writes

[2019-03-14 21:29] digitaltopo commented on #58
I'm also interested if there's a way to make dynamic queries to the postgres database with tegola, and generate tiles in "realtime"

[2019-03-14 21:57] ARolek commented on #58
@digitaltopo this thread is about dynamic configuration. Are you interested in changing the configuration (i.e. the queries) or just serving data directly from the database rather than a cache?

[2019-03-14 22:07] digitaltopo commented on #58
@ARolek I am interested in both:
1) Serve data directly from the database
2) Queries (request tiles with a query... aka define a layer with a query then request tiles)

Apologies if this is the wrong thread to post in, I'm new to Tegola, and looking at the docs, it appeared that in order to setup specific layers (using SQL queries) you have to have them available in the configuration (https://tego

[2019-03-14 22:16] dBitech commented on #58
at this time no you can not do dynamic (ad hoc)  queries via a uri
request.    when I have a need to something similar I fall back to a
different tool, namely
https://github.com/tobinbradley/dirt-simple-postgis-http-api

On Thu, Mar 14, 2019 at 3:08 PM Orestis Herodotou <notifications@github.com>
wrote:

[2019-03-14 22:17] digitaltopo opened #584 "Google Cloud Functions"
Can Tegola be run as a Google Cloud Function? Does anyone have experience deploying Tegola in this way?

[2019-03-14 22:20] digitaltopo commented on #58
I understand that Tegola's server capabilities don't allow for queries via a uri request, but could I build a an http server in front of Tegola that generated new provider.layer configs and passed them to Tegola? It sounds like right now once Tegola is running, the configurations cannot be swapped out, correct?

[2019-03-14 22:26] dBitech commented on #58
That is correct, as of today, the only way to dynamically change the
configuration of tegola, is to change it's config on disk and restart the
service.

On Thu, Mar 14, 2019 at 3:21 PM Orestis Herodotou <notifications@github.com>
wrote:

[2019-03-14 22:33] digitaltopo commented on #58
@dBitech Thank you for clarifying. So next question, would it be appropriate to try to replicate the desired behavior by using Tegola as a serverless function, with AWS Lambda or Google Cloud Functions?

[2019-03-14 23:01] dBitech commented on #58
I've never tried tegola in a "serverless" environment so I can not say,
though I expect with the current startup overhead (stand up a pg connection
pool, make connections for all the various maps, perform sanity checks on
the underlying db structure/data types etc) that moving it to a serverless
environment may not pose any benefit, and will come at a performance loss.

On Thu, Mar 14, 2019, 15:34

[2019-03-15 06:56] pnorman opened #585 "Make SQL errors prevent generation of tiles"
Right now if you configure a map with a layer that has a SQL error, it reports the error to the terminal
[code]

But it proceeds to generate the tile and save it to the cache. This means there are tiles missing layers in the cache, so a transient error leads to the need to drop the entire cache in order to get rid of any tiles that may be missing the layer with the transient error.

I would like,

[2019-03-15 23:28] ARolek commented on #584
@digitaltopo not yet, though a shim could be developed much like we did for AWS Lambda. Would you be interested in working on this?

[2019-03-17 06:57] pnorman opened #586 "Error: error reading from cache: too many open files"
With a cache seeded from zoom 11-14 and not from 0-10 I ran `tegola cache seed --bounds "-123.3,49,-122.5,49.4" --min-zoom 0 --max-zoom 14`

At the end of the run I got the error

[code]

[2019-03-17 14:43] ARolek commented on #586
What’s the cache type? File?

[2019-03-17 18:04] pnorman commented on #586
Yes.

[2019-03-19 17:28] ARolek commented on #586
@pnorman hmm, look at your logs tegola appears to have completed successfully. I'm kind of surprised you're getting a "too many files open error" with seeding as the seeding concurrency is usually tied to the # of cores on the machine which is dramatically lower than the ulimit.

Any other insight you can provide?

[2019-03-19 17:39] ARolek commented on #58
@digitaltopo there is currently a version of [tegola for lambda](https://github.com/go-spatial/tegola/tree/master/cmd/tegola_lambda). We have the prebuilt binaries on the [release page](https://github.com/go-spatial/tegola/releases) and instructions in the tegola_lambda [README](https://github.com/go-spatial/tegola/blob/master/cmd/tegola_lambda/README.md). It's fairly easy to get going but there a

[2019-03-20 05:54] pnorman commented on #586
The server has 8 logical cores and I've done nothing special with ulimit.

[2019-03-20 05:56] pnorman commented on #586
Aside from the error itself, another bug is that I got the usage screen after it, which doesn't help since there wasn't a usage error.

[2019-03-20 10:43] tomass commented on #586
Usage screen comes up after other errors (in seeding only?) too.
For example it is also displayed after https://github.com/go-spatial/tegola/pull/430

[2019-03-20 10:48] tomass commented on #429
Can you reopen this one or should I create a new issue as originally I did not mention usage of _st_intersection_ which is causing "second part" of this problem?
(more info here: https://github.com/go-spatial/tegola/pull/430)

[2019-03-20 18:06] ARolek commented on #586
Usage instructions showing up on non-usage errors is a bug for sure.

@pnorman I need to think about what else could cause this. The [file is closed](https://github.com/go-spatial/tegola/blob/master/cache/file/file.go#L129) before the Set() method returns. Concurrency is the other place I would look but with 8 logical cores I don't see how you could be hitting ulimit errors

Another possibility is

[2019-03-20 18:07] ARolek commented on #429
@tomass re-opening.

[2019-03-20 18:36] pnorman commented on #586
[code]

No pgpool or anything fancy in front of it.

[2019-03-21 04:20] pnorman commented on #586
I tried reproducing and it didn't occur, so my guess is a concurrency issue.

[2019-03-21 07:50] pnorman commented on #559
I tried looking into this, and with `TEGOLA_SQL_DEBUG=LAYER_SQL:EXECUTE_SQL tegola cache seed tile-name 12/649/1402 --overwrite` I never got the SQL for the layer in question.

[code]

One workaround is to wrap the entire query in `SELECT * FROM (...) q;`

e.g.

[code]

[2019-03-21 09:58] bagage commented on #559
Yes it's indeed how I ended up using it.

Not a big deal since there is indeed this workaround now.

[2019-03-21 18:03] ARolek commented on #585
@pnorman I like the idea of this being configurable as I think that both approaches have their use cases.

Regarding needing to blow out the cache for a single tile, this is not necessarily true. tegola cache seed/purge has support for a single zxy tile via `tegola cache seed tile-name Z/X/Y`.

[2019-03-21 18:10] ARolek commented on #586
Ok. Please report any other findings. Concurrency bugs can be tough to track down.

[2019-03-22 11:40] pnorman commented on #585
How do I know what tiles I need to remove from cache? Generally I'd expect only to know there's an error after looking into problem reports, and I won't have previous tile lists saved.

[2019-03-22 18:29] gdey commented on #585
I think this is a bug, as it should not blow out that tile if it was not able to generate a good replacement, either due to misconfiguration or other errors. I agree that tiles (from the cache perspective should) should be considered as a unit, made up of all the layers generating correctly. If any subunit fails the entire tile fail and not be written to the cache. I think this should be default b

[2019-03-25 23:33] ARolek opened #587 "Discussion: How to handle tile errors (i.e. render what we can, or fail entirely?)"
There are two schools of thought developing around how to handle tile errors within tegola. I want to use this issue as a place to centralize the discussion. The two thought process:

* Render what we can
* Fail entirely

The "Render what we can" thinking tries to process a tile and if a layer fails (i.e. an unsupported geometry type is encountered like a geometry collection or an SQL error happen

[2019-03-26 00:29] pnorman commented on #587
I'm in favour of fail entirely. Relying on logs is iffy and serving only some layers sounds like a recipe for subtle hard to detect failures.

[2019-03-28 05:26] gdey commented on #587
I want to bring in @tomass  comment here, has it has merit to this discussion.

Which brings into question, what are "expected situations" for types of things. Where is that documented, and is there a clear rule outlining what is and isn't an "expected situation."

[2019-03-28 18:23] reyemtm opened #588 "Adding remote host"
I am trying to add a remote host - managed PostgreSQL db - into "host" and am getting a "too many colons in address" error. I tried both the domain and IP. I am running v0.8.1. If I do not put an "http://" it thinks the host is still the localhost and of course cannot find the database as there is none with those credentials. It is working otherwise with a database on localhost.

[2019-03-28 18:54] ARolek commented on #588
Can you post that part of your config file but modify the hostname so that's not exposed? I would like to see what the config looks like that's causing problems.

[2019-03-31 20:53] ARolek commented on #587
I think we're generally in agreement that we should fail a tile when an error happens. @pnorman this gives us a direction on #585.

@tomass I have been thinking about your particular case and it sounds like an empty geometry collection is returned by PostGIS, which is passing the `len(geobytes) == 0` check but the geometry Collection has 0 features. Looking back at @paumas PR #430, I'm in favor of

[2019-04-04 15:48] vetjee opened #589 "!BBOX! token generates invalid ST_MakeEnvelope"
### Actual Behavior
The `!BBOX!` token contains coordinates which appear to be wrong.
[code]

The first and third coordinate seem to be right, however the second and fourth not.

### Expected Behavior

I'd expect the coordinates to be like this:

[code]

### Steps to reproduce the issue.
1. Download Geofabrik data.
2. Import to Postgresql
3. Serve with config below.

#### Data used (where to get t

[2019-04-04 16:11] ARolek commented on #589
Do you have the z/x/y tile value? that's what's used to calculate the bbox value. With that we can make a test case.

[2019-04-04 16:22] vetjee commented on #589
`tile (z: 16, x: 33700, y: 21619)` generates  `ST_MakeEnvelope(569904.9281864072,6.8169503750076955e+06,570535.5336696722,6.81758098049096e+06,3857))`

[2019-04-04 21:18] pnorman commented on #589
This would be wrong, that would give a value of approximately 6.8e12.

The WHERE clause should be ``WHERE way && !BBOX!``.

[2019-04-05 01:41] ARolek opened #590 "provider/postgis: no error thrown when geoFieldname is not found during decipherFiled processing"
This is a nasty silent bug. Using the following configuration block for context:

[code]

No features are rendered by tegola though features are returned by the SQL. The issue here is that `geometry_filedname = "geometry"` is defined but since the `ST_AsBinary(geometry)` does not have `AS geometry` after it, the `geoFieldname` is not found during processing of the result set. Tegola continues movi

[2019-04-05 08:00] vetjee commented on #589
@pnorman You are right, changing the query to
[code]

Fixed my problems. There is nothing wrong with the !BBOX! token.

[2019-04-05 08:00] #589 closed

[2019-04-05 16:28] #590 closed

[2019-04-08 19:50] ARolek opened #594 "User defined http response headers are not added to OPTIONS requests"
When custom webserver response headers are configured they're added to the all requests except `OPTIONS`

[2019-04-09 20:26] #594 closed

[2019-04-09 20:27] ARolek commented on #588
@reyemtm I'm going to close this issue for now. If you have any additional info you can provide please reopen the issue.

[2019-04-09 20:27] #588 closed

[2019-04-09 20:29] ARolek opened #597 "[config] env vars are not supported in nested config blocks"
dict.Dict needs to implement `UnmarshalTOML` in https://github.com/go-spatial/tegola/blob/master/internal/env/types.go.

[2019-04-09 20:30] ARolek commented on #562
this is now in the v0.9.x branch. I'm working on cutting a version release.

[2019-04-09 20:30] #562 closed

[2019-04-09 20:39] ARolek commented on #429
This fix has been merged into v0.9.x branch. I'm working on cutting a release soon.

[2019-04-09 20:39] #429 closed

[2019-04-09 22:00] ARolek commented on #233
This is fixed in v0.9.0. Hopefully forever.

[2019-04-09 22:00] #233 closed

[2019-04-11 11:19] phainv88 opened #599 "cache response writer err"
There are some errors for not accessable to cache tiles as picture below(that's why i can not see raster image at the coordinate in the picture):
![2019-04-11 18_01_08-mRemoteNG - confCons xml - 192 168 10 232-s11](https://user-images.githubusercontent.com/40235807/55953368-205f4b80-5c86-11e9-976e-ae86c7de1b8a.png)
![2019-04-11 18_01_53-1923 png (256×256)](https://user-images.githubusercontent.com

[2019-04-12 10:12] tierpod opened #600 "cache/redis: add configurable expiration time"
I see that RedisCache has Expiration field: https://github.com/go-spatial/tegola/blob/master/cache/redis/redis.go#L90

It would be nice to add ability to configure expiration time. I will try to implement it.

[code]

[2019-04-16 04:08] ARolek commented on #599
@phainv88 can you give me some more context here? What is generating the png image tiles? Is it converting the vector tiles to png and operating on the same file cache that tegola is working against?

[2019-04-23 17:04] ARolek commented on #600
This has been merged into the v0.10.x branch

[2019-04-23 17:04] #600 closed

[2019-04-30 17:11] ingenieroariel opened #602 "Offline tiles generation without postgis step"
A friend recently stopped using tegola and switched to Tilemaker: https://github.com/systemed/tilemaker his use case was generating offline tiles to put on a mobile app (react + mapbox).

I had initially set up Tegola for him and he developed the prototype, but when it was time to put in production he could not figure out how to get the cache from tegola to his app and tried Tilemaker, turns out i

[2019-04-30 17:31] pnorman commented on #602
A vector tile set normally includes data from sources that imposm can't process (e.g. natural earth). Queries are also how the layers are defined, and those queries are evaluated by postgres.

[2019-04-30 17:41] ingenieroariel commented on #602
Could naturalearth be processed with just the gdal/ogr driver? I believe
imposm bundles ogr.

-a

On Tue, Apr 30, 2019 at 12:31 PM Paul Norman <notifications@github.com>
wrote:

[2019-05-01 21:18] ARolek commented on #602
@ingenieroariel tegola can write to S3 or the file system so you could pre-generate the tileset and then serve it directly. The tiles are gzip encoded so I'm wondering if that's potentially where the issue lies. If nginx was not setting the `Content-Encoded` header correctly then the client might not know to decompress the tile prior to rendering it.

[2019-05-03 10:00] pacobeending opened #603 "just grid, no map"
<img width="1344" alt="屏幕快照 2019-05-03 下午4 38 17" src="https://user-images.githubusercontent.com/50231399/57130351-c86ebd00-6dcb-11e9-875d-67ec701c1686.png">

i use imposm3 to import osm data into postgres, but there is just grid, no map.
the config is from https://github.com/go-spatial/tegola-osm/blob/master/tegola.toml
i really have no idea whats wrong in my case, every step looks like right and

[2019-05-03 16:38] ARolek commented on #603
Did you import the entire planet or just a specific part of the world? If the later, then you may need to position the map over the area of the world the dataset covers.

[2019-05-26 05:07] ARolek commented on #603
@pacobeending if you can provide more context I'm happy to keep the conversation going. Closing for now.

[2019-05-26 05:07] #603 closed

[2019-06-13 23:45] stdmn opened #606 "Tegola Lambda: "Endpoint request timed out""
I've now gone through the [Tegola Lambda](https://github.com/go-spatial/tegola/blob/84cf61f36276ea44546bb45b24f8ba42e7fcf883/cmd/tegola_lambda/README.md) tutorial 3 times, checking to make sure that there were no errors in my implementation. I've tried with both tegola_lambda 0.9x and 0.8x. I know that my config.toml file works because it runs locally.

Each time I finish, after copying the API en

[2019-06-13 23:46] ARolek commented on #606
@stdmn usually you need to prefix the name of the deployment stage to the URL, like `/dev/capabilities`. Have you tried that yet?

[2019-06-13 23:48] stdmn commented on #606
Wow. Speedy reply. Yep, for reference, this is what my call looks like:
`https://[APIAddress].execute-api.us-east-1.amazonaws.com/dev/capabilities`

[2019-06-14 00:12] ARolek commented on #606
@stdmn Looks like there's an issue connecting to your database instance so tegola is never running as a webserver. I would suggest checking your security groups and IAM roles to make sure your Lambda function can communicate with your database. Once that's addressed the function might run fine.

[2019-06-14 00:14] stdmn commented on #606
Will do. Thanks for the help!

[2019-06-14 00:14] ARolek commented on #606
Anytime!

[2019-06-15 00:22] #606 closed

[2019-06-15 01:12] stdmn commented on #57
@ARolek Can you provide a brief example of how to do that? I've tried using the TEGOLA_CONFIG for AWS Lambda (pulling the config.toml file from a S3 Cloudfront distribution) and it doesn't seem to be working. Not sure if I'm overthinking it.

[2019-06-17 01:39] ARolek commented on #57
@stdmn do you have any logs you can provide? If you set `TEGOLA_CONFIG` to a URL, tegola will attempt a remote fetch. A log is written when this routine starts as shown [here](https://github.com/go-spatial/tegola/blob/master/config/config.go#L183).

[2019-06-17 14:27] stdmn commented on #57
Looks like it may be a CORS issue. Not sure exactly, though.

`
14:24:03
2019-06-17 14:24:03 [INFO] config.go:183: loading remote config (**PUBLIC CLOUDFRONT URL**)
14:24:13
START RequestId: 10de3e0b-3171-43cb-9c7b-6c1233cf9cfd Version: $LATEST
14:24:13
2019-06-17 14:24:13 [INFO] config.go:183: loading remote config (**PUBLIC CLOUDFRONT URL**)
14:24:23
2019/06/17 14:24:23 main.go:40: error fetchin

[2019-06-17 16:29] ARolek commented on #57
Is your lambda function running inside of a VPC? From the looks of it, the request is timing out, which happens after 10 seconds: `net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)`

If your function is in a VPC then you will need to configure the VPC to allow the lambda function to make public requests to the internet. [Relevant article](http

[2019-06-17 16:42] stdmn commented on #57
Doh! You're right. Was able to connect directly to the S3 instance by allowing the VPC to connect to my S3 [endpoint](https://aws.amazon.com/blogs/aws/new-vpc-endpoint-for-amazon-s3/). Sorry for my ignorance and thanks again for your patience!

[2019-06-17 16:52] ARolek commented on #57
@stdmn beautiful! I'm glad it's working for you! If you have any suggestions to help make the instructions easier to follow, feel free to send in a PR with any documentation updates. This is an interesting "gotcha" that is not currently documented.

[2019-06-17 17:14] stdmn commented on #57
@ARolek One related question, it seems that when I change the S3 config object but don't update the Lambda function, Lambda doesn't recognize that the config file has been changed and retains some kind of cache on the previous config file. Any idea how to invalidate in order to make sure that the Lambda function is pulling the new S3 config?

Sorry, I recognize this stuff is somewhat out of your j

[2019-06-17 17:21] stdmn commented on #57
UPDATE: seems that it's on the API Gateway (unsurprisingly): [https://stackoverflow.com/questions/39303410/can-aws-api-gateway-cache-invalidate-specific-entries-based-on-the-response-cont](https://stackoverflow.com/questions/39303410/can-aws-api-gateway-cache-invalidate-specific-entries-based-on-the-response-cont).

Still working on a solution.

[2019-06-17 19:25] ARolek commented on #57
@stdmn you could also look into not using API Gateway now that [Application Load Balancers can Invoke Lambda Functions](https://aws.amazon.com/about-aws/whats-new/2018/11/alb-can-now-invoke-lambda-functions-to-serve-https-requests/).

[2019-06-18 02:46] stdmn commented on #57
@ARolek One last question for you (I promise!). I'm trying to add authentication to the API Gateway that calls the Tegola Lambda function. For some reason, it seems to be failing with CORS whenever I add any headers to fetch the API endpoint. I've spent half a day looking up StackOverflow threads and have tried adding ```Access-Control-Allow-Origin = "*"
	Access-Control-Allow-Methods = "GET,OPTION

[2019-06-18 06:02] ARolek opened #607 "Using tegola lambda with AWS API gateway"
@ARolek One last question for you (I promise!). I'm trying to add AWS Cognito authentication to the API Gateway that calls the Tegola Lambda function.

 For some reason, it seems to be failing with CORS whenever I add any headers to fetch the API endpoint. I've spent half a day looking up StackOverflow threads and have tried adding ```Access-Control-Allow-Origin = "*"
	Access-Control-Allow-Methods

[2019-06-18 06:11] ARolek commented on #607
@stdmn I would like to not hijack the other issue so I have moved your question here.

This sounds like it's going to need a bit more debugging.

- Are you getting this in the client side console or the server logs?
- If this is client side, have you confirmed everything is working end to end if you run the client side code on the same domain as tegola? This will confirm it's a CORS issue so debug

[2019-06-18 14:47] stdmn commented on #607
OK, I think I may have figured out the problem, just don't know how to fix it.

It looks like the culprit was making "Binary Media Types" = `*/*`. I think this is messing with the OPTIONS call. When I remove this, everything works fine. The problem is that if I remove this, Tegola doesn't work.

Any thoughts on how to handle this?

[2019-06-18 16:10] stdmn commented on #607
I was able to solve it. Here's what I did:

1. When setting up the API Gateway, instead of using '*/*' under 'Binary Media Types', use 'application/octet-stream'
1. Under the {proxy+} method, include an Authorizer (I used Cognito ID per [AWS docs]).(https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html)
1. For every call to API, include "Authorization"

[2019-06-18 22:08] ARolek commented on #607
@stdmn awesome! Thanks for the follow up on the solution. Just so this thread is complete, you have essentially implement token authorization in front of the API endpoint using API Gateway.

Are you using this for metering tile requests or restricting access to tilesets?

[2019-06-19 15:55] stdmn commented on #607
Exactly. I'm using this for restricting access to the tilesets. Specifically, I didn't want someone to be able to go in and download the tiles by using a direct link in the browser.

[2019-06-19 16:05] ARolek commented on #607
Great! Let me know if you're able to share your project when it's ready. I'm considering putting a list together of where tegola is being used.

Let me know if you have any other questions.

[2019-06-19 16:05] #607 closed

[2019-06-21 21:05] paul-pries-weatherlogics opened #609 "AWS Lambda: global state for database connection caching."
Is there a reason why the connection to AWS Lambda must be rebuilt each time as per the tegola lambda readme? I am trying to speed up a web app, and I believe this is a bottleneck. Is there a way the connection can be implemented in order to keep it open?

[2019-06-21 21:15] ARolek commented on #609
@paul-pries-weatherlogics could you give me a bit more context? Are you talking about the connection between the web app and tegola lambda or tegola lambda and the database?

[2019-06-21 21:58] paul-pries-weatherlogics commented on #609
The tegola_lambda README says that the connection to the database must be rebuilt on each request. (No connection pooling). It's my understanding that if a connection is opened outside of the handler, it remains warm in an AWS lambda container and does not need to be rebuilt, thereby speeding up API calls.

Is there a way to implement the connection outside of the handler in this way, or is there

[2019-06-22 00:43] ARolek commented on #609
Hmm, do you have some documentation you can point to about the connection being persisted outside the handler? I would like to look into this a bit more.

Regarding the documentation, if the lambda function is still warm the connection pool may be maintained by the lambda runtime. If the lambda function goes cold it will absolutely be killed. One of the slowest parts of using tegola lambda is when

[2019-06-24 14:37] paul-pries-weatherlogics commented on #609
https://docs.aws.amazon.com/lambda/latest/dg/running-lambda-code.html
This is the main bit that was I was referring to, where it says that any declarations made outside of the handler function can be maintained and reused, including connections.

https://www.jeremydaly.com/reuse-database-connections-aws-lambda/
This post goes into a bit of detail about how to implement this.

The guy who actually

[2019-06-24 18:19] ARolek commented on #609
@paul-pries-weatherlogics very interesting. Some additional articles that are applicable:

- [AWS Lambda Execution Context](https://docs.aws.amazon.com/lambda/latest/dg/running-lambda-code.html)
- [AWS Lambda Function Handler in Go: Using Global State](https://docs.aws.amazon.com/lambda/latest/dg/go-programming-model-handler-types.html#go-programming-model-handler-execution-environment-reuse)

Thi

[2019-06-24 20:30] ARolek commented on #609
I'm going to re-open this one as it's something I would like to implement eventually.

[2019-07-02 13:33] aaj013 opened #610 "[Feature Request] Add support for filtering layer dynamically"
I haven't seen any options right now within Tegola to pass on parameters from frontend to DB for filtering the input dataset. Is there any updates on that?

[2019-07-02 17:24] ARolek commented on #610
@aaj013 it's not currently on our roadmap. Could you give a more concrete example on how you would want this to work from the frontend? It's an interesting idea though I see it conflicting with concepts like tile caching, but I'm open to exploring the possibility.

[2019-07-05 08:03] aaj013 commented on #610
I see the same functionality in another vector tile server [Martin](https://github.com/urbica/martin) passing on parameters from client side to plpgsql (https://github.com/urbica/martin#function-sources). Wouldn't it be nice to integrate that feature?

[2019-07-05 16:56] tomass commented on #610
One possible use case:

There is a tourism map/website allowing you to choose a number of POI types to display from a list of ~50+. It then uses a bbox strategy to request a list of poi's in a viewport (bbox), something like _poi.php?bbox=12,23,45,56&type=ABC_ (where A, B and C are types of POI to be displayed). This works with OpenLayers.

While trying to migrate to mapbox-gl-js, there is a probl

[2019-07-10 16:00] stdmn commented on #58
@ARolek Circling back on this thread, I was wondering if it would be possible to dynamically pull layers from a Database's information_schema for the tegola_lambda build.

For instance, what if we could pass a SQL query to the config under provider, define a common geometry and index field and it would automatically grab all layers from the information_schema for that provider.

Here's my thought

[2019-07-13 14:53] stdmn opened #613 "Config using information_schema from Postgres"
Moving this from #58 as it's a slightly different request:

@ARolek Circling back on this thread, I was wondering if it would be possible to dynamically pull layers from a Database's information_schema for the tegola_lambda build.

For instance, what if we could pass a SQL query to the config under provider, define a common geometry and index field and it would automatically grab all layers from t

[2019-07-19 02:06] ARolek commented on #613
@stdmn apologies for the delayed response, I had a family emergency. I'm back now and catching up.

This idea has been discussed a few times and I think it would be incredible to implement. One other relevant issue for reference: [Automated way to generate a config.toml](https://github.com/go-spatial/tegola/issues/262).

The [initConfig](https://github.com/go-spatial/tegola/blob/master/cmd/tegola/

[2019-07-19 14:24] stdmn commented on #613
Sorry to hear that. Hope things are well.

Thanks for the info! Will start digging into this.

[2019-07-19 15:02] ingenieroariel commented on #613
Does trex allow this? It would be good to take a look at their
implementation if the license allows it.

On Fri., 19 Jul. 2019, 9:24 am stdmn, <notifications@github.com> wrote:

[2019-07-19 22:35] ARolek commented on #613
@ingenieroariel I believe t-rex does but I have not checked their implementation.

@stdmn hmm, it would be ideal if it refreshed only when the data changed but I'm not quite sure how we can pull this off and be provider agnostic. I will need to think on that piece.

[2019-07-19 22:46] ARolek commented on #610
@aaj013 one thing about martin is that it only supports PostGIS. Tegola has more than one provider type so I'm always trying to think of how we can make the implementation provider agnostic. I have not dug into Martin too much, but do you know if it supports a tile cache along with the query feature? I think that would be an interesting challenge to tackle.

@tomass this is an interesting use case

[2019-07-20 01:22] ingenieroariel commented on #613
At least for gpkg you can sha256 the file?

For Postgres it may be good to have a PG_READ_ONLY flag that can assume the
tegola process will be reloaded if the data changed

-a

On Fri., 19 Jul. 2019, 5:35 pm Alexander Rolek, <notifications@github.com>
wrote:

[2019-07-23 21:10] stdmn commented on #568
**For the file system**, you can grab the last modified date using:
[code]
([Documentation](https://learngolang.net/tutorials/how-to-get-file-info-in-go/) here)

**For S3** (see full example [here](https://github.com/awsdocs/aws-doc-sdk-examples/blob/master/go/example_code/s3/s3_list_objects.go)):
[code]

**For Postgres:**
- Enable the `track_commit_timestamp` on the [postgres configuration file](

[2019-07-25 13:21] FelixCali opened #616 "Polygons do not match MVT specs"
We experienced problems decoding the delivered MVTiles because they do not conform to the MVT-Specification:

- duplicate points lead to zero length line segments
-{ point x, [other points] , point x } leads to illegal self intersections

Disabling checks for these anomalies worked but might cause rendering bugs.

[2019-07-25 14:04] FelixCali opened #617 "Exterior Polygon missing, interior Polygon handed as exterior Polygon"
Weird bug:
We get an exterior polygon on the ocean layer, which is clearly actually supposed to be an interior polygon, while it's exterior Polygon is missing, leading to this result:

![bug](https://user-images.githubusercontent.com/50200988/61879777-045d7e00-aef4-11e9-81af-d9aa7fea9448.png)

(Using openstreetmap data)

[2019-07-25 17:16] ARolek commented on #616
@FelixCali during mvt encoding, tegola checks if the last point and the first point are the same, and if so, drops the last point. You can see this called [here](https://github.com/go-spatial/tegola/blob/master/mvt/feature.go#L340) and the logic [here](https://github.com/go-spatial/tegola/blob/master/mvt/feature.go#L287).

One thing we don't do is recheck if the first and last point are the same a

[2019-07-26 01:27] ear7h opened #618 "Upgrade geom package to latest version"
There are some breaking changes in the `geom:master` and this needs to be taken care of in the latest migration even if it means adding a level of complexity to certain parts of the code base.

The breaking change for this, revolves around the `slippy.Tile` which no longer satisfies the `provider.Tile` interface. The best[1] solution is to create an `atlas.Tile` which would satisfy the `provider.T

[2019-07-26 02:34] ear7h commented on #618
update: the `atlas.Tile` cannot be used because the `atlas` package would have to be imported  in `provider` creating a circular dependency. A `provider.tile_t` was created instead.

See the PR referenced below...

[2019-07-26 09:20] FelixCali commented on #616
The problem does not seem to be related or at least not limited to what you described.

case 1: Duplicate consecutive points which are neither first nor last point

`LINEARRING (-64 -64, 1492 -64, 1492 -59, 1489 -43, 1489 -40, 1486 -7, 1480 57, 1486 61, **1489 63, 1489 63,** 1492 65, 1492 66, 1493 66, 1497 69, 1500 71, 1505 74, 1507 76, 1510 78, 1511 79, 1514 81, 1517 83, 1519 85, 1523 87, 1525 88

[2019-07-26 21:54] ear7h opened #620 "`tileBuffer` unecessary parameter to `seedWorker`"
This edit takes away functionality where the buffer can be set at the root of the config. We may deprecate this functionality in the future but we should continue supporting it for now to avoid a regression. `seedWorker` accepts a `tileBuffer`. You could add the following as a replacement:

[code]

_Originally posted by @ARolek in https://github.com/go-spatial/tegola/pull/619_

====

Thanks for po

[2019-07-26 23:13] #618 closed

[2019-07-26 23:13] #620 closed

[2019-07-27 20:33] ARolek opened #621 "[mvt] remove geo processing functions from encoder"
The `mvt` package currently has geoprocessing functions (i.e. simplification, clipping, make valid, etc.) coupled inside the encoder. These functions should be moved out of the `mvt` package so it can focus only on encoding

[2019-07-27 20:37] ARolek commented on #621
This is a dupe of #224

[2019-07-27 20:37] #621 closed

[2019-07-27 21:16] ear7h opened #622 "remove tegola.Geometry type from basic.ToWebMercator"
the current signature for `basic.ToWebMercator` is:
https://github.com/go-spatial/tegola/blob/c6139463db3230ffe75ae2b3b8b3801167f1b6c7/basic/geometry_math.go#L153
it should be:
[code]

[2019-07-29 17:25] ARolek commented on #616
@FelixCali this is really helpful, especially as we're kicking into some improvements on the geometry processing front. Next step would be getting these into test cases. @gdey do you know if the overlapping points at the beginning and end of this polygon would be dropped during make valid? They might also get dropped during simplification but the underlying polygon appears to be invalid to me eith

[2019-07-29 17:26] ARolek commented on #617
@FelixCali thanks for providing the pbf file on the issue. What water dataset are you using that's causing this? I want to hunt down the offending geometry so we can turn it into a test case.

[2019-07-30 14:49] gdey commented on #616
This should be fixed with validation. Especially the self-intersecting and duplication points. Things that could cause this is after simplification, causing self-intersection.

[2019-07-31 14:52] FelixCali commented on #617
We are using ocean data from:
https://www.naturalearthdata.com/downloads/10m-physical-vectors/

[2019-07-31 22:15] pnorman commented on #616
@FelixCali Do you have a good way to generate the text and graphical forms you posted? I end up doing that kind of debugging by hand and find it slow

[2019-07-31 23:14] ear7h opened #626 "tegola command fails when running `version` subcommand without a config"
[code]

it should display the version since a config is not necessary for the `version` command.

[2019-08-01 04:17] #626 closed

[2019-08-01 04:20] #349 closed

[2019-08-01 04:46] #224 closed

[2019-08-01 06:25] tomass commented on #616
@pnorman QGIS can do all of that and even more.

[2019-08-01 21:43] ear7h opened #628 "remove tegola.Geometry type from Map.Encode"
The following functions have to be converted:
- [x] `basic.ToWebMercator` issue: #622, pr: #625
- [x] `simplify.SimplifyGeometry`  pr: #648
- [x] `mvt.ScaleGeo` pr: #629
- [x] `validate.CleanGeometry` \* commit: 4136aed8f86c8fbc268c7e757ffb0ba37ccd1376

~Afterwards, the `mvt` package as a whole should be cleaned.~ #629

\* clean geometry, as it stands, will probably not be converted. Rather, the n

[2019-08-01 21:47] ARolek commented on #628
@ear7h I think you should skip validate.CleanGeometry as that what's @gdey is working on. I don't think we benefit from that porting effort. Instead, convert from and to the geom types around that step.

[2019-08-01 21:48] ear7h commented on #628
@ARolek I was just in the proccess of updating my original comment when you sent this, I included it in the list for information.

[2019-08-01 21:56] #622 closed

[2019-08-02 22:57] ear7h opened #630 "Naming of mvt.ScaleGeo"
I also came across some code in `mvt/scale.go` that does not do strictly scaling (it also removes points, which is slightly misleading), and @ARolek  and I came up with the idea of renaming it `PrepareGeo` or something similar. This could do some sort of scaling, de-duplication, and standardize how we handle something like the last point of polygon.

Note that this issue might be moved to the `go-

[2019-08-03 21:23] ARolek commented on #630
I think the Scale operation should be separate from the "prepare" operation. Scaling is really a reprojection operation, where the coordinate system is changed but the underlying geometry does not gain or lose points. The "prepare" concept I was proposing would be for preparing geometries for MVT specific encoding, the most important being checking for the first and last coordinate being the same

[2019-08-05 00:43] gdey commented on #630
This is function is doing a translate and a reprojection of coordinate systems. Keep that in mind. The translation is from Webmecator to tile coordinate. The other thing to remember that as we pull these pieces apart we are slowing downing the processing by OLog(n) each time. This is the reasoning behind the conflation of translation and removal of duplicate points, that are next to each other. I'

[2019-08-05 15:52] ARolek commented on #630
Correct, but on the other hand, we're not giving the implementer the option to not invoke these operations since the concepts are conflated. In the case of a Multi Point, you may have two points on top of each other that are associated with different information but the de-duplication process removes them. This could be problematic for say heatmap implementations where point density is important.

[2019-08-05 17:00] gdey commented on #630
Yes, that makes sense to me.

[2019-08-06 03:17] ear7h opened #631 "Remove internal/log package"
~This issue is actually being solved as part of #629, specifically the commit 02a9741~

[2019-08-06 03:17] ear7h commented on #215
closing in favor of #631

[2019-08-06 03:37] ear7h commented on #215
Reopening bc#631 is a temporary solution. We would like to implement a go-spatial logger at some point in the future

[2019-08-06 03:55] ear7h commented on #631
I misunderstood the direction we were going. And the `internal/log` should be removed, but in place of an org-wide package. Closing *this* issue in favor of the `215`

[2019-08-06 03:55] #631 closed

[2019-08-16 11:59] FelixCali commented on #616
@pnorman not really, I used GeoGebra, which required a lot of  additional effort

[2019-08-18 10:16] skinkie commented on #292
I would like to report back that using the PostGIS topology extension I am able to simplify the structure with respect to topology, which gives good results. I have not yet used this in combination with tegola, but expect this could work as well.

[code]

[2019-08-19 18:01] ARolek commented on #292
@skinkie thanks for the follow up. I'm interested in how the results look with tegola. Please let us know when you have a chance.

[2019-08-20 21:36] ear7h opened #633 "server: checking if map contains tile should be based on intersection not containment"
In `master` if a tile does not lie _entirely_ inside the map, then the server returns an error. I don't think this is desired behavior. If any part of a map lies within the tile, I think it should be returned.

I propose that we change this if statement:
https://github.com/go-spatial/tegola/blob/c6139463db3230ffe75ae2b3b8b3801167f1b6c7/server/handle_map_layer_zxy.go#L144-L148
to:
[code]

There is

[2019-08-21 23:08] gorbypark opened #635 "Using ST_Transform in SQL query"
I have a table with an 26910 SRID so I'm attempting to transform it to 4326 to use with tegola.  My query in config.toml is like this
```sql = "SELECT ST_AsBinary(ST_Transform(geom, 4326)) AS geom, id FROM my_schema.my_table WHERE geom && !BBOX!"```
I get no results returned.  If I use the exact query on a table with an SRID of 4326 (and even keeping the ST_Transform and all), everything works, so

[2019-08-21 23:26] ARolek commented on #635
@gorbypark tegola supports querying data that's in either 4326 or 3857 projections. During request time, tegola is going to create a bounding box based on one of those two projections and replace the `!BBOX!` token with the tile bounds. You wont be able to do the reprojection during the `SELECT` query because the bounding box that's sent to your query wont match your data's projection and thus you

[2019-08-22 00:29] pnorman commented on #635
You have to reproject the bounding box.

[2019-08-22 01:07] gorbypark commented on #635
[code]

That did the trick, thanks folks!

[2019-08-22 03:00] gorbypark commented on #449
It would be nice to at least have a warning in the logs for this.  I spent a couple hours trying to figure out why a MultiPolygonZ layer was not showing up, assuming that it would work or at least work in 2d.  Turns out I just had to wrap the geom column in a ST_Force2D.  It would be great to have actual 3d support as well, though!

[2019-08-22 04:20] ARolek commented on #635
@pnorman thanks for chiming in!

[2019-08-22 04:20] #635 closed

[2019-08-22 12:05] fenelon commented on #524
@ARolek, I haven't found anything regarding the geometry engine in the change log. When do you think it might become possible to address the issue? Sorry for not more helpful.

[2019-08-22 21:24] pmabey opened #637 "Tegola behind nginx for https"
Does anyone have a working nginx config they could share for serving tegola over https? I tried with the following but it complains about not finding the capabilities file. It seems to be looking in the wrong root directory but I can't figure out how to fix that.

        location /tegola/ {
           proxy_pass http://localhost:9090/;
           proxy_set_header Host $host;
           proxy_set_

[2019-08-22 21:38] ARolek commented on #637
@pmabey this issue has not made it's way to the docs on tegola.io yet, but it refers to the issue you're having: https://github.com/go-spatial/tegola-docs/issues/35. If you need to have `/tegola/` be a prefix you might need to use the webserver `hostname` config param: https://tegola.io/documentation/configuration/#webserver

[2019-08-22 22:12] pmabey commented on #637
Thanks, this is useful. Can you suggest what hostname should be set to? I tried example.com, as well as example.com/tegola/.  The error message I am getting in nginx is below. If I point my browser at http://example.com/tegola/capabilities the file is found fine. But somewhere it seems to be wanting to goto my root directory instead.

2019/08/22 22:08:11 [error] 12703#0: *1 open() "/var/www/html/c

[2019-08-23 00:28] ARolek commented on #637
I think you need to remove the trailing slash on `https://example.com/tegola/` so it reads `https://example.com/tegola`. If you try hitting `https://example.com/tegola/capabilities` you can see the URLs that tegola is forming in the JSON response. Make sure they match what you're expecting.

[2019-08-23 00:30] ARolek commented on #524
@fenelon we have been making progress on this front. Most of the work is happening in the https://github.com/go-spatial/geom repository and being vendored into tegola on the v0.11.x branch. We're going to be looking for some help testing soon and would appreciate your assistance.

[2019-08-23 00:41] gorbypark commented on #584
@digitaltopo Have you considered Google Cloud Run?  It's basically like Cloud Functions but runs _any_ docker container as a function.  I haven't used it with Tegola but I have deployed my GIS REST API to it and it worked flawlessly.

[2019-08-24 22:11] gorbypark commented on #584
@digitaltopo I can confirm it works on Google Cloud Run.  I'll put up a repo when I can sanitize my config file, but I basically created a new git repo with my config.toml and a Dockerfile like below

[code]

and then created a trigger in Google Cloud Builder to create a docker container from the Dockerfile.  Then I went into Cloud Run and created a new service using the built container and added

[2019-08-25 03:53] gorbypark opened #638 "[Feature Request] Support for excluding a field in results"
I have a table that has dozens of columns I need to return to the client, and manually SELECTing them is a bit of a pain, so I have a query that select everything (*) but of course it returns the "raw" geom field as well.
[code]
I was thinking that having an option to exclude fields from the final results would be good.  Something like this in the config
[code]
I have zero experience in Go, but I'

[2019-08-25 20:27] ARolek commented on #449
@gorbypark yeah it's a nasty bug, one I would like to get addressed but we have some higher priorities right now. We're open to a PR on the geom package to support EWKB which we can then implement in the PostGIS driver. Thanks for documenting your solution here in case someone else hits it.

[2019-08-30 17:33] #136 closed

[2019-08-30 22:02] ARolek commented on #637
@pmabey I just cut a new version of tegola which allows you to set the `uri_prefix` under the webserver config block. For example:

[code]

This should address your issue. Let me know if you have any problems using it.

[2019-08-30 22:02] #637 closed

[2019-08-31 22:04] pmabey commented on #637
I couldn't get it working without the trailing slash but the latest version with the uri_prefix works great. Thank you so much for adding that.

[2019-08-31 22:20] ARolek commented on #637
@pmabey great news. I'm glad it's working for you and thanks for following up!

[2019-08-31 22:21] #633 closed

[2019-09-04 00:13] #361 closed

[2019-09-04 10:00] aaj013 commented on #356
This is what I used

- create service file:
sudo nano /lib/systemd/system/tegola.service

- insert following content and replace whatever necessary:
[Unit]
Description=Tegola app service
After=postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User=<username>
ExecStart=/path/to/tegola serve --config=/path/to/tegola.toml
ExecStop=/usr/bin/pkill tegola
Restart=on-failure

[Install

[2019-09-08 10:06] JoshGore opened #644 "Docker instructions don't appear to be working"
config file exists and works if I run ./tegola however the docker container does not appear to find.
[code]

[2019-09-08 10:11] gdey commented on #644
The config file name needs to be `config.toml` in the `/opt` directory.

Can you try:
`docker run -v $HOME/WalkTheYorkeTegola:/opt/config.toml -p 8080 gospatial/tegola serve`

(Note I have not tried this.)

[2019-09-08 10:24] gdey commented on #644
Instructions here are wrong: https://hub.docker.com/r/gospatial/tegola/
It should have a `--config /opt/tegola_config/config.toml` at the end of the command for the `Example PostGIS use w/ local config:` section.

[2019-09-08 10:43] JoshGore commented on #644
Ah that makes sense, thanks!

[2019-09-08 10:43] #644 closed

[2019-09-09 19:03] ARolek commented on #644
I updated the DockerHub instructions. Sorry about that.

[2019-09-10 05:05] ARolek commented on #609
@paul-pries-weatherlogics I just pushed up some code to the branch `issue-609` that addresses this issue. If you have some time, it would be great to get your review/testing to see if the change is performing as desired.

[2019-09-18 22:56] ARolek commented on #524
@fenelon we have made a great deal of progress on the geometry processing. If you're interested in giving it a test, use the following instructions:

From your `$GOPATH/src` directory

[code]

We're still working through some cases but it would be great to start getting some community help testing. LMK if you have any problems with these instructions.

[2019-09-21 14:35] fenelon commented on #524
That is great news! We'll certainly give it a spin. I'll get back when we get the results.

[2019-09-24 00:46] ear7h opened #646 "simplification: tuning epsilon values"
There are a few problems and bugs in the simplification algo currently in this repo, so I'm gonna explain the tuning of epsilons based on the new implementation of the Ramer-Douglas-Peucker that's being worked on in the [geom package](github.com/go-spatial/geom).

This is a long text, and if you're familiar with the algo then skip my explanation, but the conclusion to all of this is that we can al

[2019-09-25 20:48] ear7h commented on #82
Currently working on this, for the latest version of tegola. Here's a reference to why we need ssl for http2 (it's not  immediately stated when searching for h2)

https://http2.github.io/faq/#does-http2-require-encryption

[2019-09-28 00:37] thesteve0 opened #647 "Can't get Tegola to work in Kuberentes"
I am trying to get the tegola container working in Kuberenets 1.13 (OpenShift 1.13)

I have made a configap with the config.toml and I bind it to a file mapping at /opt/tegola_config. I checked in the running container and it is appears in the right location in the pod

[code]

I also pass in the path as an environment variable, but tegola is still not seeing my config.toml.

Here is the spec
spec

[2019-09-28 00:56] gdey commented on #647
Quickly scanning seems this might be related to: https://github.com/go-spatial/tegola/issues/644#issuecomment-529189458

@thesteve0 could you make sure the config is correct. The instructions for docker is wrong

[2019-09-28 01:59] ARolek commented on #647
@thesteve0 I'm not well versed on Kubernetes, but can you add command flags to the `args` block so it's issuing the command `/opt/tegola serve --config /opt/tegola_config/config.toml`? It looks like you're setting an env var for the config but tegola is expecting a command flag if the config is not in the default location (config.toml next to the binary)

[2019-09-28 21:05] thesteve0 commented on #647
So I tried two different techniques. I tried mapping the file to  /opt/ but
that didn't work because it overwrote the binary.
So then I worked on the config and I couldn't get it to work no matter how
I tried quoting arg it keeps saying

[code]

On Fri, Sep 27, 2019 at 6:59 PM Alexander Rolek <notifications@github.com>
wrote:

[2019-09-28 21:08] ARolek commented on #647
@thesteve0 hmmm, If you want we can probably move through this quick via chat. Want to [join the Go Spatial Slack](https://join.slack.com/t/go-spatial/shared_invite/enQtNjY4ODcwNjc0MzU3LTJmNDhmNWYwNjUzMDkzNmU5M2UyNzVjY2Q2NWEyODAwYTFlYjUzNWZkY2Q0NDIzZjdkYmU1OTk3OGU0MGUzNWE) and see if we can figure this out?

[2019-09-28 23:01] ingenieroariel commented on #647
I have seen this before. Looks related to ENTRYPOINT vs CMD options. Play
with creating a local Docker file overriding both.

-a

On Sat., 28 Sep. 2019, 4:05 pm Steven Pousty, <notifications@github.com>
wrote:

[2019-09-29 03:43] thesteve0 commented on #647
Yeah that is what I am thinking as well.
It would be nice though to have a go-spatial one that was actually built
for kube use. I could help out with that one if you want.

On Sat, Sep 28, 2019 at 4:01 PM Ariel Núñez <notifications@github.com>
wrote:

[2019-09-29 04:25] ARolek commented on #647
@stvno yes, please! I have not ventured into the world of Kube too much. I'm happy to support anyway I can. I think it would be great to have a Dockerfile that would make running tegola easier with Kube as well as associated docs. LMK how I can help.

[2019-10-01 01:00] ear7h opened #650 "development: v0.11.x does not have the geom pacakge vendored"
Due to heavy development in the [geom package](https://github.com/go-spatial/geom) it, and `go-sqlite3`, are not vendored and must be installed manually via `go get`.

[code]

## building

For non-release builds, we have [this script](https://github.com/go-spatial/tegola/blob/ebb023bd6c98f855a945061b755fb67a1865fc7d/ci/build_nonrelease.sh) and it will embed tegola's and geom's commit hash as the v

[2019-10-01 02:17] thesteve0 commented on #647
Ok traveling for work now (with just my windows machine). I will try to get
to this next week.

On Sat, Sep 28, 2019 at 9:25 PM Alexander Rolek <notifications@github.com>
wrote:

[2019-10-01 16:35] ARolek commented on #647
@thesteve0 no worries! let's pick this up when you return. Safe travels.

[2019-10-29 11:47] fenelon commented on #524
Hi @ARolek. Just got some time to try it, but was unable to find checkout branch v0.11.x-geom-port_constrained. Did it get merged into master?

Also, how do I access your slack channel?

[2019-10-31 08:10] th-turk opened #652 "Can not find dependecy files or folder after Rewriting Url to Tegolo server"
I have run tegolo server to my local machine and it works  correctly.
But when i decide to publish this tegolo default tilemap to someone i have to rewrite my url from  accessable url.

its loading all dependecy  files but when it downoad
capabilities/*.json file Sub path change to base path like

http://HostName/vectortile/app/capabilities/ (Get File Successfully ) but  .json request from this pa

[2019-10-31 17:37] gdey commented on #652
Have you tried to set the [`hostname`](https://tegola.io/documentation/configuration/#webserver) webserver config, to the accessible hostname?

[2019-10-31 17:48] th-turk commented on #652
Yes I have tried this. But `hostname` convert it to urlencoding characters. So it didn't work.
I also set `cros origin` config just the problem is probably in `server`  build folder. I checked code and they combine root url path  with other generated file names. I tried to build it manually but the steps in documentations didn't work for me.
Build command couldn't find go files under github.com pa

[2019-11-01 10:26] fenelon commented on #524
I've tried building the 0.11.x with geom from port_constrained. It seems to fix certain issues, but introduces other torn geometry:

![image](https://user-images.githubusercontent.com/767838/68018840-3593da00-fcab-11e9-8349-d40e1b440758.png)

[2019-11-01 10:36] fenelon commented on #524
Also, geometry simplification looks extremely aggressive
![image](https://user-images.githubusercontent.com/767838/68019373-9cfe5980-fcac-11e9-8f02-0b205028e0d1.png)
![image](https://user-images.githubusercontent.com/767838/68019382-a4bdfe00-fcac-11e9-84f5-565da2dc06e5.png)

[2019-11-02 00:04] ARolek commented on #524
We just pushed an update to simplification. I wonder if that’s the root cause to what you’re seeing. Could you try turning simplification off by using the map layer option dont_simplify=true on the layer you’re seeing issues on?

[2019-11-03 22:34] ARolek commented on #652
@th-turk I think you're looking for the `uri_prefix` config. This is a new config param and it's not documented on tegola.io yet. You can see it documented in the [server/README.md](https://github.com/go-spatial/tegola/tree/master/server#config-properties)

[2019-11-04 10:53] th-turk commented on #652
@ARolek  Thank you so much for your help. This new feauture workes well. If you are using proxy for  your server.
But i think without  `url_prefix` params it should'nt  get root path while ceneratin capabilities folder and  *.json file.
Usin subpath would also work .

[2019-11-05 00:40] ARolek commented on #524
@ear7h ^

[2019-11-05 01:01] ARolek commented on #652
@th-turk I'm not quite sure what you're asking. Did the `uri_prefix` solve your problem or are you still encountering an issue?

[2019-11-05 03:16] th-turk commented on #652
@ARolek as I said this parameter fixed my issue. Thank you so much for your help :)

[2019-11-05 04:20] ARolek commented on #652
@th-turk great to hear, and anytime!

[2019-11-05 04:20] #652 closed

[2019-11-05 21:41] #628 closed

[2019-11-13 23:51] ARolek commented on #609
@paul-pries-weatherlogics this is now in the v0.11.x branch.

[2019-11-13 23:51] #609 closed

[2019-11-17 16:20] dBitech opened #658 "Feature Request - S3 cache - MetaTiles"
Can we look to support the idea of Metatiles for the cache. This could minimize what would otherwise be billions of individual files, Amazon S3 GET pricing in us-east is currently about 1/2 cent per 10,000 requests.  If the cache could be improved to make use of these MetaTiles, the number of IO requests could be cut down extensively.  Meta title support could also not just be limited to S3.   Fil

[2019-11-17 20:44] ARolek commented on #658
@dBitech I'm open to ideas. I have not implemented meta titles but I have read up on them a bit. A couple of articles from @mojodna:

- https://medium.com/@mojodna/tapalcatl-cloud-optimized-tile-archives-1db8d4577d92
- https://medium.com/@mojodna/tapalcatl-2-updates-8eb827d969c1

I would need to think through this a bit to see how it could be implemented. One of the benefits of the current S3 appr

[2019-11-18 10:34] dBitech commented on #658
I understand the simpleness and cleanliness of serving direct from S3 with CDN caching but does not necessarily fit well for all use cases.  this is not to say that the MetaTile option is a bee all end-all solution. I agree that if MetaTiles are supported, it should be a config option. I've dabbled in using tapalcatl https://github.com/tilezen/tapalcatl as a meta tile server, but it still requires

[2019-11-18 22:03] ARolek commented on #658
@dBitech let's keep the conversation open. I still need to do some research on this as it's not a concept I'm familiar with. Are there other metaTile implementations you're aware of?

[2019-11-19 00:14] ear7h commented on #650
closed with #659

[2019-11-19 00:14] #650 closed

[2019-11-19 17:02] meilinger opened #660 "EPSG:3395 tile rendering support"
After Tegola has been converted to use `proj` for projection-related operations (see https://github.com/go-spatial/tegola/pull/651), supporting 3395 _should_ be relatively simple.  However, one piece of the issue that remains is calculating the tile grid tile extents given the 3395 projection.

[2019-11-20 13:05] dBitech commented on #658
a number of tile backends, (Servers, Rendrers, Caching chains)  implement metatiles.
TileStache, Mapserver, Mod_tile, Tirex .....
though most appear to target raster tiles. As you can see from the @mojodna articles, that the concept of random access in zip files is straight forward and can work with any content type.

[2019-11-21 16:50] fenelon commented on #524
I've tried disabling the simplification and then switched all the zoom-related layers to one provider layer. Doesn't seem to do anything for the disappearing polygons. Any ideas I could try?

I'm using tegola, branch `v0.11.x` with geom branch `port_constrained`

[2019-11-22 23:36] ARolek commented on #524
@fenelon the `port_constrained` branch is no longer active. We now vendor the geom package in the v0.11.x branch so you can just pull that branch down and run `go build -mod vendor`.

We're still seeing rendering issues and we're actively working on them. To better help us address them I have put together a wiki page on how to [Report tegola rendering issues](https://github.com/go-spatial/geom/wik

[2019-12-26 10:39] bagage opened #664 "Column type JSON unhandled"
When you try to use a column of type JSON, tegola fails:

It would be awesome if it could be supported :).

[2019-12-26 12:12] tierpod commented on #658
Hello. I've read this issue and I have to say that metatiles format from tapalcatl articles is different from metatiles format that described in [OSM wiki](https://wiki.openstreetmap.org/wiki/Meta_tiles) ([renderd + mod_tile](https://github.com/openstreetmap/mod_tile), tirex, ...). If you are interested in osm metatiles implementation, you can take a look to my [repo](https://github.com/tierpod/me

[2019-12-26 18:56] gdey commented on #664
Hi bagage,

Thanks for submitting the issue.

What are you trying to do with the JSON value? Is it for the tags? What are you expecting to happen with the JSON value?

Thank you,

Gautam.

[2019-12-26 21:24] bagage commented on #664
I'm just trying to select it via `select myTable.jsonField`, so that it is available through `myGeoson.properties.jsonField` after. For now, I've "fixed" the issue by forcing the cast `cast(myTable.jsonField as text) as jsonField` but it's a bit ugly, I believe JSON type could be stringified directly in tegola?

[2019-12-27 19:00] ARolek commented on #664
@bagage we should be able to stringify the JSON type in tegola. Just to make sure I follow what you're after, are you looking to have the entire JSON structure as a MVT tag, or are you hoping to extract specific values from the JSON via the tegola config?

[2019-12-27 19:26] bagage commented on #664
I am not sure about MVT meaning but I do not want to filter the json column in tegola config, but to return it completely :)

[2019-12-29 18:58] ARolek commented on #664
@bagage yep, that's doable. So you plan on parsing the JSON client-side and then pulling out the values you want to present the user?

[2019-12-29 19:02] ARolek commented on #658
@tierpod thanks for chiming in. I will give it a read soon and circle back with any questions. This feature is not currently on our immediate list of priorities but if someone wants to tackle it I'm happy to help with  reviewing the PR.

[2019-12-29 19:58] bagage commented on #664
Yes exactly!

[2019-12-30 05:38] tierpod commented on #658
@ARolek I'm happy to help to the tegola project, especially we are using metatiles cache in our company. And I thought a couple times about how to implement metatiles cache in tegola. But as I understand, cache interface **Set** method is acting on one single tile (where **val []byte** is the bytes data of specific tile):

https://github.com/go-spatial/tegola/blob/68db716d8dff79eccc62af131cfd26866

[2020-01-11 09:01] lhorus opened #666 "Non-disruptive Pipeline"
I think this is more of a DevOps question - which I'm unfamiliar with - so I apologize in advance if its not suitable.

I'm trying to use Tegola just so I can serve tiles easily and cheaply, as I'm just running a hobbyist project with no real profitability goals.

How can one update the local OSM DB without breaking changes? That is, to update it you are likely to have to insert new versions of ol

[2020-01-14 06:28] gdey commented on #666
How are you serving things up? Are you using a cache?  I need a bit more information about how you have things setup. Also, could you expand a bit about what do you mean by breaking changes?

[2020-01-14 17:36] ARolek commented on #666
@lhorus a tough question that's dependent on a lot of factors. For example, if you're using imposm to import OSM data the process can use 3 schemas (`import`, `backup` and `public`)  and has a `-deployproduction` flag which will rotate the 3 schemas. This does not, however, address the issue with having tiles from the previous dataset and the new dataset.

There are lots of ways to address this an

[2020-01-15 20:17] swatson26 opened #667 "docker debug help - no data coming from port"
Hi, Im trying to figure out what I'm doing wrong here.
For reproducibility, here is my  zipped config file and geopackage

[config.toml.zip](https://github.com/go-spatial/tegola/files/4067319/config.toml.zip)

[pune_roads.gpkg.zip](https://github.com/go-spatial/tegola/files/4067318/pune_roads.gpkg.zip)

[code]
seems to start up fine according to the logs
[code]
but when I go to `http://localhost:9

[2020-01-16 00:37] ARolek commented on #667
@swatson26 looks like your data is in the 4326 projection:

[code]

Try adding the `srid` field to the data provider:

[code]

[2020-01-20 19:38] ARolek commented on #667
@swatson26 were you able to get this working? If so, could you please close the issue.

[2020-01-22 14:39] swatson26 commented on #667
Hi @ARolek, after properly setting up srid, I still wasn't able to get the docker container version working, but tried local installation, and that worked.

[2020-01-22 14:39] #667 closed

[2020-01-22 19:58] ear7h opened #668 "Use slippy.Grid to support tiles in different projections systems"
This issue is for a design of using the new [`slippy.Grid`](https://godoc.org/github.com/go-spatial/geom/slippy#Grid) in tegola, in order for it to output multiple projection systems. Implementation of this functionality would close #243, #267, and #660.

Some issues to consider for this design are:
1. where should the output projection system be specified? (url query string, config, command line?

[2020-01-22 20:09] ARolek commented on #668
I know @jj0hns0n has some opinions on this with some of the work he's been prototyping.

[2020-01-24 13:11] jj0hns0n commented on #668
@ear7h lets have a quick chat in slack. Definitely have some opinions about 1 & 3 based on work for the OGC testbed.

[2020-01-24 22:17] ear7h commented on #668
After talking to @jj0hns0n it looks like we should add support for [OGC API tiles](http://docs.opengeospatial.org/DRAFTS/19-zzz.html). It looks like:
[code]

This format is helpful in understanding how one client might deal with multiple projection systems. One rule we that should guide the implementation is **each served tile set must have the same srid for all of its layers but, a map configured

[2020-02-12 02:08] Dotaknight opened #669 "Corrupted tiles when mapping multiple provider layers"
The problem that I'm coming across is when trying to merge multiple provider layers into a mapping layers, some features will cause the tiles to corrupt and not output the data corresponding to the SQL queries.

What's more strange is if I separate these exact same features using the exact same sequel queries into separately called mapping layers, it doesn't run into any issues.

I'll provide ever

[2020-02-17 23:15] ARolek commented on #669
@Dotaknight apologies for the slow response. Looking at your queries and screenshots, it looks to me like you have the OMS boundary data but you don't have any water or land polygons which would outline the landmass. What makes you believe the data is corrupted?

[2020-02-18 22:40] Dotaknight commented on #669
No worries! The reason the I consider the tiles to be corrupted is that any subsequent mapping layers will not display the data even though the subsequent sql queries are properly loading in the debug reports.

Also if I copy the sql debug of the layer that is causing the issue (in this case "boundary"), the query is handled perfectly fine (no errors) and I'm able to view the geometry through the

[2020-02-21 18:11] ARolek commented on #669
@Dotaknight would you be able to post a backup of your database so I can try to recreate the issue? I don't see any clear issues with what you're doing so I'm going to need to try to debug it directly. Also, it might be easier to chat through this issue on our slack:  http://slack.go-spatial.org/

[2020-03-11 12:03] andrestone opened #671 "Best way to deal with concurrent connections / requests?"
Hi!

I've been playing with tegola a bit and it seems like a "regular" Postgres instance isn't a good fit for the application, since I often get messages complaining about `max_connections`.

Is there any sort of guide on how one should deploy tegola + postgres in production? Should I increase memory and `max_connections` and run in a couple of instances only? Is it better to have multiple smaller

[2020-03-11 20:13] ARolek commented on #671
@andrestone hey there! It sounds like what you're hitting is a configuration issue with between tegola and your local Postgres instance. Tegola uses a connection pool to maintain connections with Postgres. The default max connections is set to 100. If this is higher than what your Postgres connection allows then you will start seeing errors in the console once the pool can no longer expand to meet

[2020-03-13 03:42] ocasti opened #672 "SSL (https) on tegola"
Tegola not work under ssl domain, the server rejected tiles if domin is https

[2020-03-13 17:50] ARolek commented on #672
@ocasti this is a dupe of #82. This has also been addressed in the v0.11.x branch but it's not yet in master. You can take a look at the PR here: https://github.com/go-spatial/tegola/pull/455

[2020-03-14 14:05] andrestone commented on #671
Thanks, @ARolek!

[2020-03-14 14:05] #671 closed

[2020-03-20 00:09] #159 closed

[2020-03-27 01:30] jcallin commented on #610
[Tilegarden](https://github.com/azavea/tilegarden) does this by letting the client include filters in the header

[code]

Useful if you only want to return geometry from a specific set of data. Maybe you have many data collection projects that each store geometry in the same geographic area, but you would like to view separately. A lot of tile servers (this one included) are configured to source g

[2020-03-30 15:50] ARolek commented on #610
I'm starting to see more and more use cases for this. Tegola has the concept of map tiles (encodes several layers together in a single tile request) and then layer tiles (only has a single layer encoded in the tile). I think adding support for filtering on the layer requests could make sense. If this were to be implemented, support for caching individual layer caches would probably need to be drop

[2020-03-30 19:01] jj0hns0n opened #677 "Deal with reserved words more gracefully"
I have a layer with an attribute named `natural` which turns out to be a reserved keyword in postgres per https://www.postgresql.org/docs/8.1/sql-keywords-appendix.html

The SQL parser should probably more elegantly handle for these and escape them.

[2020-03-30 21:52] pnorman commented on #677
What was your config file? Were you supplying the SQL that wasn't quoted?

[2020-04-14 15:59] jay-manday opened #678 "Question: referencing SQL Files in config.toml"
Hey there,

I've been having a bunch of fun tinkering around with tegola, really nice and easy to use. One Q I had though is if it's possible to use file paths to individual sql queries rather than having them inline in the config.toml. I tried using something like below but no dice, it would be nice to have something like this in the config. Theres probably a stupid simple way to do this that i t

[2020-04-14 16:06] gdey commented on #678
Unfortunately, there currently isn't. The ${ENV_NAME} will only do environment substitution at current. However, we could add this feature. We would need a way to distinguish between a raw SQL string and a file path. Also, what file paths are allowed. As this could be used as a vector of attack, to read privileged files, if Tegola is run as a privileged user, but the config is editable by nonprivi

[2020-04-14 16:20] jay-manday commented on #678
Hey @gdey thanks for the lickity split response, ahh gotcha. IF it were to be done one way we could do it would be to have some sort of keyword to parse before the select statement do something like the following
inline as default
[code]

with file paths
[code]

as for checking for permissions, thats a good point, one way to check if the sql or config file has the proper permissions though could b

[2020-04-14 19:31] ARolek commented on #678
One way to implement this would be to introduce the config param `sql_path` rather than overload the `sql` attribute.

Alternatively, if you're dealing with a verbose config and you could potentially use [SQL VIEWS](https://www.postgresql.org/docs/9.2/sql-createview.html). This way you would manage the SQL at the database layer and then from the tegola config you could call the VIEW. A VIEW is rea

[2020-04-14 19:58] jay-manday commented on #678
@ARolek Thats a really good idea re: views! I'll give it a go

[2020-04-16 01:35] ocasti opened #679 "gpkg: invalid filepath"
I can't set filepath for tegola_lambda for gpkg file.

[2020-04-16 03:47] ARolek commented on #679
Can you please provide the `[[providers]]` block of the config so I can see how you're referencing it?

Btw, that's great you're using `tegola_lambda` and Geopackage. I think it's such a cool implementation.

[2020-04-16 03:54] ocasti commented on #679
Hi!

[[providers]]
name = "ne"
type = "gpkg"
filepath = "s3://{{bucket}}/natural_earth_vector.gpkg"
#srid = 3857

	[[providers.layers]]
	name = "ne_10m_admin_0_label_points"
	tablename = "ne_10m_admin_0_label_points"
	fields = ["sr_subunit","scalerank"]
......
Other providers looks like first

[2020-04-16 03:58] ARolek commented on #679
I see, the issue there is that the geopackage provider can't pull the file from S3 right now (though that could be added, cool idea). Depending on the size of the geopackage, try zipping it up with tegola_lambda and deploying it as part of the Lambda function. The [Lambda limits](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html) page shows you can do 50mb zipped and 250mb un

[2020-04-16 04:01] ocasti commented on #679
Thanks, but for the moment I wouldn't like it, the gpkg weigh about 3Gb each, I think it will play with postgres (with geopackage it's faster)

[2020-04-16 04:15] ARolek commented on #679
Got it. I'm not sure if Lambda would allow for that large of a file to be downloaded, but then again I have never tried.

If you're going to play with Postgres, maybe check out Postgres Aurora too. I put together a blog on a fully serverless architecture that might be helpful: https://medium.com/@alexrolek/the-serverless-vector-map-stack-lives-22835d341d7d

[2020-04-16 04:21] ocasti commented on #679
Could you explain to me how to download the file with tegola?

[2020-04-16 04:25] ARolek commented on #679
I was referring to if `tegola_lambda` supported downloading from S3. I'm not sure lambda could download a 3GB file.

[2020-04-28 14:54] durkie commented on #610
Just wanted to echo my interest here as well. My use case involves serving different tiles to different users, so my maps all make tile requests in the form of user_id/z/x/y

Of course, the reason I'd like dedicated tile server is to reduce the load on my PostGIS sever since many of these tiles are too complex to be rendered on the fly, so it'd be ideal if there were some way to preserve caching h

[2020-04-28 22:31] gbroccolo commented on #449
@ARolek I started working on go-spatial/geom#16, but I realised there's still no support for the extended geometries Z (3D), ZM (4D) and geometries with projection reference - srid - info (S). In order to avoid too much changes related to a single issue, what do you think if I work on this before? I also include @gdey in the discussion here since he is involved in the other issue.

This is the lis

[2020-04-29 16:55] ARolek commented on #610
@durkie thanks for chiming in. This feature is getting requested more and more and I'm hearing a few different query strategies. I'm also aware the OGC has recently completed a testbed to standardize a spec for vector tile querying. I believe they rallied around CQL, but I could also see the simple use case of query strings.

In your use case, you're looking for caching the queried tiles. The init

[2020-05-01 18:51] gdey commented on #449
@gbroccolo yeah, I'm not sure what to do. It does sound like this should be worked on first.

Supporting multiple dimensions could result in breaking `geom.Point`, (as well as the other types) or maybe create new types called `geom.PointZ`, `geom.PointM`, `geom.PointZM`?

[2020-05-01 18:55] ARolek commented on #449
@gbroccolo apologies for the slow response here, I have been trying to think through a way forward. You bring up an excellent point here: the `geom` package does not support Z, M or S and therefore we can't really drop the Z dimension in this issue. I think this conversation belongs more in the `geom` package, as the intent here is to have tegola use the `geom` package for all the geometry process

[2020-05-04 21:16] gbroccolo commented on #449
Hi @ARolek ,

I tried to connect to the slack workspace, clicking the link, but it didn't work. Should I maybe be invited in some way?

About the rest: I started with introducing new geometry types like `PointZ`, `PointM`, `PointS`, etc. it's a big piece of work, so I'd be happy to discuss.

[2020-05-04 21:32] ARolek commented on #449
@gbroccolo looks like I messed up the protocol, try this one: http://slack.go-spatial.org

I'm hoping we can figure out a vector to attack with the new data types so you don't have to make them work everywhere right off the bat. That's indeed a good deal of work.

I'm looking forward to chatting more!

[2020-05-05 00:16] #383 closed

[2020-05-07 14:42] zaa76 opened #682 "Geometry processing regression in v0.11.0 release"
![image](https://user-images.githubusercontent.com/10848270/81308147-20e53400-908a-11ea-9cf2-32321fd6bc6b.png)
![image](https://user-images.githubusercontent.com/10848270/81308301-496d2e00-908a-11ea-8838-25e2a3833279.png)

[2020-05-07 16:38] ARolek commented on #682
@zaa76 hmm, that's interesting. The geometry processing updates were pulled out of the v0.11.x release. I will need to review the commit log again, but you should not be seeing this regress. cc: @gdey @ear7h

[2020-05-07 18:48] ARolek commented on #682
I have confirmed that the v0.11.0 release has included commits that were not supposed to be carved out for v0.12.x and are causing geom rendering issues. I'm working on a patch release.

[2020-05-08 04:29] ARolek commented on #682
@zaa76 I just cut v0.11.1 which should fix this regression.

[2020-05-08 09:54] zaa76 opened #683 "map.go:261 v0.11.1"
2020/05/08 12:26:16 map.go:261: err fetching tile (z: 10, x: 577, y: 354) features: err making geometry valid: context canceled
2020/05/08 12:26:18 map.go:261: err fetching tile (z: 11, x: 1156, y: 711) features: err making geometry valid: context canceled
2020/05/08 12:26:21 map.go:261: err fetching tile (z: 11, x: 1153, y: 710) features: err making geometry valid: context canceled
2020/05/08 12:

[2020-05-08 09:58] zaa76 commented on #682
Hello!
It looks like the problem is fixed
thank
![image](https://user-images.githubusercontent.com/10848270/81395039-9ce38880-912b-11ea-9e11-9e310ae986d4.png)

[2020-05-08 10:22] zaa76 commented on #683
part of my config:
...
   [[providers.layers]]
        name = "ocean-z0-z2"
        geometry_fieldname = "geom"
        geometry_type = "MultiPolygon"
        sql = """
            SELECT ST_AsBinary(geometry) AS geom
                FROM osm_ocean_polygon_gen6 WHERE geometry && !BBOX!
        """

   [[providers.layers]]
        name = "ocean-z3-z6"
        geometry_fieldname = "geom"
        geo

[2020-05-08 16:19] ARolek commented on #682
Great!

[2020-05-08 16:19] #682 closed

[2020-05-08 20:18] #683 closed

[2020-05-11 20:55] ARolek commented on #672
@ocasti this feature is now available in the most recent release of tegola. Please give it a run when you have a chance: https://github.com/go-spatial/tegola/releases

[2020-05-11 20:56] ARolek commented on #672
Oh and the associated docs (not yet on tegola.io): https://github.com/go-spatial/tegola/tree/master/server#config-properties

[2020-05-11 20:56] #672 closed

[2020-05-11 22:15] ARolek commented on #683
@zaa76 this is fixed in the v0.11.2 release. Thanks for the report(s).

[2020-05-14 22:58] gdey opened #684 "Add video and blog posts featuring Tegola to the ReadMe and main site."
Here are some video's, there ar more.

https://www.youtube.com/watch?v=pf_HKS7P77Y

https://media.ccc.de/v/bucharest-329-building-a-national-vector-tile-set-for-the-netherlands

[2020-05-18 21:09] ezk84 opened #685 "Webserver.Headers config cannot be set via environment variables"
If I have config like:
[code]
The value isn't picked up from the environment, instead the literal string `${TEGOLA_ALLOW_ORIGIN}` is sent as the header value. Other values are correctly picked up from the environment.

[2020-05-18 21:30] ARolek commented on #685
I think this is caused by nested config blocks not supporting the env var parsing: https://github.com/go-spatial/tegola/issues/597

[2020-05-21 03:04] yygis opened #686 "Too much third party dependence."
Too much third party dependence.
Security and upgrades may be a lot of things to deal with,and it also makes the package larger.

[2020-05-21 17:22] ARolek commented on #686
@devCopper thanks for opening the conversation, but I feel "too much" is an arbitrary statement and tough benchmark to work towards. A few things to note:

I generally agree, and we work on keeping the dependency graph of tegola reasonably ligh. A great deal of the dependency graph is from the various data and cache providers (i.e. postgis, geopackage, redis, s3, azure blob store, etc). If you're

[2020-05-21 19:47] mapl commented on #686
I think Tegola's binary size is fairly small compared to "other" golang projects.

If you compile from source you can leverage some build ldflags to reduce its size.

A comprehensive overview how to do this this is provied by https://blog.filippo.io/shrink-your-go-binaries-with-this-one-weird-trick/

Have fun!

[2020-05-26 07:23] gdey opened #688 "Merge mvt_provider and providers into single providers section in config."
This is a copy of https://github.com/go-spatial/tegola-postgis/issues/4

with #687 we will have the mvt_provider experiment in the mainline, and so should track currently known issues with it.

Should we remove mvt_provider, and have the provider register as an MVT type provider.

i.e.
[code]

There are some things to note about this approach.

1. The provider needs to state that it's an MVT provi

[2020-05-26 07:24] gdey commented on #688
@ARolek left this [comment](https://github.com/go-spatial/tegola-postgis/issues/4#issuecomment-573876062):

[2020-05-26 20:32] ARolek commented on #688
Rather than `type=postgis_mvt` I was thinking `type=mvt_postgis`.

[2020-05-26 20:34] ARolek commented on #554
Support for PostGIS 3.0 `ST_AsMVT` will be added in tegola v0.12.x. You can track the progress in the PR: https://github.com/go-spatial/tegola/pull/687. Builds artifacts for testing are also in the [GH Actions](https://github.com/go-spatial/tegola/actions?query=workflow%3A%22On+release+publish%22) if you're interested in testing a binary.

[2020-05-26 20:36] ARolek commented on #82
As of v0.11.0 tegola supports SSL

[2020-05-26 20:36] #82 closed

[2020-06-01 21:06] mapl opened #689 "Update internal viewer to the most recent and stable Mapbox GL JS Version"
Currently, Tegola is using Mapbox GL JS Lib v1.8.1 for in the internal viewer release in Feb 2020
To align with Mapbox release cycle, Tegola should regularly evaluate and eventually integrate the most recent Mapbox GL JS Versions to gain overall improvements and of course to fix bugs.

The Latest Stable MapBox GL JS Release is currently **v1.10.1**.

[2020-06-01 21:19] ARolek commented on #689
@mapl thanks for opening the issue. We could include this update as part of the v0.12.x update we're working on. Would you be interested in sending in a PR?

[2020-06-02 22:41] mapl commented on #689
You're welcome. I am interested, but not sure if I'll find time this week.

[2020-06-03 14:45] pmabey opened #690 "Max vertices per segment is 65535"
Since upgrading from 0.10.4 to 0.11.1 I am not getting tons of messages in the console that look like this. I initially thought I had some really large linestrings but I verified that everything in my database is <64k vertices per feature. Dropping back to 0.10.4 the messages are suppressed. Other than a noisy console in Chrome I don't see any other issues but it would be nice to suppress these or

[2020-06-03 16:13] ARolek commented on #690
@pmabey does your data have a lot of polygons in it? Tegola's polygon geometry processing algorithm introduces new points and with polygons that have a lot of points already this can cause the console warning you're seeing.

You might be seeing this warning in v0.11.x because I upgraded the version of Mapbox GL in the embedded viewer (or are you just now seeing this outside of the embedded viewer)

[2020-06-04 10:30] ezk84 opened #691 "Ability to replace logger programmatically"
I am doing a Kubernetes deployment of tegola and in this context would like to add structured json logging instead of the current line-oriented logging so that our logging infastructure can correnctly show log messages coming from the tegola container.

As I am creating a custom build with a new main.go file, I am able to make some changes programmatically. However adding a replacement logger is n

[2020-06-04 11:12] gdey commented on #691
Hello @ezk84, thanks for submitting an issue. This would be some we would love to have added. It has been on the wish list for a while (#215).

If you want to submit a PR, I will happily review it, and see if we can get it into the next release.

[2020-06-04 20:53] ARolek commented on #691
I'm also very much in favor of this issue. A more streamlined logging strategy with tegola would be a great win!

[2020-06-08 04:48] Seltzer opened #693 "Caching + CORS questions"
I'm looking into deploying Tegola via the Docker image and I have a few questions. Apologies if I've missed some docs where these are answered.

1. Does Tegola itself evict entries from its file cache? I assume the cache grows indefinitely until there's no more disk space or tiles are explicitly purged.

2. Would it be possible for two instances of Tegola (e.g. load balanced) to share a single fil

[2020-06-08 17:58] ARolek commented on #693
@Seltzer Answers to your questions in order:

1. Tegola does not evict files from the file cache (no TTL) so yes, it will keep creating tiles until they're explicitly purged or the disk runs out of space.
2. I'm not quite sure what issues you would run into, but I do think there would be some edge cases. For example, the file cache does not have a "lock" concept right now, so technically a file co

[2020-06-08 23:12] Seltzer commented on #693
Thanks for your responses.

Sounds like we should avoid trying to share the cache as we'd be relying on undefined behaviour in any case.

We have an ever-growing whitelist of CORS domains stored in a DB table which we're hoping to add to the response header. I'm not sure how many others are in a similar situation so it's hard to say whether it's justifiable to add it to the roadmap. The use-case i

[2020-06-09 22:36] ARolek commented on #693
@Seltzer I have not played with it personally, but the tegola s3 cache backend can be used against https://github.com/minio/minio. This might be a viable alternative to the filestore for your situation.

Regarding the whitelist, this sounds more application-specific so I think your idea of a proxy in front of tegola is probably the best idea. I'm happy to leave the conversation open in case anyone

[2020-06-11 03:27] ChiWai-Choi opened #694 "How to speed up the slicing speed?"
Fast dynamic maps of large geographic areas is rendered,but the speed is pretty slow too.
I want to know is there any way to speed up rendering.

[2020-06-11 14:08] ezk84 commented on #694
Depends on your use case, so doing some analysis of where the bottleneck is in your case is the way to go.

I have just spent some time tweaking performance in our case, and I figured pre-simplifying the geometry at lower zoom levels made a huge difference. I ended up using the !PIXEL_WIDTH! SQL parameter to do dynamic pre-simplification and achieved a 4.6x speedup with a negligible rendering fide

[2020-06-11 18:20] ARolek commented on #694
@ezk84 thanks for that great writeup! We really need to add a "best practices" or "performance" section to the tegola docs. There are lots of ways to improve performance on a tileset so it would be great to have a place to collect the various techniques.

[2020-06-12 09:48] ChiWai-Choi commented on #694
@ezk84 Thank you for the detailed answer. It would be better if there were sample code.
## My use case:

The heatmap can display the following data:
1. How often the vehicle passes a certain section(this map)
2. Road section real-time congestion(to do)
3. Frequent disconnection of gps device(to do)
...
This is my heat map by Geoserver and Mapbox GL JS, but I think Geoserver is slow to generate vec

[2020-06-12 16:53] gdey opened #695 "Should there be a new test case here that checks for `config.ErrMVTDifferentProviders` and `config.ErrMixedProviders`?"
Should there be a new test case here that checks for `config.ErrMVTDifferentProviders` and `config.ErrMixedProviders`?
From:
https://github.com/go-spatial/tegola/blob/303488246a833a65a77e5fa0d0ee8029a187f0b3/cmd/internal/register/maps.go#L108

https://github.com/go-spatial/tegola/blob/303488246a833a65a77e5fa0d0ee8029a187f0b3/cmd/internal/register/maps.go#L120

_Originally posted by @ear7h in https

[2020-06-16 01:17] ear7h commented on #688
## recap

The current implementation has the restriction that a `[[map]]` can only use 1 `mvt_provider` and no other providers. This is because, tegola does not decode the incoming mvt tile, thus cannot insert new geometries from other providers.

## a proposed solution

A proposed solution is to register all providers with `[[providers]]` (with mvt providers having a `type=mvt_*`). This solution

[2020-06-16 03:46] ARolek commented on #688
@ear7h Thanks for writing this up. Why would we need `mvt_provider` boolen in the config if we could just add the check/error reporting in the config parsing step? I admit the logic kind of a pain to lookup (If a map has a provider layer with a `type` containing an `mvt_*` prefix, then it can't contain any other provider), but it would allow us to eventually lift that check when we support conflat

[2020-06-16 05:04] ear7h commented on #688
@ARolek firstly, my proposal would be temporary. Once tile conflation is implemented, putting all providers in the same section would be ideal.

The boolean config is not functionally necessary. Personally, I'm not a fan of software that tries to fix or be smart about my configuration (ex. elastic search). In my proposal, keeping the mvt and feature providers in separate namespaces means there can

[2020-06-16 11:51] superbug1000 opened #696 "Data segregation"
Hello!
In my company we are currently exposing Tegola (actually [tegola-postgis](https://github.com/go-spatial/tegola-postgis)) through our own service.
We need the users to be able to access only the data they own.

We have exported the `initConfig` function to be able to load our configuration, from there it seems all maps are registered to the `defaultProvider`.
Our plan was to wrap the HTTP ha

[2020-06-18 18:42] ARolek commented on #696
@superbug1000 👋 . That's great to hear your using `tegola-postgis`! Did you know that we have the ST_AsMVT functionality now ported to this repo and is currently sitting in a [PR](https://github.com/go-spatial/tegola/pull/687)? It would be great to get some help testing it if you want to try one of the [build artifacts](https://github.com/go-spatial/tegola/actions/runs/136627938). Also, we have an

[2020-06-18 21:59] pmabey commented on #690
does your data have a lot of polygons in it? None, its entirely MultiLineStrings.
or are you just now seeing this outside of the embedded viewer? Outside
POSTGIS version: v3.0.1 on top of Postgres 11.7.

Will keep tinkering to see if I can narrow it down some more.

[2020-06-19 23:58] ARolek commented on #690
@pmabey try debugging your SQL using the tegola debug env vars: https://tegola.io/documentation/debugging/

`TEGOLA_SQL_DEBUG=EXECUTE_SQL tegola seve --config=/path/to/conf.toml`

You can then see the SQL statements that tegola is sending to your database. I would find a tile that's giving you this warning, then use run the associated SQL against your database. You can then start analyzing the dat

[2020-06-22 14:10] superbug1000 commented on #696
Hey @ARolek! I did know about the PR and I am planning to switch to "regular" tegola whenever that will be ready. If I have a chance to test the PR I will definitely comment/create issues if need be :+1:

1. I need this filter on all my layers. Since the purpose is data segregation I want users to access only data they own in all available layers.
2. I haven't thought much about the cache behaviou

[2020-06-24 16:44] ARolek commented on #696
How many layers is this? Would you be opposed to loading each layer individually, rather than composite them into a single tile?

Yeah this is something still TBD when it comes to dynamic filtering.

Is this code on a fork somewhere? I'm interested to see how it came together.

Ok, I will add this "vote" to the issue (I agree with this approach too).

[2020-06-24 16:53] ARolek commented on #688
@superbug1000 has been testing `tegola-postgis` and has had a chance to try out the config structure. I asked them if they had an opinion on this issue in #696 and this was their input:

[2020-06-26 08:46] yaras-phoenix opened #697 "Two "name" parameters in documentation"
Reading the doc I felt a bit confused with the  following:
![image](https://user-images.githubusercontent.com/37367584/85838626-2281cd00-b79a-11ea-9156-4801c931c21c.png)

The 2nd "name" parameter seems to be related to map layers, not maps. Do I get it right?

[2020-06-26 08:53] gdey commented on #697
Thank you for finding this issue.

Yes, you are correct. That is a bug in the documentation. It should not be there. It's the name parameter in the Map Layers that it is referring to.

[2020-06-26 08:56] gdey commented on #697
Moving issue to the docs repo.
https://github.com/go-spatial/tegola-docs/issues/48

[2020-06-26 08:58] #697 closed

[2020-06-26 11:18] superbug1000 commented on #696
Sadly I don't have that information, at least not just yet.

Yeah it is! It's the only fork in [tegola-postgis](https://github.com/go-spatial/tegola-postgis/network/members) :+1:

It's a really quick and simple, ad hoc implementation to achieve what we needed. The "client" side takes care of handling the different atlases for the different users.

Of course this kind of approach could be improved

[2020-06-26 16:47] ARolek commented on #696
Ok, I'm interested in continuing the conversation as you gather more details. The plans for dynamic tiles, which is similar to what you're after here, is planned to be implemented on single layer tiles rather than composite tiles. The thinking behind this is that each layer has its own set of attributes and therefore needs filters specific to that layers data schema. Your situation is more general

[2020-07-02 22:41] ARolek opened #698 "cache seeding: handle map zooms with no layers"
When a map is configured with a specific zoom range, say 10-20, and a `tegola cache seed` command is issued with a `min-zoom` that's out of this range, (i.e. `tegola cache seed --min-zoom 5 --max-zoom 12`) tegola tries to still issue a tile Encode() request for the zooms which don't have configured layers. This can be fixed with an extra guard in the `tegola seed` command, the same guard that's cu

[2020-07-03 00:50] ARolek commented on #698
This is now in the v0.12.x branch

[2020-07-03 00:50] #698 closed

[2020-07-03 00:51] #554 closed

[2020-07-08 17:57] polastre commented on #449
I also spent _hours_ debugging why Tegola wasn't rendering the data returned by postgis and instead returning empty tiles. Through sheer luck I found this issue. After using `ST_Force2D`, my tiles render. I fully agree that **silently** dropping features with Z dimensions is very frustrating, and should at least warrant a log entry.

[2020-07-09 18:59] ARolek commented on #449
@polastre yes I agree, its the worst kind of bug too (silent). @gbroccolo has been working on the extended geometry types so we can drop the Z value correctly. Let me see if we can get a log in there for the time being as we're getting closer to releasing a v0.12.0 version.

[2020-07-22 12:43] F-15023 opened #705 "Redundant data inside of MVT file"
Hello! I deserialized a few MVT files created by Tegola and found strange data inside. For example, there are layers in which there are no features, but there are keys and values. It is clear from the values that these objects do not fall within the boundaries of the MVT file. Also among the values of other layers exists values that are not used in features.  Why these values was written to the MV

[2020-07-22 19:44] gdey commented on #705
Hello,

I'm not sure. This might be a bug.

I will have to look into it.

[2020-07-22 19:54] ARolek commented on #705
@F-15023 do you have a test case we can put together? For example, using natural earth data with a provided config, running a specific version of tegola at a specific Z/X/Y tile what are you expecting and what are you seeing.

Lots of work goes into the end to end process so we will need to recreate the issue in order to figure out where the problem is.

[2020-07-23 08:04] F-15023 commented on #705
@ARolek For example, you can look at the tile number 16/41844/24728 (https://osm-lambda.tegola.io/v1/maps/osm/16/41844/24728.pbf).
Inside, we can see two features in the "admin_lines" layer that, according to values, represent the administrative borders of the country(https://www.openstreetmap.org/relation/3764541 and https://www.openstreetmap.org/relation/3764533#map=10/40.3733/49.4080 ), but the

[2020-07-24 23:01] ARolek commented on #705
Inside, we can see two features in the "admin_lines" layer that, according to values, represent the administrative borders of the country(https://www.openstreetmap.org/relation/3764541 and https://www.openstreetmap.org/relation/3764533#map=10/40.3733/49.4080 ), but they are do not fall within the tile boundaries. In addition, you can also see values whose origin I can not explain ("United States o

[2020-07-29 17:54] gdey commented on #647
@thesteve0 did you ever get back to this, it would be great to have a Dockerfile that works with Kube.

[2020-07-29 17:56] gdey commented on #686
@devCopper did @ARolek and @mapl answer your concerns? If so, could be we close this issue?

[2020-08-10 21:56] ARolek commented on #449
We have added a log when the postgis provider encounters an UnknownGeometryType (previously it was just a `continue`) to the `v0.12.x` if you would like to give it a try. @gbroccolo has been adding the enhanced geometry types to the `geom` package, so once that's done we can finalize this issue by dropping the z dimension, but in the meantime, the log will help identify the issue rather than silen

[2020-08-13 07:20] #686 closed

[2020-08-14 18:03] embeepea opened #712 "docker build error: unsatisfiable constraints: gcc-9.3.0-r0"
Hi,

I've been working with tegola in docker for a couple of months, regularly rebuilding my docker image using the Dockerfile in the tegola repo, and I recently started getting the following build error when the builder runs "apk add gcc=9.2.0-r4":

I'm not aware of having changed anything that would cause this.  I'm wondering if it's possible that the golang:1.14.1-alpine3.11 container image use

[2020-08-14 18:38] ARolek commented on #712
@embeepea I believe @gdey has a fix for this here: https://github.com/go-spatial/tegola/pull/700/commits/f72b52e91846386e3131661483d7f210d0872af4

This is about to hit the v0.12.x branch and we're just about ready for release. What branch are you working against?

[2020-08-14 19:03] embeepea commented on #712
I've mostly been using 0.11.2, but I tried with 0.12.x this morning and got the same error.

Changing the Dockerfile to "apk add gcc=9.3.0-r0" as in @gday's fix does seem to resolve the issue, at least in the sense that the build succeeds with no error.  (I haven't yet had a chance to actually confirm that the resulting image works correctly.)

[2020-08-15 04:03] ocasti opened #713 "Can´t run tegola_lambda"
I try to run tegola under lambda server but return this error on test:

{
  "errorMessage": "neither APIGatewayProxyRequest nor ALBTargetGroupRequest received",
  "errorType": "errorString"
}

![imagen](https://user-images.githubusercontent.com/2475408/90304901-1a810800-de82-11ea-9185-80e05f21648a.png)

On browser:

api-gateway/capabilities
{"message":"Not Found"}

api-gateway/

![imagen](https://

[2020-08-15 15:07] mapl opened #714 "Add support for built-in Prometheus Metrics"
This proposal is intended to start a short discussion whether it is feasible to add built-in support for Prometheus Metrics.

The well written API documentation should make it easy to expose relevant internal metrics and consume them with third party system.

Basic Metrics like CPU and Memory Consumption come to my mind as well as specific Tegola Metrics like served Tiles and certainly many more.

[2020-08-15 17:09] ARolek commented on #713
@ocasti can you provide some more details about the setup?

* Are you running behind API gatway or an ALB? (Looks like api gateway)
* Have you configured tegola with a `uri_prefix`?
* Have you been able to issue a test payload request to the `/capabilities` endpoint from lambda?

If you don't need API Gateway, I find the Application Load Balancer setup easier. The one critical detail is making sur

[2020-08-15 17:11] ARolek commented on #714
Support for better logging has been discussed numerous times (#215 #691). Maybe we can start exploring the logger interface more so various logging services can be implemented much like we have support for different providers. I'm absolutely a +1 for getting this streamlined across the software.

[2020-08-16 03:02] ARolek commented on #712
@embeepea please let me know if you have any issues with the Dockerfile change as we're going to be cutting a new version of tegola here real soon with that change.

[2020-08-17 21:30] embeepea commented on #712
I just tested with  @gdey's fix f72b52e; it seems to work fine for me.  Thanks!

[2020-08-17 21:39] ARolek commented on #712
@embeepea great! I'm going to close this issue for now as we're about to merge v0.12.x and we're going to cut that version this week. If you have a chance it would be great if you could test v0.12.x branch in your deployment.

[2020-08-17 21:39] #712 closed

[2020-08-17 23:29] embeepea commented on #712
Just to clarify: the fix isn't currently in the v0.12.x branch because the PR (actually there are 2 PRs) containing haven't been accepted/merged yet, right?  When I tested, I did so using the head of the normalize_table_tests branch, which is the branch in https://github.com/go-spatial/tegola/pull/711.

I'll try to keep an eye on v0.12.x and will test again once I notice the fix is there.

[2020-08-17 23:38] ARolek commented on #712
Correct. @gdey should be merging those PRs into v0.12.x today / tomorrow.

[2020-08-18 17:02] #688 closed

[2020-08-19 16:04] gdey commented on #712
@embeepea I have merged those two PR into v0.12.x. We should be releasing that version sometime this week.

[2020-08-25 15:50] zaa76 opened #716 "Trying to add external SQL file (Попытка добавить внешний SQL file ) tegola v0.12.x"
[[providers]]
     database = "osm"
     host = "x.x.x.x"
    max_connections = 100
     name = "osm"
     password = "xxxxxxxxx"
     port = "5432"
     srid = 3857
     type = "mvt_postgis"
     user = "gis"

     [[providers.layers]]
     geometry_fieldname = "geom"
     geometry_type = "Polygon"
     name = "landcover-low-zoom"
     id_fieldname = "id"
     sql = """%./tegola_osm_carto_mvt_sql

[2020-08-25 15:58] ARolek commented on #716
@zaa76 we don't currently support loading an external file. The SQL must be inline in the config. Another approach you can take is to create a stored procedure in your database and then call it from the config file.

[2020-08-26 05:46] zaa76 commented on #716
I saw this approach in this:
https://raw.githubusercontent.com/openmaplt/vector-map/master/config.toml.template

[2020-08-26 09:49] dBitech commented on #716
that file is processed by
https://github.com/openmaplt/vector-map/blob/master/generate_config.sh to
create the resulting sql-inline config file.

On Tue, Aug 25, 2020 at 10:47 PM zaa76 <notifications@github.com> wrote:

[2020-08-27 10:30] #716 closed

[2020-09-09 11:38] richardbischof opened #719 "Support Minio S3-Cache"
Dear community,

today tegola can make use of s3 as a cache. For local testing and deployment in an fully open source environments, I want to use [https://github.com/minio/minio](https://github.com/minio/minio) as my object store of choice. Minio is an open source object store, which is broadly used and often considered as an alternative in comparable scenarios.

Sadly tegola can not use minio, be

[2020-09-10 16:53] ARolek commented on #719
@richardbischof Thanks for the write-up. The S3 cache is designed to support other S3 API compatible back ends, so this request is in alignment with the current design. I have not used minio personally so I'm unfamiliar with their nuances. Adding this config option sounds like a win. I'm absolutely open for a PR if you want to open one up and we can review the proposed implementation there. One re

[2020-09-17 20:56] timwaters commented on #647
if it helps, within a deployment I use:

[code]

[2020-09-21 00:34] exotfboy opened #720 "Is vector tile with different projection supported yet?"
There has been a lot of discussion about generating vector tiles in different projection besides 3857.

https://github.com/go-spatial/tegola/issues/243 https://github.com/go-spatial/tegola/issues/267 https://github.com/go-spatial/tegola/issues/668

And in the readme I found:

I wonder what does this mean? Are the projections mentioned above bound with source data or vector tile?

[2020-09-21 02:07] jj0hns0n commented on #720
Currently only source data. There is an open PR to address 4326 tiles, but it hasnt been worked on in a while. https://github.com/go-spatial/tegola/pull/681

[2020-09-21 08:04] #720 closed

[2020-09-28 12:46] richardbischof commented on #719
Thank you for your feedback. I took a look on GH Actions, but as far as I understood, there have to be an Minio instance running in the environment, where the action is executed. I have no experience with the setup of GH Actions. Maybe someone can help me?

[2020-10-05 20:48] ARolek commented on #719
@richardbischof apologies for the slow response, I have been traveling but I'm back now.

I can help with setting up minio in the GH Actions. It looks like [mino has a docker container](https://docs.min.io/docs/minio-quickstart-guide.html) we can use which makes this easy.  Take a look at the `services` section of our Githbub action that's run on every push: https://github.com/go-spatial/tegola/bl

[2020-10-08 08:45] rory commented on #582
1½ years later and no response. Shall we interpret that this is not viewed as a CoC issue, and yous will take no action on this area?

[2020-10-08 17:31] ARolek commented on #582
@rory To be honest, this is just not a top priority right now. I appreciate you opening the issue but just opening the issue is only a portion of the effort. The request here is for us to uproot our established domain which as you mentioned is inconvenient. I have considered moving https://tegola.io to https://tegola.go-spatial.org, but this will require combing through the documentation in this r

[2020-10-21 10:41] carronol opened #722 "S3 cache - Improving purge speed"
Hello!
First of all, congrats for the good work! Tegola is really easy to set up and use and does the expected job 👍

The only drawback I find in our usage is the speed of the cache purge command. It seems that it purges the tiles one by one in the specified bounds and zoom levels and that it could be optimised. This begins to be a problem for us because part of our data can change every day so we

[2020-10-21 23:16] ARolek commented on #722
@carronol I'm glad you're enjoying tegola!

That's an interesting idea around the purge command, and I'm sure the purge interface could be upgraded to a `BulkPurger` though I would need to give it some thought. Would you want to tackle this issue and send in a pull request?

This is an interesting idea too. The purge command could potentially be enhanced to generate a tile list as well. Are you ge

[2020-10-22 15:34] carronol commented on #722
Thank you for the quick answer @ARolek

I have never coded in Go and I would require some time to get into the project in order to create a pull request, but we will give it some thought at work. If we decide to tackle the issue it won't be in the next weeks, but maybe in a sprint to come.

Concerning your second question, we usually modify a few geometries at a time in a map so we purge and seed

[2020-10-26 12:15] CptSchnitz opened #724 "uri_prefix option not working behind reverse proxy"
I am running tegola in kubernetes behind a ingress with a subpath. I am able to access tegola just fine, but the urls in the capabilities dont include the subpath.  I have set the option to change the prefix in the config and it doesn't work. I have tried it both with forward slash `"/mvt"` and without `"mvt"`.

config:
[code]

capabilities (http://192.168.49.2/mvt/capabilities)
[code]

[2020-10-26 15:49] ARolek commented on #724
@CptSchnitz your config looks good. Which version of tegola are you running?

[2020-10-26 16:27] CptSchnitz commented on #724
0.8.1, didn't notice it was that old.
will it work in a newer version?

[2020-10-26 17:13] ARolek commented on #724
@CptSchnitz it should! I'm using it on v0.12.1 with no problems.

[2020-10-26 21:52] flyingjoe commented on #610
I'm also interested in this. I am currently using martin with postgis to create vector tiles. As I would like to decrease load on the database, I'd like to use tegola on lambda.
In my use case the frontend makes a query for multiple ids, whose linestrings martin then returns as a single layer.
The current request looks something like this: `/map/item_ids=[1,2,3..]`
So if filtering would be possibl

[2020-10-29 12:36] CptSchnitz commented on #724
thanks! it fixed it.

[2020-10-29 17:26] ARolek commented on #724
Nice! I like the easy ones ;-)

[2020-10-29 17:26] #724 closed

[2020-10-29 23:52] ARolek commented on #610
@flyingjoe It's something we would like to implement but it's a fairly involved feature. If I have to be honest, I think it might take a commercial use to help resource the development. We would absolutely support a PR if someone would like to lead the effort. I have some ideas on the design, but there's a lot to think about.

[2020-11-10 08:02] henhuy commented on #460
Thanks @ARolek for providing example config.
One comment: In layer `tr_iller` it must be `dont_simplify` not `done_simplify` - just in case someone stumbles upon this...

[2020-11-10 20:24] khumps opened #725 "Cannot set maxZ"
After looking through code and issues after getting an error `2020-11-10 20:12:58 [WARN] handle_map_layer_zxy.go:54: invalid Z value (23)` and found out that it is hardcoded to 22 as per https://github.com/go-spatial/tegola/issues/354#issuecomment-371609680

We are trying to support a map that goes down to 27. Long term, this should respect the configuration value specified in the config (we set m

[2020-11-10 20:33] ARolek commented on #725
@khumps can you help me understand a bit more about your requirement? A max zoom of 27 will create a massive amount of tiles (i.e. trillions). With vector tiles, you should not need to really go beyond zoom 16. The client-side can then over zoom the vector tiles and use client-side styling to show and hide features at higher zooms.

So in theory, the max zoom in your tegola config should actually

[2020-11-10 20:40] khumps commented on #725
@ARolek thanks for that insight, we will try handling it with client side zoom. Thanks!

[2020-11-10 20:40] #725 closed

[2020-11-17 19:11] tomass opened #726 "Map "grouping""
### Current situation

Currently the hierarchy of data is as such: layers are grouped into maps.
Tile requests contain a map name (/<map_name>/zoom/x/y.pbf).
Cache is filled per map (one cache file/tile represents all layers of a single map, of a single zoom/tile coordinate).

For example say we have layers
* _osm.building_
* _osm.roads_
* _custom.routes_
* _tourism.camps_

They are groupped into

[2020-11-22 23:08] ARolek commented on #726
@tomass thanks for submitting this proposal, and apologies for the slow response. This is a pretty interesting idea. I will need to do some thinking through the trajectory of a feature like this. For example:

* Is the follow-up request to this feature, being able to select map layers that you want to group together?
* An alternative approach would be to have all layers in a single map and support

[2020-11-23 10:15] rory commented on #582
From the [Tegola CoC](https://github.com/go-spatial/tegola/blob/v0.13.x/CODE_OF_CONDUCT.md).

Sorry, but you signed up for it. Or just drop that part of your CoC.

[2020-11-23 14:56] tomass commented on #726
_/maps/osm/z/x/y?layers=buildings,roads_ is the first thing I thought about, but **I thought** it has some problems - tegola/server would not know what can be grouped and you do not want to cache all layers separately (as you will end up with way too many files). If however it is possible to **quickly** fetch from one cached pbf file only the requested layers - then it changes things and such list

[2020-11-24 21:20] ARolek commented on #582
@rory I think you're missing the spirit of open source. We develop tegola in the open with a very liberal license, we're excited to engage with the community, and we welcome new ideas and people surfacing concerns (like you're doing). This considered, we're not required to attend to every request that's made.

You seem very passionate about this topic, which is great. I'm not as passionate about i

[2020-12-07 10:50] dkastl opened #728 "Docker build fails with an "unsatisfiable constraints" error"
Trying a local Docker build fails with the following "unsatisfiable constraints" error.
[code]

Run using `master` branch on Ubuntu 20.04 with Docker version 19.03.14

[2020-12-11 05:23] ARolek commented on #728
@dkastl thanks for the report, and apologies for the slow response here. It looks like there's an issue fetching musl-dev, though a quick search shows that the version is still current. It might be worth making some version bumps in the Dockerfile to see if we could get this working. Maybe we bump to  Go 1.15.6 and alpine 3.12 and then bump musl-dev to musl-dev-1.1.24-r10.

Would you want to attem

[2020-12-11 05:32] dkastl commented on #728
Thank you for looking at this. My Go knowledge is rather low and so is my confidence for a pull request. I wouldn't mind if someone else does this. But I'm happy to test a merge request before merging.

[2020-12-11 06:31] ARolek commented on #728
I spun up a new branch, `issue-728-Docker-failing` which addresses the version bumps, though now the tegola build command is failing:

[code]

@gdey do you have know off hand what would cause that error? I figured I would ask before I dig too deep into the research.

[2020-12-11 08:53] gdey commented on #728
Looks like a linker issue:

I would look at this bit:
`-ldflags "-w -X github.com/go-spatial/tegola/cmd/tegola/cmd.Version=${VERSION}"`

and any cgo code that has the linker flags.

[2020-12-11 23:24] ARolek commented on #728
@dkastl I just sent in a PR to fix this issue. Give it a run if you have a chance: https://github.com/go-spatial/tegola/pull/729

[2020-12-14 08:06] dkastl commented on #728
Thank you! I made test build and run the help command and it seems to work now!

[2020-12-14 19:45] ARolek commented on #728
@dkastl great! We will get this into the v0.13.0 branch soon. I'm just waiting on a quick review from @gdey

[2020-12-20 18:12] jay-manday opened #730 "Question: Non-Geospatial Maps & SRIDs?"
Hi there!

I had a question about non-geospatial maps, my company has been super impressed w/ Tegola and we think it might fit perfectly into our use-case.

We have a pipeline to convert Blueprints(CAD/PDF) into Raster Tiles & Vectorized data and we're in need of a tile server! Our data is stored in PostGIS in vanilla cartesian coordinates (x, y, WKBs, POLYLINE etc) that don't require projections,

[2020-12-20 18:29] #678 closed

[2020-12-21 21:00] rodreegez opened #731 "Using ST_AsMVTGeom with SRID 4326 causes rendered polygons to shift North East at low zoom levels"
Hey folks,

I'm encountering a strange issue that I don't understand.

### Actual Behavior
As depicted in [this video](https://www.loom.com/share/2c177e7a3f1c4a0388bdb8d95e7094ee) my polygons make a break for the North Sea as I decrease the level of zoom!

### Expected Behavior
I'd expect the rendered polygons to stay broadly in place.

#### Data used (where to get the data.)
The data I'm trying t

[2020-12-22 17:37] ARolek commented on #730
@jay-manday I'm glad you're enjoying tegola! I have not attempted to use vector tiles with data without a SRID, but it might be possible. Are you using ST_AsMVT for generating the vector tiles in PostGIS? If not, that would be the first place I would attempt this. Here's an example provider config block to take advantage of `SA_AsMVT`:

[code]

I think the crux of this request comes down to inform

[2020-12-22 21:36] ARolek commented on #731
@rodreegez Let's see if we can get to the bottom of this.

This piece is not the issue, but the `srid`, `dont_simplify` and `geometry_type` config values don't apply when using `mvt_postgis`. This is because all the geometry processing is handled in PostGIS so tegola does not have a chance to utilize those values. They're ignored though, so they should not cause any issues.

I see two potential is

[2020-12-22 22:08] jay-manday commented on #730
Hey Alex,

Thanks for following up on this, and for the pointer as well! Using `ST_AsMVTGeom` is definitely the ideal situation, we're currently extracting vector & raster data generation during the ingestion of PDFs. Per page we'll use OGR2OGR to extract the data inside the  and store in our blueprint table.

For the raster side we currently generate PNGs but very very soon we're going to expand

[2020-12-28 17:17] renzeroni commented on #731
Hello, I want to add that I have been experiencing similar behaviour to what @rodreegez described.

My setup involves PostGIS, pg-featureserv and Tegola. However, when using a combination of pg-featureserv and tegola to display data, there appears to be a major shift in the polygons between the source datasets. See the attached images and the descriptions below:

![image_1](https://user-images.git

[2021-01-04 16:42] rodreegez commented on #731
Hey @ARolek, thanks for the reply, sorry for the delay in responding - hope you had a good holiday if you were celebrating.

As far as I was able to tell, the `ST_Transform` was already being applied to the bounding box as I had set the `srid` to 4326 in the global config. Setting the SQL debug env var seemed to confirm this:

[code]

I also experimented with the zoom level, but don't believe this

[2021-01-04 18:43] ARolek commented on #731
@rodreegez no worries! I have been slow to respond too. I have been in the middle of a move, which is always all consuming!

Thanks for standing up the test case. I'm going to find some time to recreate this and see if I can determine what the root of the issue is. it looks like @renzeroni is also having this issue so it's not isolated to just your environment. Let me dig in and see what I can fin

[2021-01-04 20:14] ARolek commented on #731
@rodreegez one idea to try (I have not stood up the example yet), is turning off the `srid` config property and then using ST_Transform on the bounding box token like I suggested earlier. I wonder if this would give you different results. Technically it shouldn't, but maybe there's an issue with tegola's reprojection operation.

[2021-01-04 20:50] rodreegez commented on #731
@ARolek just tried removing the `srid` declaration from the config and explicitly transforming the `!BBOX!` tokens (both tokens in each of the layers in the Bonn OSM map). Doing so doesn't appear to have changed the result and the jumping behaviour persists.

Hope that helps.

[2021-01-04 22:08] ARolek commented on #731
@rodreegez could you post the debug SQL so I can take a quick look at it? At this point, PostGIS is handling pretty much all the computations. Tegola is only responsible for the token replacements.

@renzeroni what projection is your data in?

I'm still planning on standing up an environment to recreate this, I just won't be able to do so for a few days.

[2021-01-04 22:46] renzeroni commented on #731
good day, my data is stored in the dB using EPSG: 4326 and reprojected to Web Mercator (EPSG: 3857) on the web.

[2021-01-04 22:48] ARolek commented on #731
@renzeroni thanks for chiming in. I have a deployment of tegola using ST_AsMVT but my data is in 3857 and I'm not seeing this issue. 2 deployments with 4326 source data seeing this issue is helpful to know.

[2021-01-04 22:50] renzeroni commented on #731
Let me know what other info you need about my deployment @ARolek. We can get @jj0hns0n to chime in as well.

[2021-01-06 10:11] rodreegez commented on #731
Hey @ARolek - small update from me. I've corrected the jumping geoms issue by `ST_Transform`ing the data rather than the bounding box, and removing the `sird` config that was specifying 4326.

For me, the fix was to:

1. remove the config line `sird=4326`
2. update my query to something like this:

[code]

This seems to have fixed the issue as reported. @renzeroni would a similar fix work for you?

[2021-01-06 17:07] ARolek commented on #731
@rodreegez I agree that tegola should support 4326 with ST_AsMVT, and this SHOULD be working. I appreciate the follow up after you reprojected your data. This does help narrow down the issue. I would suspect this has to do with the `!BBOX!` token , which is why I suggested trying `ST_Transform(!BBOX!, 4326)` in your query. It sounds like this didn't work though so I'm trying to figure out where el

[2021-01-07 22:44] istancescu opened #733 "Tegola Web Viewer Is Black/Not showing anything"
Hi,

I am currently trying to access bonn default tutorial data using the viewer on a local instance on both windows64/darwin64 but when I go to localhost:8080 the internal viewer is black.
I can see the capabilities in left(river, etc) but the map is blank

Any idea what I did wrong or is there any issue with the internal viewer currently?

Thanks

[2021-01-07 23:05] ARolek commented on #733
can you try adding the query string `?debug=true` to the URL (before the `#`)? I want to see if any debug lines start showing up for you at the tile seems.

[2021-01-07 23:41] istancescu commented on #733
[code]

that's what I get while i do debug, the problem is not anyway the query part cause that is working, cause I can see with mapbox the vectors, but I cannot see anything on internal visualiser

![image](https://user-images.githubusercontent.com/22798055/103957057-8b3b0080-5152-11eb-9e4e-cd28851c1ce1.png)

[2021-01-08 00:13] ARolek commented on #733
What browser are you using? Do you see any hints in the developer console?

[2021-01-08 11:11] istancescu commented on #733
I am using Chrome, doesn't work on Safari either(just tried).

The developer console is clear.

[2021-01-08 19:06] ARolek commented on #731
I found the issue! `ST_AsMVTGeom()` is expecting the geometries to be in 3857 projection. When your data is in 4326, you want to use the 4326 version of the `!BBOX!` in your `FROM` clause, but you need to transform the geometries and `!BBOX!` to 3857 in the `ST_AsMVTGeom()` statement.

Here's an example of the natural earth country data:

[code]

@rodreegez & @renzeroni can you try this approach t

[2021-01-08 22:40] ARolek commented on #733
@istancescu are you seeing any map controls in the lower right hand corner? For example:

<img width="235" alt="Screen Shot 2021-01-08 at 3 39 32 PM" src="https://user-images.githubusercontent.com/667850/104072123-62048980-51bf-11eb-9f5e-58722d141e1d.png">

If you're not seeing those, I would assume something is blocking mapbox gl from initializing. Maybe WebGL is blocked?

[2021-01-09 15:34] istancescu commented on #733
Yes, I can see the controla in the lower right hand corner, but the map is all blocked.

Mentioning I have the same issue on a Macbook but also on a Windows device, using the get started bonn tutorial.

[2021-01-11 20:14] rodreegez commented on #731
Hey @ARolek that seems to have done the trick! Can't believe I didn't think to try that. I did try transforming both the geom and the BBOX, but it never occured to me to transform them both at the same time! 🤦

Thanks for the assistance. I won't close the issue as I don't know if @renzeroni wants to chime in, but please consider this resolved from my POV. Thanks again for the help!

[2021-01-11 22:53] ARolek commented on #731
@rodreegez great to hear! I will update the documentation to help others who come across this issue.

[2021-01-11 23:08] ARolek commented on #731
@rodreegez I just submitted a documentation update in #734 if you want to review it.

[2021-01-11 23:12] ARolek commented on #733
@istancescu I wonder if you're just not zoomed in to the right location. The quickstart should navigate you right to Bonn, so if this is not happening it's a bug, but I want to make sure we're not dealing with some other rendering bug.

What's the URL in your browser?

[2021-01-11 23:34] ARolek commented on #730
@jay-manday apologies for the slow response. I decided to stack the end of 2020 with moving to a different state and I'm still working on unboxing my life.

Regarding tegola handling raster tiles, I don't foresee tegola tackling raster tiles in the near future. Currently, tegola is responsible for generating the vector tiles and the rendering happens client-side. In order for tegola to generate ra

[2021-01-12 02:42] #731 closed

[2021-01-13 21:54] istancescu commented on #733
The URL is http://localhost:8080/#0.44/0/0

[2021-01-15 22:37] mapl commented on #733
Please try

http://localhost:8080/#11/50.7374/7.0982

which is at the location coords for Bonn, Germany

Zoom Level: 11
Latitude: 50.7374
Longitude: 7.0982

[2021-01-17 19:25] istancescu commented on #733
Oh, it is working like this.

But its there any reason why its not redirecting me to bonn already, or any way to make the bonn map viewable without a zoom level?

[2021-01-19 17:49] renzeroni commented on #731
Hi everyone, I just wanted to alert you that the suggested fixes were applied to my installation and it has been rectified/fixed. Thank you so much for the work done to assist.

[2021-01-19 17:58] ARolek commented on #731
@renzeroni excellent! thank you for the follow-up. I have documented this in the README as well. Onward!

[2021-01-19 21:57] ARolek commented on #733
@istancescu it actually should be. I need to update the example config. Try making this adjustment:

[code]

Once that's in place, the viewer should automatically navigate you to the map center.

[2021-02-07 06:57] musmanalibaloch commented on #609
Hi guys, this article can help you to reuse db connection in lambda environment.
https://muhammadusmanalibaloch.medium.com/aws-lambda-reuse-database-connection-and-save-around-200ms-response-time-2c50a445f464

[2021-02-08 01:23] ARolek commented on #609
@musmanalibaloch yep, this was implemented in the PR #670

[2021-02-11 19:08] jleedev opened #735 "uri_prefix breaks with a trailing slash"
When the uriPrefix has a trailing slash, the API server works but the static files become broken.

This breaks:

[code]

But this works:

[code]

[2021-02-12 00:05] istancescu commented on #733
Thank you.

[2021-02-12 00:05] #733 closed

[2021-02-12 11:30] flother opened #736 "MacOS release builds don't include support for GeoPackage providers"
The [GeoPackage section of the configuration docs](https://tegola.io/documentation/configuration/#geopackage) says:

The `_cgo` releases haven't been published since [v0.10.4](https://github.com/go-spatial/tegola/releases/tag/v0.10.4), when releases started to be built with GitHub Actions instead of Travis CI ([commit 70d23e20](https://github.com/go-spatial/tegola/commit/70d23e20b60dbefd75cf9f845e

[2021-02-12 15:54] ARolek commented on #736
@flother this is odd. The intent is that all release builds are CGO enabled and thus include geopackage.

cc @gdey

[2021-02-12 18:17] gdey commented on #736
Yeah, that is weird. I will take a look at this.

[2021-02-12 19:05] ARolek commented on #736
I think i found the root of the issue. From the (cgo docs)[https://golang.org/cmd/cgo/]:

In our CI we're not setting `CGO_ENABLED`, so likely only the linux build has CGO enabled, not the Windows and Darwin builds. Here's the relevant line from the CI:

https://github.com/go-spatial/tegola/blob/c1da823d9b7258b6a1512f58de554e706a48e717/.github/workflows/on_release_publish.yml#L61

Seems like it sh

[2021-02-12 19:55] adriantabirta opened #737 "Need for speed"
1. Upgrade please to http2 for speed (30-40% faster response)
2. Is there a way to cache hole country before start server in redis?

[2021-02-12 20:14] ARolek commented on #737
@adriantabirta

1. I beleive Go's http package automatically supports HTTP2. The key is supplying an SSL cert in your tegola config. Take a look at: https://github.com/go-spatial/tegola/tree/v0.13.x/server#config-properties
2. Yes, you can use the `tegola cache seed` command. The doc formatting looks a bit off, but here's an overview: https://tegola.io/documentation/cache-seeding-and-purging/. You

[2021-02-12 20:49] flother commented on #736
Thanks for digging into this, @ARolek. I had a quick go at fixing the CI job, but I got stuck because it needs a C cross-compiler. From the [cgo docs](https://golang.org/cmd/cgo/):

The current GitHub Actions job runs on Ubuntu and so, to build for MacOS, the job environment would need to have a Linux → Darwin C cross-compiler available.

I think a better alternative would be to split the Linux/Ma

[2021-02-12 20:57] adriantabirta commented on #737
@ARolek Thanks.

[2021-02-12 21:01] adriantabirta commented on #737
It runs but, for zoom <8 it loads very slow or never (teste localy). Is there any option to raster tiles?

[2021-02-12 21:10] ARolek commented on #737
@adriantabirta I would need a lot more context. Usually when tiles are taking a long time to process there could be serverl culprets

* Do you have spatial indexes setup?
* Have you optimized your configuration to reduce the amount of attributes necessary per feature?
* Have you optimized your layer filtering? i.e. don't show all data at all zooms.
* Have you done any simplification of your geomet

[2021-02-12 21:18] adriantabirta commented on #737
@ARolek wow, a lot of thinks to know, I just use PostGIS and try to build a POC iOS app using MapBox iOS SDK, it runs but slow, zoom I use 0-20 for all. Also not all data is displayed (street numbers, green area, lakes...)
 Would be nice if you have 30 min to talk on a call (just to figure out what I am doing wrong and help me to optimize server PLEASE).

[2021-02-12 21:28] adriantabirta commented on #737
@ARolek

- Do you have spatial indexes setup? - yes
- Have you optimized your configuration to reduce the amount of attributes necessary per feature? - donno
- Have you optimized your layer filtering? i.e. don't show all data at all zooms. - I will do this 👍
- Have you done any simplification of your geometries? Especially important on lower zooms.- Don't know how 😞
- What data provider are you us

[2021-02-12 22:13] ARolek commented on #737
@adriantabirta what version of Postgres / PostGIS are you using? You would probably see some performance gains from using ST_AsMVT: https://github.com/go-spatial/tegola/tree/v0.13.x/mvtprovider/postgis

[2021-02-12 22:54] ARolek commented on #736
@flother

Yeah, I think this would be the cleanest. That way each env is built in its native environment rather than a cross-compile. One of the downsides is that I believe the MacOS runner uses 10x the CI compute minutes, but I think we should be fine for now.

So really the only build that's having CGO issues is Darwin. 🤔

[2021-02-14 09:55] adriantabirta opened #739 "House number"
- How to setup config.toml to show on map street name and house number?
- How to apply Mapbox style or any other styles?

[2021-02-15 12:24] MacaScull opened #740 "Pre-rendering"
Hello, I was just wondering if there was anyway to pre-render vector tiles using tegola, as at the moment my map uses this but takes quite sometime to load in the map this way.

Ive heard doing things like setting a min and max zoom on levels can do this, but when ive done this data dissappears off the map when I exceed that zoom level, any advice to get faster rendering times on vector data?

[2021-02-15 12:39] dBitech commented on #740
ye, you can seed the tile cache (Create the tiles and store them in the
tegola caching system:
https://tegola.io/documentation/cache-seeding-and-purging/#seed1

On Mon, Feb 15, 2021 at 4:25 AM MacaScull <notifications@github.com> wrote:

[2021-02-15 13:45] MacaScull commented on #740
Is there a way to access this as an environment variable in a docker-compose? or will this have to be one in a different way? if it can be accessed in a docker-compose file, could you provide an example?

[2021-02-15 15:53] #736 closed

[2021-02-17 21:46] ARolek commented on #739
@adriantabirta Take a look at the [tegola-osm](https://github.com/go-spatial/tegola-osm) repo for some configuration hints. For example you can see some of the config around the transport lines here: https://github.com/go-spatial/tegola-osm/blob/master/tegola.toml#L557.

You can find some styles that work off the tegola-osm schema in the [tegola-web-demo](https://github.com/go-spatial/tegola-web-d

[2021-02-17 21:47] ARolek commented on #737
@adriantabirta if your questions have been answered, please close this issue.

[2021-02-17 21:48] ARolek commented on #740
@MacaScull it's calling tegola as a command, for example:

[code]

It's not running tegola as a service, but rather a worker. This should work with Docker Compose.

[2021-02-17 21:54] ARolek commented on #739
Also note that you can load the stiles from the `tegola-web-demo` repo into Fresco, our vector style editor and start playing with some cartography. Check it out: https://fresco.gospatial.org

[2021-02-17 22:36] ARolek commented on #735
Hmmm, well that's annoying. I'm not quite sure what's causing this, but maybe it has to do with setting up the router group:

https://github.com/go-spatial/tegola/blob/7f0e7e66089ead2823a65c50baa995b5c0d9a487/server/server.go#L59

[2021-02-19 16:15] khumps opened #742 "Purge command does not remove tiles from S3 Cache"
I am running to weird oddities around trying to purge our cache in S3.
I am trying to run it using the command:
`docker run -e TILE_CACHE_S3_BUCKET -e TILE_CACHE_S3_KEY -e TILE_CACHE_S3_SECRET -e PG_HOST -e PG_ROOT_PASS -e PG_ROOT_PASS -v ${PWD}/tegola-config-dev.toml:/config.toml gospatial/tegola:latest --config /config.toml cache purge --map gw --max-zoom 3`
Relevant config file sections:

[code

[2021-02-19 16:53] ARolek commented on #742
That all looks correct to me. Can you double check the region?

[2021-02-19 17:52] khumps commented on #742
Just checked in the AWS console and the region is correct, us-west-2

[2021-02-22 20:07] ARolek commented on #742
@khumps I'm going to have to dig into this some more as I'm fairly certain this functionality is confirmed working (but maybe something changed). During the init process for the s3 cache provider we issue a purge command for a test file we upload. This makes sure we have permissions. The actual Purge command is quite simple:

https://github.com/go-spatial/tegola/blob/7f0e7e66089ead2823a65c50baa995

[2021-02-24 20:11] khumps commented on #742
@ARolek, after some more testing. I am realizing that the issue is due to the fact that our cache data was coming from calls being made to individual layers of the map. dev is the basepath, gw is the map name, conduit is a layer then inside of that you have Z,X,Y. However, the purge command only knows how to delete tiles rendered for the entire map (stored at basepath/mapname/Z/X/Y. This was confi

[2021-02-24 22:26] ARolek commented on #742
@khumps thanks for the follow-up and investigative work. This does make sense though as I don't think we ever implemented layer-based purging. I would need to dig into the code but I'm fairly sure that layer-based purging could be added. Would you want to take a stab at doing the implementation? We can help with the code review and navigating the codebase.

[2021-02-26 18:39] khumps commented on #742
@ARolek I could definitely take a shot at it. I am pretty tied up right now but I can take a look when I have some spare cycles.

[2021-03-03 03:31] ARolek commented on #742
@khumps I'm in a similar situation, but we will figure out how to get this done. I'm going to adjust the title of this issue to reflect what you discovered.

[2021-03-03 12:14] johngian opened #746 "S3 backend - redirect to storage on cache hit"
From what I understand from the codebase, currently, the supported request/response flow for for the s3 caching backend is:

1. GET request to tile endpoint
2. Handle GET
3. Check if cache key (object path) is available in the bucket
4. Fetch value (tile) from S3 if available else generate tile on the fly and cache it
5. Return an HTTP response with the cached content

I think it would be a useful

[2021-03-03 22:28] ARolek commented on #746
@johngian I have worked on an architecture that's similar to what you're describing. I put together a post on it [here](https://medium.com/@alexrolek/the-serverless-vector-map-stack-lives-22835d341d7d) though much of the post is about using serverless tech. The final architecture is kind of the inverse of what you're proposing. Here's the request flow:

![0_R9PEGlaQt35Av4V8](https://user-images.gi

[2021-03-04 00:00] ARolek commented on #719
closed by https://github.com/go-spatial/tegola/pull/745

[2021-03-04 00:00] #719 closed

[2021-03-04 09:51] johngian commented on #746
I have to check our caching layers and how this would be implemented in our deployment scenario. Thanks @ARolek for the information.

[2021-03-05 22:27] ARolek commented on #739
@adriantabirta I'm closing this issue for now, but if you need additional help feel free to re-open it.

[2021-03-05 22:27] #739 closed

[2021-03-05 22:27] ARolek commented on #737
@adriantabirta I'm closing this issue for now, but if you need additional help feel free to re-open it.

[2021-03-05 22:27] #737 closed

[2021-03-05 22:28] ARolek commented on #728
closed via 154b7ccd821c57e14fcbf673529c4a8546131c8e

[2021-03-05 22:28] #728 closed

[2021-03-05 22:29] ARolek commented on #713
@ocasti I'm going to close this issue for now, but feel free to re-open if you have additional questions.

[2021-03-05 22:29] #713 closed

[2021-03-05 22:35] ARolek commented on #714
This issue is going to start being worked on. It will come in 3 phases and each phase will have its own issue:

- [ ] **Configuration and default observability:** Introduce Prometheus metric reporting into tegola. Enhancements to the tegola configuration file will be made to enable metric reporting and exposing the necessary API endpoints that Prometheus will operate against.
- [ ] **Cache hits /

[2021-03-09 11:09] istancescu opened #747 "Optimization & Performance Evaluation?"
Hi,

I was wondering if there is any guide that I could follow in order to optimise the loading time (performance) of map resources and if there is any way I could evaluate/estimate the system resources that the system should have in order for multiple concurrent users that are accessing the endpoints(lets say ~around 500 users).

Currently if I am using the bonn example and I am trying to get the

[2021-03-10 10:18] r4naf opened #748 "tegola + postgresql13: could not register providers: Failed while creating connection pool: unknown authentication type: 10"
1. Operating System: CentOS Linux 8
2. Kernel: Linux 4.18.0-240.15.1.el8_3.x86_64
3. PostgreSQL 13.2 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 8.3.1 20191121 (Red Hat 8.3.1-5), 64-bit
4. POSTGIS="3.1.1 aaf4c79" [EXTENSION] PGSQL="130" GEOS="3.9.0-CAPI-1.16.2" SFCGAL="1.3.7" PROJ="7.2.1" GDAL="GDAL 3.2.1, released 2020/12/29" LIBXML="2.9.7" LIBJSON="0.13.1" LIBPROTOBUF="1.3.0" WAGYU="0.5.0 (Int

[2021-03-10 11:22] r4naf commented on #748
Ubuntu 20.04 - all ok!
![113](https://user-images.githubusercontent.com/37614712/110622039-fed9a800-81ab-11eb-9702-7f1c22971352.png)

[2021-03-11 21:12] ARolek commented on #748
@r4naf thanks for the report. I will need to dig into what the code 10 type is. It might be time to upgrade the Postgres driver.

[2021-03-13 12:21] russss opened #750 "Rounding/encoding issue with numeric fields in postgis provider"
I have been putting off investigating this for a while, and it appears I've found a fix for my use case, but I thought I should report this as an issue.

Consider the following test case:

[code]

<details>
<summary>Full test config</summary>
Schema:
[code]

config.toml:

[code]
</details>

When rendered (using the `postgis` provider), the "output" field shows an incorrect, long repeating fraction

[2021-03-14 21:10] russss opened #751 "Seeding fails with unhelpful error if no layers cover requested zoom levels"
All my layers have a min_zoom of at least 2 - when I try and run `tegola cache seed` without the `--min-zoom` option, I now get the rather cryptic error:

[code]

Due to the following (non-)query being run:

[code]

I just switched to `mvt_postgis` so perhaps this issue is specific to that provider. I wasn't having this issue with an older version of Tegola using the "classic" `postgis` provider.

[2021-03-15 22:28] ARolek commented on #747
@istancescu good question. We're actually working on some observability metrics via #714 which will help with run-time evaluation. You could use these along with some load testing tools to estimate the resource allocation at runtime.

How often is your data updating? If the data is not constantly changing (i.e. every second) then the best way to handle scaling is to implement various layers of cac

[2021-03-15 22:32] ARolek commented on #750
@russss thanks for the report. I agree with your assessment. This is probably an issue in the Postgres driver or the photobuff library. The Postgres driver is due for an update soon, which may address this problem. I appreciate you documenting it.

[2021-03-15 22:55] ARolek commented on #751
@russss again, thanks for the great report. I did some investigation and you're right, there's no check for a map that has 0 layers. I think we could add this check at potentailly 2 places: https://github.com/go-spatial/tegola/blob/8e40cafbbeca99e606589e5a156aed84452d1e71/cmd/tegola/cmd/cache/worker.go#L47

and:

https://github.com/go-spatial/tegola/blob/8e40cafbbeca99e606589e5a156aed84452d1e71/at

[2021-03-17 12:52] istancescu commented on #747
@ARolek the plan is to serve multiple vectors via endpoints. These endpoints might be world-wide and can be used in multiple applications and be consumed with Mapbox GL.
The data will be imported manually into the database so I think it will remain the same but distributed multiple times to multiple consumers.
The whole point would be to overlay the distributed vectors onto some maps by the consum

[2021-03-18 08:44] zakjan opened #753 "Point clustering"
Is it possible to implement server-side point clustering with Tegola, for use cases with high point count and low zoom level?

Currently it's possible with custom implemented Node.js service using [supercluster](https://github.com/mapbox/supercluster) and [vt-pbf](https://github.com/mapbox/vt-pbf), connected to PostGIS data source. I'm looking for an out-of-the-box solution.

[2021-03-22 20:41] gdey opened #754 "Add Prometheus support for HTTP API routes and Viewer routes"
**HTTP API routes**

The HTTP API routes will be prefixed with  `tegola_api_` and the following things will be observed

* flight_request is a gauge of the API requests currently being served
* requests_total is a counter of the total number of API requests that have been served, partitioned by code, and method
* duration_seconds is a histogram of the duration of the current API requests, partitio

[2021-03-23 16:32] gdey opened #756 "Add Prometheus support for Cache Providers"
The Cache metrics will be prefixed with `tegola_cache_` and the following things will be observed

Each one will have a label of `type` that will be the cache type name

* misses_total is a counter of the total number of misses
* hits_total is a counter of the total number of hits
* flight_request is a gauge of the cache requests currently being served
* duration_seconds is a histogram of the dura

[2021-03-23 17:41] gdey commented on #756
@johngian which cache providers you think I should make sure to implement first. And if the above makes sense.

[2021-03-23 17:49] gdey opened #757 "Add BuildInfo metric End Point."
Looks like it is [good practice](https://www.robustperception.io/exposing-the-software-version-to-prometheus) to have a build_info end point as well for the metrics.

We will need to build out the Observer Interface to include a way to pass in a BuildInfo struct.

Need to build out a BuildInfo struct that will contain the following information:

* version of Tegola.
* git version
* which build tag

[2021-03-23 17:50] gdey opened #758 "Add metric end points for DataProviders"
For the Postgres provider here are sql_query break down:
Average query timing (breakdown by layer)

[code]

Connection pool.
  Count

[2021-03-23 20:54] ARolek commented on #756
@gdey I wonder if we should adjust the `response_size_bytes` a bit to include a 500kb bucket as 500kb is a warning threshold for tile size. We could potentially drop the 5+mb and bucket anything over 1MB

[2021-03-24 14:36] johngian commented on #756
@gdey I think a good start is to add support for the fs based backend and s3.

[2021-03-24 19:31] ARolek commented on #753
@zakjan I have not had to do clustering server-side yet, but it looks like the functions you need are availalbe in PostGIS. Have you played with [ST_ClusterDBSCAN](https://postgis.net/docs/ST_ClusterDBSCAN.html) yet?

If you do dive into using this function, I would be interested in seeing the solution you come up with as I think it could help others. I'm happy to help with the research if need be

[2021-03-24 21:30] donnyv opened #761 "Tegola v0.13.0 not running on Windows Server 2019"
Everything is in the same folder. It runs fine on my Windows 10 workstation but won't run on Windows Server 2019.
![image](https://user-images.githubusercontent.com/2224189/112385480-0cbc1c80-8cc6-11eb-8f9a-34eb7c76945f.png)

Config.toml
[code]

[2021-03-24 22:02] ARolek commented on #761
@donnyv Interesting that this is working on your Windows 10 box but not Windows server. Looking at the panic, it appears to originate from this line:

https://github.com/go-spatial/tegola/blob/671145575009ce69728c1f1b0551bbb6d40911f2/provider/gpkg/gpkg_register.go#L323

That line is assuming that it was able to get a bounding box for the table `PhotoPoints`. The metadata call was made ealier in th

[2021-03-24 22:10] donnyv commented on #761
I ran the query on my desktop and server. Got the same result.
![image](https://user-images.githubusercontent.com/2224189/112390172-43953100-8ccc-11eb-864f-88bad533d599.png)

[2021-03-24 22:14] donnyv commented on #761
I downloaded version 0.12.1 and tried that but still same error.

[2021-03-24 22:19] donnyv commented on #761
Its the geopackage file, somethings wrong with it. I tried an older version and it works fine.
Sorry for the scare.

[2021-03-24 22:19] #761 closed

[2021-03-24 22:41] ARolek commented on #761
@donnyv all good! I wonder if there's an extra check we could put in place to avoid the panic in the future. If you figure out the source of the issue, please report back as it would be great to harden the data provider.

[2021-03-25 04:10] donnyv commented on #761
The layer name was a different case then what was in the config file. The one that didn't work was all lowercase and one that did had title casing.

The naming of maps and layers should be case in-sensitive.

[2021-03-25 09:56] johngian commented on #756
@gdey Can you ellaborate a bit on the `duration_seconds` metric? Is it the time for the cache get operation?

Some suggestions for the cache metrics:
* Cache get time histogram
* Cache set time histogram
* Errors counter
* Different labels for cache operations on
  * `tegola serve`
  * `tegola cache seed`
  * `tegola cache purge`

[2021-03-25 15:02] gdey commented on #756
@johngian for the `tegola cache` sub command I would assume we would need to setup Prometheus push type configuration?

[2021-03-25 16:44] ARolek commented on #756
@gdey that's a good point as the cache seed / purge commands don't have a server component, there's no `/metric` endpoint available. For seeding / purging maybe it makes more sense to analyze the log output?

[2021-03-25 16:45] ARolek commented on #761
@donnyv excllent! Thank you for the report. I'm going to spin up a new issue as a bug that can be addressed.

[2021-03-25 16:46] ARolek opened #762 "[provider/gpkg] support case insensitive table names"
The geopackage provider will panic if the casing of the table name in the config does not match that of the name of the table in the geopackge. Reference issue: #761

[2021-03-25 16:57] johngian commented on #756
Can't we have a configuration for that and maybe allow exposing the `/metrics` endpoint for the cache subcommand.

[2021-03-25 17:28] ARolek commented on #756
@gdey we could add a `push_url` to the observer config to allow for ephemeral job reporting.

[2021-03-26 12:51] hyprnick opened #763 "Data Provider - Dgrap"
Hi All, I'm thinking about creating a data provider for [dgraph](https://github.com/dgraph-io/dgraph). Does this make sense for this project?  I'm using dgraph for other aspects of the project and that will be the source of all the geojson data.

Thanks!
Nick

[2021-03-26 19:07] gdey commented on #756
wouldn't you set these labels in the Prometheus configs?

[2021-03-26 19:52] johngian commented on #756
As long as its configurable then that's fine. My point is mostly about being able to differentiate the metrics between different use cases.

[2021-03-26 20:26] ARolek commented on #756
@gdey

Do you know how this would work for push? I have not checked into how Prometheus configs work for ephemeral jobs.

[2021-03-26 21:22] ARolek commented on #763
@hyprnick I think that would be a really cool data provider to add! We have a long-running issue to add support for [GeoJSON files](https://github.com/go-spatial/tegola/issues/162) but it was never built out. In order to implement a new provider, take a look at:

https://github.com/go-spatial/tegola/blob/671145575009ce69728c1f1b0551bbb6d40911f2/provider/provider.go#L108-L114

Let me know if you ha

[2021-03-29 19:52] donnyv opened #764 "Unknown Geometry Type 12 error"
So I exported a parcels layer from a file geodatabase to a geopackage. I then added add the geopackage to the config. I get this when I try to pan or zoom.
![image](https://user-images.githubusercontent.com/2224189/112891742-7d887d80-90a6-11eb-8834-7200a2c1f29e.png)

When I look at the geopackage in QGIS. This is the info I get. Where am I going wrong?
![image](https://user-images.githubuserconten

[2021-03-29 20:15] donnyv commented on #764
So I took the geopackage parcels and turned it into lines and then turned lines into polygons and still get the same error message.

[2021-03-29 21:31] ARolek commented on #764
@donnyv that sounds like a decoding error so I suspect it has to do with the WKB data in the geopackage. For reference the Gpkg Geometry Encoding spec can be found [here](http://www.geopackage.org/spec/#sql_geometry_types). Looking at the spec I'm not quite sure where the issue could be but maybe you're encountering a GeometryCollection type. Can you run the following query on your GeoPackage and

[2021-03-29 21:34] donnyv commented on #764
I get this
![image](https://user-images.githubusercontent.com/2224189/112903048-03abc080-90b5-11eb-84bd-2759754a189e.png)

[2021-03-29 21:37] ARolek commented on #764
@donnyv it appears you have 2 data providers though, the parcels and the PhotoPoints. can you provide the query for the other dataset?

[2021-03-29 21:39] donnyv commented on #764
I did but I removed it to narrow down what the error is. This is the current config settings.

[code]

[2021-03-29 21:47] donnyv commented on #764
Data is here: [Parcels](http://gis.civilsolutions.biz/downloads/SussexParcels.7z)

[2021-03-29 22:18] ARolek commented on #764
@donnyv that link is not downloading for me. Is this by chance the same data? https://data-1-sussex.opendata.arcgis.com/datasets/sussex-county-tax-parcel-features/data?geometry=-76.086%2C40.947%2C-73.274%2C41.309

[2021-03-29 22:32] ARolek commented on #764
I was able to pull the data from the link I posted down as a GeoDatabase -> QGIS -> Save layer as GeoPackage, the run tegola against it fine. I left my data in 4326 though, but I don't think that should matter in this instance:

<img width="1582" alt="Screen Shot 2021-03-29 at 4 30 30 PM" src="https://user-images.githubusercontent.com/667850/112908152-daceff80-90a3-11eb-8fcb-e2907a179e97.png">

I'

[2021-03-29 23:05] donnyv commented on #764
Thats not where I got the data. Copy and paste that link in a new tab.

[2021-03-29 23:46] ARolek commented on #764
Ok I think I have tracked down your issue. It appears that the geometry is encoded as a MULTISURFACE type, rather than a MULTIPOLYGON. You can see this in the [Geopackage Geometry Types table definition](http://www.geopackage.org/spec/#geometry_types_core). Tegola uses a geometry package for WKB decoding that only has support for the core types, not the extended types. The geometry package is bein

[2021-03-30 00:40] donnyv commented on #764
Good to know. You should put that in the Read Me on GitHub, so people don't bother you about geometry issues.

How did you find that it was a Multisurface? When I looked in DB SQL Viewer and QGIS, it said it was Multipolygon. If I can detect it maybe I can convert it to a Multipolygon.

Thanks so much for looking into this.

[2021-03-30 02:29] ARolek commented on #764
@donnyv this is actually the first time I have encountered this issue. The WKB specification does not have these extended types. PostGIS also has an extended version of WKB called EWKB which supports additional geometry attributes.

Since the decoder was reporting unknown geometry 12, I cross-referenced that with the Geometry Types table from the GeoPackage spec.

@gdey it looks like we now have 2

[2021-03-30 13:05] donnyv commented on #764
Just a f.y.i.
I used QGIS Multipart to singleparts tool and now it says its a polygon. But now I get this error...weird
![image](https://user-images.githubusercontent.com/2224189/112993277-051dcd00-9137-11eb-9c1b-fbed8a927f5b.png)

[2021-04-05 05:56] peerusman opened #768 "cache is based on map not layer level"
in config.toml i try to create three maps One with all layers and other with one, one layers.

[code]

The mistake I did is a copy and paste, in pipelines map. i access the layer and it cashed. now I corrected my mistake

[code]

![image](https://user-images.githubusercontent.com/20946339/113542074-87edce80-95f4-11eb-88fe-db1ad110304f.png)

So the pipeline display with invalid tiles from other lay

[2021-04-05 11:55] r4naf opened #769 "string format cache seed"
Tell me how to write the command correctly?

`sudo /home/user1/tegola_server/tegola --config=/home/user1/tegola_server/config_my.toml cache seed --map "geo3" bounds "49.93428, 58.50279, 49.42342, 58.69525" max-zoom=13 min-zoom=12`

Nothing works ... no tiles are created. Coordinates changed places in different ways. No result.

[2021-04-05 15:25] ARolek commented on #769
@r4naf try this refactored command

[code]

A few notes:

* you're using the `--config` flag prior to the command `cache seed`
* Your `bounds`, `max-zoom` and `min-zoom` are all missing the double dash (`--`) in front of them so they're being ignored.

LMK if that helps.

[2021-04-05 16:47] ARolek commented on #768
@peerusman did you clean out the cache between those two runs? it looks to me like you're cache is potentially populated with tiles from two different configs.

You could potentially do this by creating several maps with a single layer each and then compositing them on the client. This will require the client to make one request to the server for each "layer".

I'm not sure I understand what you'r

[2021-04-06 03:15] #756 closed

[2021-04-06 04:03] #769 closed

[2021-04-06 04:04] gdey commented on #769
@r4naf I'm assuming the thumbs up means that adding the missing `--` worked for you.
Reopen if that is not the case.

[2021-04-06 04:06] gdey commented on #757
Added by #765

[2021-04-06 04:06] #757 closed

[2021-04-06 04:26] gdey commented on #748
It looks like we need to upgrade the Postgres drivers. I think type 10 is a new encryption scheme (scram-sha-256) that is now the default in 13.

https://www.postgresql.org/docs/10/auth-methods.html
https://stackoverflow.com/questions/64210167/unable-to-connect-to-postgress-db-due-to-the-authentication-type-10-is-not-suppo

[2021-04-06 05:16] gdey commented on #735
I think the issue is here:
https://github.com/go-spatial/tegola/blob/7f0e7e66089ead2823a65c50baa995b5c0d9a487/server/viewer.go#L30-L34

See how we are blindly striping the URIPrefix, which means that when there is a "/" at the end; we end up stripping the starting "/" from the path. We Should probably strip the "/" from `URIPrefix` before using `strings.TrimPrefix`.

On line 29 do something like:

[2021-04-06 11:17] peerusman commented on #768
ok thanks.

[2021-04-06 11:17] #768 closed

[2021-04-06 14:37] ARolek commented on #748
@gdey excellent. That driver is due for an upgrade. The newest version of pgx is a bit of a rework but it should not be too crazy. I know @ear7h has done the upgrade before.

[2021-04-17 18:47] blinkzz opened #772 "Allow using mvt_postgis provider for PostGIS version lower than 3.0"
It seems like the only thing that stops using it for lower versions of PostGIS extension, that ST_AsMVT fifth argument (feature_id_name) was added in 3.0, but there is literally nothing bad in opting it out and use ST_AsMVT without it.
I tried editing postgis.go in my local fork and it was successfull and was working perfectly fine at this AWS RDS instance with this configuration:

- PostgreSQL 10

[2021-04-19 04:30] ARolek commented on #772
@blinkzz you are correct, the feature_id parameter is the key detail forcing PostGIS 3.0. I'm trying to remember why we ended up making this decision. I recall a technical limitation, but I would need to do some digging. @gdey can you recall why we require feature_id for the MVT Provider?

[2021-04-20 15:22] gdey commented on #772
I don't recall.  I tried to look to see what may have been the reason. I think it had to be with part of the rendering engine requiring the FeatureID, and if you don't specify it in AS_MVT, it will not add that and an empty field. I could be mistaken on this.

[2021-04-20 15:25] #754 closed

[2021-04-20 17:20] blinkzz commented on #772
Well, looks like Mapbox GL JS is doing fine job handling it right now, also promoteId can be used in source specification too to force using field other than gid

[2021-05-02 13:37] flacombe opened #774 "Support conninfo string to connect to postgis provider"
Dear maintainers,

Currently, postgis provider can only be reached with several arguments like host, port, dbname, etc... while libpq actually offers a more concise way to connect to a postgresql database.
Unless I skip some existing issue, this hasn't been asked for yet.

See 33.1.1 here: https://www.postgresql.org/docs/13/libpq-connect.html

Example:
[code]
instead of
[code]

It would be great t

[2021-05-02 22:59] flacombe opened #775 "Seeding SQL error while all layers gives normal result in operation"
Dear maintainers,

I'm running Tegola 0.13.0 and it gives me a SQL syntax error when calling `tegola cache seed --bounds="$BOUNDS" --min-zoom 2 --max-zoom 6 --overwrite --config /opt/tegola_config/config.toml`
[code]

When running Tegola normally, I've got no error and all layers give normal results

Despite this message is unexpected, it's hard to find a valid solution as it doesn't give the laye

[2021-05-03 14:38] ARolek commented on #775
@flacombe Have you found the [debugging section](https://tegola.io/documentation/debugging/) in the docs yet? You can set some environment variables which will show you the SQL that's being sent to PostGIS. I think the `EXECUTE_SQL` value would be helpful for you. When you have a specific tile you want to debug like this, you can form up a curl request to tegola for that specific z/x/y, then watch

[2021-05-03 14:45] ARolek commented on #774
I'm all for this support, we just need someone to run with plumbing this trough. We have a couple of related issues: #370 and #125. Would you be interested in working on this feature?

It might make sense to tackle this one along with upgrading the pgx driver so we can squash #748 at the same time.

[2021-05-20 09:40] geohacker opened #779 "Running into unable to convert geometry field (geometry) into bytes"
@ARolek  👋  I'm writing from the [OpenHistoricalMap project](https://openhistoricalmap.org/). We have been using Tegola as part of the [OSM Seed stack](https://github.com/developmentseed/osm-seed/). This is used for running OpenHistoricalMap. In the last few months, there has been some active mapping in the project and ST_AsBinary approach is turning out to be quite slow. So we are in the process

[2021-05-20 22:34] ARolek commented on #779
@geohacker 👋 I was completely unaware of the OSM Seed Stack! It's great to see you all are using tegola. Please let me know if there's anything we can do to help support the effort!

Let's see if we can get this query fixed for you. Here's the critical piece:

[code]

With the `mvt_postgis` provider tegola is going to combine all the layers into a compound query and then return an encoded MVT. It

[2021-05-21 02:38] geohacker commented on #779
@ARolek thank you for the quick response! There are some things I'd love to chat about integrating as part ohm but I'll reach out separately.

I did suspect that query and was using the straightforward query without the subquery initially. That also unfortunately gives me the same error.

The reason why I tried to wrap the st_asmvtgeom is because Tegola had trouble determining the geometry type wh

[2021-05-21 03:07] ARolek commented on #779
Set the geometry type so tegola doesn't try to infer it (the infer part is not that great):

[code]

Note I also adjusted the `geometry_fieldname` in this example.

Reach out anytime. You can also catch us on Slack.

[2021-05-21 04:49] geohacker commented on #779
@ARolek thank you! I'm going to try this and get back!

[2021-05-21 05:22] geohacker commented on #779
Still same:

[code]

This is how the config looks like now, based on your suggestion:

[code]

I also added back the water_areas layer and that layer also gives me the same error. I'm pretty sure we are doing something wrong but can't seem to pin point. When I run the queries directly on the database, I do get reasonable looking results :(

[code]

[2021-05-21 05:58] geohacker commented on #779
Quick update, I noticed I was using the wrong provider `postgis` instead of `mvt_postgis` — but still running into the error mentioned above without `geometry_type`. But now with `geometry_type` I'm making some progress:

[code]

Though no errors from the land_polygons layer, the tiles are all empty.
Will keep digging.

[2021-05-21 06:15] geohacker commented on #779
![image](https://user-images.githubusercontent.com/371666/119090802-b2231080-ba29-11eb-9c29-5540cfa3ca7d.png)

!!! ALRIGHT !!

@ARolek this is now looking great. It came down to:
1. Setting explicit `geometry_type` — how should this be when we have multiple geometry types?
2. My mishap that caused the type to be incorrect.
3. `id` needs to be in the select clause

I'm going to try add all the laye

[2021-05-21 11:26] geohacker commented on #779
I've deployed this to staging now and it works great https://staging.openhistoricalmap.org/. I'll close this ticket. Once again huge thank you to @ARolek and all the contributors of Tegola!

[2021-05-21 11:26] #779 closed

[2021-05-21 16:00] ARolek commented on #779
@geohacker excellent! I'm glad you got it working!

Geometry collections are not supported by MVT encoding. You must use a specific geoemtry type per layer.

The maps look great!

[2021-05-21 21:16] pnorman commented on #779
Geometry type is per feature, not per layer.

[2021-05-24 21:26] flacombe commented on #775
Hi @ARolek and thank you for your answer.

I wasn't aware of `TEGOLA_SQL_DEBUG=EXECUTE_SQL` and it's great.

The SQL query responsible of error during seeding is `SELECT () AS data`.

As error message was: `Error: error seeding tile ({Z:2 X:0 Y:1}): ERROR: syntax error at or near ")" (SQLSTATE 42601)`, I tried to curl `pdm_project_poteaux/2/0/1.mvt` and get following log:
`2021-05-24 21:19:50 [INF

[2021-05-24 21:36] flacombe commented on #774
Thank you for this acknowledgment

Even if I wish to get involved in opensource projects I use, there are two main challenges I have to tackle prior to bring this to Tegola:
* No practice experience of postgresql's libpq API.
* Don't have any experience in Go so far (that's a nice occasion to begin however).

That's barely possible for me to take this time now, dealing with my workload.
Wait and s

[2021-05-25 21:56] ARolek commented on #779
@pnorman is correct.

[2021-05-26 03:01] pnorman commented on #779
My point was that you can have multiple geometry types in a given layer for a MVT

[2021-05-26 03:13] ARolek commented on #779
Yep. That's why I said you're correct. Tegola's internal viewer auto generates a style from the geometry_type field, so the viewer doesn't support more than one geometry_type per layer. The encoder does not use the geometry_type field so a custom style can work with a layer of heterogenous geometry types.

[2021-06-04 15:48] ARolek commented on #775
@flacombe thanks for the follow-up. It seems like the seed command is not detecting which zooms are present in the map prior to trying to seed. I will need to dig into this some more to figure out why. It seems the server is handling this correctly though. I will mark this as a bug.

[2021-06-04 15:50] ARolek commented on #774
No worries! I figured I would throw out the offer in case you were interested in sending in some code. I'm always happy to help.

[2021-06-08 16:35] #735 closed

[2021-06-11 08:40] geraldo opened #784 "Tegola viewer not showing tiles for WebMercator"
I'm using a _mvt_postgis_ provider with default srid 3857. Everything works fine I my custom OpenLayers viewer shows the vector tiles as expected.

But the internal Tegola viewer doesn't. Is there any way to change the viewer srid or does it only work with 4326 projections? Or could it be a problem with the style automatically generated by the built in viewer?

[2021-06-11 13:11] ARolek commented on #784
Can you provide a few more details? your tegola config and the tegola version would be helpful.

[2021-06-11 14:51] geraldo commented on #784
I'm using Tegola v0.13.0. The config file looks something like that:

[code]

[2021-06-14 18:51] ARolek commented on #784
@geraldo thanks for the response, and sorry for the slow responses on my end. I have been on paternity leave, hanging with my new son!

the ST_AsMVTGeom function is expecting the geom data to be in 3857. If the data is not in 3857 then it will need to be reprojected. As far as the internal viewer not showing this data, but OpenLayers is, that's kind of odd. Are you sure the map is in the correct p

[2021-06-14 20:48] geraldo commented on #784
@ARolek Congratulations on your son!

I couldn't make ST_AsMVTGeom() work using a reprojection, but I'll hace another look on that shortly. The geometry is saved as _EPSG:25831_ in Postgis.

Right now it works fine using this layer definition in Openlayers:
[code]

[2021-06-14 21:35] ARolek commented on #784
@geraldo Thank you!

Ok, so this makes sense. ST_AsMVTGeom does expect the geometries to be in 3857. I documented how you can perform this transformation at query time [here](https://github.com/go-spatial/tegola/tree/v0.14.x/mvtprovider/postgis#example-mvt_postgis-and-map-config-for-srid-4326). When you apply this change, your Open Layers config will not need the projection config.

Let me know if

[2021-06-16 13:58] geraldo commented on #784
I changed these parameters in Tegola config file:

`srid = 25831
sql = "SELECT ST_AsMVTGeom(ST_Transform(geom, 3857),ST_Transform(!BBOX!,3857)) AS geom, name, id FROM mobility.bus WHERE geom && !BBOX!"`

I get this error:

`[ERROR] handle_map_layer_zxy.go:165: error marshalling tile: Error trying to convert tile point: don't know how to convert from 25831 to 3857`

A had a look on the projection i

[2021-06-18 15:43] ARolek commented on #784
@geraldo I'm not familiar with that projection. If you know the proj details, it looks like you can add a [custom projection to PostGIS](https://gis.stackexchange.com/questions/239807/creating-custom-coordinate-system-in-postgis). Note, you're going to need to reproject the !BBOX! tokens as well.

[2021-06-25 11:34] geraldo opened #787 "Add additional features attributes into mvt_postgis layers"
I'm using a _mvt_postgis_ provider and everything works fine using a query like:

`SELECT ST_AsMVTGeom(geom,!BBOX!) AS geom, name, id FROM mobility.bus WHERE geom && !BBOX!`

Now I need to add some additional features attributes into the vector tiles. As I understand the documentation, only one feature attribute can added, as by my example that is _name_. I tried to add additional feature attribut

[2021-06-28 04:10] ARolek commented on #787
@geraldo I haven't tried this approach myself, but I suspect the issue is that you're using `json` text rather than `jsonb`. It also looks like the JSON is being referenced as the geom. Try this modified query:

[code]

Let me know if that works or if you settle on a solution as I know others will encounter this.

[2021-06-28 15:27] geraldo commented on #787
@ARolek Thanks for your answer. So after using this query (without double quotes!):
`
SELECT ST_AsMVTGeom(geom,!BBOX!) AS geom, jsonb_build_object('{name:name, description:description}') , properties, id FROM mobility.bus WHERE geom && !BBOX!`

I get the following error in Tegola logs:

[ERROR] handle_map_layer_zxy.go:165: error marshalling tile: ERROR: argument list must have even number of eleme

[2021-06-30 00:13] ARolek commented on #787
@geraldo I had the syntax wrong. Try this:

[code]

[2021-06-30 08:12] geraldo commented on #787
@ARolek Thanks a lot for your help, the modified syntax worked out perfectly.

Now I'm able to add feature identification on vector tiles with OpenLayers, great!

[2021-06-30 08:12] #787 closed

[2021-06-30 13:27] ARolek commented on #787
Excellent!

[2021-07-05 11:27] F-15023 opened #788 "With mvt_postgis data provider tegola returns mvt file with size 0 byte if the tile have no data"
Hello, I have encountered with a problem.
If the tile have no data inside of its BBOX tegola with postgis data provider will returns mvt file wich will contains names of layers at least. But with new mvt_postgis data provider tegola will returns empty file with 0 byte size. And the problem is, the caching server can't use this file (because of its size, I think) and returns 404. Is it possible to

[2021-07-05 12:41] pnorman commented on #788
A zero byte file where there's no data is correct.

[2021-07-06 08:03] F-15023 commented on #788
The problem is that nginx returns 404 if file 0 bytes and this files can't be cached also. Can you add parameter that make tegola
 returns the same file as with postgis data provider for this type of mvt?

[2021-07-07 19:50] ARolek commented on #788
@F-15023

Can you expand on this? Are you saying that PostGIS is returning a non 0-byte tile, but tegola is returning a 0-byte tile?

[2021-07-07 19:51] ARolek commented on #784
@geraldo I'm going to close this issue for now. Please feel free to reopen it if you have more details. It would be great to know if the custom projection suggestion I provided helps.

[2021-07-07 19:51] #784 closed

[2021-07-08 07:46] F-15023 commented on #788
For example, we have tile which have no data. With postgis data provider (I mean type = postgis in tegola config in [[providers]] section) tegola returns mvt file which will contains all layers names from tegola config even if layers have no objects. You can see something like this inside of mvt file for empty tile:
layers {
  name: "rivers"
  extent: 4096
  version: 2
}
layers {
  name: "building

[2021-07-08 21:12] ARolek commented on #788
@F-15023 Ah yes, I'm thinking that's potentially a bug in tegola as it should probably be returning 0 byte tiles if no data exists. I need to look into this a bit.

Can you share any of your nginx config? I'm surprised that it's returning a 404 even though tegola is not. I could maybe understand a 204 No Content, but I'm surprised that changing the status code to 404 on a 0-byte body would be the

[2021-07-13 18:35] matrottier opened #789 "Aws lambda Execution failed - /lib64/libc.so.6: version `GLIBC_2.28' not found"
Trying to run Tegola with AWS lambda.
i got this error when testing :
`
START RequestId: 1340f6e4-ceee-401b-950b-cac0880a4f95 Version: $LATEST
/var/task/tegola_lambda: /lib64/libc.so.6: version 'GLIBC_2.28' not found (required by /var/task/tegola_lambda)
END RequestId: 1340f6e4-ceee-401b-950b-cac0880a4f95
REPORT RequestId: 1340f6e4-ceee-401b-950b-cac0880a4f95	Duration: 35.30 ms	Billed Duration: 36

[2021-07-13 19:24] ARolek commented on #789
@matrottier hmmm. We're currently using tegola_lambda to run the demo.tegola.io. I'm going to ask the obvious question first, can you confirm you're using the Go runtime in Lambda?

[2021-07-13 19:47] matrottier commented on #789
i think so... there it is my console :
![aws_lambda_tegola](https://user-images.githubusercontent.com/5638601/125515427-ec8d919d-8dff-4a0a-8f18-2d6fb1a2aabf.png)

[2021-07-13 22:30] ARolek commented on #789
@matrottier that looks correct to me. When you built locally, did you use GOOS=linux? Does this same error happen when you use the [release builds](https://github.com/go-spatial/tegola/releases)?

[2021-07-14 11:53] matrottier commented on #789
it happen with release builds AND locally builds. =/

[2021-07-14 13:41] matrottier commented on #789
in an act of utter desperation,
i tested a "layer" with the file "libc.so.6" in the folder "lib/lib64".
2 environments variables:
LD_DEBUG | all
LD_LIBRARY_PATH | /opt/lib/lib64/

there is the log :
[code]

[2021-07-15 17:33] ARolek commented on #789
@matrottier I"m going to reopen this issue until I have a chance to investigate why the build pipeline is not producing a binary that just works. Here's the build command:

https://github.com/go-spatial/tegola/blob/126d51113f8ecf362a9235449161a0f62367895c/.github/workflows/on_release_publish.yml#L52-L58

It looks like you disabled CGO, but that's not desirable as Geopkg will not work without it. I

[2021-07-16 20:21] ARolek commented on #789
@matrottier I was able to recreate your problem, and I'm not quite sure when this started. AWS Lambda runs on AmazonLinux and we're currently compiling on the GH Action runner `ubuntu-latest`. There's clearly a mismatch of GLIB location / version / expectations. I'm working on updating the CI so we don't encounter this anymore.

Thanks again for reporting this.

[2021-07-19 04:31] ARolek commented on #789
@matrottier can you try the binary output from this Github Action run: https://github.com/go-spatial/tegola/actions/runs/1043951686

I refactored the way we're building tegola_lambda and I'm now using Amazon Linux for that build. I'm hoping you can give it a test and confirm it's working on your end. It's working for me with my tests.

[2021-07-19 19:36] matrottier commented on #789
it works !! (no problem with GLIBC)
but i got this error from API gateway, any idea ?
"Internal Server Error The IAM role configured on the integration or API Gateway doesn't have permissions to call the integration. Check the permissions and try again"

[2021-07-19 20:18] ARolek commented on #789
@matrottier excellent! Thanks for checking that out. Regarding the IAM issue, that sounds like it has to do with your resource access control rules setup in your AWS account, not specific to tegola. I have personally found that using the Application Load Balancer easier to set up the API Gateway. Considering giving that a shot and then moving to API Gateway.

[2021-07-19 22:40] ARolek commented on #789
@matrottier I just sent in a PR to fix this if you want to give it a look: https://github.com/go-spatial/tegola/pull/790

[2021-07-21 11:54] johngian opened #791 "Prometheus observer port configuration"
Currently the prometheus observer is using the same `host:port` to expose `/metrics`. Overall it works fine but it would be great if we can choose which port it uses to expose the metrics endpoint.

Reasons:
* Overall good practice
* Exposing metrics on the user level could leak information about your infrastructure usage

[2021-07-21 15:52] #789 closed

[2021-08-02 16:18] #758 closed

[2021-08-02 16:18] #714 closed

[2021-08-11 17:15] probabilty opened #796 "crash seeding tile"
- query:
[code]

- error:

error Getting VTileLayer:
unsupported type for value(map[landuse:residential name:المجاورة 3 name:ar:المجاورة 3 name:en:Neighborhood 3 place:neighbourhood])
with key(tags) in tags for feature
{Feature: 840134948,
 GEO: MULTIPOLYGON (((1963 3214,1964 3214,1964 3213,1966 3212,1967 3212,1967 3213,1968 3213,1970 3215,1970 3216,1968 3218,1967 3217.300,1966 3216.700,1965 3216,

[2021-08-12 23:14] ARolek commented on #796
@probabilty is `tags` and hstore type? If so, do you need all the tags, or can you pick a few specific ones? It looks like the issue is that the vector tile encoder doesn't like dealing with a map.

[2021-08-13 06:39] probabilty commented on #796
Thank you

[2021-08-13 08:54] underspica opened #798 "Link in attribution"
Is there a way to display link in attribution field like [Mapbox](https://docs.mapbox.com/mapbox-gl-js/example/simple-map/) or [MapTiler](https://openmaptiles.github.io/osm-bright-gl-style/)?
I think this line escape all html tag: https://github.com/go-spatial/tegola/blob/v0.14.x/cmd/internal/register/maps.go#L14

[2021-08-13 14:25] ARolek commented on #796
Did that solve your issue?

[2021-08-13 21:16] ARolek commented on #798
@underspica I think you're right. We should probably have some form of sanitization but I think escaping HTML is the wrong thing to do there. Would you be interested in sending in a PR? We're really close to cutting the v0.14.0 release so you could probably sneak it in.

[2021-08-13 21:42] ear7h opened #799 "Update TOML package"
The TOML package has [recently released v0.4.0](https://github.com/BurntSushi/toml/releases/tag/v0.4.0) which supports TOML v1.0.

I bring this up bc I'm trying to set up a [Dhall](https://dhall-lang.org/) schema for Tegola and the upstream TOML library produces the following line:
[code]
 Which `v0.3.1` does not support.

[2021-08-13 23:52] ear7h opened #803 "Leaking file descriptors from config.Load"
I think the following function is leaking file descriptors by not calling `Close` on the http request or opened file:

https://github.com/go-spatial/tegola/blob/ac82d5ffccd23991381678cbf5e531fec6806896/config/config.go#L285-L320

[2021-08-14 13:39] probabilty commented on #796
yes thank you

On Fri, Aug 13, 2021 at 4:25 PM Alexander Rolek ***@***.***>
wrote:

[2021-08-14 14:32] #796 closed

[2021-08-16 17:17] #799 closed

[2021-08-18 13:22] jrutila commented on #730
@jay-manday any news on getting tegola to work with SRID 0?

[2021-08-19 10:04] ear7h opened #805 "Improve error message for gpkg register"
I just ran into the panic from #761 because I misspelled something in my config.

My suggestion would be to add a check to this block
https://github.com/go-spatial/tegola/blob/a64417e76597128814ac1cf8154b7e612460700c/provider/gpkg/gpkg_register.go#L312-L323

along the lines of:
[code]

[2021-08-20 04:39] underspica commented on #798
Here is the PR #806
and some test cases https://play.golang.org/p/QL8w1w6xd54

[2021-08-20 16:26] ARolek commented on #805
@ear7h seems like a good one. If you send in a PR I will review it.

[2021-09-03 21:23] ARolek commented on #730
@jrutila did you give the suggestion I posted a try?

[2021-09-04 03:21] jrutila commented on #730
Actually, I think Tegola is working out of the box as long as I have the data in PostGIS with SRID 0. I just don't set srid in tegola config and it runs the coordinates through as is thus serving the vectors correctly.

[2021-09-06 21:14] lhapaipai opened #807 "bug with id_fieldname : primary key which is not an integer"
I have a postgis database where the primary key values of my tables are not integers but identifiers of the type "MYFEATURE0001" "MYFEATURE0002" ...

if I declare my layer with this field I get an error with tegola :
[code]
[code]

of course, it is possible to find an alternative (create a field that takes the role of primary key ...) but in some cases it can be annoying.

In any case, thanks for

[2021-09-07 23:24] ARolek commented on #807
@lhapaipai This has been discussed a few times, and the underlying issue is that the MVT spec requires uint64. Here are some references:

* #101
* #578
* https://github.com/mapbox/vector-tile-spec/issues/94

The first reference has some suggestions around building uint-based ids from a string. The last reference is on the MVT spec itself with some additional discussion.

[2021-09-07 23:24] #807 closed

[2021-09-07 23:25] ARolek commented on #730
@jrutila great! I'm going to close this issue for now.

[2021-09-07 23:25] #730 closed

[2021-09-09 07:34] lhapaipai commented on #807
Thank you and sorry for the duplicate ...

[2021-09-09 18:13] ARolek commented on #807
@lhapaipai no worries! I'm just trying to keep the issues somewhat under control. ;-)

[2021-09-12 18:57] russss commented on #750
An update to this: it turns out that this does also happen with the `mvt_postgis` provider.

I thought this was fixed because my columns were of the `NUMERIC` type in Postgres, and the `mvt_postgis` provider outputs `NUMERIC` values as strings in the resulting MVT. (Either the native Tegola MVT support outputs `NUMERIC` as MVT floats, or I changed the data type around the same time.)

So it seems

[2021-09-13 02:30] #805 closed

[2021-09-14 20:23] ARolek commented on #750
@russss are the results the same with `mvt_postgis` then? It's strange (and annoying) to have the precision getting messed up like this.

[2021-09-16 16:49] probabilty commented on #586
What did you reduce, I tried reduce the max database connections and the number of cores.
And I'm still stuck with this error.

[2021-09-16 16:52] probabilty commented on #586
This error occurs whenever I try to cache seed, if there was many files already cached and overwrite is disabled

[2021-09-21 13:50] adamakhtar opened #809 "Water way dissapearing only at a specific zoom"
Hi there, thanks for creating Tegola its been great to use. I've recently discovered a stretch of river that disappears only at zoom 11.

Here it renders fine at zoom 10
<img width="683" alt="image" src="https://user-images.githubusercontent.com/238342/134178646-6c3b3a3d-2153-4d53-920e-baf62d6b8ac6.png">

But at zoom 11 a section of the river loses it's filling. There is still an outline of its sh

[2021-09-22 16:20] ARolek commented on #809
@adamakhtar what version of PostGIS are you using? Looks like you're using the `postgis` data provider which uses tegola's native geometry processing. Have you tried `mvt_postgis` yet?

[2021-09-23 00:10] adamakhtar commented on #809
Thanks @ARolek. My postgis version is 3.1.2 and is installed via brew. Does that explain anything?

I haven't heard of `mvt_postgis` so I just googled it. I was expecting it to be a library or alternative to postgis but that does not seem to be the case. It seems MVT is new functionality added to postgis. Is that correct? I can't find anything named specifically mvt_postgis though.

Are you referr

[2021-09-23 00:17] adamakhtar commented on #809
@ARolek re: mvt_postgis I've found it via the docs here https://github.com/go-spatial/tegola/tree/v0.14.x/mvtprovider/postgis . I will give this a try tonight or tomorrow.

[2021-09-24 10:13] conorrfarrell commented on #496
For future reference if anyone is looking for an explanation on the process of binary media types, I solved this with serverless using mapbox:

I personally have failed to find good internal serverless packages that support binary. This is now all handled directly within serverless/APIG.

(1) Your serverless package

The biggest pitfall is that default Accept headers are set to `*/*`, which is why

[2021-09-24 21:17] ARolek commented on #809
@adamakhtar yep, looks like you found the `mvt_postgis` provider. LMK if you have any issues getting it running.

[2021-09-24 21:19] ARolek commented on #586
@probabilty what version of tegola are you using? Also, does this only happen at the end of the cache seeding process for you, or are you seeing it interrupt the cache seeing job?

[2021-09-24 21:21] ARolek commented on #496
@conorrfarrell thanks for the write-up! Also note that you can deploy tegola_lambda behind an Application Load Balancer (ALB) now instead of using API Gateway. I have found the deployment is easier, but you do lose some of the API Gateway features for sure.

[2021-09-25 03:00] adamakhtar commented on #809
@ARolek I got it running and the problem is now gone. I've also seen a big performance boost as well! Thank you very much for your help on this.

[2021-09-25 03:30] ARolek commented on #809
@adamakhtar glad that worked for you! I'm going to close this issue now. Enjoy the weekend!

[2021-09-25 03:30] #809 closed

[2021-09-25 08:58] probabilty commented on #586
Tegola version not set. But this issue happens for over a year, usually I keep tegolga updated with this repo.
No, not at the end during the start, I'm not sure if it happens during processing, but it definitely happens while skipping already cached files.

[2021-10-08 15:43] ARolek commented on #586
@probabilty I looked at the file cache code, and well I think we might be missing a `Close()` call on the file:

https://github.com/go-spatial/tegola/blob/5013d27562f32a924d63eb353457622989b24a2a/cache/file/file.go#L74-L92

cc @gdey what do you think?

[2021-10-12 23:40] jay-manday commented on #730
@jrutila @ARolek hey! sorry for the delayed response. Kind of got swept away with things.

We actually went a different route. We couldn't always guarantee a perfectly vectorized blueprint page so we opted for a tile pyramid scheme in S3 which we rendered w/ Deck.GL. I thiiiink it's possible to change the SRIDs w/ Tegola but I didn't get that far w/ it before hitting a wall w/ shakey vectorization

[2021-10-18 02:24] ARolek commented on #730
@jay-manday thanks for the follow-up, and I'm glad you found a solution.

[2021-11-08 03:52] ARolek commented on #740
Closing this issue as I believe the question has been answered. Re-open if you need additional clarifcaiton.

[2021-11-08 03:52] #740 closed

[2021-11-08 03:53] ARolek commented on #746
@johngian I'm going to close this now, but feel free to re-open if you need additional help on this issue.

[2021-11-08 03:53] #746 closed

[2021-11-08 09:47] iwpnd opened #812 "Support tiers"
Hi,

can you please add additional support tiers on the lower bracket of the github sponsoring?

[2021-11-08 16:30] ARolek commented on #812
@iwpnd 👋 I can absolutely add some more support tiers. Is there an amount or something specific you're looking for? I have seen the free form tiers as well so the sponsor can choose what they want.  I will try to get that setup.

Thanks for the interest in helping support our org!

[2021-11-08 16:33] iwpnd commented on #812
5/10/25/50 the more tiers the lower the hurdle in my experience. :)

[2021-11-08 16:33] #812 closed

[2021-11-10 00:18] ARolek commented on #812
@iwpnd I just added the custom amount option so [any amount is supported](https://github.com/sponsors/go-spatial):

![image](https://user-images.githubusercontent.com/667850/141026285-0efcb1d7-48d1-4597-a858-075610834b6e.png)

Thanks for the suggestion and interest in supporting Go Spatial!

[2021-11-15 11:01] lufishggg opened #813 "[bug report] internal/build/nocgo.go has typo"
Should not use build.Tags = append(build.Tags, "noCGO"), should be Tags = append(Tags, "noCGO"), because it is in the package build

[2021-11-23 17:17] iwpnd opened #815 "[Feature Request]: Redis SSL connection via redis.ParseURL"
Hi 👋

Tegola does not yet support redis SSL connections and I'd like to change that, or request this feature.
e.g.: `redis://:password@host`

For this to work I'd like to add another option to `[cache]` called `uri` or `url`. If this option is set, I'd change [this](https://github.com/go-spatial/tegola/blob/8e12766c44a5749c8bed4fbb74069ec79c73ee46/cache/redis/redis.go#L60-L67) to use [`ParseURL`](

[2021-11-23 17:52] ARolek commented on #815
@iwpnd I just looked at the [redis config](https://github.com/go-spatial/tegola/tree/v0.15.x/cache/redis#properties) and it does appear to support a `password` attribute. Is this request more around using ParseURL instead of breaking up the attributes into separate key-value pairs or is SSL not currently supported?

[2021-11-23 18:16] iwpnd commented on #815
Hey, SSL is currently not supported. There are several ways to enable it. ParseURL is just one of them. Another would be as add a TLSConfig to redis.Options upon receiving something like `ssl=true` in the cache option. Either is fine and solves the problem.

[2021-11-24 00:26] ARolek commented on #815
@iwpnd I would say we start with enhancing the current implementation by supporting an `ssl` config option as a boolean. I do like the idea of adding a `url` or `uri` property (I want to do this for the PostGIS provider too). Is this something you want to tackle and send in a PR for? I'm happy to help with it.

[2021-11-24 06:05] iwpnd commented on #815
Happy to do it. :)

[2021-11-24 14:30] blinkzz commented on #772
Seems like this issue was resolved in #744

[2021-11-24 14:30] #772 closed

[2021-11-29 14:25] iwpnd opened #817 "[Feature Request]: add TTL per layer"
Hey, 👋

Right now, if I understand correctly, you can set a global TTL to be applied to the cache no matter the map and no matter the layer. Every `SET` on the cache uses said TTL if set.
Some data points update more often than others. Some not at all. Now, since it's cheap to scale Redis, it is not as cheap to scale PostGIS replicas. So when I can avoid reads on the database as often as possible

[2021-11-29 16:12] ARolek commented on #817
@iwpnd

Possibly, but not with the current tile cache design. The current design will cache `Tiles` which are a collection of layers. If you want TTL on a per-layer basis, we would probably want to cache individual `Layers` and then conflate them at request time. It is possible but would be quite the rework.

An alternative approach to solving the problem with the current design is to have 2 separ

[2021-11-29 17:58] iwpnd commented on #817
Ah, then I misunderstood the design here. Hm, you're right that would make it all the harder to support both a global and a layer config unfortunately. Splitting the one tegola deployment in two is worth a test and might already suffice. Thank you @ARolek 🙏

[2021-11-29 17:58] #817 closed

[2021-11-29 18:10] ARolek commented on #817
Just to clarify on this point, you can configure multiple maps in a single tegola config, so you don't need to run 2 instances of tegola.

[2021-11-30 07:29] iwpnd commented on #817
Yes, I think I understood this correctly. Yet in order to have a separate TTL on a more static layer, I'd have to have two deployments, essentially adding a second source to the client that is cached for a longer period of time.

[2021-11-30 20:37] ARolek commented on #815
closed via https://github.com/go-spatial/tegola/commit/bdce754abe57b76517cbed8a33e6499af0365f46. Thanks for the contribution!

[2021-11-30 20:37] #815 closed

[2021-12-13 19:28] #798 closed

[2021-12-17 17:43] anhln8x commented on #748
I also got the same error, is there any way to fix it?

`D:\tegola>tegola.exe serve --config=config.toml
2021-12-18 00:36:55 [INFO] root.go:63: Loading config file: config.toml
2021-12-18 00:36:55 [INFO] config.go:309: loading local config (config.toml)
Error: could not register providers: Failed while creating connection pool: unknown authentication type: 10
Usage:
  tegola serve [flags]

Aliases

[2021-12-17 17:54] ARolek commented on #748
@anhln8x yes, we need to upgrade to `pgx` v4. Would you be interested in helping with this effort? We absolutely want to get this upgrade done, but it requires updating the `postgis` data provider and a good deal of testing.

[2021-12-28 23:53] ARolek commented on #748
A [pull request has been submitted to address this issue](https://github.com/go-spatial/tegola/pull/820). It would be great to have some help running some QA tests. Please feel free to pull down and build the code.

[2022-01-10 13:10] flowrean commented on #775
This looks like a duplicate of #751.

[2022-01-13 12:12] gregorwebdev commented on #748
this answer worked for my to fix the problem, but it's a security downgrade: https://stackoverflow.com/questions/64210167/unable-to-connect-to-postgres-db-due-to-the-authentication-type-10-is-not-suppor

[2022-01-13 18:09] ARolek commented on #748
@gregorwebdev the current PR I mentioned above is addressing this issue. We're close to polishing out the details. You can try the code if you're interested and you won't need to downgrade security.

[2022-01-26 22:06] #748 closed

[2022-01-29 07:20] flowrean opened #825 "Viewer not built in `v0.15.x` branch"
Hi

When I build from source based on the `v0.15.x` branch, the embedded viewer does not seem to work. I see a blank page with a single link `.keep` instead of the fully functional UI I am used to seeing (using the latest Docker image `v0.14.0`).

Looking at the branches, this is probably due to the four commits that are in the `master` branch and the `v0.14.0` release, but not in the `v0.15.x` br

[2022-01-29 08:36] iwpnd commented on #825
You can include the ui this [way](https://github.com/go-spatial/tegola/tree/v0.15.x/ui#building-for-inclusion-in-tegola). @flowrean