[2018-02-22 05:15] ARolek commented on #312
Not quite sure what the max values are. I’m not too concerned about that check for now. Main thing is no negative values.

[2018-02-22 07:02] angusscown opened #317 "version flag doesn't show version"
tegola version

➜  tegola git:(v0.6.0) ./tegola version
version not set

I'm new to go so *think* I built the v0.6.0 branch as I need the non debug tiles resolved.  Trying to work out how I know the binary is the right version.  It is 'different' when I switch branches (diff).

[2018-02-22 09:25] ARolek commented on #317
@angusscown the version flag is populated at build time by injecting a value into the main.Version var. For local testing you could do something like:

`go build -ldflags "-w -X github.com/terranodo/tegola/cmd/tegola/cmd.Version=$(git rev-parse --short HEAD)"`

That will use the shot version of the current git hash as the version tag.

[2018-02-22 21:18] #317 closed

[2018-02-22 23:22] pnorman opened #318 "Explain about chmod and rename on install"
Step 1 https://github.com/terranodo/tegola#running-tegola-as-a-vector-tile-server will end with the user having a non-executable file with a name like `tegola_linux_amd64`, but the next step expects an executable named `tegola`.

[2018-02-22 23:28] pnorman opened #319 "Usage help gets command name wrong"
[code]

The reference to `tegola` in usage and on the last line should be to the name of the program. As an example of this convention, see `sed`

[code]

[2018-02-23 00:23] gdey commented on #319
Good catch will need to see why that is. I thought cobra should take care of this for us.

[2018-02-23 01:04] pnorman opened #320 "error fetching geometry type for layer"
With this config I get an error

[code]

[code]

[2018-02-23 01:15] pnorman commented on #320
My error - wrong function, and my eyes saw what I was expecting, not what I had typed.

[2018-02-23 01:18] pnorman commented on #320
So the SQL I wrote has two calls of ST_AsBinary(way)

tegola issued this SQL to the server:

[code]

Is Tegola trying to parse the SQL as text and modify it to issue a query?

[2018-02-23 01:25] gdey commented on #320
Yes, it is trying to use regular expressions to do the `!token!` substitution, and for some of the feature discovery, it tries to modify the SQL. It's rudimentary right now, and I have plans to implement a more robust SQL parser to enable us to be more intelligent about these transforms.

[2018-02-23 01:25] gdey commented on #320
@ARolek is better with the SQL type stuff. He will have a better understanding.

[2018-02-23 01:27] gdey commented on #313
@pnorman Do you think #160 idea makes sense, should we add that to the list of project for OSM?

[2018-02-23 01:36] #318 closed

[2018-02-23 01:55] #255 closed

[2018-02-23 01:56] ARolek commented on #302
@vchrisb have you had a chance to try this on your end? we're going to be cutting the v0.6.0 branch soon so hopefully this is cleaned up for you.

[2018-02-23 02:02] pnorman commented on #320
My advice would be don't, because your SQL parser will not be robust. Wrapping a select statement to turn it into a subselect is safe, and that's only if you make sure to add a newline to end any comments. Almost nothing else is. `!BBOX!` is only safe because it has special semantics by agreement and is unlikely to appear in the query otherwise.

This particular bug isn't related to token substitu

[2018-02-23 02:14] pnorman commented on #320
Okay, I found the problem, and it's a regression since v0.3.2 when I last wrote some layers.

https://github.com/terranodo/tegola/blob/7fb74f7a88fd2cfda141297fb4e65e58d71a0f09/provider/postgis/postgis.go#L266-L278

This is broken in a number of ways, which I'll try to explain.

1. The query is called on the whole world. Many queries aren't designed to be run like that if they're for higher zooms.

[2018-02-23 02:18] erictheise opened #322 "un-inferable geometry types prevent layer list from loading on tegola index page."
I haven't been paying much attention to the layer list for the `seamark` project. When I last looked, it didn't load anything. I did a fresh build today and a few renderings trickle through but `syslog` gets many errors:

[code]

[2018-02-23 02:19] erictheise commented on #322
Note also that _definition_ is misspelled.

[2018-02-23 02:41] pnorman opened #323 "Look into different ways to substitute a bbox and zoom token"
Tokens are well-established, with Mapnik making use of them too. All the same, they're still a hack that relies on parsing SQL as text and writing SQL carefully. SQL injection isn't a security worry here, since it's intentional the style author can write arbitrary SQL, but the same flaws with manipulating SQL as text lead to bugs when writing queries.

My inclination is towards prepared statements

[2018-02-23 02:46] pnorman commented on #313
I'm worried that it's not enough work, otherwise yes. On the other hand, it's characteristic to **underestimate** time required...

For it I'd draw the connection between coastlines and other preprocessed data and shapefiles, and how all OSM styles use data that comes from shapefiles.

Another idea that would be useful for debugging and flexibility would be geojson output as well as mvt.

[2018-02-23 03:22] gdey commented on #313
We are going to be doing some major rework on the generation part of the stack; at current it's not nicely set up for generating other formats. @ARolek and I still have to come up with how we want to architect that piece, so I don't think it would be a good spot, as it will change quite a bit.

[2018-02-23 13:06] epl-admin commented on #300
WOW... thank you @ear7h ... Awesome..... i will try out for sure ...

[2018-02-23 20:58] ARolek commented on #322
@erictheise that's to be expected. If tegola can't figure out the geometry type from your query then it can't generate a style and will log that warning. We're considering implementing a proper SQL parser so we can better handle this situation but that's going to take some time and is not a priority.

I will get the misspelling fixed up. Thanks for reporting that.

[2018-02-23 22:11] #302 closed

[2018-02-23 22:14] ARolek opened #326 "postgis: Replace all occurances of ST_AsBinary when checking types"

[2018-02-23 22:17] erictheise commented on #322
We have a schema defined by the `seamark` tagging hierarchy and our Imposm3 import works with that. When the import runs, `geometry` is set to Point, LineString, or Geometry depending on whether the `geometry` `type` is set to `point`, `line`, or `area`. So the database knows its geometry type.

The `[INFO]` message occurs when there is no data in the database for that `provider.layer`. It shouldn

[2018-02-23 22:19] ARolek commented on #326
never mind, this has already been fixed in v0.6.0

[2018-02-23 22:19] #326 closed

[2018-02-23 22:38] JivanAmara opened #327 "Add closing coordinate to GeoJSON Polygons."
GeoJSON requires that for closed LineString types the final coordinate is the same as the first.  Our (and others', incl WKBGeometry/MapBox Vector Tile) geometries' representations don't require this. The geojson encoder needs to be updated to add this final coordinate for linestrings in Polygon/MultiPolygon types.

[2018-02-23 22:38] ARolek commented on #322
If the query does not return any records tegola will not have a way to determine the geometry type. It would be nice if we could just read the geometry column for a table and use that but PostGIS allows the user to create geometries in SQL or the geometry types my be combined into things like GeometryCollections. Because of this we need to run the query and analyze the result set to determine the

[2018-02-23 22:39] JivanAmara commented on #327
^ @ARolek

[2018-02-23 23:00] vchrisb commented on #302
@ARolek thx, it did work.

[2018-02-23 23:12] JivanAmara opened #328 "Enforce Right Hand Rule for linear rings in Polygons/MultiPolygons."
Tegola's geometry spec follows the RHR for these geometries.  Incoming data doesn't always follow it.  Add a failure or rewrite the geometry on import to make sure the geom.Geometry types created do follow the rule.

@gdey @ARolek

[2018-02-24 01:06] gdey opened #330 "redo ci build scripts to reduce the number of build assets."
We the cgo we are doubling the number of release assets. We are going to prune the number of release assets to just the three major OS's (Win, Mac, Linux) and AMD64.

We need to make sure the bin is executable as well.

[2018-02-24 01:33] pnorman commented on #312
Each zoom is 2^z tiles wide, so 0 <= x < 2^z and 0 <= y < 2^z

[2018-02-24 01:38] pnorman opened #331 "Clipped polygon"
![image](https://user-images.githubusercontent.com/1190866/36624079-bab3a084-18bf-11e8-87a3-ee33d9cbceca.png)

These are water polygons, and the island just north of the middle is clipped. The location is 7/48.945/-123.437 and the data is ne_ocean from Natural Earth.

I'm having trouble debugging it since I'm not sure how to get what tile it is, where the tile bounds are, etc.

[2018-02-24 01:39] pnorman opened #332 "Reveal z/x/y for a tile when debugging"
There should be some way to reveal the z/x/y for a tile when debugging. This should be in a form that the triplet can be copied and pasted so it can looked at with another program.

[2018-02-24 03:35] ARolek commented on #332
This can be done by adding `?debug=true` to the viewer's URL or by appending `?debug=true` to the tile requests. A few links for reference: [Client Side Debugging](https://github.com/terranodo/tegola#client-side-debugging), [Debugging](http://tegola.io/debugging/#client-side).

I will add some additional documentation about how to do this in the viewer, or maybe we should add a button to the viewe

[2018-02-24 03:35] #332 closed

[2018-02-24 16:50] pnorman commented on #332
Yes - although there's probably a better way than editing the vector tiles to do it within the front-end itself.

[2018-02-24 17:00] pnorman commented on #312
If you pass an invalid request through to PostGIS and it's far enough from sane (e.g. z=0, x=2^31-1) it might cause an error when the query is run, as well as being slow, and if you reject early you can give a HTTP 400 error with a suitable message instead of a vague 500 error message. They'll also appear in the logs differently, which matters. I've seen a case of a bad scraper triggering alarms w

[2018-02-24 17:13] pnorman commented on #331
I tried under 0.6.0 but it might have had a cached tile, so retesting.

[2018-02-24 17:28] pnorman commented on #331
It still happens with fd14038, and it's right on the edge between 5/5/10 and 5/5/11.

My immediate guess is an interaction between different simplification on different tiles, these being water polygons, not land polygons, and handling of the edges of tiles.

[2018-02-24 18:51] ear7h commented on #312
@pnorman Tegola gives a 200 response for a request to this path: `/maps/zoning/road/0/3/3`. I've looked at fixing this, I believe it can be taken care of by using adding a bounds checking middlewear.

@ARolek should this be a new issue?

[2018-02-24 18:59] gdey commented on #312
Let's make that a new issue.

[2018-02-24 19:00] gdey opened #334 "For invalid x,y values we should return a non-200 response code. (400)"
The X,Y values should be in the range of:
Each zoom is 2^z tiles wide, so 0 <= x < 2^z and 0 <= y < 2^z

If the x,y value is outside this range, return a 400 error code.

[2018-02-24 20:47] pnorman commented on #334
z should also be constrained in a range - at the very least, positive.

[2018-02-24 21:51] gdey commented on #334
We already have a check for -z values (https://github.com/terranodo/tegola/blob/v0.6.0/server/handle_map_zxy.go#L47 and https://github.com/terranodo/tegola/blob/v0.6.0/server/handle_map_layer_zxy.go#L49). This should enhance these checks.

[2018-02-24 21:57] ear7h commented on #334
@gdey I can take this issue

[2018-02-25 03:06] #165 closed

[2018-02-25 22:56] russss opened #336 "Unexpected query lowercasing when selecting geometry type"
When tegola tries to detect the geometry type of a layer, it [lowercases the entire SQL query](https://github.com/terranodo/tegola/blob/7fb74f7a88fd2cfda141297fb4e65e58d71a0f09/provider/postgis/postgis.go#L275).

This isn't great as it can change the meaning of the query.

[2018-02-25 23:01] ARolek commented on #336
@russss thanks for the report. We have fixed this in the v0.6.0 branch which we’re just about to release (finalizing build scripts). If you can build from source it would be great to see if the new branch no longer causes an issue for you.

[2018-02-25 23:01] russss commented on #336
Aha thanks, I'll definitely give that a try tomorrow!

[2018-02-26 00:31] pnorman commented on #331
Just for reference, these are the holes in the polygon

![image](https://user-images.githubusercontent.com/1190866/36648503-544573b4-1a49-11e8-8215-5a83d9adbd74.png)

[2018-02-26 00:42] ARolek commented on #331
@pnorman just to confirm you're using the [Natural Earth Ocean](http://www.naturalearthdata.com/downloads/10m-physical-vectors/10m-ocean/) data v4.0.0?

[2018-02-26 01:05] pnorman opened #337 "Tiles missing data when multiple rows have same id"
Some tiles are empty with no apparent reason. Although only one rendered tile is visible here, others are scattered around.

![image](https://user-images.githubusercontent.com/1190866/36648631-b77e8d70-1a4a-11e8-9fef-a34f09a4a7f7.png)

In an effort to debug I ran with `TEGOLA_OPTIONS=DontSimplifyGeo SQL_DEBUG=EXECUTE_SQL` and had no changes.

After a bit of debugging, I looked at the geojson, and

[2018-02-26 01:14] pnorman commented on #331
I am specifically using http://www.naturalearthdata.com/http//www.naturalearthdata.com/download/50m/physical/ne_50m_ocean.zip

I first do ``CREATE SCHEMA IF NOT EXISTS loading;`` in PostgreSQL, then call `ogr2ogr -f PostgreSQL -lco GEOMETRY_NAME=way -lco SPATIAL_INDEX=FALSE -lco EXTRACT_SCHEMA_FROM_LAYER_NAME=YES -nln loading.ne_ocean --config SHAPE_ENCODING WINDOWS-1252 -explodecollections -t_srs

[2018-02-26 01:20] pnorman commented on #337
Oh, for SQL-side debugging, I checked that particular tile with

[code]

Results were
[code]

For scale, at traditional z7 pixel is 1490116 square Mercator meters, and a 4096 grid square is 5776. Several of the rows there are of significant size.

[2018-02-26 02:45] ARolek commented on #337
@pnorman as always, thanks for the detailed submission. I'm wondering if the fact that all the features have the same `osm_id` might be causing the issue? I believe that the feature ID needs to be unique or it can cause problems. If this is the case, then we need to add a log statement when this occurs.

[2018-02-26 03:53] pnorman commented on #337
Having a unique ID is only a SHOULD in the spec, it's not required at all.

[2018-02-26 04:08] pnorman opened #338 "Don't require ID field for layers"
MVT doesn't require a ID field. Many sources won't have an ID on all layers, and this is the norm on OSM-derived ocean data.

[2018-02-26 04:15] ARolek commented on #328
@JivanAmara forgot to bring this up but I believe the MakeValid processing ensures this. @gdey can you confirm? If so, then once that functionality has fully adopted the geom types this should be able to be called prior to calling json.Marshal()

[2018-02-26 04:38] pnorman opened #339 "Extra points introduced"
This is with `TEGOLA_OPTIONS=DontSimplifyGeo`

![image](https://user-images.githubusercontent.com/1190866/36653641-70f1f9b6-1a6b-11e8-9e0f-5c385e9f3dcd.png)

The geometry in blue/green is from Tegola, converted to GeoJSON. Number of points is a significant factor in tile size.

[2018-02-26 04:43] pnorman opened #340 "Document hstore handling"
https://github.com/terranodo/tegola/blob/22685cae2b913c002a003671fdfaabdff16eeb60/provider/postgis/util.go#L170-L185

This section of code has special handling for hstore, but it's not documented anywhere.

[2018-02-26 04:49] pnorman commented on #313
I'd add #338 as another that's necessary, and it doesn't look like a large amount of work.

[2018-02-26 18:35] russss commented on #336
Looks good now, thanks - 0.6.0 also seems to fix some other miscellaneous weirdness I was seeing.

[2018-02-26 18:54] gdey commented on #328
Yes, the MakeValid ensures that things going through the make valid function will follow the right-hand rule.

[2018-02-26 19:07] ARolek commented on #336
Beautiful! Thanks for trying to build out.

[2018-02-26 19:07] #336 closed

[2018-02-26 19:45] pnorman opened #341 "Geometry corrupted by simplification"
![image](https://user-images.githubusercontent.com/1190866/36691432-1926dc18-1aea-11e8-920d-644166827364.png)

In the red box the water has had a point dropped from the region of the green circle which is essential, resulting in the line pointed at by the yellow arrow being out of place. It should be along the tile bounds.

Starting with `TEGOLA_OPTIONS=DontSimplifyGeo` gives a normal result

![im

[2018-02-26 20:51] ARolek commented on #313
Another detail to note about the Shapefile provider is that we have two approaches that have been discussed:

1. Reading in the features on startup of the server and building a spatial index that lives in memory.
2. Reading the `.sbn` file which MAY come alongside the shapefile.

In memory spatial indexes will be helpful for other providers (i.e. geojson) but there is a UX cost to generating those

[2018-02-26 23:50] ARolek commented on #341
@pnorman this sounds like something that will be fixed under #166. The problem shows up with the Douglas Peucker simplification algorithm and right angels. In v0.6.0 I implemented a per layer simplification control so you can turn it off for problem layers without needing to turn it off for everything. the config is `dont_simplify` under a map layer.

[2018-02-26 23:54] #232 closed

[2018-02-26 23:54] #330 closed

[2018-02-27 00:21] pnorman commented on #341
I don't see this as something caused by DP. Scaling everything to 2048 units per tile, I made some measurements. The distance from the missing point to the line is 50, which would put a lower bound on ε.

If I blow up a different part and apply DP by hand, I get
![image](https://user-images.githubusercontent.com/1190866/36703404-585b058c-1b10-11e8-8ffc-d5f892692d6c.png)

The thin green line is 14

[2018-02-27 01:13] #327 closed

[2018-02-27 01:33] pnorman opened #343 "!ZOOM! substitution error"
With a query containing the SQL `way_area > pixel_size(!ZOOM!)*4` I get `ERROR: syntax error at or near "ANY" (SQLSTATE 42601)`

Because this is similar to previous problems with st_asbinary, I checked the code

https://github.com/terranodo/tegola/blob/9c523ad35e1e6ce3a06ca09e580518e78ac65622/provider/postgis/postgis.go#L277-L279

Substituting an expression to where an integer is expected isn't sa

[2018-02-28 09:46] peldhose commented on #300
hey ,i was testing redis.
1.Redis documentation is very less (how to implement )
2.then here i found how to (https://github.com/go-spatial/tegola/tree/master/cache/redis)

but i got error saying : " 2018/02/28 09:31:07 root.go:89: No cache backends registered by the cache type: (redis) "

tegola Version is 6.0

[2018-02-28 15:44] gdey commented on #287
@sanfilippopablo we just release v0.6.0; you can get the binary at: https://github.com/go-spatial/tegola/releases

When you have a chance could you test it out? Thank you.

[2018-02-28 15:46] #179 closed

[2018-02-28 15:49] #143 closed

[2018-02-28 15:56] skinkie opened #346 "Demo on website shows errors"
![image](https://user-images.githubusercontent.com/502394/36797456-4bccf78c-1ca8-11e8-89fe-7faa061b2c83.png)

[2018-02-28 15:58] gdey commented on #27
We should spend some time on this issue. As the project is growing this is going to be more important.
Current our contributes are:

@ARolek
@gdey
@PetersonGIS
@JivanAmara
@erictheise
@pnorman
@mojodna
@sacontreras
@paulmach
@russss

If for some reason we need to change licenses or change the terms and conditions we will have to contact each and everyone, to get their approval.

[2018-02-28 16:03] gdey commented on #346
Hi, @skinkie thanks for reporting this. We are aware of these issues. They are due to the tolerance and the simplification algo we are using. One of the big things in our v0.6.0 release (which was released yesterday) is the ability to turn off simplification on a per layer basis. We are working to update the demo site with the new version. We are looking at changing out the simplification algo in

[2018-02-28 17:05] gdey commented on #300
lol, we build it but forgot to import the cache package into the system. I'll get a v0.6.1 out with this. Sorry.

[2018-02-28 17:44] gdey commented on #300
@peldhose Okay, v0.6.1 should now work as expected.

[2018-02-28 17:44] #300 closed

[2018-02-28 19:17] gdey commented on #346
This is fixed now.

[2018-02-28 19:17] #346 closed

[2018-03-01 07:36] skinkie commented on #292
@ARolek that doesn't solve the problem, that would just be a workaround for the problem. Simplification with respect for topology would still be a valuable asset for any layer that has adjacent surfaces. Please reopen the ticket.

[2018-03-01 07:53] gdey commented on #292
@skinkie Sorry, could you please explain what do you mean with respect to topology? Do you mean try to keep as much of the original topology as possible? I'm planning on changing out the simplification algo, to one that is based on area. This is said to preserve topological aspects better than the current algo we are using.

[2018-03-01 07:58] skinkie commented on #292
What I mean is that if two surfaces match on nodes. The DP algorithm now used will consider each surface individually. What would be required is the node simplification to be applied on multiple objects at once, if the nodes would match at the same position.

I can make a drawing later.

[2018-03-01 15:43] gdey commented on #292
I going to repeat just to make sure I understand. If two polygons share a border, the simplification applied to that border should be the same. Say they share the partial linestring ( 10,10 10,20 15,30 ) and the simplification was on could end up being ( 10,10 15,30  ) the other could end up being (10,10 15,20 ) depending on the point coming after on each of the features. What would be better is i

[2018-03-01 18:12] skinkie commented on #292
I think you got it right, and I doubt it is feasible to do it taking multiple layers in account.

I am also looking if something like https://postgis.net/docs/TP_ST_Simplify.html could assist to make a manual simplification.

[2018-03-01 18:17] gdey commented on #292
Okay, would be a more involved task. For now (as a workaround) I would create a separate table with simplified polygons, and then use the dont_simplify option for that layer.

I will have to think about this and come up with a deeper plan. I think this is going to be a lower priority for us, as we want to get the new simplification algo out and solve the some of the other clipping issues. After th

[2018-03-01 19:29] ARolek commented on #343
@pnorman you have done a great job identifying various ways the current implementation is brittle. @ear7h is going to take on developing a more robust way to handle SQL substitution during the v0.7.0 milestone. We will be packaging these various issues into test cases so if you hit any additional situations please submit them.

[2018-03-01 19:31] ARolek commented on #339
Do you recall if this was on v0.5.0 or v0.6.0?

[2018-03-01 19:37] ARolek commented on #323
This is related to #275

[2018-03-01 19:39] ARolek commented on #320
I like some of the ideas here (reading the type of the column instead of the ST_AsGeometryType). This is also related to #275

[2018-03-01 19:41] ARolek commented on #286
related to #275

[2018-03-01 19:57] pnorman commented on #339
v0.6.0 or a version shortly before the release was cut

[2018-03-01 23:02] russss opened #347 "Document configurable default lat/long/zoom for preview viewer"
It would be nice to be able to configure the default viewport of the preview. If your data only covers a small area it's a bit annoying to have to put in the correct URL parameters every time.

[2018-03-02 05:31] pnorman commented on #343
Let me know if I can help in some way

Will do.

[2018-03-02 06:52] pnorman commented on #323
I did some more thinking and investigations. I started from a few assumptions

1. Users need to be able to input named parameters, not positional ones which will be hard to remember.
2. We don't have to maintain full backwards compatibility if we're dropping ST_AsBinary anyways
3. Syntax errors and missing tables need to be found on startup or config loading, not the first time a particular zoom i

[2018-03-02 10:19] russss commented on #347
Aha, I'll update the docs.

[2018-03-03 04:42] pnorman opened #348 "Missing water polygon"
With TEGOLA_OPTIONS=DontSimplifyGeo and a self-built 08ddd8f (v0.6.0) I get

![image](https://user-images.githubusercontent.com/1190866/36930508-fe6ef598-1e56-11e8-95c5-f90688a70989.png)

In tile 6/10/22 some of the water is missing.

If I zoom in to z7 all the water loads in 7/20/44
![image](https://user-images.githubusercontent.com/1190866/36930615-8a80f0d4-1e59-11e8-99a0-43178753d5fb.png)

The

[2018-03-03 08:02] peldhose commented on #300
hey guys... I have tested out .. it works flawlessly ... awesome work bro @gdey @ARolek  ... now tegola flies like flight .... super excited ...

[2018-03-04 01:07] pnorman opened #349 "Document configurable tile buffer"
#107 had a configurable tile buffer added, but no documentation how to use it was created.

[2018-03-05 06:26] peldhose commented on #300
hey guys,,
i have implemented redis with tegola , and its running super fast .. but after 2 days of running, now i feel its got too slow ... tegola takes too much time to retrive tiles .. can somebody check on this?

[2018-03-05 06:32] ARolek commented on #300
@peldhose can you give us any more details? How many tiles are in your cache? Can you provide some insight on the machine specs and resource usage. I'm looking to figure out how we can recreate the problem.

[2018-03-05 07:54] peldhose commented on #300
hey sorry .. its solved . it was because of redis,when i checked tegola logs,it was telling me to chk redis logs for some issues.So redis gave me this error " redis Failed opening the RDB file root (in server root dir /var/spool/cron) for saving: Read-only file system ".
so i solved it, now running fast . thanks for quick reply ..

[2018-03-05 18:45] tomkralidis opened #350 "add layer extent functionality"
For a given layer it would be valuable to derive the spatial extent (minimum bounding rectangle) of all features of the layer.  Context is to report the spatial extent for a layer as part of feature collection metadata.

[2018-03-05 20:01] gdey commented on #348
This looks like an issue with the MakeValid function.
<img width="335" alt="screen shot 2018-03-05 at 11 56 59 am" src="https://user-images.githubusercontent.com/14805/36996916-d94d6c46-206c-11e8-9f15-1fccbffe6b9b.png">

I will look into this after I'm done with the current issue I'm working on.

[2018-03-06 00:29] ear7h commented on #304
From the spec, it's my understanding that the endpoint should be `/maps/:map/metadata.json` for the metadata since the tiles are being served from `/maps/:map/:z/:x/:y.pbf` and the plugin assumes a specific file structure.

[2018-03-06 04:15] #347 closed

[2018-03-06 20:49] angusscown opened #352 "Ability to add a boolean attribute to determine in clients if geometry was clipped"
It can be useful in client code to know if a geometry in a vector tile was clipped (labelling and other display issues).  I'm wondering if adding an additional option in the layer config

eg.
[[providers.layers]]
name = "layer_name'
geometry_fieldname = the_geom
clipped_geometry_indicator_attribute = geometry_clipped

Default would be to not add the indicator field.   I'm new to golang and this pr

[2018-03-06 20:56] gdey commented on #352
It actually would not be that bad, as Tegola does the clipping. You would need to change the `encodeGeometry` function to return whether it clipped the feature or not, and add the new tag to the Tags map. You would need to introduce a new attribute to the Feature struct to note whether this should happen.

However, why is this useful? Could you give some use cases?

Thank you,

Gautam.

[2018-03-06 23:24] ARolek opened #353 "config: environment variable sniffing matches strings with $ not at beginning"
A string like `foo = fdsjkl$Gfsdoi423kjfdfX$2Wdsa$dsfdsS$` with match `$G` with our current regex expression when it should be ignored.

[2018-03-07 01:20] gdey commented on #353
I think we should get rid of the `$Foo` support and just do `${FOO}` that will make it easier to avoid these types of issues. Not perfect, but Will be better.

[2018-03-07 03:12] ARolek commented on #353
This particular issue is because we're not sniffing for beginning of the string using the `${` would be an easier fix. Alternatively we can revisit looking into the `toml.Unmarshaller` interface. If we leverage the interface we will only need to sniff the value, not the key and the value. Downside is we need to wrap every type in our config to do this.

[2018-03-07 18:02] gdey commented on #353
That is true, but in this case, where it was a password, it is possible that the password could have started with a `$` then it would not matter; it is less likely that a password starts with a `\${` and ends somewhere down the line with a `}\n`, still possible but less likely.

Here is a play with my suggestion.

[2018-03-07 22:05] angusscown commented on #352
Use Case 1.
A polygon layer with a hover interaction to show the 'attributes' and geometry under the mouse.   I've attached some screen shots.   As the cursor moves across the map the user gets shown attributes and we highlight the geometry. The geometry might be clipped, confusing the user.  We get around this now by requesting the full geometry (separate service) if the mouse is hovered for a pe

[2018-03-08 00:09] #334 closed

[2018-03-08 00:09] #312 closed

[2018-03-08 09:51] pnorman commented on #350
There's no way to know this without doing a sequential scan of the table. You can get an estimated extent with [`ST_ExtimatedExtent`](http://postgis.net/docs/manual-2.3/ST_EstimatedExtent.html) but it's estimated only and will normally not be the true extent. Or it might be NULL because it doesn't have the data.

This was a problem with many Mapnik installs on some stylesheets. Without explicit bo

[2018-03-08 18:52] russss opened #354 "min_zoom and max_zoom are not optional"
If you omit them, they're both set to 0 in the tilejson. This seems to break the preview viewer and, at least with MapBox GL, results in only the 0 zoom level being rendered, which results in some interestingly abstract maps.

Either the docs/config parser need changing to make these required, or we need some sensible defaults...

[2018-03-08 19:27] ARolek commented on #354
@russss interesting bug. Just so I understand your config, you want every layer to render at every zoom so therefore you did not set a min_zoom and max_zoom for the layers?

[2018-03-08 19:54] russss commented on #354
Yeah, the docs say those config directives aren't required so I didn't include them!  In this case my data matches the OSM zoom ranges, and I was auto-generating the tegola configuration, so I didn't have any zoom range numbers to hand.

I think the simplest fix is just to make max_zoom default to something like 17 instead of 0.

[2018-03-08 19:57] ARolek commented on #354
I could also potentially remove `max_zoom` if it's not set.

[2018-03-08 20:12] gdey commented on #354
Well, we already have a hard-coded MaxZ of 22. So, if it's not there, I think it should default to this constant. With MinZ defaulting to 0.

[2018-03-08 22:28] ARolek commented on #354
@gdey I like that idea. Let's go with it.

[2018-03-08 23:46] pnorman opened #356 "Best practices for deploying Tegola"
Is there any documentation about deploying Tegola?

If approaching it myself I'd probably do, with some notes

* Daemonize the process and handle it with init.d/upstart/etc
  Some way to run the process is needed, and it needs to log to a file, etc. There are standard ways to do this. It looks like the best ways are done **outside** of Go
  * https://github.com/fiorix/go-daemon
  * https://stackov

[2018-03-08 23:52] gdey commented on #356
I pinged people who have been deploying Tegola into production like environments, to have them chime in on here. It would be good to document all their experience.

[2018-03-09 09:00] pnorman commented on #356
Handling multiple style versions is another issue, but I think that needs its own issue, so once I figure more of that out I'll write up an issue specific to that.

[2018-03-09 13:25] jj0hns0n commented on #356
Just a note that the only folks really using this in production are using Pivotal Cloud Foundry which handles alot of these metics you mention. Our devops repos are private, but the Pivotal guys have stood one up on their own. An example of the the operative files are here https://github.com/vchrisb/cf-tegola-osm/blob/master/manifest.yml and elsewhere in this repo.

[2018-03-09 19:20] erictheise commented on #322
@ARolek, the real motivation for opening this issue is that it's occasionally the case that configured layers may not contain data. This can happen with standard OSM layers when using an extract and it is happening in the _seamark_ project where objects are defined in the schema but none are present even at the planet level.

This situation causes the info messages above to be logged but more impo

[2018-03-09 22:17] pnorman commented on #322
But it shouldn't need it for anything, which is one of the points in #320. The only way to know the geometry type for an arbitrary layer is to ask the user.

[2018-03-09 22:20] ARolek commented on #322
@pnorman I think that's the solution we're going to go with. I'm going to add support for defining the geometry type for a layer in the config which can be used instead of trying to infer the type. The autogenerated style is nice but does come with a lot of baggage.

[2018-03-09 22:29] gdey commented on #348
@pnorman I would like to recreate this on my laptop so that I can figure out what is going wrong with the makevalid function. What data set are you using?

Thank you,

Gautam.

[2018-03-09 22:35] pnorman commented on #348
simplified_ocean_polygons which is http://data.openstreetmapdata.com/simplified-water-polygons-complete-3857.zip with a last modified of Mon, 26 Feb 2018 08:30:25 GMT

I've uploaded the result of `\copy ocean_test to ocean_test.csv` which you can load in

[ocean_test.txt](https://github.com/go-spatial/tegola/files/1798646/ocean_test.txt)

[2018-03-10 02:16] ARolek commented on #352
@angusscown thanks for the explanation. As @gdey said we could probably pull this off by adding an extra tag if the geometry gets clipped. Another alternative is to combine the geometries client side. I know this can be done with mapbox-gl and turf.js. What client side lib are you using?

[2018-03-10 09:23] angusscown commented on #352
Openlayers 4, I have turf but had issues getting to the features of each tile in openlayers, feel like they are deliberately (and quite rightly) preventing easy access to each feature on each tile. I hadn't thought before now but I could create a separate vector layer and join features that have same id between tiles. I could use either turf or jsts.

On tile load, create features and join any wit

[2018-03-13 23:28] gdey commented on #349
@pnorman Thanks for this issue.

[2018-03-13 23:40] gdey commented on #313
@pnorman as for #338, I don't think this one is actually, more than two or three weeks worth of work for someone who is new to the codebase. Most of that time will be spent on getting to know the code base, with the fix being three days or so. The big part of that is what do we do when the number is not there before we were assigning it a new random number. I actually post an issue about this on M

[2018-03-14 18:44] gdey commented on #189
#357 redoes bounding box. It is no longer claiming to be the top left, rather a bounding box is now just the minx, miny, maxx, and maxy values. To get the top-left point of the tile use the Bounds methods, which will return (west, north, east, south) coordinates.

[2018-03-14 18:44] #189 closed

[2018-03-14 21:52] gdey commented on #348
@pnorman just wanted to let you know I did start working on this, but I started having issues with my laptop, which Apple then took; so it will be around a week before I can get back to this.

[2018-03-17 01:59] pnorman opened #360 "Debug page is fetching wrong zoom"
If I open a new window, turn on developer tools, and go to `http://localhost:8080/#10.35/49.243/-122.929` I find the debug page fetching the tile `http://localhost:8080/maps/bolder/5/5/10.pbf`

This is not the right zoom, and leads to obvious problems.

The JSON files fetched by the page are attached

`/capabilities`
[code]

`/style.json`
[code]

`/bolder.json`
[code]

JSON files have been pretty-

[2018-03-17 02:02] pnorman opened #361 "Use relative URLs in Tegola page"
The `/` page served by Tegola uses absolute URLs, e.g. `http://localhost:8080/capabilities/bolder.json`

This is a problem because in production it's very unlikely that it will match the URL. Instead, relative URLs should be used.

[2018-03-17 02:06] pnorman opened #362 "Allow binding to different IPs"
A server might have multiple interfaces. Tegola should allow picking which one is used, not just 0.0.0.0

[2018-03-17 02:10] pnorman opened #363 "Chat room for discussion of Tegola"
Is there a good place for discussion of Tegola? Some projects use gitter.im (e.g. https://gitter.im/tangrams/tangram-chat)

Issue trackers are good for persistence and documenting stuff (as well as issues), but sometimes real-time chat feels more convenient.

[2018-03-17 02:12] jj0hns0n commented on #363
We are all on the terranodo slack. Happy to invite you there. Having tried
all the alternatives to slack, we pretty much find them all inferior and
keep coming back to slack.

On Fri, Mar 16, 2018 at 7:10 PM, Paul Norman <notifications@github.com>
wrote:

[2018-03-17 02:15] pnorman commented on #362
After doing some searching, it's partially supported, but confusing.

`tegola serve --help` says

When speaking of the config file, https://github.com/go-spatial/tegola/blob/9c523ad35e1e6ce3a06ca09e580518e78ac65622/server/README.md#config-properties says

So the functionality may be there for `tegola serve`, just not documented. The server's IP address really shouldn't be in the vector definitions

[2018-03-17 02:28] pnorman commented on #363
I'm not enthusiastic with adding yet another chat platform, but I could get on slack. Can you send an invite link?

[2018-03-17 04:16] pnorman opened #364 "Debug view shows lots of dots on mixed POINT/LINESTRING layer"
![image](https://user-images.githubusercontent.com/1190866/37551521-65354d42-295e-11e8-8924-eafb9554a277.png)

This appears to be purely a front-end issue, as the vector data is fine

[code]

The layer in question is

[code]

[2018-03-18 10:57] pnorman commented on #343
`!ZOOM! < n` and `n > !ZOOM!` currently act differently, with the former causing a syntax error and the latter working.

[2018-03-20 01:47] tangjuncheng1986 commented on #240
Thank you very much .I will try it.

[2018-03-20 01:50] gdey commented on #240
@tangjuncheng1986 the v0.6.0 branch was released a few days back. If you use the latest release, it will be the same.

[2018-03-20 03:45] pnorman commented on #360
Potentially related to #354

[2018-03-20 04:43] pnorman commented on #338
Fixing this would likely fix #337

[2018-03-20 15:04] PetersonGIS opened #367 "Sort the property names before displaying them in the feature inspector box."
When using the Inspector's Inspect Features tool, the order of fields in the pop-up box randomly changes such that a quick visual comparison as the mouse is moved around becomes difficult. Even when the mouse is over one place, if there are multiple features from the same layer underneath the cursor it will show a different field order (as shown below):
![inspect_fields](https://user-images.github

[2018-03-20 15:07] gdey commented on #367
This is because we are not sorting the properties in the js hash here before building up the list elements here.
https://github.com/go-spatial/tegola/blob/master/server/static/js/tegola.js#L180

The fix would be to get the list of property names, sort them, then build out the html in the sorted order.

[2018-03-20 15:52] erictheise commented on #367
I only noticed this yesterday, as the layer list has never worked for me on any of my independent projects. I submitted #365 yesterday to remedy that and am going to pester @ARolek today about doing a minor release for the benefit of any of the 40 people who try following along in my demo tonight.

@PetersonGIS, I'd propose that you propose a list of properties to always display in a fixed order a

[2018-03-20 16:00] gdey commented on #367
@erictheise I can always push out a minor build if you need it.

[2018-03-20 16:10] erictheise commented on #367
@gdey, I can do that too, I'd just rather avoid asking people to install a custom build at a demo/workshop. Unless the demo's about testing a feature only available in the custom build.

[2018-03-20 16:12] PetersonGIS commented on #367
@erictheise Good idea. For OSM data I think you're right on with "feature id," "name", and "type" being the first three. Maybe it should search for those, if they exist, put those at the top. Natural Earth generally also has "name" and "featurecla." Custom data will need to be sorted alphabetically throughout I guess (unless they have those key field names of course).

[2018-03-20 16:24] erictheise commented on #367
I suppose we could complicate things a bit and allow an `options` override where a user could inject something like `{"fixed": ["osm_id", "name", "type", "featurecla"]}` to specify the fields. Hard to know what fields might be in nonOSM data.

[2018-03-20 16:42] gdey commented on #367
This is a debug tool; proof of life tool. Let's not complicate it. I'm okay with having a few (thinking less than 5) predefined hard-coded entries, that are sorted to the top, and the rest is sorted alphabetically. The point of this tool is to get people to generate their own styles and see what the system is offering up. When they create their own style, they can sort and organize the field howev

[2018-03-20 16:43] erictheise commented on #367
👍

[2018-03-20 18:12] gdey commented on #363
@pnorman did you get the invite form @jj0hns0n? Wondering if I can close this issue. Also, I hangout in the #tegola and #go-spatial channel on the gophers slack organization. I think we are trying to move everyone over to that as well.

[2018-03-20 18:26] gdey commented on #364
@pnorman Thanks for looking into this. I'm a bit swamped and will look at this when I can.

[2018-03-20 18:29] gdey commented on #362
I will have to look at this further, but I believe that the `-p/--port` you can specify the ip address to bind to as well as the port, just like the config option. The command line option will take precedence.

Relates to #76

[2018-03-20 19:38] pnorman commented on #363
I haven't gotten an invite.

[2018-03-20 19:47] jj0hns0n commented on #363
Sorry dude, thats a dropped ball I have to take the blame for. Its done. Cya there

[2018-03-20 20:11] #363 closed

[2018-03-22 00:01] pnorman opened #369 "Set default_transaction_read_only when connecting to PostgreSQL"
Yes, we should all be making sure that tegola connects from a database user who only has SELECT access, but how many of us are doing that? ;)

[`default_transaction_read_only`](https://www.postgresql.org/docs/current/static/runtime-config-client.html#GUC-DEFAULT-TRANSACTION-READ-ONLY) makes sure that a style bug can't escalate to altering data in the database

With libpq this could be done with ei

[2018-03-22 00:13] pnorman opened #370 "Use pgx's ParseEnvLibpq"
pgx has the [`ParseEnvLibpq`](https://godoc.org/github.com/jackc/pgx#ParseEnvLibpq) function to handle most of the standard environment variables (PGHOST PGPORT PGDATABASE PGUSER PGPASSWORD PGSSLMODE PGSSLCERT PGSSLKEY PGSSLROOTCERT PGAPPNAME PGCONNECT_TIMEOUT). This doesn't get full libpq functionality, but would help with a lot of use cases.

We also have some code that's parsing the environment

[2018-03-22 00:16] gdey commented on #369
I think this would be a good thing to add.

We would just need to add the option here:
https://github.com/go-spatial/tegola/blob/master/provider/postgis/postgis.go#L141
[code]
Postgress documentation:
https://www.postgresql.org/docs/9.2/static/sql-set.html
https://www.postgresql.org/docs/9.2/static/sql-show.html

https://www.postgresql.org/docs/9.2/static/runtime-config.html
https://www.postgresql

[2018-03-22 23:00] ear7h commented on #304
@PetersonGIS After looking into this, I believe the endpoint you should use is `/capabilities/:map` without the trailing `metadata.json`. Let me know if this still doesn't work.

[2018-03-22 23:19] ear7h commented on #304
I just checked this against `https://osm.tegola.io/capabilities/osm` and it gave a `Loading error: SSL handshake failed`. So that is something new to look into...

[2018-03-23 04:29] erictheise commented on #322
Someone can reopen this if it's pertinent but the front end code that went out with [v0.6.2](https://github.com/go-spatial/tegola/releases/tag/v0.6.2) addresses this issue as far as I'm concerned.

[2018-03-23 04:29] #322 closed

[2018-03-23 20:47] ear7h commented on #360
This snippet from your `/capabilities` output is definitely incorrect. I'm guessing you did not set a max zoom in your config. I'm working on a fix for #354 and this should be corrected.
[code]

As for your main concern this snippet from your `/boulder.json` seems to be causing the problem. This may have to do with internal bounds checking during the config load which sets these specific map varia

[2018-03-25 04:16] pnorman opened #375 "Setting max zoom for a map"
My map needs a max  zoom at which it will no longer serve and cache tiles.

I tried setting a max_zoom on all the layers that are a part of the map, but a request to a higher zoom was still responded to with a 200 status, and it generated a tile in the cache.

[2018-03-25 18:42] gdey commented on #375
What should the status be? 404 for not found, as there are no layers to encode at that zoom level?

[2018-03-25 22:24] pnorman commented on #375
400, same as a request for 0/100/100 or some other invalid tile

[2018-03-25 23:42] pnorman opened #376 "Error messages for invalid xyz coordinates"
When requesting an out of range xy coordinate, three messages are generated

[code]

There are the following minor issues with the messages
- The first one has no severity
- All three say the Y value is "2.pbf", not "2"
- The first two are complaints about unable to parse 2 into an int, which is misleading.

I'd recommend dropping the first two messages.

There's also the question of if a user err

[2018-03-26 16:25] sanfilippopablo commented on #287
Yep, works fine. 👍

(Sorry for the delay)

[2018-03-26 16:25] #287 closed

[2018-03-26 17:23] ARolek commented on #375
Another detail to consider with this request is sniffing the `max_zoom` of each layer compared to a map with `max_zoom` set. Should we error on startup or just ignore the layers `max_zoom` if they're greater than the map's `max_zoom`. I lean towards throwing an error on startup.

[2018-03-26 20:40] gdey commented on #375
That's is a configuration error, and I think it should error on start up as well.

[2018-03-27 16:09] gdey commented on #375
Looking into this, Maps don't have MaxZooms from what I can tell. Neighter the config.Map or the server.Map structs have any concept of MaxZoom, only the layers of a Map has max zoom. As this is the case, I think what @pnorman suggests makes the most sense. If we were to introduce a max_zoom at the map layer, I agree we should error when any layer is set to be greater then the max_zoom of that map

[2018-03-27 17:45] sanfilippopablo commented on #296
Closing as this is not an issue with tegola.

[2018-03-27 17:45] #296 closed

[2018-03-27 18:33] gdey commented on #360
We need to add a test case for this.

[2018-03-27 18:41] ear7h commented on #214
@sanfilippopablo The changes made for this issue shouldn't have any effect on bounding box seeding/purging. It's mostly for adding support for a list of tiles to seed/purge.

You might also be interested in a new feature for using min zoom + max zoom with an individual tile. It uses the bounds of the specified tiles rather than explicit bounds.

If you're interested in the code you can check out m

[2018-03-27 18:43] gdey commented on #352
@angusscown Just following up on this issue. Were you able to accomplish it client side?

[2018-03-27 19:15] sanfilippopablo commented on #214
Oh, OK. But there isn't any seeding support right now, right?

[2018-03-27 19:22] ear7h commented on #214
@sanfilippopablo the latest release has seed/purge support for individual tiles and bounding box

[2018-03-27 19:26] sanfilippopablo commented on #214
@ear7h Great! But how? I didn't see anything in the docs about seeding

[2018-03-27 19:44] erictheise commented on #214
@sanfilippopablo, you can sort of coax it out at the command line:
[code]

I've used, e.g.,
[code]

[2018-03-27 19:52] sanfilippopablo commented on #214
@erictheise didn't know that! Thanks!

[2018-03-27 20:22] gdey opened #378 "Need to combine MapLayerZXY and MapZXY"
Currently, MapLayerZXY and MaZXY for historical reasons are separate. However, they have converged and can be combined.

[2018-03-27 20:23] gdey opened #379 "Remove "Options" entries replace with treemux special behavior"
Treemux provides us with a way to remove the "OPTIONS" entries.

https://github.com/dimfeld/httptreemux#special-method-behavior

[2018-03-27 21:22] PetersonGIS commented on #304
Thanks for the tips @ear7h . I finally got the QGIS Vector Tile Plugin to load up some of our vector tiles with the following URL: https://osm.tegola.io/capabilities/osm. I wonder if the server was down when you tried it before. Can you double-check that it is working for you at this time?

[2018-03-27 21:35] ARolek commented on #304
@PetersonGIS can you send over a screen shot of your settings? I still get an error message "None" when trying to connect.

[2018-03-27 21:44] PetersonGIS commented on #304
![qgis_vector_tile_plugin](https://user-images.githubusercontent.com/5266205/37996704-cd5600c2-31d5-11e8-9b43-731a7247d116.JPG)

[2018-03-27 21:46] sanfilippopablo opened #380 "PostGIS JSON field"
Hello! I have a JSON field in my PostGIS table that I want to put as an object in the properties of the feature. However, the json is being put as a string. Is it possible to parse it to an object?

[2018-03-27 21:49] PetersonGIS commented on #304
This one is a better screenshot. It is connecting to the TileJSON URL here and providing all the layers. (Note that with this plugin it is best to load a layer such as ne_10m_admin_0 first so you can zoom way in first.)

Interestingly it is not loading up the style.json at all, except for the background color. I still haven't figured out that piece of the puzzle. So the colors shown here are defin

[2018-03-27 21:59] ARolek commented on #304
strange. I still can't get it to load on macOS. You're using windows, right?

[2018-03-27 22:32] PetersonGIS commented on #304
Yes

[2018-03-27 23:49] ear7h commented on #375
I think the response should be 404 for tiles not configured. 404 makes it clear that the requested tile isn't available but is a valid request. 400 implies a client error along the lines of syntax or formatting.

For the case of `0/100/100`, such a tile cannot exist according to the slippy tiles spec. On the other hand, the zoom configurations of maps are defined by the sysadmin and may be subject

[2018-03-28 16:19] PetersonGIS commented on #304
Try removing the tile layers and reloading after using Vector > Vector Tiles Reader > Clear Cache. Or create a new connection and see if that works.

[2018-03-28 18:52] ear7h commented on #361
The [webserver](http://tegola.io/documentation/configuration/#webserver) config section supports user defined host names.
cc @ARolek

[2018-03-28 19:33] #354 closed

[2018-03-28 19:35] #270 closed

[2018-03-28 19:38] ARolek commented on #380
@sacontreras currently the MVT spec has no treatment specifically for objects or lists, which is why the JSON is being encoded as a string. There's a discussion on the spec repo for this topic [here](https://github.com/mapbox/vector-tile-spec/issues/75).

Near term I think you will need to use JSON.parse() on the client side to convert the string to a JSON object. Alternatively you could pull the

[2018-03-28 19:41] ARolek commented on #361
@pnorman we ran into an issue using relative URLs when the consumer of the TileJSON was not on the same domain as tegola. For example, using Maputnik to style tiles served by osm.tegola.io would not work without absolute URLs.

When going to production you can use the hostname config value that @ear7h referenced. This is also useful if tegola is behind a proxy that does not provide forwarding head

[2018-03-28 19:57] sacontreras commented on #380
@ARolek While I do find this topic interesting, I think you've confused me with the original poster (@sanfilippopablo).    👍

[2018-03-28 20:19] sanfilippopablo commented on #380
@ARolek yes, `JSON.parse()` client side is what I'm doing right now, I just wanted to avoid that overhead. This isn't an issue with tegola currently, then. I'll close. Thanks!

[2018-03-28 20:19] #380 closed

[2018-03-28 22:06] pnorman commented on #361
Is something interpreting the relative URLs as relative to the HTML page, rather than relative to the TileJSON? That sounds like a bug.

[2018-03-28 23:13] ARolek opened #382 "PostGIS: invalid id_fieldname dropping data and not throwing errors"
The following Provider Layer config passes does not error out during provider initialization or tile requests. The `id_fieldname` is incorrect (id != gid) and the majority of data is being dropped, though not all of it. There is no warning or error detected by tegola. Silent errors like this are difficult to debug.

[code]

[2018-03-30 01:25] pnorman commented on #382
This is similar to #337. The missing data bugs would be fixed by #338, although there's still a question of if the bug in the config should be detected.

[2018-03-30 01:27] pnorman commented on #313
We had no students apply for the Tegola-related projects this year. Interestingly, we did have one student submit a proposal for a project in Go that's related to the API, so I'm now looking for a mentor for it.

[2018-03-30 01:27] #313 closed

[2018-03-30 10:18] JohnnyRealImpact opened #383 "provider/postgis: The `id` field is not included as a property if specified in `fields` in the config"
# Context
When explicitly specifying the `id_fieldname` in the `fields` collection of a `config.toml` definition, then the `id` field is not included as a tag as expected.

Example:
[code]

I had a quick look at the source code and found the culprit here:
 - https://github.com/go-spatial/tegola/blob/6a08f2c826fe849dfd4571a58b4361c6c95aa7e0/provider/postgis/util.go#L169

I am no expert in go, but s

[2018-03-30 16:08] sam-radiant commented on #353
Any update on this?

[2018-03-30 19:01] chebizarro opened #384 "Fuzzing wkb encoding causes out of memory errors"
Fuzzing geom/encoding/wkb (as per #53) reveals a potential bug with several decode functions. I have attached the relevant test output - [010c1c076fce1acae227d578d230bd713dd44528.txt](https://github.com/go-spatial/tegola/files/1864454/010c1c076fce1acae227d578d230bd713dd44528.txt)

https://github.com/go-spatial/tegola/blob/2d90e68580efc38a85e3b6c4ad020a80bf66095a/geom/encoding/wkb/internal/decode/d

[2018-03-30 22:06] ARolek opened #385 "Add CA certificates to Docker container"
The tegola Dockerfile needs CA certificates in order to make calls to SSL enabled endpoints (i.e. fetching a remote config). The following command needs to be added [here](https://github.com/go-spatial/tegola/blob/master/docker/Dockerfile#L52).

`RUN apk update && apk add ca-certificates && rm -rf /var/cache/apk/*`

[2018-03-30 23:42] ARolek commented on #353
@sam-radiant not quite yet. It's a priority to address though. We're likely going to drop env var support without braces. All env vars will need to look like `${MY_ENV_VAR}`.  I'm hoping we can make some progress on this starting next week.

[2018-03-31 22:58] pnorman commented on #384
I think you hit some practical limits based on the max size of a postgres value

[2018-04-01 01:37] pnorman opened #386 "panic: runtime error: invalid memory address or nil pointer dereference"
With bcf4ca5 I get

[code]
Bisecting tells me this was introduced in f188fb88867abe2b39bcf5c49f417bf64d69168b

[2018-04-01 18:28] ear7h commented on #386
That's me, I see what the problem is. I'll push up a change asap.

[2018-04-01 21:37] erictheise commented on #304
@PetersonGIS, I've (re)installed QGIS 2.18.15 along with the Vector Tiles Reader QGIS Plugin on OS X. I'm using `http://localhost:7070/capabilities/osm.json` as the TileJSON URL and `http://localhost:8080/nautical_active.json` as the GL Style JSON URL and the combo looks promising.

What kills the load is

[code]

and indeed the hunk of JSON style for 'wetland' looks suspicious.

[code]

Is this r

[2018-04-01 22:26] ARolek opened #388 "Support AWS Lambda"
No that AWS Lambda supports Go, it makes sense to try wrapping tegola's HTTP endpoints to see if running tegola on lambda is feasible.

[2018-04-02 06:32] erictheise commented on #304
After more digging, our use of `"type": "categorical"`should allow for strings as stops. I [opened an issue](https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/issues/194) at the plugin repo.

[2018-04-02 06:42] erictheise commented on #304
I am concerned about the comment that this plugin ["was a semester student project which actually came to an end"](https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/issues/78#issuecomment-329004390).

[2018-04-02 13:39] PetersonGIS commented on #304
Yes, was just coming around to this idea of the plugin not being very stable right now and perhaps not being as useful as I originally thought. For example, I got one stylesheet to work with the plugin and then it promptly minidumped and shutdown when zoomed out. Thinking we may want to stop working on this for now. Thoughts?

[2018-04-02 17:44] erictheise commented on #304
Well, _something's_ going to evolve to fill this niche and I could submit a pull request to cover this case. Can't tell if that's the only thing blocking us or just the tip of the iceberg.

[2018-04-02 18:01] sam-radiant commented on #353
@ARolek Sounds good. I have a VERY temporary workaround. I'll make sure to only use ${} vars as well. Thank you!

[2018-04-02 18:05] ARolek commented on #304
I agree with @erictheise, something is going to need to fill this niche. I also foresee an issue with parsing the new [Mapbox GL expressions](https://www.mapbox.com/help/mapbox-gl-js-expressions/). The `stops` syntax is being deprecated.

[2018-04-03 15:55] gdey commented on #384
Well, we should not panic in either case, the system should return an error, something to effect that the geometry is too big to decode. Thank you for the report and the fuzzing.

[2018-04-03 17:51] chebizarro commented on #384
No problem, I looked at how GDAL handles the problem and being written in C/C++ it simply checks for a null return value when calling calloc. Such an option isn't, afaik, available in go - https://github.com/golang/go/issues/16843 - and some of the workarounds suggested are probably unnecessarily complicated (checking heap size, using mmap etc). The simplest solution would be to set arbitrary, mem

[2018-04-03 18:30] gdey commented on #384
I need to research and think about this. I think the setting a limit isn't much of an option because you have to track the size of all the pieces since you can have an OOM, inside of a deeply nested multipolygon, or collection.

[2018-04-03 23:09] chebizarro commented on #53
PR #389 adds a Fuzz function for wkb using the go-fuzz package. I'm not quite sure how to approach the mvt package as it uses the protobuf library for decoding/encoding which has already been fuzzed.

[2018-04-04 01:56] ARolek commented on #53
@chebizarro I'm going to drop the MVT fuzzing form this issue. We can open a separate issue if we decide MVT needs additional fuzzing attention.

Thanks for your work on this!

[2018-04-04 15:18] peldhose opened #392 "Point of Interest (POI) layer from OSM data"
Hi ,
Actually POI data is there with OSM data i think .So is there anyway to show POI layer using tegola ?

[2018-04-04 15:42] PetersonGIS commented on #392
We use a table called amenity_points in our tegola-osm implementation that you may want to take a look at as an example of how POI can be filtered from OSM data and used in Tegola: https://github.com/go-spatial/tegola-osm#amenity_points.

[2018-04-05 23:57] pnorman commented on #392
In general any Mapnik-based vector tile layer can reasonably easily turned into a Tegola layer definition. They're both SQL, just slightly different keywords and processing.

[2018-04-10 02:54] ARolek commented on #353
@sam-radiant just a heads up, we're almost done with this one. should hit the `v0.7.0` branch this week.

[2018-04-10 15:48] jasonsurratt opened #396 "Many small vertical polygons in the CleanGeometry output"
While benchmarking the `CleanGeometry` function I came across a situation where the cleaned/cropped geometry contains many small vertical polygons.

![image](https://user-images.githubusercontent.com/1638013/38567684-1057521c-3ca4-11e8-8769-22c8f2459916.png)

The exact test to recreate the situation can be found here:

https://github.com/jasonsurratt/tegola/commit/ed02e0dda35c96d2464a1bc4b11540c6b

[2018-04-10 16:07] jasonsurratt commented on #396
This may be a function of the Canada polygon + the cleaning function, or possibly the way I'm calling it. Dunno. After trying a dozen or so arbitrary bounding boxes I could not find a situation where it would give the expected output.

For reference, I found this smaller bounding box towards the southern border of Canada that may be easier to debug.

[code]

![canadacrop-tegola4](https://user-imag

[2018-04-11 03:05] ARolek commented on #383
@JohnnyRealImpact apologies for the delay and thanks for the bug report and work around. I will try to get this fixed in our upcoming v0.7.0 release.

[2018-04-11 07:15] JohnnyRealImpact commented on #383
Thank you, this is great news! :) 👍

[2018-04-12 19:12] jasonsurratt opened #398 "Error in validate.CleanGeometry on fractional coordinates"
The test case for this can be found [here](https://github.com/jasonsurratt/tegola/blob/intersect_benchmark/maths/validate/validate_test.go#L105).

To run this:
* checkout the `intersect_benchmark` branch from my [repo](https://github.com/jasonsurratt/tegola)
* `cd tegola/maths/validate`
* Run: `go test -v .`

At this time the test is only printing results and isn't flagging the tests as failures.

[2018-04-13 15:15] mpgerlek commented on #267
@ARolek - what would you like the proj API to support, to give you this use case? Do you want proj strings, or something else?

[2018-04-13 19:09] ARolek commented on #267
@mpgerlek from an user's perspective I think it would be ideal to use SRID values. This could then be leveraged in the tegola config, query strings for tile requests, and it's also the value we work with when determining if a geometry from a data provider needs re-projection.

For the `proj` project have you considered generating Go code from a list of projection strings? In an ideal world an inte

[2018-04-13 19:14] mpgerlek commented on #267
Do we have a means to generate the proj string from an arbitrary SRID? Or are you thinking about just hardcoding in support for a handful of well-known epsg codes?

I'm not sure what you mean by "generate code" -- are you thinking about generating the actual AST on the fly can then calling into it, or..?

[2018-04-13 19:28] singram7 commented on #267
NGA would like to display data in 3395 specifically, but they have the
means and resources to author their own projection code. In fact, they
prefer to use an in-house projection library. Some support for interfaces
would suffice for NGA uses if they could author their own custom code for
specific projections. I believe their issue was the hard-coded nature of
Tegola's output engine.

-Steve

PS.

[2018-04-13 20:28] ARolek commented on #267
@mpgerlek I was thinking more about having the SRID "hardcoded". Another way to think about this is using a registration type system, like Go does with the [image](https://golang.org/pkg/image/) package. We also take this approach with data providers and cache backends in tegola. This would also allow for @singram7 to to register a custom projection code (though it would require a custom build of

[2018-04-13 20:48] #378 closed

[2018-04-14 00:01] mpgerlek commented on #267
Discussion moved to https://github.com/go-spatial/proj4go/issues/3

[2018-04-16 12:51] FallenKain opened #399 "something wrong with geometry on middle zooms"
Something strange happens with data in tegola (firsts screens by tegola and seconds by tilezen backend)
1) 9/346/160.mvt or something like that - no part of road, duplicating of village name, no part of river
![tegola9](https://user-images.githubusercontent.com/21034331/38809839-9677f9c6-418d-11e8-908b-aebecf40466c.png)
![tilezen9](https://user-images.githubusercontent.com/21034331/38809840-969787

[2018-04-16 15:43] PetersonGIS commented on #399
I wonder if adding dont_simplify to your config file might resolve this.

Here's an example:

 [[maps.layers]]
	name = "country_lines"
	provider_layer = "ne.ne_50m_admin_0_boundary_lines_land"
	dont_simplify = true
	min_zoom = 3
 max_zoom = 4

http://tegola.io/documentation/configuration/

[2018-04-16 16:31] ARolek commented on #399
Not a perfect reference, but the tegola demo for OSM rendering the [same location](http://demo.tegola.io/?z=10.8049&lat=55.3963&lng=64.4793&style=hot-osm&src=ec2&lib=mapbox)

[2018-04-17 01:33] ARolek commented on #353
@sam-radiant this has been merged into the v0.7.0 branch and will be part of the next release.

[2018-04-17 01:33] #353 closed

[2018-04-17 04:06] FallenKain commented on #399
version is 0.6.x, try it with 0.6.0 and 0.6.2(now 0.6.2 as backend) with new simplification - same results, on 0.5.0 this holes was too. disable simplification for this and...same(check now with param in layer, earlier checked via global param), don't know why this happens. can execute wkt line of this road(and/or river) for you, if need sure. on yours demo lines are more simplified, maybe coz thi

[2018-04-17 14:26] PetersonGIS commented on #399
Is there any data on top of the road and river lines? Or perhaps labels for the road and river lines that are masking the underlying features?

[2018-04-18 04:52] FallenKain commented on #399
nope, i add tilezen backend screens for showing this, still tilezen returns me more simplified linestrings in this zooms (not so hard simplified, that's why it's look like linestrings in tegola), maybe it wrong when points of line too close for tile border. Oh didn't wrote that this hole on road becomes smaller and smaller while zoom in, i guess problem of point duplication (village name) has same

[2018-04-18 04:54] ARolek commented on #399
Can you share the tegola endpoint with this data? I want to inspect the tile edges to see if this is possibly a clipping issue on line strings.

[2018-04-18 05:57] FallenKain commented on #399
i think sharing can be a...problem :) can only mvt load i think

[2018-04-18 07:28] FallenKain commented on #399
ok we will do virtual machine with some access for you, DB and backend will be there, but need time for it :)

[2018-04-18 21:36] #379 closed

[2018-04-19 05:55] FallenKain commented on #399
http://maps01.taxsee.ru/tangram-dev/index.html - render client
http://maps01.taxsee.ru/vector-dev/maps/test_map/{z}/{x}/{y}.mvt - for access to data

[2018-04-19 05:56] FallenKain commented on #399
virtual machine versions:
centos 7.4, tegola 0.6.3, postgresql-9.6, postgis-2.4

[2018-04-19 05:58] FallenKain commented on #399
using LAYER_SQL:EXECUTE_SQL opts, can execute log if need

[2018-04-19 11:39] FallenKain commented on #399
update, i do version with simplified(myself) data and hole on road now very small on zoom 11 (but still exists)

[2018-04-20 03:47] ARolek commented on #399
@FallenKain can you expose the TileJSON for the map at http://maps01.taxsee.ru/vector-dev/maps/capabilities/test_map.json? I want to check your map rendering in Mapbox GL to make sure it has nothing to do with Tangram.

[2018-04-20 03:59] tierpod commented on #399
First of all, thank you for tegola.

@ARolek try to use this url: maps01.taxsee.ru/vector-dev/capabilities/test_map.json

[2018-04-20 04:02] FallenKain commented on #399
that's not tangram for sure, as i show earlier, we have 2 backend with same DB and same render client with different results, that's why it's backend issue for sure

[2018-04-20 23:36] ear7h opened #403 "New environment variable support breaks dict.Map parsing"
# The problem
One of the constraints placed by the new environment variable support is that the environment variables have to be in strings. As in:
[code]

However, the expected value is in the `providers` package is `int64`, seen [here](https://github.com/go-spatial/tegola/blob/v0.7.0/provider/postgis/postgis.go#L118):
[code]
As far as the config is concerned, it is a `map[string]interface{}` see

[2018-04-21 00:25] ear7h commented on #403
### 4) Add ambiguous `env.Type`
`env.Type` would would have helper methods for conversion to a primitive type

[2018-04-21 00:45] gdey commented on #403
I think it should be called `Interface` i.e. `env.Interface`

[2018-04-23 06:26] ARolek commented on #399
Are the tile endpoints still up? It looks like the capabilities endpoint is but the tiles are now returning 403 Forbidden status codes.

I might need you to dump the tile with our debug tools so we can take a look at the various stages of the data. @gdey can you provide the steps necessary to dump the offending tile to SVG for review?

[2018-04-23 06:47] tierpod commented on #399
Tegola is still up and working, for example this url returns 200 status code:
http://maps01.taxsee.ru/vector-dev/maps/test_map/10/696/321.mvt

[2018-04-25 08:01] FallenKain commented on #399
@ARolek 1) screens are with simplification of tegola and not simplified data 2) disabling tegola's simplification returns same result's in map 3) version with simplified data (via postgis functions in DB) returns another result (tegola's simplification enabled) 4) variant with simplified data and disabled tegola's simplification didn't check
still thinking that not simplification trouble, but trou

[2018-04-25 13:27] gdey commented on #399
Sorry for the delay in reply:

To get the tool with `go get` (need to have go installed)
[code]

You will find the xyz2svg in your `$GOPATH/bin` directory.

To use it you will need to know the feature id, if you provide the feature id it will generate a svg file for each feature in the z,x,y you give it.

To run the command:
[code]

This will output files into the a directory called `_svg_files`.

[2018-04-25 19:18] ARolek commented on #399
@FallenKain if you can follow @gdey's steps and then send us the SVG we can take a look at the various steps in the geo processing to see if it's obvious when the error is manifesting. If it's not clear, we're going to need to standup the data on this end and recreate the problem.

[2018-04-26 04:46] FallenKain commented on #399
https://drive.google.com/open?id=1io4soYuI8Pt-aiLx5lzEnCKCzpMjaWqM

[2018-04-26 04:47] FallenKain commented on #399
create 10 zoom for road and river and 9 zoom for place name

[2018-04-27 13:37] ani82 opened #405 "BBox not working for Bonn?"
Hi,

I was trying out tegola and had already some OSM data for Germany and in particular Cologne Bonn loaded into Postgis.

When I try to get a map display for Cologne, I don't get any output. During debugging it turns out that the generated bounding box is not matching the map tile. The data in the table is SRID=4326 and is converted to avoid any additional source of error:

`SELECT gid, ST_AsBin

[2018-04-27 14:35] peldhose opened #406 "Need to disable Demo map page"
Hi guys,
i need to disable the demo map screen.Can somebody help me to do dat ?

[2018-04-27 14:39] ani82 commented on #406
Either reverse proxy or during compilation:
go build -tags 'noRedisCache noGpkgProvider noViewer'

[2018-04-27 14:39] erictheise commented on #405
@ani82, I routinely use Geofabrik extracts of Italy & all of Europe with v0.6.3 and haven't seen any BBOX issues. But I load my data in 3857 and am not transforming on the fly.

* Are you running a release version or building from the v0.7.0 branch?
* When you say "try to get a map display", do you mean at the root level of the Tegola server itself or by hitting the API?
* Do you get errors in the

[2018-04-27 19:02] ARolek commented on #405
@ani82 what I believe is going on here is a mis match of SRIDs. Your data is in 4326 but tegola does not know this. You're converting the data to 3857 on the way out of the database, but tegola is sending in the bounding box query in as 3857. To remedy this you have two options:

- convert the data to 3857 in the database (most performant)
- tell tegola the data is in 4326 so it will submit the bo

[2018-04-28 08:58] peldhose commented on #406
ya ok .. thanks @ani82 @ARolek @gdey  .. let me checkout docs...

[2018-05-01 19:01] gdey commented on #406
@peldhose Did that work for you?

[2018-05-01 19:09] gdey commented on #399
@FallenKain Thanks, just want to let you know that this is still on my radar. I was able to download the svg files; I'm trying to finish up some code I'm working on right now. Then I can get back to fixing these rendering issues.

[2018-05-09 13:29] peldhose commented on #406
hey,
ya , i disabled it by making proxy nginx in front of tegola and blocked all requests except .pbf ..

[2018-05-09 21:37] sacontreras opened #410 ""/capabilities/:map_name/style.json" endpoint to get MBGL style json currently returns 404 on master"
Note that I am NOT referring to tilejson (endpoint "/capabilities/:map_name"), but the MBGL style containing or referring to tilejson.

[2018-05-09 21:49] sacontreras commented on #410
- server.go instantiates handler via `group.UsingContex().Handler("GET", "/maps/:map_name/style.json", CORSHandler(HandleMapStyle{}))`, so the functionality is there but the readme refers to the old "/capabilities/:map_name/style.json" - i.e. NOT A BUG, just a minor change to readme needed to reflect correct endpoint
- http://tegola.io/documentation/http-endpoints/ does not list "/maps/:map_name/s

[2018-05-10 03:58] ARolek commented on #405
@ani82 did you have a chance to try out my suggestion?

[2018-05-10 18:15] #410 closed

[2018-05-14 06:00] FallenKain commented on #399
1 more question - is tegola has buffer for tiles or can i somehow to set it in cofig file, maybe this can repair this problem

[2018-05-14 11:08] stvno opened #413 "Support for S3-like cache"
I'd like to use Tegola and store the cache on Digital Ocean's 'Spaces'; an S3 like blobstore. The API is similar to S3, but obviously the endpoints are different. Digital Ocean provides an explanation on how to use the open source s3tools to upload data: https://www.digitalocean.com/community/tutorials/how-to-configure-s3cmd-2-x-to-manage-digitalocean-spaces
Using s3cmd it would be possible to use

[2018-05-15 12:06] stvno opened #415 "ACL support for S3 caches"
This is related to #413 once the non AWS S3 support is enabled, the default policy of Digital Ocean prevents you from accessing the tiles without an access key.
To set the files public you need to actively set the ACL to `public-read`. However currently there is no way to do this in tegola. It would require an extra `ACL` parameter in the `s3.PutObjectInput` function:
[code]

[2018-05-16 16:59] ARolek commented on #399
@FallenKain yes you can configure the tile buffer. This is done as a top level config

[code]

I need to document this. I have an open issue to do so. Planning on doing a round of documentation updates soon.

[2018-05-17 02:02] gdey opened #417 "Inconsistent order for zoom/lat/lon."
In the config for the center value of map the order of the values is:
[lon,lat,zoom], however for the url bar it is [zoom,lon,lat]. I think these should be consistent to what the url bar has: [zoom,lon,lat].

[2018-05-17 14:00] stvno commented on #415
I've added the ACL support to the #414 PR
The only difference with the suggested implementation is
[code]
Since `s3.ACL` doesn't exist and should be `s3c.ACL`

I've tested both with and without ACL against my Digital Ocean S3 and it works as expected

[2018-05-17 14:00] #415 closed

[2018-05-17 19:44] goatsweater opened #418 "Inspect feature preview clipped by browser window"
When using inspect features to preview some data the auto placement sometimes gets clipped by the bottom of the browser window.

Happening in Safari 11.1 and Chrome Version 66.0.3359.181 on MacOS.

[2018-05-18 03:58] FallenKain commented on #399
hm, good, thx :) also documentaition link on get started page http://tegola.io/documentation/getting-started/ is broken (in the end of 3 step), it's redirect to old url %)

[2018-05-18 17:00] ARolek commented on #399
@FallenKain thanks for the docs bug report. Fixing now.

[2018-05-18 17:59] ARolek commented on #398
@jasonsurratt I think this issue better fits in the `geom` package now. Moving it over.

[2018-05-18 17:59] #398 closed

[2018-05-18 18:43] ani82 commented on #405
Well, I have just been able to try it. I did a select into a new table:

`create table public.roads as
SELECT gid, st_setsrid(st_transform(geom, 3857), 3857)::Geometry(Linestring, 3857) AS geom, name, class FROM network WHERE geom is not null`

and checked it with QGIS: Geometry is correctly listed as a Linestring column in the schema metadata.
However, after restart of the server, I am still gett

[2018-05-18 18:45] ani82 commented on #405
![image](https://user-images.githubusercontent.com/5342170/40252362-72bd8376-5adc-11e8-93e8-0c7fa5a0e753.png)

[2018-05-18 18:51] ani82 commented on #405
postgis_full_version
POSTGIS="2.3.0 r15146" GEOS="3.5.0-CAPI-1.9.0 4392" PROJ="Rel. 4.9.3, 15 August 2016" GDAL="GDAL 2.3.0dev, released 2017/99/99" LIBXML="2.9.1" TOPOLOGY RASTER

This is the Postgis version. Tried it on both Google Cloud SQL (this one) and on another Postgis server with 2.4

[2018-05-18 19:44] ARolek commented on #405
@ani82 if tegola can't infer the geometry type, it wont show up in the viewer since it can't auto generate a style, but it will still be encoded in the vector tile. Try adding the layer in your carto and see if it shows up.

[2018-05-18 21:47] ani82 commented on #405
I did so. Even then, the envelope is far off.
the OL starts with a center of  (Cologne/Bonn, in 3857)
`
          center: [761654,6633974], //coordinates the map will center on initially
          zoom: 2
`

The debug statements are:

`
    2018/05/18 21:31:11 postgis.go:370: SQL_DEBUG:EXECUTE_SQL for layer (roads): SELECT "gid", ST_AsBinary("geom") AS "geom", "name", "class" FROM public.roads WHE

[2018-05-19 03:41] ARolek opened #420 "Update CI to use xgo for cross compiling"
Cross compiling with CGO causes difficulties. [xgo](https://github.com/karalabe/xgo) provides a solid workflow for CGO enabled cross compiling.

[2018-05-21 21:00] ARolek commented on #405
@ani82 can you paste your entire config in here (less any database credentials) so I can take a look at it? Also is your data from https://download.geofabrik.de/? And lastly, what tool did you use to get it into PostGIS (i.e. imposm3)?

[2018-05-22 02:26] ARolek opened #422 "filecache: on Windows files are written with invalid names"
The filecache on windows is writing invalid file names which in turn makes it so tegola can't find the cached tiles.

[2018-05-23 20:13] ani82 commented on #405
@ARolek, I used data from geofabrik and imposm3 for importing. As said, the maps are rendering fine in QGIS or with mapnik or tilestache - therefore, I do not assume an import error. Nevertheless, it would be decent to get the huge performance improvements assumed to be with a Go implementation ;-)

The table "public.roads" contains a transformed version of the imported table. Origin was 4326 and

[2018-05-25 06:46] roblabs commented on #304
Just checking in, and hoping to help out.  I found about this QGIS plugin because of this open issue (so thanks for the discussion)

----

Is this issue still open because
1) Tegola's TileJSON?
  * *e.g.,* http://localhost:8080/capabilities/cities.json
  * which is seems compliant as `"tilejson":"2.1.0"`,  or,
2) Mapbox GL expressions?  #issuecomment-377996308
  * I assume the issue is open due to

[2018-05-25 20:47] ARolek commented on #417
I agree. Thanks for looking into it @roblabs

[2018-05-25 20:47] #417 closed

[2018-05-25 20:55] ARolek commented on #304
@roblabs to be honest, I'm not quite sure where the issue is. I would suspect on the style definition as tegola is returning back the correct tileJSON. I have not had much of a chance to dig into it though. Last I recall, the plugin was a student project and may have lost momentum. It would be an amazing addition to the QGIS ecosystem though.

[2018-05-28 15:11] brianbancroft commented on #141
@zhl11b I was able to get it to load as per the example once I added my Mapbox token, no problem here.

[2018-05-29 05:44] paumas opened #423 "Serve/Seed/Pure logging to file."
If I understand the code well, then at this time log output is only on the screen.
Is it possible to make an output to a file?

[2018-05-29 06:05] LORDgenius opened #424 "#2941 Incorrect"
Incorrect upload speed after Windows 10 Fall Update
Opened by stranno 6 months ago

[2018-05-29 12:55] fgravin commented on #267
Would be great to have custom projection for vector tiles output.
+1

[2018-05-29 17:41] paumas commented on #423
@ARolek Thanks :)

[2018-05-29 19:34] ear7h opened #425 "Support Azure blob storage as a caching mechanism"
Azure's blob storage is the equivalent of Amazon's s3. There is a go library for interfacing with their REST api [here](https://github.com/Azure/azure-storage-blob-go).

[2018-05-30 15:32] gdey commented on #423
If you want to pipe it to the screen and a file:
[code]

Here is the [stack overflow](https://stackoverflow.com/questions/692000/how-do-i-write-stderr-to-a-file-while-using-tee-with-a-pipe#692407)

[2018-05-30 18:45] ear7h opened #426 "Support ssl for Postgis connection"
Running tegola against a `postgres` db which requires ssl yields the following error:
[code]

I was able to get it running by modifying `provider/postgis/postgis.go` as follows:
[code]

Also of interest, is this error message ecountered during the process of b-lining to a working version.
[code]

[2018-05-30 19:49] #141 closed

[2018-05-30 21:14] ARolek commented on #405
@ani82 everything looks fine with your config as far as I can tell. You mentioned using Open Layers for the renderer. Have you tried using Mapbox GL? I believe they might use a slightly different zoom strategy where their zooms are off by 1 according to each other. This might be the problem. Also is there anyway you can post a screen shot so I can take a look at what you're seeing and what your ex

[2018-06-03 23:37] nickelbob commented on #426
@ear7h - just to be clear about the expectations here, what options from [the config type](https://godoc.org/crypto/tls#Config) should be configurable? Seems like we at least need ServerName and  InsecureSkipVerify - is that good enough?

[2018-06-04 00:56] ear7h commented on #426
@nickelbob I think the options should match that of postgres (`disable`, `prefer`, `require`, etc.). You can use `pgx`'s (unexported) implementation as a guide [here](https://github.com/jackc/pgx/blob/master/conn.go#L962).

[2018-06-04 08:45] #413 closed

[2018-06-05 22:41] #403 closed

[2018-06-05 22:42] #388 closed

[2018-06-07 07:47] stvno commented on #89
We've run into this as well, are there any plans to support, or at least not crash on, 3D geometries?

[2018-06-07 08:07] stvno commented on #89
Just checked the code and I realized that tegola does support PointZ, but not the PolygonZ which is what we are using, nor LinestringZ, multilinestringZ and multipolygonZ for that matter

[2018-06-07 18:21] ARolek commented on #89
@gdey we should not panic on 3D geoms though.

@stvno we're working on cutting a version of tegola this month. Let me see if I can get this fix in.

[2018-06-09 19:41] tomass opened #429 "Empty value stops processing of layer data"
It is useful to add some casing to polygon geometries (for example to water features). But as OpenStreetMap water polygons are made of parts (for various reasons), it could give unwanted artefacts as can be seen in this example where smaller river flows into the larger one:
![paveikslas](https://user-images.githubusercontent.com/969513/41195350-3444ca1e-6c34-11e8-870a-cdbdb1f75310.png)
The usual s

[2018-06-11 18:08] ARolek commented on #429
@tomass thanks for the detailed report. I think your proposed solution should work fine. I will add it to our roadmap.

[2018-06-11 22:19] #214 closed

[2018-06-14 06:53] ani82 commented on #405
Hi @ARolek
I cannot find the error in the available timeframe. According to others it must work, therefore, let us close this thread as cannot reproduce.

Thanks for your help!

[2018-06-19 02:32] pnorman opened #432 "Failure to build v0.7.0"
6688122 fails to build with

[code]

[2018-06-19 02:43] pnorman commented on #432
@ARolek I bisected the bug and it's the 6688122cc85da2296b68bf0f419447bd991cd120 commit that fails to build.

It looks like you squished the commits in #372 so I can't bisect further. I checked with the head of the PR, 28291c2a445a661c21d3a50736e3b6a5f95c4842, and that builds, so it's the rebasing that you did where the error came in, not in the code from @ear7h,

[2018-06-19 03:57] ARolek commented on #432
@pnorman thanks for the report. I will get it fixed this week.

[2018-06-19 16:14] tomass commented on #180
Would it be enough to:
1. Add a new configuration parameter:
`geometry_type=point|linestring|polygon|multipoint|multilinestring|multipolygon`
2. In `tegola/postgis.go` function `layerGeomType` check if geometry_type is specified, if so - use geometry type from there, otherwise - do the "old" logic - replace _st_asbinary_ to _st_geometrytype_ and execute the query.

[2018-06-19 17:38] ARolek commented on #180
@tomass

1. I don't think this will address the topic issue, but this is absolutely something I want to add. This will help when we can't sniff the geom type appropriately. A new issue needs to be opened around this config param addition.
2. Ideally we can drop the ST_AsBinary requirement, I just need to look a bit more into it. I think we need to return everything in binary which should also give

[2018-06-19 18:11] tomass commented on #180
@ARolek yes, I'm interested. @paumas has already done some research on this:
1. Removing (disabling) `layerGeomType` function gives warning in different places where geometry type is used (like displaying list of layers provided and generating _all.json_ info), but vector tiles are rendered just fine.
2. _WKB_ returned by _ST_AsBinary_ already contains geometry type.

[2018-06-19 19:07] ARolek commented on #180
@tomass

1. Correct, the tiles don't need this, it's just used for meta data and generating a style for the built in viewer.
2. Correct, the main goal for dropping the ST_AsBinary requirement is for usability.

If we were to remove auto sniffing the geometry type we could purge a bunch of complex code. It might be best overall to have the user define the geom type in the config file instead of sni

[2018-06-19 19:19] tomass commented on #180
Code for sniffing is already there. So maybe both methods could be supported? Somebody could then specify geometry type only for advanced usage (like returning WKB pre-calculated in materialized view or similar). Leaving the sniffing code would also remove the necessity to update the config after upgrading Tegola.
But it is up to you to decide.

[2018-06-19 21:28] ARolek commented on #432
@pnorman what version of Go are you using (`go version`)? I would suspect 1.7 or older based on this report since the shutdown command has a build flag of go 1.8 or newer. We're aiming to leverage the 3 most recent versions of Go, so 1.8, 1.9 and 1.10 as of right now.

[2018-06-20 23:31] ARolek commented on #180
@tomass my initial plan was to support both. The logic would essentially be:

- If the user defined the `geom_type` no sniffing is necessary on that layer.
- if the user did not define the `geom_type` sniff for the geom type. If it's not possible to infer report a warning to the console with the suggestion to add the `geom_type` config param for that layer.

This would need to be implemented for b

[2018-06-21 04:39] ARolek commented on #89
@stvno I pushed up a [PR](https://github.com/go-spatial/tegola/pull/433) that addresses this issue. A warning is now logged if there is an UnknownGeometry type error but no error is returned. Please test if you have some time.

[2018-06-21 17:38] pnorman commented on #432
[code]

This is the default on Debian Stretch, but I see there's some 1.8 packages. I'll need to test with them.

[2018-06-21 17:42] pnorman commented on #432
`GOPATH=$HOME/go /usr/lib/go-1.10/bin/go build` builds. Is there a way to indicate a minimum required go version?

[2018-06-21 18:54] ARolek commented on #432
@pnorman I will need to look into that. Right now the minimum version is documented in the [Building from source](https://github.com/go-spatial/tegola#building-from-source) section, but it would be ideal to indicate the version at build time to avoid this type of issue.

[2018-06-22 23:19] ARolek opened #434 "Add RPMs"
RPMs for easy install has been requested. This can be added to the CI release build process and published alongside the releases.

[2018-06-25 15:43] TNT0305 opened #435 "in cache/file.go, defer f.Close causing os.Rename to fail in Set method"
https://github.com/go-spatial/tegola/blob/9a981d4e900144d0be2d08bf93d4f653e93b4cdd/cache/file/file.go#L126

On line 126 in file.go, the "defer f.Close" is keeping the file open until return.  With the file still open, the os.Rename fails, completely negating the benefits of caching (that is, the correct file is not present in the directory when the cache tries to fetch it and it tries to generate

[2018-06-25 18:12] ARolek commented on #435
@TNT0305 great catch! I think this might be related to #422. I will put together a fix shortly.

[2018-06-25 21:33] ARolek commented on #435
This has been fixed in the v0.7.0 branch.

[2018-06-25 21:33] #435 closed

[2018-06-25 21:33] ARolek commented on #422
This has been fixed in the v0.7.0 branch.

[2018-06-25 21:33] #422 closed

[2018-06-26 14:56] TNT0305 commented on #435
Fantastic!

On an unrelated note, is there a how-to somewhere on setting up tegola to run under IIS?  I've been looking at HttpPlatformHandler but have, thus far, been unable to make it work.  Besides getting it to start at all, I think I'll probably need to set an environment variable or something for the port tegola uses.  (I just thought I'd asked before I continued to bang my head on the wall)

[2018-06-26 16:18] ARolek commented on #435
@TNT0305 so we're mainly building on OSX / Linux but we're looking for some help on Windows best practices. I know @PetersonGIS runs tegola on windows for local carto work. For her use case she does not need to leverage IIS at all. When she runs tegola it binds to the configured port and can start serving tiles.

Are you looking at using IIS as a proxy server to tegola?

[2018-06-26 18:07] TNT0305 commented on #435
Correct.  I'm able to run it on windows as its own server just fine (binding to whatever port in the toml).  As we're running a windows stack, I'd like to slot this in under IIS (mainly for lifecycle management, but also for the port 80 binding that IIS is already using for everything else).

Once I figure out the best way to do it, I'll post back here for posterity, though I suspect I *might* nee

[2018-06-26 18:14] ARolek commented on #435
@TNT0305 v0.7.0 has environment var support in the config. use the following syntax:

[code]

the `$WEBSERVER_PORT is whatever you name your environment var.

[2018-06-26 18:18] TNT0305 commented on #435
Ah, fantastic!  Thanks!

Also, (and sorry for just tacking on things in this one thread...I think I'm doing this wrong), I'm trying the seeg command on 0.7 and it doesn't generate any files.  It just lists the zoom levels and stops...here's the output:

./tegola cache seed --bounds "-76,38,-74,40" --min_zoom 4 --max_zoom 10
2018-06-26 13:09:49 [INFO] config.go:163: loading local config (config.tom

[2018-06-26 18:38] ARolek commented on #435
@TNT0305 hmm, it should be working on v0.7.0 but that cache seed command did go through a refactor. I would open up a new issue and ping @ear7h as he was the one that most recently worked on that piece.

Thanks for testing v0.7.0. We're working on getting that released so any and all testing is appreciated.

[2018-06-26 18:42] TNT0305 commented on #435
You're welcome!  I'll see what I can see in the debugger before posting the issue (I always prefer to include the solution when I can...moreover, it might be me being stupid!)

On the environment variable thing, I still have not gotten that working.  I'm running it from the vscode powershell command line and have set

$Env:TEGOLA_PORT=8123

(which is, apparently, how you do that in powershell).  T

[2018-06-26 18:44] ARolek commented on #435
whoops, I mistyped. The $ should be outside the braces. Redo:

[code]

[2018-06-26 18:44] erictheise commented on #435
@TNT0305, I've used

`port = ":${TEGOLA_PORT}"`

one of the permutation you've missed.

[2018-06-26 18:59] TNT0305 commented on #435
Yup, that got it.  Thanks!

[2018-06-26 19:15] TNT0305 commented on #435
I found the issue in the seeding...it had to do with the order of the bounds parameters.  I will post it as a separate issue and link ear7h.

[2018-06-26 19:22] TNT0305 opened #437 "Order of bounds is different in 0.7.0 and master branches"
@ear7h,  @ARolek

https://github.com/go-spatial/tegola/blob/13b50e66d411761df8f4e7d331675c1b4c179621/cmd/tegola/cmd/cache.go#L364

I found that using the same bounds string in 0.7.0 as I did in the master branch for seeding causes no tiles to be cached.  I've tracked it down to around line 366 in the cmd/cache.go file.

As "up and down" and "top and bottom" can be misinterpreted with different coo

[2018-06-26 21:34] ARolek commented on #435
actually yep @erictheise is the correct one. I forgot the `:`

[2018-06-26 22:23] mojodna opened #438 "server: gzip encoding of tiles"
When requesting tiles with an `Accept-Encoding: gzip` header, I would expect Tegola to respond with gzipped tiles (and a `Content-Encoding: gzip` header) to reduce the amount of data transferred.

However, they don't appear to be gzipped:

[code]

Is the intent for Tegola to run behind a reverse proxy that handles gzipping?

[2018-06-26 23:56] TNT0305 opened #441 "when spaces present in port string, server fails to bind to port"
https://github.com/go-spatial/tegola/blob/13b50e66d411761df8f4e7d331675c1b4c179621/server/server.go#L77

Suggest changing the above line to:

`srv := &http.Server{Addr: strings.TrimSpace(port), Handler: NewRouter(a)}
`

Reason:
I'm working on getting tegola hosted in IIS.  I have it working using httpPlatformHandler.  I will write up a bit more once I have it fully working, but I'm seeing the stat

[2018-06-27 14:28] TNT0305 commented on #441
**Application Note: Hosting tegola behind IIS proxy on Win10**

To host tegola in IIS and have IIS manage lifecycle and request forward, I have successfully used [httpPlatformHandler](https://www.iis.net/downloads/microsoft/httpplatformhandler).

So, get the httpPlatformHandler installed on your machine.

Create a directory somewhere on your machine and add a web.config file that looks like the fo

[2018-06-27 22:01] timlinux commented on #304
I'm getting similar issues. Thanks to @ear7h 's suggestion I used the following for my connection string:

[code]
(I had initially tried an {x}/{y}/{z} style url which gave the  'none' error as shown above.)

And now I see my test layers:

<img width="918" alt="screen shot 2018-06-28 at 00 00 22" src="https://user-images.githubusercontent.com/178003/42002078-48978822-7a66-11e8-926b-99c1c7f33a3f.pn

[2018-06-28 00:22] mojodna opened #442 "Clipping problems w/ 0.6.3"
Multipolygons don't appear to be handled correctly. This is tile `9/81/197`:

![image](https://user-images.githubusercontent.com/45/42006408-77018902-7a2e-11e8-9fb7-60dba8a94f02.png)

In context:

![image](https://user-images.githubusercontent.com/45/42006249-8a67c476-7a2d-11e8-8202-dbc89ec45242.png)

Data for this tile:

[problems.sql.gz](https://github.com/go-spatial/tegola/files/2143304/problem

[2018-06-28 00:23] mojodna opened #443 "!BBOX! token is incompatible with Mapnik"
Tegola requires `!BBOX!` (case-sensitive). Mapnik requires `!bbox!` (also case-sensitive).

This makes it inconvenient to copy SQL from style definitions.

[2018-06-28 06:48] timlinux commented on #304
Just an update that by tweaking my  id fieldname to use fid as below (I am serving the tiles from a geopackage):

[code]

my vector tiles served from tegola now work:

<img width="1259" alt="screen shot 2018-06-28 at 08 23 06" src="https://user-images.githubusercontent.com/178003/42017602-f547234a-7aaf-11e8-9453-4efca120fd86.png">

[2018-06-28 17:15] ear7h commented on #271
What's the status of this issue? I could take it over if you have your hands full.

[2018-06-28 19:40] ARolek commented on #443
@mojodna good call. Let me see what we can do to make the tokens case insensitive.

[2018-06-28 19:42] ARolek commented on #438
@mojodna the pbf files are already zig zag encoded so I don't know how much of a win gzipping will add, but we can easily add support for handling the `Accept-Encoding` header appropriately. Have you tried gzipping a pbf tile from tegola by chance?

[2018-06-28 19:43] ARolek commented on #442
@mojodna thanks for the detailed report. We're working on a bunch of rendering improvements in v0.7.0. We're just about ready to start testing against some of these scenarios. We will use this set in our tests.

[2018-06-28 20:48] ARolek commented on #438
Well that's pretty significant. I will work on getting it implemented.

[2018-06-28 20:55] ARolek commented on #271
@ear7h I think this is being addressed in @gdey's port to the `geom` package, which is nearing complete.

[2018-06-28 20:57] ARolek commented on #304
@timlinux nice! is this with QGIS 3.0? It would be nice to have some of these screenshots in a guide under the tegola.io docs. Would you be able to help with that?

[2018-06-28 21:02] ARolek commented on #437
@TNT0305 thanks for the report. This is a good fix, but I'm wondering if we should just fix the bug and throw an error if the coordinates don't match the expected format. Then again, to your point, lat/lon is often conveyed as lon/lat so supporting both would be nice. I just want to make sure we're consistent everywhere.

@ear7h can you take a look at this?

[2018-06-28 21:14] TNT0305 commented on #437
Well, it might be that the example in the command line help indicates: "-180,-85.0511,180,85.0511"

To me, that means -180 degrees longitude, "minimum latitude/south pole area", 180 degrees longitude, "maximum latitude/north pole area".  I should point out, that when I put in the help string's bounds, it does no work (and, tracing in the debugger, the yi > yf).  Also, I notice that his variables a

[2018-06-28 22:00] sacontreras commented on #82
This will be especially useful in my case since I am currently rev'ing Tegola Mobile to support the new Android API 28 release, which disallows cleartext rxtx over http by default. I can work around it in the meantime but I would rather not.

[2018-06-29 00:34] ear7h commented on #82
@sacontreras I created a branch with https support through the config, if you'd like to try it out.

@ARolek you should check it as well but I think it would be best to have refactor of the `server` package. I'm thinking we should implement the pattern of passing in a `dict.Dicter` rather than setting global variables.

(branch here)[https://github.com/go-spatial/tegola/tree/16bad8cb070f0d6160fbc2

[2018-06-29 00:45] TNT0305 commented on #437
@ear7h  Sorry.  Your pull request has "if yi > yi" rather than "if yi > yf"

[2018-06-29 19:22] #426 closed

[2018-06-29 21:29] ARolek commented on #82
@ear7h I'm open for leveraging the Dicter interface to instantiate the server. I can't recall why I was setting global vars but there is an issue that was causing problems with the config strategy before.

[2018-06-29 21:41] sacontreras commented on #82
Sorry for the delay.  Will get to testing this some time over the weekend.

On Fri, Jun 29, 2018 at 2:29 PM Alexander Rolek <notifications@github.com>
wrote:

[2018-07-02 10:17] stvno opened #445 "error parsing toml config"
I just tried to run the latest version from git and my configuration fails now on: `config: value mapped to "fields" is []interface {} not []string`

By the looks of it the cause is #411 where `fields, err := vc.StringSlice(ConfigKeyFields)` was changed into `fields, err := layer.StringSlice(ConfigKeyFields)` with `vc` being a dict and `layer` not a dict  in provider/postgis/postgis.go: https://gi

[2018-07-02 16:13] ARolek commented on #445
@stvno  thanks for the report. We will dig into this quickly. The config parsing was overhauled in v0.7.0 and we want to get this fixed before the release. Thanks for testing this.

@ear7h can you take a look at this?

[2018-07-02 16:18] ear7h commented on #445
I can take care of this

[2018-07-02 19:44] RobertSasak commented on #267
I would like to add projection 25833. Where should I start to look?

[2018-07-02 21:44] gdey commented on #267
@RobertSasak

Currently, the projection system in Tegola only supports transforming data in a different projection to webmercator. At current the render system only outputs to webmercator. The proj project will help us to remove this limitation.

Well it depends on which direction you want to go:

1) the quick way would be to adapt the current system, that will be thrown away.

* Add a new package

[2018-07-02 22:36] RobertSasak commented on #267
Thank you for a quick reply. As I am only playing with data I found the easiest to convert all data to correct projection directly in DB.

Below is my sql script. First I select all tables that contain *myColumn* and then I concat *ALTER* command.
[code]

[2018-07-03 07:48] stvno commented on #89
I'm sorry, I missed this one. I've some other issues to attend to first, but I'll try it when I have a chance and let you know.

[2018-07-03 08:46] stvno commented on #445
just to make it clear, I've always used the 0.7.0-branch

[2018-07-03 09:21] stvno commented on #304
I just checked with 3.3-dev and it recognizes them just fine

[2018-07-03 09:52] stvno commented on #89
Alright I have tested it with a `PolygonZ` and tegola keeps running:

config.toml:
[code]
PostGIS table:
[code]
And the commandline output generated by Tegola:
[code]
Still it would be nice if it would support 3D featuretypes, even when they are just rendered in 2D (as you can see I've added an extra column to the table which contains the 2D geometry for now)

[2018-07-03 10:04] stvno opened #447 "Set Cache-Control headers on S3 cache"
It would be nice if Tegola would add Cache-Control headers to S3-cached tiles. e.g. `Cache-Control:max-age=86400` to make sure the client will reuse tiles from its cache and reduce the bandwidth usage.

see https://docs.aws.amazon.com/sdk-for-go/api/service/s3/#PutObjectInput.SetCacheControl

[2018-07-03 16:32] ear7h commented on #445
The changes were merged into v0.7.0 recently. I just submitted a PR for this issue, fee free to pull it and test it

[2018-07-03 18:51] ARolek commented on #89
@stvno our first idea was to drop the 3rd dimension but WKB does not support more than 2 dimensions. PostGIS has an extended form of WKB known as [EWKB](http://postgis.refractions.net/documentation/manual-1.3/ch04.html#id2571020). We don't currently have a decoder for EWKB, though this would be a great addition to the [geom](https://github.com/go-spatial/geom) package. If an EWKB encoder / decoder

[2018-07-03 19:18] ARolek commented on #304
I just tried this on 3.2 and it's also working great! I'm going to call this issue closed!

[2018-07-03 19:18] #304 closed

[2018-07-03 20:15] stvno commented on #89
@ARolek seems like a sensible approach. I wasn't aware that WKB didn't support the 3rd dimension. I'd vote to close this issue as in it doesn't crash anymore and indeed create two issues to track the EKWB support.

[2018-07-03 21:17] ARolek commented on #89
Perfect!

[2018-07-03 21:17] #89 closed

[2018-07-03 21:19] ARolek opened #449 "provider/postgis: Drop Z dimension for 3D geometries"
Currently tegola's PostGIS driver ignores geometries that have a 3rd dimension. A better solution would be to support decoding PosGIS's EWKB format and drop the 3rd dimension. This issue is dependent on https://github.com/go-spatial/geom/issues/16.

[2018-07-03 22:06] ARolek commented on #445
This is now fixed in v0.7.0

[2018-07-03 22:06] #445 closed

[2018-07-06 20:40] ARolek commented on #429
This has been addressed in the v0.7.0 branch.

[2018-07-06 21:37] ARolek commented on #432
I found a solution to this and just merged it into v0.7.0. Thanks for the report.

[2018-07-06 21:37] #432 closed

[2018-07-06 21:39] ARolek commented on #392
I'm going to close this issue as there is not continued discussion on it. @peldhose feel free to reopen it if you have additional questions.

[2018-07-06 21:39] #392 closed

[2018-07-09 12:40] stvno opened #452 "seeding failed after a while with an insane stacktrace"
I was trying to seed a digital ocean's space (s3 cache) from zoomlevel 6-20 for the Netherlands. It did work for about 20 minutes but in the end it crashed and produced the stacktrace below. The seed command was:
[code]
and the toml:
[code]
It was run in docker with tegola from my fork  https://github.com/stvno/tegola/ which was up to date with the 0.7.0 branch and only had added support for cache

[2018-07-09 14:10] stvno opened #453 "seeding with --overwrite keeps writing the same tiles"
I have tegola setup with a concurrency of 6 and I'm overwriting the existing tiles in the S3 cache with the --overwrite flag since it contained older versions. However looking carefully to what happened I noticed the same tiles being seeded over and over again: e.g. the /8/130/83 tile is seeded already seeded 3 times in the short output snippet alone.
I checked on the server and indeed it keeps re

[2018-07-09 14:17] stvno commented on #453
Mapproxy has a nice way of optimizing seeding of caches: https://mapproxy.org/docs/nightly/seed.html

[2018-07-09 15:53] ARolek commented on #452
@stvno interesting stack trace here. What version of Go are you compiling with?

[2018-07-09 18:32] ear7h commented on #453
@stvno this is a known issue, thank you for the reference. Are you seeding with a tile list or bounding box?
Bounding box seeding is currently being fixed, but we're still looking for a solution with tile lists.

[2018-07-09 19:39] #425 closed

[2018-07-09 23:40] ear7h opened #456 "HTTP2 push support"
Granulation of #82

[2018-07-09 23:41] ear7h commented on #456
The design will likely be via a middleware handler

[2018-07-09 23:45] ear7h opened #457 "Let's encrypt auto cert support"
Using the [autocert package](https://godoc.org/golang.org/x/crypto/acme/autocert) tls certs can be obtained automatically

[2018-07-10 07:10] stvno commented on #453
I'm seeding with a boundingbox and a min/max zoom

[2018-07-10 07:14] stvno commented on #452
I'm using the Dockerfile to create a docker image with tegola:
[code]
So I guess it is go 1.9.2

[2018-07-10 13:02] stvno commented on #453
#454 does fixes the problem

[2018-07-10 13:02] #453 closed

[2018-07-10 13:53] stvno opened #458 "Handle 503 Slowdown requests"
S3-like services will send 503 Slow Down errors to inform clients that it should throttle down a bit: https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

However Tegola will crash when it encounters such an error:
[code]

The expected behavior would be to pause for a second or two and continue again.

Currently running tegola with #454 merged in and built with go 1.10.3

[2018-07-10 14:21] stvno opened #459 "cache/s3: set proper MIME type"
I noticed that the S3 cache doesn't add a MIME type to the files it uploads. Apparently there is an official MIME type for mapbox vector tiles: https://www.iana.org/assignments/media-types/application/vnd.mapbox-vector-tile
Shouldn't tegola use that and also add it to the cached files?

[2018-07-10 14:28] stvno commented on #452
I have rebuild it with the golang:1.10.3  image and the cache-seed improvements and haven't run into the stack trace anymore. So my feeling is that it is solved, so feel free to close it if y'all have nothing to add/ask.

[2018-07-10 15:04] stvno commented on #458
hm I noticed the aws-sdk doesn't include the necessary error codes: https://github.com/aws/aws-sdk-go/blob/master/service/s3/errors.go
I tried to hack support into s3.go like this, but that doesn't work due to a missing error code :(
[code]

[2018-07-11 02:54] ARolek commented on #459
@stvno absolutely. Should be a simple implementation and this has value if you're going to fill your cache and serve from it rather than have tegola serve. You can send in a PR if you have a chance to get to it before we do.

[2018-07-11 03:06] ARolek commented on #452
Great, thanks for the follow up.

[2018-07-11 03:06] #452 closed

[2018-07-11 03:21] #447 closed

[2018-07-11 16:55] ARolek commented on #458
Thanks for the report. I will need to think how to best implement this. Even with a `Sleep` the issue could continue as other requests are trying to write to the cache. A buffer could possibly be used to hold bytes in memory if S3 is reporting a slow down error, but I think this is going to get messy quick. Another alternative is to put a lock in place that is checked prior to writing.

As for che

[2018-07-14 13:13] capan opened #460 "Server Very Slow, tile loads took more than 10 seconds. Sometimes browser crashes"
I've followed the tutorials and started the server in my local machine. I'm trying to serve country data on my local postgresql server. There is only one layer and in shapefile its size is 10 MB. Everytime I started the server and went to localhost port it took too long for map to load. If I change the zoom levels some tiles never loaded or took too long.
Is there any tuning needs to be done in da

[2018-07-14 13:36] ARolek commented on #460
@capan first place to check is indexes. Do you have a gist index on your geom_3857 column?

[2018-07-16 11:40] olt opened #463 "Performance improvements"
I did some first tests with Tegola and I wanted to find out how it performs and if there are any low hanging fruits.

I used Go's pprof profiler (#462) on a three layer config of OSM buildings, roads, and landuse polygons. Most of the time is spent in Go's `runtime` package which is the result of heavy use of goroutines and creating a lot of objects (which the GC has to handle).

I found that make

[2018-07-16 12:04] stvno commented on #437
since we only support lat/lon bounding boxes can't we just check if minX < maxX and minY < maxY?

[2018-07-16 13:14] stvno commented on #437
found another bug: https://github.com/go-spatial/tegola/pull/454/files#diff-05b342429942bd0375f9eb1fcfc50b88R391 it does a math.min on `xf` to produce `yf`

[2018-07-16 16:41] gdey commented on #463
Hey, thanks for looking into this. I'm currently on a major rewrite and simplification of the code, at the geom repo, which will replace this part. I haven't pushed the code yet but would love it if you would want to take a look. I'll try and push it up to a branch by the end of the day, and tag you on it.

[2018-07-16 18:16] ARolek commented on #460
@capan from the looks of it the data is pretty fine grained. In this situation I would suggest creating another table with a simplified version of the data via [ST_Simplify](https://postgis.net/docs/ST_Simplify.html). This strategy is used with OSM data for layers like water areas. You would then make some modifications to your config file like so:

[code]

Additionally we have a major update comi

[2018-07-17 02:07] #443 closed

[2018-07-17 02:23] ARolek commented on #463
@olt thanks for the research! As @gdey mentioned he's currently wrapping up a major refactor to the geometry processing piece of tegola. We're moving all the geo processing methods to a separate repo called [geom](https://github.com/go-spatial/geom) so it can grow and improve independent of tegola. To answer your questions:

Yes. MakeValid is a complex task and something that we have been working

[2018-07-17 08:23] olt opened #464 "Provide test data download/instructions"
I try to run the PostGIS tests but I can't find any information on how to setup the test database.

The Travis script downloads data from https://s3-us-west-1.amazonaws.com/tegola-test-data/tegola-postgis-test-data.backup but this fails (404).

[2018-07-17 13:34] stvno commented on #458
Diving into the amazon error code I discovered that this is a RequestFailure. So the code bit below allows me to continue seeding without crashing. Though as @ARolek pointed out, it only pauses the request-thread which produces the error, not the other ones. Also it doesn't retry the request after 3 seconds.
But at least we know how to catch the error.
[code]
TBH it would make more sense to put th

[2018-07-17 18:08] ARolek commented on #464
@olt this has changed in the v0.7.0 branch. The test data now lives at: https://github.com/go-spatial/tegola-testdata. You can see the updated ci script [here](https://github.com/go-spatial/tegola/blob/v0.7.0/ci/config_postgis.sh).

[2018-07-17 19:30] ARolek commented on #458
@stvno thanks for digging into this. We need to think through where to best handle the back pressure. I don't think putting it in the seeding specific code is ideal though. The same issue could happen when serving tiles so it should be handled in a way that both seeding and serving benefit.

@gdey can you add your ideas here when you have a min.

[2018-07-17 21:04] capan commented on #460
I'm waiting for the update.

[2018-07-19 11:11] millionpoundhat opened #465 "_cgo tegola_windows_amd64_cgo binary not built with geopackage support as per documentation"
tegola_windows_amd64_cgo.exe serve --config=geopackage-tegola.toml

2018-07-19 12:06:29 [INFO] config.go:191: loading local config (geopackage-tegola.toml)
2018/07/19 12:06:29 root.go:74: No providers registered by the name: gpkg, known providers(debug,postgis)

Sanitised TOML
[code]

[2018-07-19 11:39] olt commented on #464
OK, got it. All development happens on v0.7.0 (should probably have been named v0.7.x to avoid mixup with the version tags) and master is stable.

[2018-07-19 12:17] olt commented on #463
Cool, I'l be watching the geom repo. Feel free to @ me.

I don't think this applies to Tegola as slices shouldn't hit multiple megabytes?! And even if, the memory still gets reused, but just no immediately. That's how I understand this issue.

[2018-07-19 12:44] olt opened #467 "provider/postgis: Support for sub-queries as "tablename""
Mapnik only supports table names, but no SELECT statements. Mapnik always adds something like `SELECT geometry FROM ... WHERE ST_Intersects(geometry, !bbox!)` around the table name. Complex queries are supported by wrapping the query in `(...) AS subquery`.

So `(SELECT id, geometry, ST_Area(geometry) as area FROM landuse WHERE ST_Intersects(geometry, !bbox!)) AS sub` is a valid "tablename".

See

[2018-07-19 12:45] olt opened #468 "provider/postgis: Improve compatibility with Mapnik SQL queries"
I'd like to improve the compatibility with SQL queries designed for Mapnik. This issue tracks all required changes:

- [x] Support for `!bbox!` token (#443)
- [ ] Support for `!scale_denominator!`, `!pixel_width!` and `!pixel_height!`. All calculated based on the current extent and a tile size of 256x256.
- [ ] Support for SQL sub-queries as tablenames. (#467)

Please let me know if you have any q

[2018-07-19 18:56] ARolek commented on #465
@gdey did your manual builds of v0.6.x get pulled down? I don't see them anymore but I know you addressed this manually pending completion of #420.

[2018-07-19 18:59] ARolek commented on #464
I like the idea of using v0.7.x moving forward. I will implement this for the v0.8.x release cycle.

[2018-07-19 19:04] ARolek commented on #463
It depends on the user's config. If fine grained data is configured to be brought in at coarse zooms then large geoms will be decode from wkb to large slices. We have hit this issue before during seeding jobs which is why I note it. Generally if a config is properly setup then it should not happen.

[2018-07-19 19:09] ARolek commented on #468
@olt I'm all for these improvements. I need to do a bit more research on #467 before I put my vote in for the two options. I'm currently traveling but back mid next week so I can follow up then.

[2018-07-22 19:23] capan opened #469 "Point layer styling on Leaflet returns Cannot read property 'lat' of undefined error"
I'm trying to style layers in Leaflet using Leaflet.VectorGrid. I can create popups on polygon data, but point data returns  Uncaught TypeError: Cannot read property 'lat' of undefined error. The source of the problem seems to be on the Leaflet.Renderer.Canvas.Tile.js file's 64.  line.

On this line `this._handleMouseHover(e, point);`  returns undefined result. But it also returns undefined result

[2018-07-26 00:09] brianbancroft opened #470 "PostGIS: Use the !ZOOM! token before the where-clause of the query."
Hi there, and thanks for putting this together. I hope the march towards 0.7 continues steadily.

## Requested Behavior
I seek to be able to use the `!ZOOM!` token before the WHERE-clause in a TOML-fed query for a given layer so that I can leverage the postGIS `ST_Simplify` function with the intended result of simplifying polygons at lower zoom levels.

## Use Cases

Here's where I'd employ it:

[

[2018-07-26 23:48] #420 closed

[2018-07-30 14:30] pnorman opened #474 "Document how to point at your own s3-compatible API"
A number of software packages offer S3-compatible block store APIs. https://github.com/go-spatial/tegola/blob/9c523ad35e1e6ce3a06ca09e580518e78ac65622/cache/s3/README.md should document how to change the host that is used in order to point at them.

[2018-07-30 14:32] pnorman commented on #474
ref. http://docs.ceph.com/docs/mimic/radosgw/s3/ https://www.swiftstack.com/docs/admin/middleware/s3_middleware.html

[2018-07-30 16:14] ARolek commented on #474
@pnorman in the v0.7.0 branch their have been some updates to the [s3 package](https://github.com/go-spatial/tegola/blob/v0.7.0/cache/s3/README.md) including the addition of the `endpoint` config param which is used for non AWS deployments. Let me know if you think additional details / configs should be added:

[2018-07-30 16:28] rtmorgan opened #475 "server/README.md: "Server" heading misspelled"
The heading "Server" is misspelled as "Sever".

[2018-07-30 16:29] #475 closed

[2018-07-30 18:52] #464 closed

[2018-07-31 07:02] olt commented on #470
Can you try with https://github.com/go-spatial/tegola/pull/466 and an explicit `geometry_type`?

[2018-07-31 17:05] ARolek opened #479 "provider/gpkg: support geometry_type config"
`provider/postgis` supports a `geometry_type` config parameter to avoid table scans to infer the geometry type. To keep the providers consistent support for `geometry_type` should be added to the gpkg provider.

[2018-08-02 09:18] pnorman opened #480 "Be consistent about - vs _ in command options"
`tegola cache` has some options with - and some with _, e.g. `--min_zoom` and `--tile-list`. This is poor UI and adds confusion. `-` is more common with other programs.

[2018-08-02 09:24] pnorman opened #481 "panic: runtime error: index out of range"
When I run `cache seed` with no options I get an index out of range runtime error.
[code]

[2018-08-02 09:27] pnorman opened #482 "Seeding with bounds does nothing"
When I run `~/go/src/github.com/go-spatial/tegola/cmd/tegola/tegola cache seed --min_zoom 0 --max_zoom 12 --bounds "-123.37,49.01,-122.66,49.38" --map bolder` tegola exits right away.

This might be related to #437

[2018-08-02 09:31] pnorman commented on #482
Ah, the bounds aren't critical here. `~/go/src/github.com/go-spatial/tegola/cmd/tegola/tegola cache seed --min_zoom 0 --max_zoom 6` also exits in a few ms and does nothing to the cache folder

[2018-08-02 22:34] ARolek commented on #480
@pnorman great catch. I just pushed a PR to fix this.

[2018-08-02 22:34] #480 closed

[2018-08-02 22:37] ARolek commented on #481
@pnorman please pull the latest for v0.7.0. This was already addressed and by default we now set the max zoom to 22 if no max zoom is set.

[2018-08-02 22:37] #481 closed

[2018-08-02 22:38] ARolek commented on #482
@pnorman please pull the latest version of v0.7.0 as this has been addressed.

[2018-08-02 22:38] #482 closed

[2018-08-02 22:39] ARolek commented on #474
@pnorman if you're still having issues feel free re-opening this issue.

[2018-08-02 22:39] #474 closed

[2018-08-02 22:42] ARolek commented on #437
@stvno & @TNT0305  if you have any other problems please open a new issue. Thanks for battle testing this feature.

[2018-08-03 11:33] pnorman commented on #474
I'm still in the development stage, so I'm not yet using anything other than disk cache.

I'll review the docs when I'm ready to use them.

[2018-08-03 11:36] pnorman commented on #482
Confirmed working

[2018-08-03 11:52] pnorman opened #484 "Improve display of tile rendering times"
When seeding, the log shows stuff like

[code]

There are two problems with this

1. The times are shown with a nano-second precision. This is excessive and makes it harder to read. Times to the nearest ms or 0.1 ms are accurate enough

2. The times are in different units, which makes it hard to parse. For many applications I'd like to capture the data and do histograms of tile generation time so

[2018-08-05 19:58] pmabey opened #485 "Support for geography type?"
Is there support for the Postgis geography type? I've tried to get it working by casting it to a geometry type but so far haven't had any luck. Using the following allows the server to startup but am unable to see the layer in the browser.

SELECT id,ST_AsBinary(geog::geometry) AS geog FROM public.sites WHERE geog::geometry && !BBOX!

[2018-08-06 15:54] ARolek commented on #485
@pmabey I believe that the geography type in PostGIS is all in WGS84, so just set the `srid` for the provider table to `4326`. You can find some more info in the docs [here](http://tegola.io/documentation/configuration/#postgis-1).

I have not tried running tegola against a geography type, so please report back if this works.

[2018-08-06 18:49] ARolek commented on #484
@pnorman the times are formatted per Go's [time.Duration](https://golang.org/pkg/time/#Duration) String() format. I can understand the need for consistency when parsing logs though. We could change this to just Seconds and truncate the decimal to 2 places.

[2018-08-06 21:51] pnorman commented on #484
I'd keep ms resolution. Generation times in the 100ms range are common, so 10ms resolution is a bit low.

[2018-08-07 00:10] pmabey commented on #485
Success....had the wrong SRID defined. Fixed it and now am able to successfully pick up a geography type as long as I cast it to a geometry.

[2018-08-07 00:10] #485 closed

[2018-08-07 00:11] ARolek commented on #485
@pmabey great. Did you try fetching the geography without the cast by chance?

[2018-08-07 00:15] pmabey commented on #485
Yep, but got the following error when launching the server:
2018/08/07 00:14:41 root.go:74: error fetching geometry type for layer (sites): ERROR: function st_geometrytype(geography) does not exist (SQLSTATE 42883)

[2018-08-07 16:37] pnorman commented on #438
I wrote this up as a new issue, but found this issue already about it.

When MVTs were designed, gzipping was intended. This allows use of gzip's property that gzip(file 1 + file 2) = gzip(file 1) + gzip(file 2), and the ability to concatanate multiple layers with MVTs.

Mapbox's implementations of consumers and servers assumed that browsers would always request compressed data, server-side softwa

[2018-08-07 18:25] ARolek commented on #485
@pmabey that makes sense. We try to infer the geometry type on startup but that would fail for the geography types. We have a new feature in v0.7.0 (thanks to @olt) that allows you to define the geometry type in the config so tegola wont sniff for the type. This might make it so geography types work.

[2018-08-09 20:01] Linolium opened #488 "Labels rendering"
Hello, i have one question about rendering labels of roads, areas and etc.
I using tegola as tile server and [react-map-gl](https://github.com/uber/react-map-gl) as lib for react application to render it. Assume that I have to attach "glyphs" field and layer with the type equals symbol to the style.json for frontend part of application to display fonts.
I can't understand how i can display my own

[2018-08-09 20:15] erictheise commented on #488
Not sure if this answers your question, @Linolium, but I've had to work out a local fontstack recently myself. I ended up using [genfontgl](https://github.com/sabas/genfontgl), specifying an output location of `glyphs` in my server root, then used `"glyphs": "/glyphs/{fontstack}/{range}.pbf` in my mapbox json style. [node-fontik](https://github.com/mapbox/node-fontnik) might also be applicable in

[2018-08-09 20:26] ARolek commented on #488
@Linolium it will probably be helpful to look at some of the style sheets in the [tegola-web-demo](https://github.com/go-spatial/tegola-web-demo/tree/master/styles) repo. [here](https://github.com/go-spatial/tegola-web-demo/blob/master/styles/hot-osm.json#L2719) is an example of using a tag to put a label on a line for `transport_lines` and an example of a symbol layer can be found [here](https://

[2018-08-09 20:40] Linolium commented on #488
@erictheise @ARolek Thx a lot, i will try something with it soon. I will leave a response about result.

[2018-08-10 17:07] #384 closed

[2018-08-10 17:10] gdey commented on #396
This is not going to be an issue with the new aglo in geom.

[2018-08-10 17:10] #396 closed

[2018-08-10 19:55] ARolek opened #489 "Add `TEGOLA_` prefix to `SQL_DEBUG` env var for consistency"
All environment variables that are tegola specific should be prefixed with `TEGOLA_`. `SQL_DEBUG` needs to be brought into compliance.

[2018-08-10 20:01] ARolek opened #490 "Release v0.7.0"

[2018-08-10 21:26] #489 closed

[2018-08-10 22:33] #367 closed

[2018-08-10 22:33] #375 closed

[2018-08-11 00:05] ARolek commented on #465
the v0.7.0 release is now available and addresses this issue.

[2018-08-11 00:05] #465 closed

[2018-08-11 00:07] #490 closed

[2018-08-11 00:25] #319 closed

[2018-08-11 00:27] #291 closed

[2018-08-11 00:30] ARolek commented on #53
the wkb package has moved to github.com/go-spatial/geom and now has a fuzzing.

[2018-08-11 00:30] #53 closed

[2018-08-13 16:26] pnorman commented on #470
The errors when doing anything math-like with `!ZOOM!` are a duplicate of #343

[2018-08-13 16:28] pnorman opened #494 "Give units when reporting large tiles"
Right now large tiles are reported like `handle_map_layer_zxy.go:177: tile z:8, x:40, y:86 is rather large - 541058` but it doesn't say if that's bytes, kb, or something else.

[2018-08-13 21:26] wonderchook commented on #460
@capan v0.7.0 is available to try out> https://github.com/go-spatial/tegola/releases/tag/v0.7.0 let us know your results

[2018-08-15 16:04] Linolium commented on #488
I configured glyphs on client, it works perfectly but i am using mapbox servers to take glyphs and sprites.
I tried to write my own server for that(kotlin + springboot) but got some problems with protobuf protocol. Where can i take glyphs and sprites servers to deploy it on my VM?

[2018-08-15 18:03] ARolek commented on #488
@Linolium have you considered using [github pages](https://pages.github.com/) to host the glyphs and sprites? That's what the [tegola demo](https://demo.tegola.io) is doing.

[2018-08-15 21:02] Linolium commented on #488
@ARolek glyphs requests currently don't working in demo, all requests have 404 status. I wonder, it's necessary to get glyphs as requests with content type application/x-protobuf or i can get them in different way.

[2018-08-15 21:17] ARolek commented on #488
@Linolium everything shows as a 200 on this end (screen shot attached)
<img width="692" alt="screen shot 2018-08-15 at 2 16 57 pm" src="https://user-images.githubusercontent.com/667850/44173830-efe2f580-a095-11e8-90fe-27cfa17ce687.png">

[2018-08-15 21:33] Linolium commented on #488
@ARolek maybe it's private? Because i get errors
![image](https://user-images.githubusercontent.com/16257276/44174416-c359c880-a0eb-11e8-82b7-3d2d27ae9062.png)
And when i follow this link i get
![image](https://user-images.githubusercontent.com/16257276/44174490-f9974800-a0eb-11e8-94c5-5f67a35dd2ec.png)

[2018-08-15 21:35] Linolium commented on #488
@ARolek argh, i understood, it's because of adblock in chrome, when i turned it off everything worked

[2018-08-15 21:55] ARolek commented on #488
@Linolium I wonder why adblocker is blocking GH pages...

[2018-08-17 12:45] olt opened #495 "Make validation optional for non-clipped geometries"
Right now, all geometries are cleaned by `validate.CleanGeometryGeom`. This might not be necessary if all geometries are already valid and the geometry is within a tile (i.e. no clipping).

How about a `dont_validate` option analog to `dont_simplify`?

[2018-08-17 12:51] olt commented on #463
I'm closing this. The geom package is the place for further improvments: https://github.com/go-spatial/geom/pull/20

[2018-08-17 12:51] #463 closed

[2018-08-17 19:03] gdey commented on #495
I think this is something we can consider after we have the makevalid optimized and cannot get better performance. (I could be convinced otherwise.)

Yeah, there are plans later to have an IsValid function and to do a faster clipping on it. Right now I'm running everything through it because of the clipping, and to really test out the make valid functions. Also, I think there are some issues with

[2018-08-19 15:14] scottkehler opened #496 "Tegola Lambda Gives Mapbox Unimplemented type: 7 Error"
I successfully deployed tegola_lambda to AWS Lambda and use an API gateway to request tiles. However, when my mapbox script requests tiles from Lambda, it gives "Unimplemented type: 7". Based on what I have read, this seems to be an issue with the response tiles not being zipped, or not being zipped correctly. This issue may be related to #438 .

In the past I have successfully used tegola to serv

[2018-08-19 18:30] ARolek commented on #496
@scottkehler I believe that error can show up for several reasons if the tile is not encoded correctly. Can you share the endpoint so I can take a look?

[2018-08-19 18:35] scottkehler commented on #496
This is the endpoint I have been testing with: https://15jk7dxj0e.execute-api.us-east-1.amazonaws.com/dev/maps/bonn/road1/{z}/{x}/{y}.pbf

[2018-08-19 18:52] ARolek commented on #496
@scottkehler Just a quick look at the responses and it looks like you still need to configure the binary media types as described under [Configuring API Gateway](https://github.com/go-spatial/tegola/tree/master/cmd/tegola_lambda#configuring-api-gateway). Here's the blurb I'm referring to:

- On the left, under the APIs section, locate "Settings" under the configured API.
Under "Binary Media Types"

[2018-08-19 19:03] scottkehler commented on #496
I did add the "/" in binary media types, so that doesn't appear to be the issue.

[2018-08-19 19:35] ARolek commented on #496
@scottkehler try changing the value to `*/*`. If you try to request one of your tiles directly it's coming back as a base64 encoded string which is why mapbox GL is throwing the error. For example:

[code]
That response payload should not be a string but binary.

[2018-08-19 19:42] scottkehler commented on #496
Changing it from / to */* appears to have worked. Thanks for the help!

[2018-08-19 19:58] ARolek commented on #496
@scottkehler beautiful. I will update the readme.

Congrats on the deployment btw! You're the first person besides the `go-spatial` team that I know of who has done a tegola lambda deployment.

[2018-08-19 19:58] #496 closed

[2018-08-19 20:11] ARolek commented on #496
Looks like the README.md file was correct but when GH parsed it for presentation they removed the `*` from the `*/*` piece. It's now fixed.

[2018-08-20 09:27] olt opened #497 "Broken/invalid geometries from new geom makevalid function"
This issue is to collect validation issues with the new geom package (https://github.com/go-spatial/tegola/tree/integrate_geom_makevalid)

I have a GeoPackage with land polygons generated from the OSM coastline. They are quite detailed, (especially in harbors) and split in larger chunks (possible touching clip boundaries). All polygons are be valid according to PostGIS.

[processed_p.gpkg.zip](htt

[2018-08-20 09:28] olt commented on #495
I totally understand!

QuadEdges are all greek to me. Are there any tests we can port to validate the code? Maybe #497 helps to narrow it down.

[2018-08-20 10:46] olt commented on #497
It is indeed the random map iteration.  I get stable results by sorting the constraints:
https://gist.github.com/olt/c0b348d8038ae37f3cbe62c1dea10558

Unfortunately, there are still broken polygons, but at least the issues are consistent. Hope this help!

[2018-08-22 12:15] Linolium commented on #488
@ARolek i dunno, finnaly i did it, everything work fine
![image](https://user-images.githubusercontent.com/16257276/44462580-ad816180-a61d-11e8-86f7-c5f8e35f32c0.png)
I just wrote simple spring-boot application for provide glyphs, fonts and construct routes, thx you a lot for help.

[2018-08-22 12:15] #488 closed

[2018-08-24 21:55] ear7h commented on #437
The current math refuses to go over the anti meridian. Running the following command:
[code]

Produces:
[code]

Which is all the tiles where `y=3`. The command should only have seeded tiles `3/0/3` and `3/7/3` where the bounds have a minimum (westward) longitude of `179.99` and maximum (eastward) longitude of `-179.99`.

[2018-08-24 22:10] ear7h opened #499 "provider: Tiler.TileFeatures should take in a geom.Extent instead of a slippy.Tile"
This would make the interface more flexible.

[code]
cc @ARolek @gdey

[2018-08-24 22:12] ear7h opened #500 "cache cmd: lat long bounds cannot cross the anti meridian"
The current math refuses to go over the anti meridian. Running the following command:

tegola cache seed --bounds="179.99,0.001,-179.99,0.002" --max-zoom=3 --min-zoom=3
Produces:

2018-08-24 14:41:10 [INFO] config.go:163: loading local config (config.toml)
2018-08-24 14:41:10 [INFO] cache.go:106: zoom list: [3]
2018-08-24 14:41:10 [INFO] cache.go:232: cache seed set to not overwrite existing tiles

[2018-08-24 22:13] ear7h commented on #500
related to #437

[2018-08-24 22:13] #437 closed

[2018-08-24 22:13] gdey opened #501 "TileBuffer should be a per Map config"
Currently, the TileBuffer ( https://github.com/go-spatial/tegola/blob/master/config/config.go#L24 ) is at the top level. We should make it so that each map can have it's own TileBuffer parameter, default to the top level one if it is set.

[2018-08-28 02:35] gdey commented on #497
@olt i’m going to move this issue to the geom package.

[2018-08-29 19:56] george-silva commented on #58
Hello all! Just chiming in here.

I've built something like this for Tilestache, but it fetched from a http(s) endpoint. This is extremely useful and it's one of the features preventing me to switch to tegola.

I would actually change `django-tilestache` to support both servers.

[2018-08-29 20:32] ARolek commented on #58
@george-silva tegola supports loading a config over http(s), just pass in a URL to the `--config` flag. We don't have runtime reloading in yet though. Do you need reloading the config for your use case?

[2018-08-29 20:51] george-silva commented on #58
Yes. That's one of the main usecases. Because there are some apps of ours that allows users to define their own tables/layers (within some limitations, of course), but it would be great if it was dynamic, instead of needing to restart the whole service.

In `django-tilestache` I just added a timer that re fetches the config from the http(s) endpoint configured, for example.

[2018-08-29 22:30] george-silva commented on #58
There are two possibilities: on demand, like an endpoint on tegola itself,
like "reload" or a timed operation.

I know 0 things about go, perhaps with some mentoring this is something you
can help me contribute?

Em qua, 29 de ago de 2018 18:23, Alexander Rolek <notifications@github.com>
escreveu:

[2018-08-31 17:49] ARolek commented on #58
@george-silva I was thinking more along the lines of sending a signal to a running tegola process. The endpoint idea is something I'm trying to avoid as I don't like the idea of having a reload endpoint publicly available. If we did want to support an endpoint we could potentially support a configurable secret that would be required to invoke the endpoint. I'm open for ideas on this.

Regarding im

[2018-09-05 14:53] stvno commented on #494
the units are not even consistent, in the output below they seem to be ranging from 1-9M
[code]

Whereas the files on disk are:
[code]
thus ranging from 897K - 2.4M

[2018-09-05 16:51] gdey commented on #494
It's reporting in bytes.
https://github.com/go-spatial/tegola/blob/master/server/handle_map_layer_zxy.go#L177

We can make it more readable by converting it all to Kb.

[code]

[2018-09-05 17:00] #459 closed

[2018-09-05 17:02] ARolek commented on #442
This issue has been bumped to the v0.8.0 release pending implementation of constrained Delany triangulation.

[2018-09-05 17:36] ARolek opened #505 "provider/gpkg: panic when calling `extractColsFromSQL`"
When reading the metadata of a geopackage the columns are extracted from the `CREATE` statement. If the `CREATE` statement spans multiple lines a panic is thrown.

[2018-09-05 18:02] ARolek commented on #505
This issue has been addressed in v0.8.x via @olt's PR #486. In v0.7.0 a panic can occur. An additional test case has been added to account for this moving forward.

[2018-09-05 18:02] #505 closed

[2018-09-07 21:19] #467 closed

[2018-09-10 08:17] stvno commented on #459
I never tested it with tegola running from cache and I discovered that Tegola will always serve as
application/x-protobuf
https://github.com/go-spatial/tegola/blob/master/server/middleware_tile_cache.go#L74

[2018-09-10 16:01] ARolek commented on #459
@stvno correct. This should be changed to `application/vnd.mapbox-vector-tile`. I will open an issue for it.

[2018-09-10 16:02] ARolek opened #511 "Set proper MIME type for vector tiles"
Currently vector tiles are being served with the MIME type: `application/x-protobuf`. This should be changed to `application/vnd.mapbox-vector-tile` per the [spec](https://github.com/mapbox/vector-tile-spec/tree/master/2.1#22-multipurpose-internet-mail-extensions-mime).

[2018-09-12 14:18] george-silva commented on #58
But how can we inform, from the outside, that the config changed?

Since there is support for http(s), it would be simple to implement a timed operation for this reload, right? Could be an option to pass along to run the process.

The endpoint for sure would need a secret token for that. What we could do is: when asked to reload, the server tries to reload the new config (from file or from http(s)

[2018-09-12 18:36] brianbancroft commented on #470
@pnorman is correct. This is a duplicate. Closing :)

[2018-09-12 18:36] #470 closed

[2018-09-12 18:44] brianbancroft opened #513 "SQL_DEBUG=LAYER_SQL:EXECUTE_SQL no longer prints to terminal"
Hi there,

`SQL_DEBUG=LAYER_SQL:EXECUTE_SQL` is a fantastic tool for debugging by determining what the problem with the thing I'm doing is, as every time I hit a tile, I come up with a lovely visual indicator such as this:

![image](https://user-images.githubusercontent.com/6225122/45446188-409c3d00-b69a-11e8-95ce-4eb7e4e11766.png)

But starting with the Tegola 7 release, this is no longer somethi

[2018-09-12 20:04] ARolek commented on #513
@brianbancroft that env var was named to `TEGOLA_SQL_DEBUG` in v0.7.0. We're prefixing all the tegola specific env vars with `TEGOLA_` now to avoid potential conflicts with other env vars.

[2018-09-12 21:37] Hoovs commented on #340
Looks like https://github.com/go-spatial/tegola/blob/master/provider/postgis/util.go#L170-L185 is now no longer there, or anywhere in that file.

[2018-09-13 23:03] ARolek commented on #340
@Hoovs good catch. The hstore datatype is now handled by `case map[string]pgtype.Text:`

[2018-09-14 18:42] #328 closed

[2018-09-14 18:45] ARolek opened #514 "providers/postgis: idle connections not being cleaned up"
When running tegola in a horizontally scalable environment (i.e. lambda, PCF) where instances are spun up and destroyed regularly, idle connections stack up at the database. I believe this is due to not properly closing the connection pool when the process completes but I'm not sure if this is the case.

[2018-09-15 02:21] #438 closed, assigned to ARolek

[2018-09-18 18:03] #513 closed

[2018-09-18 18:05] brianbancroft commented on #513
Cool beans. Closing as this isn't an issue, then!

[2018-09-25 20:22] ARolek opened #517 "Add support for --no-cache override"
When debugging a config file it's helpful to turn off the cache. A command line override of `--no-cache` could be used to override the config's cache definition.

[2018-09-25 21:00] ARolek commented on #382
If the `id_fieldname` is not found in the `sql` then the config block will fail. The reason why the above passes validation is because `id` is a substring of `gid` and therefore the string match condition is met. This should be stricter.

[2018-09-26 19:13] ARolek opened #519 "Configurable response headers"
Allowing for configurable response headers would allow tegola to respond to tile requests with user defined headers. For example, setting `Cache-Control` headers so downstream proxies and client side consumers can have cache directives to work with that are not hard coded. Additionally the `cors_allowed_origin` [webserver config](http://tegola.io/documentation/configuration/#webserver) could be mi

[2018-09-27 09:32] malexer commented on #460
@ARolek in the `maps.layers` section you have `max_zoom` of the first layer equal to the `min_zoom` of the second. Is it correct? I guess they should not overlap.

[2018-09-27 16:47] ARolek commented on #460
@malexer good catch. It's actually incorrect. I will modify the above comment.

[2018-09-27 18:02] gdey opened #520 "Create a cache provider for mbtile"
https://github.com/mapbox/mbtiles-spec/blob/master/1.3/spec.md

The MBTile spec is perfect for our cache system. We should implement this a deployment target for our cache system.

A few things to note.

The system will have to o the translation from the standard "XYZ" format to the one required by mbtiles using the [formula](https://github.com/mapbox/mbtiles-spec/blob/master/1.3/spec.md#content-1

[2018-09-27 18:43] erictheise commented on #520
Thanks for creating this issue, @gdey, it's encouraging to see your expertise shine through as you scope out what needs to be done.

[2018-09-29 11:08] capan commented on #460
I've tried new version with same data; browser still freezing from time to time though I haven't exprienced any black-outs like on the previous version.

[2018-09-29 21:05] ani82 commented on #405
@ARolek
I checked the SRIDs and could finally make the debug SQL return non-empty results. That means the intersection of table geometry and bounding box are non-empty.

However, the resulting tiles are all broken with the same short content:

`
	roads( x`

What are the mechanics after the postgis provider returned non-empty geometries? Any conversion? Where could it break finally? All geoms a

[2018-09-30 09:39] capan opened #521 "invalid (Z) value error. on v0.7.0 Caching failed and data is not loaded"
On the final version, after a certain zoom level (22) data couldn't be fetched and on the command line invalid (Z) value error is logged. Same data works without any errors, Only thing I've changed is tegola version.

[2018-09-30 18:03] ARolek commented on #521
Can you add some of the logs to this issue? It should have the invalid Z value in the log message.

[2018-10-02 07:48] ani82 commented on #405
@ARolek
Good news: We were able to isolate the problem. The problem occurs when you use a user who wasnt granted read permissions onto the table or view. Then Tegola renders empty tiles (coming from empty responses) and does not consider the database error thrown.

[2018-10-02 07:48] #405 closed

[2018-10-02 07:50] ani82 opened #523 "v0.7.0: Missing permissions on tables/views are not covered by any error message"
Good news: We were able to isolate the problem. The problem occurs when you use a user who wasnt granted read permissions onto the table or view. Then Tegola renders empty tiles (coming from empty responses) and does not consider the database error thrown.

**Expected behavior:** server error 500 via API + error message via STDOUT reg. missing table permissions
**Shown behavior:** HTTP 200 with ma

[2018-10-02 18:30] ARolek commented on #337
@pnorman this has been fixed on the `v0.8.x` branch.

[2018-10-02 18:30] #337 closed

[2018-10-02 18:31] #511 closed

[2018-10-03 21:12] ARolek commented on #523
@ani82 great! thanks for digging into the bug and finding the underlying issue. I will look into capturing this error and reporting it accordingly. I'm surprised the error is not being thrown right now.

[2018-10-07 14:19] pnorman commented on #382
It shouldn't try to detect id_fieldname in the SQL, since it doesn't need to be present in the string for there to be an output column.

[2018-10-08 09:55] fenelon opened #524 "Disappearing lakes"
Between zoom 7 and 8 certain water areas disappear. (i.e. Lake Garda)

![lakes](https://user-images.githubusercontent.com/767838/46602223-341fce80-caf8-11e8-8ab6-30251b895cc4.gif)

I'm using OSM data imported with imposm3.

Tile endpoint: `https://tiles.level.travel/new/maps/osm/{z}/{x}/{y}.pbf`

Provider layers:
[code]

Map layers:
[code]

Then I tried turning simplification off, didn't seem to h

[2018-10-08 15:58] ARolek commented on #524
@fenelon can you try adjusting the `min_zoom` to 5 value on this block:

[code]

I think you have a gap there and the water area disappearing might have to do with the browser using the previous zoom levels for that zoom as the tiles are loading in.

Great looking style btw!

[2018-10-08 16:50] fenelon commented on #524
@ARolek When I set it to 5, it complains about overlapping zooms:

`root.go:66: config: overlapping zooms for layer (osm.water_areas_gen0) and layer (osm.water_areas_gen0_6)`

Thanks for the compliment :) It wouldn't be possible without your work. Tegola is truly an awesome product.

[2018-10-08 17:34] ARolek commented on #382
@pnorman in the `v0.8.x` branch it should only try to detect it if the `id_fieldname` is set.

[2018-10-08 18:24] ARolek commented on #524
Can you give me the URL so I can try to recreate the issue locally?

[2018-10-08 19:14] fenelon commented on #524
@ARolek the XYZ url is in the first post.

Here you go: `https://tiles.level.travel/new/maps/osm/{z}/{x}/{y}.pbf`
Style file: `https://tiles.level.travel/custom/style-new.json`

[2018-10-08 22:40] ARolek commented on #524
@fenelon I'm referring to a location on the map. If I have lat / long to work with I can recreate locally and see where the issue exists.

[2018-10-09 09:18] fenelon commented on #524
@ARolek Lake Garda: 45.569111, 10.633642
https://maputnik.github.io/editor/#8.45/45.677/10.746

Not sure if that might be connected, but I'm also seeing land disappear on certain zooms in a small number of places:
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/767838/46659255-3e57d080-cbbd-11e8-957c-b34fb95931e4.gif)

[2018-10-09 17:26] bagage opened #525 "Limit tegola serve to given bounding boxes"
The `tegola cache` command supports a `--boundingbox` parameter to generate cache only for given bbox.

However I'd like to define this is the config.toml file instead, because I'm serving tiles only for a single country and thus I have no interest in doing postgres queries outside of it. Ideally, it should work with a polygon instead of bounding box, because France is a multipolygon and I cannot

[2018-10-10 11:14] russss opened #526 "Slow performance on low zoom tiles"
I'm trying to run tegola on a non-trivial, but still relatively small, dataset which is approximately 10GB in PostGIS (the DB behind [OpenInfraMap](openinframap.org)). Tegola is taking a really long time to render low-zoom tiles - in excess of 5 minutes for the single tile 0/0/0 - plus it's using over 12GB of RAM and getting OOM-killed.

For comparison I can preseed 6 zoom levels in Mapnik in less

[2018-10-10 17:42] ARolek commented on #526
@russss thanks for the report and the pprof output. A few things going on here:

- processing time is closely tied to the tegola configuration. For some of the lower zoom levels could you pre simplify the geometries or minimize the dataset / layers at that zoom?
- we're currently working on numerous rendering and processing optimizations in a branch but unfortunately we don't have a hard target da

[2018-10-10 17:56] ARolek commented on #525
@bagage interesting idea and not something I had thought of. I think this could be accomplished outside of tegola in a few ways though:

- If you prune your PostGIS dataset to only include data form a certain area (i.e. France) then requests for data outside the target area will return no features and be very quick to process.
- If you have the target polygon in your database you could add a filte

[2018-10-10 17:57] ARolek commented on #524
@fenelon great thanks. I'm heading out of town but I can look into this next week. That looks like a rendering bug but I will know more once I recreate it.

[2018-10-10 19:56] ARolek commented on #526
@russss looking at this graph a bit more I'm wondering if one of the changes I put in the v0.8.x branch for AddFeatures would reduce a lot of the runtime overhead. It's a quick patch you can try. Change:

https://github.com/go-spatial/tegola/blob/master/mvt/layer.go#L145 to: https://github.com/go-spatial/tegola/blob/v0.8.x/mvt/layer.go#L144

You can always return `false` so the function signature

[2018-10-11 13:15] russss commented on #526
There is definitely more data included here than is necessary, so I guess part of this issue is related to the fact that it's not especially clear how to do this at the moment. Most layers are definitely unnecessary at zoom 0, but I think I would expect the `max_zoom` and `min_zoom` config options to do the zoom level filtering when the tiles are produced, rather than just affecting the json.

I g

[2018-10-11 13:30] russss commented on #343
Given that this issue makes !ZOOM! almost impossible to use for anything non-trivial at the moment, and the fact that pretty much everyone uses it to just remove objects at lower zoom levels, could we take the simple approach of replacing that `ANY()` operator with `24` for the moment?

[2018-10-12 08:04] fritruc opened #527 "Allow to invalidate/recompute cache through webapi"
When each service run on its own container/server (DB/frontend/backend/tegola/...), it would be nice to be able to force the cache to be recompute through api (i.e.: the backend update the db, then tell to tegola to refresh/invalidate the bbox of updated data)

[2018-10-13 13:06] bagage commented on #525
Hey @ARolek, thanks for the suggestions!

- Your first suggestion is correct, however they are 2 drawbacks: first tegola do the query even if no data is returned. In my case the query is not totally trivial, so it still takes some ms for nothing. But main problem is that when you cache tiles (using `file cache`), an **empty tile file is not an empty file**. An empty tile is around 4kb. Multiplied

[2018-10-14 11:01] bagage opened #529 "How does cache --tile-list option work?"
While using file cache system, I tried to use the `--tile-list` option to force cache refresh for a given list.

My file contains:

[code]

And I'm reading that file with `tegola cache seed --overwrite --tile-list $WORK_FILE`. Instead of seeing `seeding map (xxx) tile (z/x/y) took: Xms` 19 times (there are **19 tiles** to refresh), actually tegola refresh all my tiles for all zooms (**7416 tiles**

[2018-10-15 13:55] stvno commented on #529
It is broken, the sendTiles function will parse the tilelist-file and for each tile it will test if that tile is within the given zoom range. However the code will return all tiles within that zoomlevel, instead of just the tiles from the list:

https://github.com/go-spatial/tegola/blob/v0.8.x/cmd/tegola/cmd/cache.go#L331

[code]

[2018-10-15 14:02] stvno commented on #529
I think it should be:

[code]

[2018-10-15 14:43] stvno commented on #529
this is a **bad** idea: it will check each tile against all possible tiles in the zoomRange :(

[2018-10-15 14:51] ARolek commented on #529
@ear7h can you take a look at this? I’m traveling today so won’t havs a chance.

[2018-10-15 15:09] stvno commented on #529
I've removed the whole tile.RangeFamilyAt function and it will now run just the tile list with no check whatsoever. Which means it ignores min/max-zoom parameters and is also hard to kill:
ctrl-c only kills the running seed, not the channel I believe.

https://github.com/stvno/tegola/blob/seedTileList/cmd/tegola/cmd/cache.go#L312

[2018-10-15 15:22] ARolek commented on #529
Min / max zoom is important. I will have to look at the code but IIRC that’s support for taking in a tile list that has all tiles at a specific zoom but you want to traverse a zoom range for that tile. This is the case when working with imposm tile lists as all z/x/y values are at the same zoom.

[2018-10-15 17:13] fenelon opened #530 "Graceful shutdown"
When seeding cache (or, probably, during normal serving) if terminated, Tegola might leave tiles it's been processing broken. Broken tiles may miss certain layers or be incomplete in a different way.

In a highly-concurrent setting, this may result in as many corrupted tiles as the number of processors. The corrupted data is extremely hard to trace.

As a solution, it would be useful to implement

[2018-10-15 19:49] ear7h commented on #529
To expand on @ARolek's comment, the tool we targeted to use this feature with (imposm3) generates a list with the same zoom levels. In this case, it is required that we update all tiles up and down the tile quad tree so that all tiles in the cache reflect the changes.

@bagage it seems like your file already gives gives a tile family, starting from the following files.
[code]
My recommendation is

[2018-10-15 20:05] bagage commented on #529
Oh, thanks for the answer @ear7h, I did not see it that way! I'll do the lowest zoom only then, and see if that is OK for my use-case. Thanks all for the pointers!

[2018-10-15 20:09] ear7h commented on #529
There is still a problem that lower zoom tiles will be redundantly cached, for example running `tegola cache seed --max-zoom=10 --tile-list=xxx.txt` will cache the zero tile (`0/0/0`) 4 times, once for each time it walks up the tile tree.
xxx.txt:
[code]

[2018-10-15 20:11] ear7h opened #531 "cache command redundantly caches higher zoom tiles when seeding from tile list"
Lower zoom tiles will be redundantly cached, for example running tegola cache seed --max-zoom=10 --tile-list=xxx.txt will cache the zero tile (0/0/0) 4 times, once for each time it walks up the tile tree.

xxx.txt:
[code]

[2018-10-15 20:13] stvno commented on #529
ah I see, so the trick is to only send in the highest zoom levels and let tegola decide what tiles to do? I want to be able to reseed the entire Netherlands once there is a data update (unfortunately I do not know which bit is updated - don't get me started...) so I only want to update tiles that are actually containing land and not spend precious resources tiling empty sea.

So I created a list o

[2018-10-15 21:12] ear7h commented on #529
@stvno The trick is actually to pick 1-4 tiles with the highest zoom that seeds the area you want. That way you minimize the redundancy while still sticking to a select area. A combination of the tiles from the following screen shot would probably work efficiently (sorry for the poor  quality):

![image](https://user-images.githubusercontent.com/23175084/46978525-0f8d9e80-d084-11e8-8e2a-fd89b265e1

[2018-10-16 06:45] olt commented on #530
There is shutdown handling in Tegola. I'm not sure how it works or if there is a bug, but anyway: Broken tiles should not happen even without graceful shutdown (maybe except for a `kill -9`).

A write to a file cache is atomic, so it should be all or nothing. Can you give a few more details how your seeding terminates? It's likely an issue that is unrelated to the shutdown process.

[2018-10-16 08:11] FallenKain commented on #399
@gdey @ARolek hi there :) something founded?)

[2018-10-16 08:51] stvno opened #532 "high number of postgis connections / connection pooling"
I'm running a tegola seeding run where the data comes from three different databases on the same postgresql server. I've configured tegola with `max_connections = 50` and while checking the postgresql performance with pghero it complained about the high number of connections:
[code]
So I was wondering why we don't use connection pooling, it seems to me cheaper to not create multiple database conne

[2018-10-16 12:23] fenelon opened #534 "Debugging slow cache seed"
I wonder if there is a way to determine why certain tiles take a ridiculous amount of time to build. When this happens, system load drops and it is unclear what is actually happening:

[code]

During normal operation:
![image](https://user-images.githubusercontent.com/767838/47016192-a24b3d80-d157-11e8-947b-4d823db7853f.png)

[2018-10-16 12:28] fenelon commented on #530
With manual seedings, I've been experiencing the following issue:

[2018-10-16 12:56] stvno commented on #534
If you have your date in PostgreSQL it might be useful to run pghero to analyse what's going on. It helped me reducing my querytime by realizing it was querying an expensive view and replaced it with a materialised view with an index

it even comes with an easy to use docker:
`docker run -ti -e DATABASE_URL=postgres://user:pass@host:5432/database -p 8080:8080 ankane/pghero`

[2018-10-16 12:59] tierpod commented on #519
I will try to implement it. Should we automatically add "Access-Control-Allow-Methods" header if "Access-Control-Allow-Origin" header is defined?

[2018-10-16 16:29] fenelon commented on #530
Here's another example:

<img width="1125" alt="screen shot 2018-10-16 at 19 28 27" src="https://user-images.githubusercontent.com/767838/47031925-b738c880-d179-11e8-89c5-fc3aa1c373db.png">

15/17517/12176.pbf: [12176.pbf.zip](https://github.com/go-spatial/tegola/files/2484032/12176.pbf.zip)

[2018-10-16 17:18] ARolek commented on #532
@stvno tegola does use connection pooling right now. The high number of connections is due to the pool expanding to that `max_connections` value and keeping the connections open. You can always lower the `max_connections` value which is helpful if you're scaling horizontally.

[2018-10-16 19:04] bagage commented on #529
Wow, actually this is the feature I should have used since the beginning personally! Instead of listing tiles I need to refresh I should provide tegola directly with the bounding box to clear :).

[2018-10-17 19:54] ARolek commented on #530
Hmm interesting. I'm trying to think what would cause this to happen. I wonder if the whole tile is broken or if it's just a single layer. I would suspect the entire tile and what you're seeing here is data from the previous zooms ("over zooming").

A quick look at the seeding code and the process should stop if it hits an error so it's strange that a tile was not generated and the process continu

[2018-10-17 19:59] ARolek commented on #519
@tierpod my thinking is that we set the "sane defaults" in this situation and allow the user to overwrite them in the config.

[2018-10-17 20:05] ARolek commented on #525
All of the suggestions will still produce the empty tile, though I think the empty tile in the cache is probably better than querying the database over and over, though this could be changed in the future.

[2018-10-17 20:05] #525 closed

[2018-10-17 20:14] ARolek commented on #534
@stvno great suggestion! I have also used pgBadger to parse Postgres logs and find slow queries. The two primary performance bottlenecks are inefficient queries and large complex polygons. If you have a lot of large polygons (in number of points) you can try pre simplifying the geometries and turning simplification off for that layer in the tegola config. The less points to process = less work for

[2018-10-17 21:46] ARolek commented on #529
I have been thinking about this and I'm wondering if `tile-list` should be a subcommand and `--min-zoom` and `--max-zoom` are optional parameters. By default tegola would only operate on the provided tile list and min / max zoom handling would only be applied if provided. I think this would be more intuitive rather than support the `--explicit-tile-list`.

[2018-10-18 08:41] russss commented on #526
I got it working fine after applying some more zoom filtering, so I'll close this.

[2018-10-18 08:41] #526 closed

[2018-10-18 09:15] fenelon commented on #530
It's definitely not overzooming, as I tried loading the map with single zoom level and got the same result.

Here are the tile requests including problematic and normal tiles:

![screenshot 2018-10-18 12 10 17](https://user-images.githubusercontent.com/767838/47143868-cd0bd200-d2ce-11e8-9be6-170b24944231.png)
![screenshot 2018-10-18 12 10 01](https://user-images.githubusercontent.com/767838/471438

[2018-10-18 18:54] ARolek commented on #530
@fenelon thanks for the follow up. I need to think about what could cause this. Looking at the code if a layer fails to fetch data the request should fail and the error logged. Have you been able to reproduce this issue in a consistent way?

[2018-10-18 19:43] ARolek commented on #399
@FallenKain unfortunately not. Progress is slow as we're also juggling a few other things.

[2018-10-19 18:31] #519 closed

[2018-10-19 20:44] ARolek commented on #405
@ani82 I was thinking about your comment and it sounds like you found a bug. I'm going to open another issue for it so we can get it properly addressed

[2018-10-19 20:47] ARolek opened #538 "[provider/postgis] error not thrown if the database user does not have permissions to access table"
No error is thrown if the user connecting to the database does not have the correct permissions to access the database. A quick look at the postgis provider and this is likely do to no error check being run on the `rows`.  An example can be seen in [this issue](https://github.com/jackc/pgx/issues/416) in the pgx driver which tegola uses for connecting to postgres.

[2018-10-22 10:21] FallenKain commented on #399
okay(

[2018-10-22 10:28] stvno commented on #532
ah ok, thanks for the explanation

[2018-10-22 10:28] #532 closed

[2018-10-22 10:29] stvno commented on #532
ah ok, thanks for the explanation

[2018-10-23 17:52] bagage opened #539 "cache: invalid value for bounds () with 10e3 notation"
Sometime postgresql returns float values as `-0.1871796,44.0337098,3.69e-05,44.156051`. It seems that tegola cache cannot handle that properly:

It would be great if:

1. The actual provided value could be logged (I assume it is ``-0.1871796,44.0337098,3.69e-05,44.156051` but I'm not totally sure).
2. Tegola could handle that notation format. And also trim spaces before parsing float values to avo

[2018-10-24 18:18] #538 closed

[2018-10-24 19:15] #369 closed

[2018-10-24 19:18] ARolek commented on #273
@gdey is this done?

[2018-10-25 04:09] ARolek commented on #521
I'm closing this issue due to inactivity. @capan if you can provide more info I'm happy to revisit.

[2018-10-25 04:09] #521 closed

[2018-10-25 04:11] ARolek commented on #523
This has been addressed in the upcoming release under #538.

[2018-10-25 04:11] #523 closed

[2018-10-25 08:19] olt commented on #484
@ARolek I left a comment in https://github.com/go-spatial/tegola/pull/543 (not sure if you get a notification for comments in merged PRs).

[2018-10-29 09:49] Linolium opened #545 "Change server endpoint"
Hello. Is it possible to change endpoint? For example - from "/" to "/tegola/".

[2018-10-29 15:48] ARolek commented on #545
Hmm, not something I have been considering. Can you tell me more about the use case?

[2018-10-30 19:13] ARolek opened #546 "Data race in make valid"
I was doing some pprof tests today and came across this data race:

[code]

[2018-11-02 04:08] #338 closed

[2018-11-02 04:08] #484 closed

[2018-11-02 04:08] #494 closed

[2018-11-02 04:29] ARolek commented on #529
tile-list has been reworked in v0.8.0 which is now released. The default behavior is to only operate on the tiles provided in the list. If a `min-zoom` and `max-zoom` are set then the parent / child tiles will also be operated on.

[2018-11-02 04:29] #529 closed

[2018-11-02 20:28] wfortin136 opened #549 "Logging/Output is very verbose"
After the deploy of the new image to version 0.8.0, docker output is super verbose compared to 0.7.0. New logs are constantly spitting these statements:
![image](https://user-images.githubusercontent.com/10665247/47939015-d6db2b00-deb3-11e8-834b-5de4a28e0431.png)

I reverted to 0.7.0 to so the output wouldn't eat up disk space and crash my container.

[2018-11-02 22:41] ARolek commented on #549
Thanks for the report. Looks like some left over log statements got missed. I will fix ASAP.

[2018-11-03 09:10] tomass opened #551 "Seed with tile-list documentation is outdated"
Documentation here:
http://tegola.io/documentation/cache-seeding-and-purging/
shows usage with _--tile-list_ which no longer works:
`./tegola cache seed --tile-list="expired_tiles.txt"`

Unclear how to use tile-list now, because following option does not work as well:
`./tegola cache seed tile-list mano_list.txt`
giving error:
`Error: expected purge/seed got () for command name`
(using tegola comp

[2018-11-03 09:54] tomass commented on #551
This assignment in _seed_purge.go_ returns _null_ value:
`cmdName := strings.ToLower(strings.TrimSpace(cmd.CalledAs()))`
If I manualy overwrite it like this:
`cmdName = "seed"`
then seed operation works as expected (this is of course only workaround/test, not a fix).

[2018-11-03 17:50] ARolek commented on #549
A new version of v0.8.0 was pushed this morning. This is now fixed. Thanks for the report.

[2018-11-03 17:50] #549 closed

[2018-11-04 19:56] ARolek commented on #551
@tomass thanks for the report. @gdey is looking into this.

[2018-11-05 03:57] wfortin136 commented on #549
Thanks for such a quick turn around!

[2018-11-05 19:04] ARolek commented on #549
Thanks for the report! I messed up the merge on that release.

[2018-11-05 20:14] #551 closed

[2018-11-06 09:39] Linolium commented on #545
@ARolek For security reasons i need to put all my applications on same domain. I proxy tegola via nginx to context domainname.com/tegola/ , but jsons generated by tegola have urls to root.

[2018-11-06 17:00] ARolek opened #552 "server: gzip not decoding when Accept-Encoding is not set"
Working with a proxy recently the ProxyPass rule was unsetting the Accept-Encoding header and the resulting tiles were not readable by mapbox-gl.js. The `Content-Encoding` header on the response was not being set so I suspect the tiles were not being decompressed from their gzipped state. Still needs to be confirmed.

[2018-11-06 18:18] ARolek commented on #545
@Linolium have you tried using the [hostname](http://tegola.io/documentation/configuration/#webserver) config? I just gave it a test and it could work for your situation. It looks like if a port is included in the request that the URL will be ill formatted, but if you add `hostname = domain.com/tegola` the JSON will use this as the hostname.

[2018-11-06 21:39] tomass opened #553 "Double seeding of cache?"
Running:
`./tegola cache seed tile-list tile_list --config ../config.toml --concurrency 1 --map grpk --overwrite`

I'm getting double lines in output:
[code]

Is Tegola generating the same tile twice? (tile_list file does not have double lines)
Using Tegola compiled from github.

[2018-11-07 00:01] ARolek commented on #553
@tomass thanks for the bug report. I found the issue and will push up a fix soon.

[2018-11-07 02:51] yh371174229 opened #554 "Support ST_AsMVT?"

[2018-11-07 20:13] #553 closed

[2018-11-08 09:29] Linolium commented on #545
@ARolek It works perfectly, thank you

[2018-11-08 09:29] #545 closed

[2018-11-08 19:54] gdey commented on #76
#545 When we do this we should, also, consider #545. We need a way to prefix our generated urls with a prefix.

[2018-11-09 08:55] tierpod commented on #517
PR #556

[2018-11-09 09:26] tierpod opened #557 "server/README.md: remove cors_allowed_origin"

[2018-11-13 20:09] bagage opened #559 "Regression: cannot use "WITH query" anymore since 0.8.x"
With 0.7.0, the following worked:

[code]

But now on tegola 0.8.1, it breaks:

[2018-11-13 21:31] ARolek commented on #559
@bagage hmm that looks like an SQL syntax error rather than an error in tegola. I think it's the extra comma right before your FROM statement.

[2018-11-13 21:43] bagage commented on #559
sorry @ARolek I stubbed the request and the typo came from that; I can confirm you that the exact same request works just fine with postgis directly and/or tegola 0.7.0. It seems to really be an issue with the [with](https://www.postgresql.org/docs/8.4/queries-with.html) keyword.

[2018-11-13 22:12] ARolek commented on #559
hmm, that's strange. We did update the postgres driver in v0.8.1 but I would not expect for it to break a CTE query. Does this break on startup or at request time? If it's breaking at request time can you try running with `TEGOLA_SQL_DEBUG=EXECUTE_SQL` turned on? [docs](https://tegola.io/documentation/debugging/). Then we can see the query tegola is sending to postgis.

[2018-11-13 22:32] bagage commented on #559
It is breaking at request time indeed. Here's the output with `TEGOLA_SQL_DEBUG=LAYER_SQL:EXECUTE_SQL`:

[code]

[2018-11-13 22:40] bagage commented on #559
ps: the issue is happening in v0.8.0, so I believe it was broken in 0.7 -> 0.8 minor update.

[2018-11-14 04:35] ARolek commented on #559
@bagage I'm going to need to spend some time recreating this on a local dataset, preferably the tegola test dataset, to figure out what's going on. Can your query be refactored to remove the CTE in the meantime?

[2018-11-14 07:39] tierpod commented on #501
PR #560

[2018-11-14 08:37] bagage commented on #559
@ARolek thanks! Yes no problem for me I temporary removed that part without much problem (I could also downgrade to 0.7.0 anyway). If you want to reproduce on my project, you can simply type `docker-compose up` and it should setup everything, but it's maybe a bit overkill.
You can simply add a `WITH (select 'true')` in any of your configuration file to reproduce this issue too I think.

[2018-11-14 18:13] gdey commented on #546
This is not a race condition; it just looks like it to the race detector. Each go-routine is writing to a specific element in the `ringCols` array.  The is managed by a go-routine; ensuring that there is no overlap. This allows us to not have to use a mutex.

[2018-11-14 18:13] #546 closed

[2018-11-14 18:23] #557 closed

[2018-11-14 18:24] #517 closed

[2018-11-15 08:57] stvno opened #561 "Fatal error on [IO wait]"
While running the official tegola docker 0.8.1 with the data in postgis and an S3 cache (digital oceans spaces) I get seemingly random fatal failures when seeding my cache. I'm using a tilelist to seed about 400k tiles and this is the second time Tegola crashed with an [IO wait] message. This time I did get the entire stacktace, see below. If I rerun the seed it wil continue beyond the last tile b

[2018-12-02 10:47] tomass opened #562 "Option dont_clip for layer"
It would be good to have a possibility to disable clipping for a specific layer. Something like _dont_clip = true_ similar to _dont_simplify_.

While this could give speed and size improvements for simple geometries like buildings, main reason is use case described below:

I'm trying to create curved center line labels for water bodies. Algorithm on database side calculates a place where a name of

[2018-12-03 17:36] gdey commented on #561
Okay the crash seems to be happening in the runtime allocator when trying to make allocate enough memory for the new ring here:

https://github.com/go-spatial/tegola/blob/master/maths/makevalid/plyg/builder.go#L38

[code]
I'm not sure what we can do about this, not even sure if we can catch this type of panic.
It's getting thrown here: https://github.com/golang/go/blob/master/src/runtime/malloc.go

[2018-12-03 18:19] gdey commented on #561
Just relevent information for this:

Go version used to compile: 1.11.2
Travis build link: https://travis-ci.org/go-spatial/tegola/jobs/453088789

[2018-12-05 17:52] gdey commented on #562
@justenPalmer Do you know if there is a way to do this via the client?

If you don't clip you will get errors from the client about geometries being out of the tile extent. If the geometry is already within the tile (doesn't need to be clipped), it will skip clipping as clipping is part of the make valid process.  It sounds like this is something that should be handled on the client side?

[2018-12-06 17:25] tomass commented on #562
I'm not sure I understand "handling on the client side" correctly. But from what I know Mapbox implemented possibility to place label at the centre of the line, because before that putting labels on "label-line" created ugly results with text being placed on one side or another of the line, sometimes text could be placed twice. line-center placement fixes that.
https://github.com/mapbox/mapbox-gl-

[2018-12-08 12:36] tomass commented on #562
I've done some "dirty programming" to try if this works after all. So I've copied the logic from _dontsimplify_ to _dontclip_ and then propagated the _clip_ value down to the place where clipping is called.
Result looks promising, line does go through tile boundary, lines in different tiles do overlap perfectly thus creating one nice cross tile label:
![paveikslas](https://user-images.githubuserco

[2018-12-10 17:48] ARolek commented on #561
@gdey yeah this is the same issue we researched before. Catching out of memory errors is not currently possible. I don't know if forcing a GC run is right either (though we're doing that in the seeding code). I think as we have more time to optimize the memory usage of the processing algo this should naturally be addressed.

[2018-12-11 23:45] gdey commented on #562
@tomass Oh, cool. Do you want to send in a pull request with your changes? That way I can review it. Talking to Alex sounds like it is something we should go ahead and add.

[2018-12-12 15:29] sebdiem opened #563 "is tutorial up to date ?"
I tried to follow the tutorial https://tegola.io/tutorials/tegola-with-mapbox/ but I did not manage to visualize the Bonn tiles with mapbox-gl js.

The map is displayed in the browser and queries are made to my tegola backend, which makes SQL requests to my database and returns 200 HTTP responses to the browser but the layers are not visible on the map.
This is an example tile returned by tegola (

[2018-12-13 10:54] tomass commented on #562
I do not feel up to the task to provide the PR so Paulius has done that.
But we need your help. We do not know what has to be done with polygon/multipolygon geometries for "no clipping" in _math/validate/validate.go_ function _CleanGeometry_.

[2018-12-14 02:15] ezk84 commented on #159
In the current version, I can see the multiple maps on the viewer but cannot select them to be shown.

[2018-12-14 04:31] ARolek commented on #159
@ezk84 correct. It's yet to be implemented in the client side app. Want to take a stab at it? It's all built using vue.js and can be found [here](https://github.com/go-spatial/tegola/tree/master/server/static)

[2018-12-14 20:14] gdey commented on #562
@tomass I have not forgotten this issue, just been busy. I have to test this, but I think you can pass in a nil for the `extent` parameter of `makePolygonValid`, to disable clipping.

[2018-12-14 21:22] tomass commented on #562
@gdey maybe nothing has to be done with polygons like nothing is done with lines?
Then a call of _CleanGeometry_ could be skipped when _dont_clip_ is true?
My reasoning is this: if no clipping is done in Tegola - then the only way geometry could be invalid is when it is invalid in source. And that (source) is the place where geometry should be fixed.

[2018-12-14 22:34] gdey commented on #562
@tomass there is really only two things that make invalid geometries.

1. Geometry is invalid at the source. (Not really worried about this one.)
2. Geometry simplification -- this is the thing we need CleanGeometry for. Clipping doesn't normally invalidate the Geometries. Simplification does, because of point removal.

[2018-12-14 22:52] ARolek commented on #563
@sebdiem I just accepted a PR from @Phyks that should address your issues. Take a look at the `srid` value in the commit: https://github.com/go-spatial/tegola-docs/pull/30/files

[2018-12-15 11:20] tomass commented on #562
@gdey, @paumas has added setting of _ext_ to _nil_ when clipping is not required.
If idea/code looks fine I will test with polygons (waterbodies or more natural candidate for no clipping - buildings). So far I've only tested with lines.

[2018-12-17 01:14] Alex237 opened #565 "Use tegola with Openstreet Map"
Hello,

I would like to use tegola with an existing Openstreetmap database. If it's possible, can you tell me how todo it ?

Thanks

[2018-12-17 19:13] ARolek commented on #565
@Alex237 check out: https://github.com/go-spatial/tegola-osm.

[2018-12-18 00:07] Alex237 commented on #565
tank you @ARolek .

I saw this, but by reading the doc, it means i have to reimport my OSM database no use an existing osm database or What if i want to keep my openstreetmap database updated? should i have to import all again ?

[2018-12-18 00:15] ARolek commented on #565
@Alex237 you will want to look at imposm3's documentation for updating: https://imposm.org/docs/imposm3/latest/tutorial.html#updating. They have a way to run a daemon that will keep the data up to date. It also spits out tile lists which tegola can work with using `tegola cache seed tile-list my-tile-list.txt`

[2018-12-18 00:16] Alex237 commented on #565
ok, i will take a look to this

[2018-12-30 22:36] ARolek commented on #233
Appears this is happening again.

[2019-01-06 15:45] henrythasler commented on #524
I have experienced a similar issue (disappearing islands in global_water_polygons).

I think the issue is (mostly?) based on the following circumstances:

- MVTs contain rounding errors due to their specification (mapping to tilespace 0..4096 and integer arithmetics)
- Polygons need triangulation (splitting into triangles) before rendering (https://www.gamedev.net/articles/programming/graphics/pol

[2019-01-06 20:18] fenelon commented on #524
@ARolek it would be extremely helpful if you could have a look sometime soon

[2019-01-08 22:55] ARolek commented on #524
@fenelon & @henrythasler as you're aware this is not a trivial issue to address. The current algo for making geometries valid on tegola does not use triangulation but rather columns. This approach has downsides especially with slivers. It also generates more points than necessary. The algo is described [here](https://github.com/go-spatial/tegola/tree/master/maths/makevalid).

@gdey has been workin

[2019-01-14 10:27] dBitech opened #568 "Feature-Request: set Last-Modified header"
set it to the filesystem timestamp when serving from the cache, set it to now() when first serving.

[2019-01-14 21:33] ARolek commented on #568
We have talked about also supporting ETags (#65) which could accompany this request. The cache interface will need to be modified to return additional meta data about the stored tile and all cache providers updated to the new interface.

[2019-01-19 18:33] Hoovs commented on #275
I gave this a shot at https://github.com/go-spatial/geom/pull/28 Interested in any feedback there.

I haven't finished the tests and a lot of the code can be condensed but It would be good to know if this is the direction the team was thinking.

[2019-01-20 22:20] ARolek commented on #501
Now in the v0.9.x branch

[2019-01-20 22:20] #501 closed

[2019-01-22 11:18] capan commented on #460
Problem disappeared in final version.

[2019-01-22 11:18] #460 closed

[2019-01-22 11:21] capan commented on #469
Hi Alex,
I think it is a problem related with Leaflet as you have mentioned. At the moment, Open Layers tutorial doesn't seem to be working too. This problem affected only point layers. Since OL doesn't work too a solution is needed for Leaflet or OL Tutorial should be updated.

Thanks.

[2019-01-23 22:36] capan commented on #563
OpenLayers tutorial should be updated too

[2019-01-24 14:39] capan opened #569 "How to use limit clause in configuration file ?"
Hi,
I want to do simplifying while sending queries to PostgreSQL. But I can't use LIMIT clause in configuration file. When I try to run Tegola I get **could not register providers: error fetching geometry type for layer (temperature_stations_simple): ERROR: syntax error at or near "LIMIT" (SQLSTATE 42601)** error.

Thanks

[2019-01-24 19:53] ARolek commented on #569
@capan this error is happening because tegola can't infer the geometry type for that layer. This is because the SQL parser is not that smart. The best way around this is to set the `geometry_type` config for that provider layer. Take a look at [this section](https://tegola.io/documentation/configuration/#postgis-1) in the documentation.

[2019-02-03 14:23] capan opened #570 "Tegola cache's doesn't updated even Cache-Control = "must-revalidate" header is added to configuration file"
My configuration file has the **Cache-Control = "must-revalidate"** flag. When I run the server on Windows it renews the changed data immediately. But when I run the server on Linux I see the tiles are not changing.
I suppose this is about Linux folder permissions. I've tried giving all read and write permissions  the created cache folders (octal code 0777) But new created cache files were created

[2019-02-03 15:01] dBitech commented on #570
the Cache-Control header does not instruct tegoa to regenerate it's tiles, but instead sends the cache control header to the client/proxy to tell it it is supposed to ask tegola to serve the tile, either as a new rendering if it does NOT exist within the tegola filesystem cache, or else return it from the configured on disk cache.

[2019-02-03 21:35] simonpoole commented on #144
Surprised that this is still open, but anyway: osm2pgsql -is- a importer for OSM data than instantiates geometries in a Postgres/PostGIS database and matter of fact it is the by far the most popular one as it hits a sweet spot between enabling rendering and still remaining close to the original OSM data.

It would be very nice if there were pre-made examples that support the osm2pgsql schema and n

[2019-02-03 21:42] ARolek commented on #144
@simonpoole I completely agree I just have not carved out time to build the tegola config and test it with osm2pgsql schema. I would gladly help with this effort and I think it would make a great addition to the [tegola-osm](https://github.com/go-spatial/tegola-osm) repo. That repo could be reorganized to show examples from imposm, osm2pgsql and OpenMapTiles. Ideally there would be example configs

[2019-02-03 21:43] ARolek commented on #569
@capan does this work around suffice for now? I would like to close the issue if it does.

[2019-02-03 22:14] dBitech commented on #144
@arolek I'd be interesting in helping with this effort as well.

[2019-02-04 06:00] capan commented on #569
Hi, @ARolek  I couldn't find time to check your solution. Instead I've found a work around in database side. I'm closing the issue now. After I check your solution, if error persists I can re-open the issue again.

[2019-02-04 06:00] #569 closed

[2019-02-04 20:11] kartogishenko opened #571 "GEOMETRY error when trying Tegola with a geopackage"
I get an error saying "Error: could not register providers: unsupported geometry type: GEOMETRY" when trying to tegola_windows_amd64_cgo version 0.8.1 on a geopackage file. The gpkg file contains only one table that lists as a LineString25D when opened in QGis (works perfectly) geometry column is geom, srid is 3857.

This is my config-file:

    [webserver] port = ":8082"

    [cache] type = "file

[2019-02-05 11:57] Linolium opened #572 "Generate pbf static tiles from tegola."
Good afternoon everyone. I want to ask, is it possible to generate pbf files from tegola cache or tegola itself. I want to get pbf static files to use it in mobile application with offline map (mapbox library + pbf  tiles).

[2019-02-05 23:10] ARolek commented on #571
@kartogishenko anyway I can get access to the geopackage to recreate it? I would suspect what's going on here is that the `GEOMETRY` type is too generic and tegola wants to know if it's a polygon, line string, point, etc.

[2019-02-06 08:04] Linolium commented on #572
@ARolek thank you for your response. I already generated cache but this files haven't extension, i know that they gzip encoded now, but in previous versions of tegola they had same structure "1", but i want to get 1.pbf for example.

[2019-02-06 09:39] Linolium commented on #572
@ARolek when i decoded them and tryed use in my fronend application with mapbox library, it gave me error 'Uncaught Error: Unimplemented type: 7'. Do you know where i can find solution to fix that problem?

[2019-02-06 14:50] Linolium commented on #572
@ARolek ah, that's was my mistake with decoding, it's work perfectly, thank you!

[2019-02-06 14:50] #572 closed

[2019-02-06 15:01] simonpoole commented on #144
Well I can at least give a couple of pointers if necessary.

[2019-02-06 15:28] kartogishenko commented on #571
Sure, here it comes. Doubblechecked there is only one kind of geometry in the fil.
[geopackage.zip](https://github.com/go-spatial/tegola/files/2836950/geopackage.zip)

[2019-02-07 05:03] ARolek commented on #572
@Linolium glad that worked out for you. I would like to make that flow even easier as your use case has come up before. What mobile client side library are you rendering the tiles with?

[2019-02-07 15:42] Linolium commented on #572
@ARolek i plan to use [flutter-mapbox-gl](https://github.com/mapbox/flutter-mapbox-gl). If you need some feedback from me, I'll be glad to help you.

[2019-02-10 19:21] ARolek commented on #572
@Linolium ok great. Even documenting this flow would be helpful for now. Does the client not work with gzip encoded tiles? Originally tegola did not gzip tiles but it was brought to my attention that gzip is expected. I would assume mapbox-gl is expecting the compressed tiles when stored locally.

[2019-02-10 20:31] ARolek commented on #571
@kartogishenko i got it working. A few things:

- tegola does not have support for the generic "geometry" type. This is because MVT does not have support for it (also called a geometry collection). A layer must have a single geometry type, not a heterogenous mixture. In the case of this geopackage, the `vol` layer has a type of `LINESTRING`
- The geopackage appears to have a non standard structure

[2019-02-11 13:21] ingenieroariel commented on #514
It happened to me on a server without lambda. Tegola has around 90 idle connections:

[code]

[2019-02-11 13:47] dBitech commented on #514
I ran across a similar issue and found that this looked to be more likely caused by the way that the database pool is managed by the underlying database driver package.  I worked around this by placing pgbouncer between tegola and postgres.  This  greatly  reduced the number of open/idle Postgres connections

[2019-02-11 14:39] kartogishenko commented on #571
Hi, thank you for looking in to it. The Geopackage was created using FME Desktop 2018.1 and the software might have som issues when exporting to geopackage, according to its support forum. When comparing your rework of my geopackage with the original one I notice that mine has the geometrytype LineString25D and yours has LineString. This I cannot correct in FME, unfortunately. I do get it to work

[2019-02-11 17:32] ARolek commented on #571
@kartogishenko I have not used FME myself so I don't have any insight into some of the data conversion nuances.

This sounds like a bug in FME as `LineString25D` is not a valid [Geometry Type according to the Geopackage spec](http://www.geopackage.org/spec/#geometry_types). Maybe let them know?

Glad you have a work around. Please close the issue unless you have any other questions.

[2019-02-11 17:35] ARolek commented on #514
@ingenieroariel, @dBitech is correct, this is due to the connection pool that tegola is maintaining. You can configure this for the postgis provider using [max_connections](https://tegola.io/documentation/configuration/#postgis). The default is 100.

[2019-02-11 19:51] ingenieroariel commented on #514
So for each map there were 100, meaning for the osm and ne it ended up being 200?

I'll get them to something like 30 each I guess. Postgres was complaining and did not want to let me open connections unless I was the postgres user.

I believe the default in Tegola should be lower in order to not hit the default postgres limit on many distros (nixos in my case).

[2019-02-11 19:54] ARolek commented on #514
@ingenieroariel yes, that's correct. The `max_connections` default applies per configured postgis data provider since the providers could point to different servers and need to be tuned accordingly. I don't know if the default needs to change right now but it's a simple adjustment if the issue hits a lot of people.

[2019-02-11 20:01] dBitech commented on #514
I think the correct action here is to make the fact it spawns this number of DB connections a bit more prominent in the doc's, along with how to moderate it

[2019-02-12 09:10] Linolium commented on #572
@ARolek I have some issues in other application for now, i'll finish them and when i collect some information about mobile flow with mapbox-gl, i'll describe it.

[2019-02-12 18:42] ARolek commented on #514
@dBitech good call. I'm about ready to make a bunch of documentation updates. If you have any suggestions on how this should be displayed please feel free to send in a PR to the tegola docs repo.

[2019-02-13 10:31] #571 closed

[2019-02-17 05:01] pnorman commented on #341
I've done a check of my tracked bugs, and this bug is still present in 0.9.x branch.

[2019-02-17 05:07] pnorman commented on #348
I've done a check of my tracked bugs, and this bug is no longer present in the 0.9.x branch.

[2019-02-17 05:07] #348 closed

[2019-02-17 17:45] henrythasler opened #573 "tile_buffer not configured correctly with multiple maps"
branch: v0.9.x
When configuring a map-specific tile_buffer, the setting is not applied to every map in the for-loop as it returns on first hit.

This diff solved this particular issue:

[code]

[2019-02-17 19:45] henrythasler opened #574 "tile_buffer has no effect on resulting vector-tile"
### Action

1. apply patch from #573 to branch `v0.9.x` and build from source
2. set `tile_buffer=1000` in `config.toml` for a specific map or globally
3. have linestring-features drawn as wide (60px) line
4. use postgis-backend

### Expected Behavior

`tile_buffer` is applied correctly and wide linestrings are shown w/o clipping

### Observed Behavior

Runway is clipped where it shouldn't:
![imag

[2019-02-18 15:40] ingenieroariel commented on #356
Here are some notes that I used for nixos (systemd and nginx), including tegola behind https:

[code]
and nginx
[code]

[2019-02-20 11:11] palmerj opened #575 "Is it possible to create a map using a custom tilegrid"
With a custom origin and set of resolutions like this one https://www.linz.govt.nz/data/linz-data-service/guides-and-documentation/nztm2000-map-tile-service-schema ?

[2019-02-21 13:45] jimbok8 opened #576 "gpkg does not support GEOMETRYCOLLECTION"
Please could GEOMETRYCOLLECTION be added to gpkg as a supported geometry type.
Thanks.

[2019-02-21 17:13] ARolek commented on #576
@jimbok8 the problem is not supporting GEOMETRYCOLLECTION between Geopackage and tegola, the problem is that MVT does not support GEOMETRYCOLLECTION. From the [MVT Spec](https://github.com/mapbox/vector-tile-spec/tree/master/2.1#434-geometry-types):

---
4.3.4. Geometry Types
The geometry field is described in each feature by the type field which must be a value in the enum GeomType. The following

[2019-02-22 08:45] jimbok8 commented on #576
Thanks for the reply.
Would it be possible to break the GEOMETRYCOLLECTION down into its constituent parts before creating the MVT?
The Geopackage file is from the Ordnance Survey in the UK, who are offering a map data of the UK  in this format under their OS Open Zoomstack initiative:
https://www.ordnancesurvey.co.uk/business-and-government/products/os-open-zoomstack.html
The data file is downloa

[2019-02-25 01:13] ARolek commented on #575
@palmerj apologies for the slow response. It is not possible to create a map using a custom tilegrid at this time.

[2019-02-26 19:16] ARolek commented on #573
@henrythasler thanks for the patch. I have applied it and updated the test cases. Merged into v0.9.x

[2019-02-26 19:16] #573 closed

[2019-02-26 19:17] ARolek commented on #574
This has been addressed in the v0.9.x branch.

[2019-02-26 19:17] #574 closed

[2019-02-26 19:18] ARolek commented on #320
@pnorman you can work around this issue by setting the `geometry_type` for the provider layer. Additional details in the docs: https://tegola.io/documentation/configuration/#provider-layers

[2019-02-26 19:44] ARolek commented on #343
@pnorman I think you can set the `geometry_type` on the provider layer to avoid tegola trying to infer the geometry type on startup. Additional details: https://tegola.io/documentation/configuration/#provider-layers

[2019-02-26 19:48] ARolek commented on #127
@pnorman I think you could simplify this query using the map `layer_name` config. For more information: https://tegola.io/documentation/configuration/#map-layers

[2019-02-26 22:40] ARolek commented on #576
@jimbok8 what geopackage layer are you have a problem with? I downloaded the GeoPackage you referenced, opened it in QGIS and everything appears to have a defined geometry type:

<img width="696" alt="screen shot 2019-02-26 at 2 39 41 pm" src="https://user-images.githubusercontent.com/667850/53451780-77f67000-39d4-11e9-9bae-7d44c1b48cbc.png">

[2019-02-27 06:18] palmerj commented on #575
Thanks. Closed because it never will be?

[2019-02-27 06:39] ARolek commented on #575
@palmerj oops, that was an accident. We absolutely want to support custom grids at some point.

[2019-02-28 02:40] pnorman commented on #337
Confirming fixed.

[2019-02-28 03:13] pnorman commented on #127
It can do half of it - it means I can split up things by zoom, but not by source.
For the latter, I tried this configuration

[code]

and get the error

[code]

[2019-02-28 06:31] pnorman opened #578 "Feature IDs should be signed, not unsigned integers"
![image](https://user-images.githubusercontent.com/1190866/53545703-31416c80-3adf-11e9-9f14-62c37a74ccd1.png)

osm2pgsql DBs can have negative IDs. This ID is -1427616 + 2^64

[2019-02-28 07:08] pnorman opened #579 "Serve layers from cache with no layer definitions"
A feature that I've identified as necessary for deployments and transitions between versions is the ability to serve layers from cache without a layer definition.

This is possible with the on-disk file cache by pointing a web server at the cache directory, but there's not a correspondingly easy way with a cache backed by an object store (e.g. S3).

My plan is to have map as 1.0, fill the cache, c

[2019-02-28 07:08] pnorman commented on #579
This also has applications with offline maps and pre-generated tiles.

[2019-02-28 07:35] pnorman opened #580 "Tegola sends gzipped tiles when it shouldn't"
Web browsers send `Accept-Encoding: gzip` and Tegola returns compressed data, as it should

[code]
It also sets content-encoding correctly
[code]

Requests which say noting about encoding acceptability are also gzip encoded. This is unusual, but not prohibited. It does make some debugging harder, because it's then behaving differently than other HTTP servers.

[code]
Even though it's sending gzipp

[2019-02-28 17:56] ARolek commented on #578
@pnorman the MVT spec requires uint64 for feature ids. if you need an int64 I would suggest configuring tegola to encode the tag `feature_id` rather than setting the feature_id. More information can be found in an issue I opened on the spec repo: https://github.com/mapbox/vector-tile-spec/issues/94

[2019-02-28 17:58] ARolek commented on #580
@pnorman that's for the detailed issue. This looks related to #552.

[2019-02-28 18:06] ARolek commented on #579
@pnorman tegola supports configuring multiple maps so you could configure a second map and it will write to a different folder in the cache. This would could be used for versioning.

[2019-02-28 18:07] ARolek commented on #127
Yeah that's still not supported as it brings up a lot of implementation questions like how to handle layer and feature merging / conflict handling.

[2019-02-28 19:16] pnorman commented on #127
I was thinking iterating through the layers writing out objects, but you need to know all the keys and values before you start to write. I'd go for the equivalent of UNION ALL, and I don't see any merging or conflict handling of features need to be done.

[2019-02-28 19:19] pnorman commented on #579
I don't want two maps writing to the cache at the same time. Is it possible to have a map without any layers configured and have it serve from cache?