[2016-06-03 01:55] ARolek opened #1 "WKB decoding for Point"

[2016-06-03 01:55] ARolek opened #2 "WKB decoding for LineString"

[2016-06-03 01:56] ARolek opened #3 "WKB decoding for Polygon"

[2016-06-03 01:56] ARolek opened #4 "WKB decoding for MultiPoint"

[2016-06-03 01:56] ARolek opened #5 "WKB decoding for MultiLineString"

[2016-06-03 01:57] ARolek opened #6 "WKB decoding for MultiPolygon"

[2016-06-03 01:57] ARolek opened #7 "WKB Support for Geometry Collection"

[2016-06-03 01:57] ARolek opened #8 "MVT encoding support for Layers"

[2016-06-03 01:57] ARolek opened #9 "MVT encoding support for Features"

[2016-06-03 01:59] ARolek opened #10 "MVT encoding support for Point"

[2016-06-03 01:59] ARolek opened #11 "MVT encoding support for LineString"

[2016-06-03 01:59] ARolek opened #12 "MVT encoding support for Polygon"

[2016-06-03 02:11] ARolek opened #13 "Implement /z/x/y URL scheme"

[2016-06-03 02:33] #1 closed

[2016-06-03 02:33] #2 closed

[2016-06-03 16:25] ARolek opened #15 "Implement Postgres database driver"
I have used [pgx](https://github.com/jackc/pgx) with PostGIS and it works great.

[2016-06-08 13:55] ARolek opened #16 "surveyor's formula"
The MVT tile specification leverages the [surveyor's formula](https://en.wikipedia.org/wiki/Shoelace_formula) to determine the area of a polygon.

It's yet to be determined where this algorithm should live:
- In it's own package
- a `util` package
- A geometry package.

Alternatively the algorithm could live as a method on a polygon.

[2016-06-10 02:33] #10 closed

[2016-06-10 02:33] #11 closed

[2016-06-10 03:21] ARolek opened #17 "MVT encoding support for MultiPolygon"

[2016-06-16 22:39] ARolek opened #18 "Web Mercator /z/x/y bounding box calculation"
Mapbox has an SQL method they use for calculating the bounding box of a tile based on web mercator's /z/x/y url scheme. The tile server will need to calculate this, or the data provider will need a function to do so.

https://raw.githubusercontent.com/mapbox/postgis-vt-util/master/postgis-vt-util.sql

[2016-06-16 22:49] gdey opened #19 "MVT encoding Support for tile."
MVT have an idea of a Tile, we need to support this.

[2016-06-16 22:55] gdey opened #20 "Added encoding support for Protocol Buffers."
MVT Tiles use protocol buffers as it's transport mechanism; make sure to support this.

[2016-06-16 23:10] ARolek opened #21 "Config file format"
We need to figure out a config file format which will support the following:

- [ ] Data providers
  - [x] PostGIS
      - [x] Layer definitions and associated SQL
      - [x] Zoom level
- [ ] web server
  - [x] port
  - [x] max zoom? - 18 is suggested by slippy maps spec.
  - [ ] max tile size? - currently throws a warining with tile > 500k

[2016-06-16 23:12] #8 closed

[2016-06-16 23:12] #9 closed

[2016-06-16 23:12] #19 closed

[2016-06-16 23:12] #20 closed

[2016-06-16 23:13] #16 closed

[2016-06-17 00:26] ARolek opened #23 "make mvt AddLayer variadic and change name to AddLayers"

[2016-06-17 01:06] ARolek opened #24 "Add mvt.NewFeature(geom, tags) method"
Support for instantiating new MVT features

[2016-06-17 02:06] #24 closed

[2016-06-17 02:45] ARolek opened #25 "Check for nil interface in mvt.NewFeature()"

[2016-06-17 03:11] ARolek opened #26 "Add MVT support for well known tags?"
MVT styling is leveraging the tags property of features. Should we add support for well known tags: i.e. `class`?

[2016-06-17 14:40] ingenieroariel commented on #21
It would be very interesting to try to mimic mapproxy's config file when
possible: http://mapproxy.org/docs/nightly/configuration.html

It's yaml based and already has provisions for things like grid set, source
types, zoom levels, transparency, etc.

On Thu, Jun 16, 2016 at 6:10 PM, Alexander Rolek <notifications@github.com>
wrote:

[2016-06-17 19:21] ARolek commented on #21
@ingenieroariel thanks for the reference. That's going to be very helpful. One of the issues I'm trying to figure out is how we want to deal with user defined SQL queries at various zoom levels when leveraging PostGIS. At first glance I don't see mapproxy working with PostGIS but I might have missed it.

Any ideas?

[2016-06-17 20:04] ingenieroariel commented on #21
Yeah - that's a very interesting point that I think mapproxy does not answer. Maybe it's worth looking at what CartoDB SQL API does (although that one is for http):

https://docs.cartodb.com/cartodb-platform/sql-api/making-calls/

[2016-06-18 15:48] ARolek commented on #21
It appears they're passing SQL through a query string which I don't think is an approach we should take. I would rather the user predefine the SQL at config time.

I'm going to dig into mapproxy's config file a bit more as it seems pretty robust. My main internal battle with the config file is figuring out how to handle SQL statements. Once we have a direction on that we should be able to stub out

[2016-06-19 04:00] ARolek opened #27 "Add contributing license"

[2016-06-19 13:25] jj0hns0n commented on #27
we should setup clahub probably

[2016-06-20 19:33] ARolek commented on #27
I just read up on CLAHub and it seems to me that it helps with managing a contributing license. I think this will become more important as the project evolves but we should consider how the increased administration will impact early contributions.

[2016-06-20 19:38] ARolek opened #28 "How do we want to handle CORS?"
CORS should probably be configurable. Let's use this issue to decide if we want a default of: "Access-Control-Allow-Origin":"*" and if not how much of CORS do we want to make configurable?

[2016-06-20 20:43] ARolek opened #29 "vendor external dependencies"
The goal is to keep project dependencies at a minimum. Any necessary external dependencies need to be included in the the projects `vendor/' folder.

[2016-06-21 22:11] #3 closed

[2016-06-21 22:11] #4 closed

[2016-06-21 22:11] #5 closed

[2016-06-21 22:11] #6 closed

[2016-06-22 03:51] #12 closed

[2016-06-22 03:52] #23 closed

[2016-06-22 03:52] #25 closed

[2016-06-22 12:18] gdey commented on #29
@ARolek which dependency manager were you thinking of using again?

[2016-06-22 15:17] ARolek commented on #29
@gdey [govendor](https://github.com/kardianos/govendor). I have already implemented it on the issue-13 branch I'm working on so once I merge that in you will see the new vendor folder.

[2016-06-22 21:53] #17 closed

[2016-06-23 20:47] #7 closed

[2016-06-23 23:29] ARolek commented on #21
mapnik uses an XML file for config and use SQL inline with a !bbox! param that is replaced at query time. They also expect a table to have a `gid` column as the feature unique id. More details [here](https://github.com/mapnik/mapnik/wiki/PostGIS)

[2016-06-24 22:31] ARolek opened #30 "tegola.Tile needs BoundingBox method"
First cut will return the UL & LR points in degrees.

[2016-06-24 22:41] ARolek opened #31 "Add "debug" option for web server"
This will create an mvt.Layer with the /Z/X/Y values encoded in the tile.

[2016-06-24 22:47] gdey commented on #21
Current thinking for the YAML file:
[code]

[2016-06-24 23:00] #13 closed

[2016-06-24 23:00] #29 closed

[2016-06-24 23:14] gdey commented on #15
The data provider interface will be the following:

[code]

[code]

[2016-06-24 23:18] gdey commented on #15
The layer config will use text.Template for the layer name and bbox name. So, the token will be {{.layer}} and {{.bbox}}

[2016-06-26 21:54] ARolek commented on #15
@gdey it's going to be important for us to consider resolution when fetching data from PostGIS. Take a look at this ZRES method that leverages the `ST_Simplify` function of PostGIS [here](https://github.com/mapbox/postgis-vt-util). We can probably implement this in code to avoid requiring the PostGIS funcs be installed.

[2016-06-29 00:32] ARolek opened #32 "How to handle max zoom?"
Currently we throw an error which seems to break some client side libs. Maybe we just render an empty tile?

[2016-07-01 03:25] ARolek opened #33 "PostGIS support for geometry collections"
The issue with Geometry collections is they only have one `gid`. This could be an issue when encoding to an MVT tile. If so, we should we dynamically create unique ids for each feature in the geometry collection?

As of now, the geometry collection will not be handled.

[2016-07-01 16:56] jj0hns0n commented on #33
Lets research how MapBox handles this. Geometry Collections are going to be necessary.

[2016-07-01 17:20] ARolek commented on #33
@jj0hns0n that's the plan. We just need to figure out how to best handle the collections. The featureID is critical for associating a feature across tiles. With a geometry collection there is a single id for several features. This may be fine, or we may need to generate ids on the fly.

[2016-07-03 21:32] ARolek commented on #32
We have decided to render an empty tile.

[2016-07-11 02:05] ARolek opened #34 "MVT package should work in int64 instead of float64"
MVT only supports integers.

[2016-07-11 18:02] ARolek opened #35 "Move extent calculation to mvt.Cursor"

[2016-07-11 18:02] ARolek opened #36 "Add query string param for debug toggle (?debug=true)"

[2016-07-11 18:02] ARolek opened #37 "Support tile sizes beyond 256x256 pixels"

[2016-07-11 18:06] #34 closed

[2016-07-12 21:45] gdey commented on #30
I don't think this is valid anymore.

[2016-07-12 21:45] #30 closed

[2016-07-12 21:50] gdey commented on #36
Do we want this to be a query string param or a parameter for the program?

[2016-07-12 21:51] gdey commented on #31
This is in the end-to-end branch.

[2016-07-12 21:51] gdey commented on #35
In the end-to-end branch.

[2016-07-12 22:10] gdey opened #38 "Want a newbie label"
I think we need a different set of labels for our issues then what we have now.

I think the labels should be:

- bug
- feature
- newbie
- enhancement
- question

I don't think we need the others, if we are not going to fix something we should just make comments in the issue.

[2016-07-12 22:19] #38 closed

[2016-07-12 23:41] ARolek commented on #36
@gdey I'm open for either. I just think it would be easy to debug if all you had to do is append the debug flag on the URL instead of restart the server with a new config.

[2016-07-14 18:03] gdey opened #39 "Add an option for specifying the config file to the server."
The server process should accept an flag for the location of the config file.

[2016-07-14 18:06] gdey commented on #36
How do we send that to the server. Using a cookie? So that the calls for the vector tiles get that?

[2016-07-14 18:08] gdey commented on #27
We should this sooner rather then later. I got a few people interested in the project at gopher con, don't know if they will want to commit. But we should make it as easy as possible.

[2016-07-14 19:18] ARolek commented on #27
@gdey have you ever implemented or contributed to a project with the CLAHub license? It looks like there is more friction, not less.

[2016-07-14 19:22] gdey commented on #27
I have not. This is the first time I'm hearing about CLAHub. Most project just are MIT or what not. I know the larger ones do want you to sign a contributing license, so that the code still belongs to them. This make it easier if they are sold or want to change the terms of the license. Otherwise every person who has every contributed who's lines are there has to agree to the change. Or something

[2016-07-14 19:23] ARolek opened #40 "Toml parser not working with multi line strings"
This is an issue for multiline SQL statements.

[2016-07-14 20:58] ARolek commented on #36
@gdey I was thinking we could add ?debug=true on the client side init: for example look at this line: https://github.com/terranodo/tegola/blob/master/cmd/tegola/static/open-layers-example.html#L30

[2016-07-15 17:22] jj0hns0n opened #41 "Make ZL 20 the hard maximum for now"
We may need to be able to render 21 and beyond, but 20 is a good hard stop for now (looks like its 17 currently)

[2016-07-15 17:25] jj0hns0n opened #42 "Add Logging"
... and cli flag to specify where the logs should be written.

[2016-07-15 17:26] jj0hns0n commented on #15
can this be closed now?

[2016-07-15 17:26] ARolek commented on #42
what do you want in the logs?

[2016-07-15 17:27] jj0hns0n commented on #42
time, requesting IP address, tile Z X Y for now.

[2016-07-15 17:29] jj0hns0n commented on #26
I'll have to look at how existing MVT does this, but ideally we just write out all the attributes attached to a geom by default and some subset of the full set with config.

[2016-07-15 17:29] #41 closed

[2016-07-15 17:31] jj0hns0n commented on #21
Can we add some basic docs on the format now that its working?

[2016-07-15 17:31] ARolek commented on #15
@gdey it's not feature complete, but it works. I would say this ticket is not ready to be closed. I need to talk with @gdey about a few things now that we have an end to end implementation.

[2016-07-15 17:31] jj0hns0n commented on #15
works for me, thanks for clarification.

[2016-07-15 17:32] jj0hns0n commented on #27
This is low priority for now, can deal with it when we actually have contributors.

[2016-07-15 17:32] ARolek commented on #35
this is now merged into master.

[2016-07-15 17:32] #35 closed

[2016-07-15 17:32] jj0hns0n commented on #31
Is this a dupe of #36

[2016-07-15 17:33] #18 closed

[2016-07-15 17:33] jj0hns0n commented on #36
+1 on a query string param vs in the config. Easier to use that way.

[2016-07-15 17:50] ARolek commented on #31
closed due to being a dupe of #36

[2016-07-15 17:50] #31 closed

[2016-07-16 00:26] #37 closed

[2016-07-16 00:32] ARolek commented on #21
config format is evolving to. here's the new draft

[code]

[2016-07-16 00:44] ARolek opened #43 "Polygons rendering slightly off in some instances [screen shots]"
**QGIS**
![screen shot 2016-07-13 at 7 18 22 pm](https://cloud.githubusercontent.com/assets/667850/16891736/b3fcc292-4ab3-11e6-85cf-34965e218b2a.png)

**Tegola**
![screen shot 2016-07-13 at 7 18 29 pm](https://cloud.githubusercontent.com/assets/667850/16891739/b8411056-4ab3-11e6-86d9-d441eb51580f.png)

[2016-07-16 00:52] #32 closed

[2016-07-16 00:52] ARolek commented on #21
reminder to check if two layers have the same name in overlapping zooms -> throw error. It's against the MVT spec.

[2016-07-16 00:55] gdey commented on #15
Change Providers to be a registration based system.

[code]

Each provider will need to register by call `Provider.Register()` in it's `init()` function.

The code will include the providers using an _ import.

The `InitFunc` needs to validate the the config; returning and error if it is not correct.

We will, also, change the interface for a tegola.Provider to the following:

[code]

The provider

[2016-07-16 19:03] #36 closed

[2016-07-18 04:49] #43 closed

[2016-07-18 14:03] gdey commented on #33
Also, to note the mapbox spec does not support geometry collections for the encoding:

https://github.com/mapbox/vector-tile-spec/blob/master/2.1/README.md#434-geometry-types

[2016-07-23 01:29] #26 closed

[2016-07-23 01:33] ARolek opened #44 "Change Tile.Extent to Tile.BoundingBox"

[2016-07-23 01:33] ARolek opened #45 "Support for 512x512 (retina) tiles"

[2016-07-28 22:29] ARolek opened #46 "add config flag for webserver port"

[2016-07-28 23:19] ARolek commented on #33
this is not currently supported by the MVT format so we're closing this issue for now.

[2016-07-28 23:19] #33 closed

[2016-07-28 23:20] ARolek opened #47 "Support 4326 projection"
Move SRID from the map to the layer. The SRID should indicate what the underlining srid of the data is for that geometry. We will convert that data WebMercator (3857). If the field is not provided it will be assumed to be in 3857.

When filling out the bounding box, I need to make sure there is an ST_TRANSFORM done on the created envelope. Transforming from 3857 to the passed in SRID. (4326) in th

[2016-07-28 23:20] ARolek opened #48 "Document config format and how to startup the server"

[2016-07-28 23:21] #40 closed

[2016-07-29 04:56] gdey commented on #48
Completed on new_provider_interface branch.

[2016-07-29 04:56] gdey commented on #46
Completed on new_provider_interface branch.

[2016-07-29 04:57] gdey commented on #42
Completed on new_provider_interface branch.

[2016-07-29 04:57] gdey commented on #39
Completed on new_provider_interface branch.

[2016-07-29 04:57] gdey commented on #21
Completed on new_provider_interface branch.

[2016-07-29 04:58] gdey commented on #15
Completed on new_provider_interface branch.

[2016-07-29 04:59] gdey commented on #47
References:
http://www.gal-systems.com/2011/07/convert-coordinates-between-web.html
http://wiki.openstreetmap.org/wiki/Mercator

[2016-07-29 14:43] #15 closed

[2016-07-29 14:43] #21 closed

[2016-07-29 14:43] #39 closed

[2016-07-29 14:43] #42 closed

[2016-07-29 14:43] #44 closed

[2016-07-29 14:43] #46 closed

[2016-07-29 14:43] #48 closed

[2016-07-29 14:49] gdey opened #50 "Travis-ci is not running db test."
Need to setup the travis-ci environment to load up fixture data and a postgis database so that it can run the db and provider tests.

[2016-07-29 14:51] gdey opened #51 "Naive Point simplification"
We should be able to reduce the number of points that are encode at different zoom levels by looking at the delta's to see if they are zero for both x, and y. And for runs of a constant for a coordinate we should be able to combine those.

[2016-07-30 02:42] gdey commented on #47
So, playing with this further; I discovered that the srid is in the wrong place. Right now we have it set with the provider, when I think it should go with the table, in the layers area. Each different table can have a different table setting. Also, I don't know if I loaded the data wrong or not, but so far my tests are showing the polygons in the right place.

[2016-08-01 15:27] gdey opened #52 "Start adding benchmarks to the various packages."
Now that we have got to v0.1 we need to start measuring so that we can know what to optimize. Bring on the benchmarks!

[2016-08-01 15:43] ARolek opened #53 "add fuzzing to wkb package"
fuzzing will help us identify any edge case bugs.

[2016-08-01 15:53] ARolek opened #54 "auto build binary releases on tag push with TravisCI"
[TravisCI deployment docs](https://docs.travis-ci.com/user/deployment/releases)

[2016-08-02 05:28] gdey commented on #47
Made some more progress on this with @ARolek help. Branch (37fcc6ee9fdb87bad0744486cb02df56cae2dd8b) issue_47 has what I believe a working implementation. Still need tests.

[2016-08-02 15:24] ARolek commented on #47
It appears that only the Y values are off. X seems to be spot on.

[2016-08-02 17:02] gdey commented on #47
Okay, my hunch was write. When I did not conversion I used the more accurate but slower `Elliptical (true) Mercator Projection` algo's from http://wiki.openstreetmap.org/wiki/Mercator#C . When I implemented and use the `Spherical Pseudo-Mercator projection`, things line up correctly.

[2016-08-02 17:10] gdey commented on #47
All that is left for this ticket is to write some tests, for the math functions. And Document it.

[2016-08-03 00:30] ARolek opened #55 "Support geometry simplification"

[2016-08-03 00:30] ARolek opened #56 "Geometry clipping"
Possible algos:
- [Efficient Parallel and Distributed Algorithms for
  GIS Polygon Overlay Processing](http://scholarworks.gsu.edu/cgi/viewcontent.cgi?article=1099&context=cs_diss)
- [Vatti clipping algorithm](https://en.wikipedia.org/wiki/Vatti_clipping_algorithm)
  [p56-vatti.pdf](https://github.com/terranodo/tegola/files/402456/p56-vatti.pdf)

[2016-08-03 01:14] ingenieroariel opened #57 "Add HUP to trigger a reload (for updating configuration)"
This is required to support changing a configuration file during development.

If possible, Tegola should finish serving existing requests with the old config and serve new requests with the new config.

[2016-08-03 01:16] ingenieroariel opened #58 "Dynamic configuration"
GeoNode has a use case for Tegola where configuration should be passed at runtime.

It would be great to be able to use something other than files on a disk to support this.

[2016-08-03 01:18] ingenieroariel opened #59 "Multi-config"
In order to use Tegola with hundreds of layers on a postgres instance it may be more manageable for the end user to load config files from a folder (one file per layer) instead of managing a big config file.

MapProxy has a similar function: https://mapproxy.org/docs/nightly/mapproxy_util.html#serve-multiapp-develop

[2016-08-03 01:23] gdey commented on #58
@ARolek @jj0hns0n What do you think about this? I think it makes sense, but we have to think about things like Security, and how do we persist the changes.

[2016-08-03 01:26] gdey commented on #59
@ARolek @jj0hns0n ^^

[2016-08-03 01:36] ARolek commented on #59
I suggested this in the beginning but @jj0hns0n was opposed to it. I don't recall the reasons though.

[2016-08-03 01:44] ARolek commented on #58
Random idea, what if the --config-file flag supported an HTTP path? You could then store the config in one location, and fire a "reload" signal to the tegola server and it would fetch the config file.

[2016-08-03 01:48] gdey commented on #58
We could tell the different from a regular file by looking to see that it starts with `https?://` to determine if it's a url or not. Is that what you are thinking. Otherwise we assume it's a file? Or do you think we should force it to always be a url, and files start with `file://`?

[2016-08-03 01:52] ARolek commented on #58
For ease of use we would assume it's a local file unless it has a protocol in front of it (i.e. `http(s)`)

[2016-08-03 02:10] ingenieroariel commented on #58
I tested this in my local machine:
```curl file:///code/hhypermap/101.diff ```
and it worked fine. Curl already handles all kinds of urls (local filesystem or remote) nicely.

[2016-08-03 02:24] ingenieroariel commented on #58
I am trying to think through how it would work with docker, this solution leads to something that may not make sense in that context (having to let my webapp know about tegola and tegola about my webapp).

[code]

[2016-08-03 02:24] gdey commented on #59
One idea I had is that we could add a `file` key to the providers/layers section which could point to a file (relative to the main file — for security reasons, we would strip out any `..` and `.` from it and remove any leading '/' ) or http url to read in the configuration for that section.

[2016-08-04 01:21] ARolek opened #60 "Add /health endpoint"
Health check endpoint.

[2016-08-04 01:27] ARolek commented on #57
@gdey and I discussed this and we think the best way to accomplish this is to support an an endpoint (i.e. `/reload`) which would require a "reload token" in the query string (i.e. `/reload?token=....`). The "reload token" would be set in the config file and if the provided token matched the config file token, the config would reload.

Thoughts?

[2016-08-04 01:28] ingenieroariel commented on #57
nice!

[2016-08-04 02:18] ARolek opened #61 "Support config file fetching over HTTP(s)"
Config file should be support fetching via http(s). This will help support distributed tegola deployments by allowing for a central config file.

[2016-08-04 22:49] ARolek opened #62 "Add /capabilities endpoint"
- [ ] map names
  - [ ] layer names
  - [ ] layer projections

[2016-08-04 22:50] ARolek opened #63 "support /maps/:map_name/:layer_name endpoint to return a single layer"

[2016-08-04 22:53] ARolek opened #64 "command line "seeding" tool for pre-generating tiles"
- [x] generate all tiles between a min & max zoom
- [x] generate a single tile based on z/x/y values
- [x] destination (local, S3?)
- [x] destination overwrite flag

[2016-08-04 22:58] jj0hns0n commented on #62
Similar to TMS

http://exchange-dev.boundlessps.com/geoserver/gwc/service/tms/1.0.0

[2016-08-04 23:17] ARolek opened #65 "Add Etag support for tile generation"

[2016-08-05 03:22] ARolek commented on #56
@gdey
![img_0908](https://cloud.githubusercontent.com/assets/667850/17425357/329f7572-5a81-11e6-952a-50c1a61fcb5b.JPG)

[2016-08-06 18:16] ARolek opened #66 "PostGIS config without custom SQL is throwing invalid SQL error"
When setting up a PostGIS data provider that uses `tablename`, `geometry_fieldname` and `id_fieldname` combo (no custom SQL statement), the following error is being thrown:

[code]

It looks like an extra comma is being added when the SQL is being built by the driver.

References:
- [Config File](https://dpaste.de/foF8)
- [Error Log](https://dpaste.de/RhFK)

[2016-08-06 18:23] ARolek opened #67 "PostGIS driver needs to handle nil tag values"
The following error is being thrown when a column is nil.

[code]

[2016-08-06 22:20] gdey commented on #67
So, this bug is turning out to be a bit deeper then it first appears. The problem isn't jsut the nil, but also other unknow types. That the provider can stuff into the tags map. So, the fix really need to be at the provider level. Basically, the provider need to convert any custom types it may expect into types that can be encoded in the basic type. Most likely this will be converting it to a stri

[2016-08-07 19:57] ARolek commented on #67
@gdey This still might be two different issues.

The "nil" bug has to do when a row does not have a value. This was showing up when custom SQL was being used that returned the `id`, `geom` and `name` fields and the `name` field was `nil` sometimes. Skipping `nil` values could work, though we may find an use case where having the `name` key with an empty value desirable to maintain consistency with

[2016-08-07 20:12] ARolek opened #68 "Parallelize layer encoding"

[2016-08-09 04:20] #54 closed

[2016-08-13 01:07] ARolek commented on #45
I have been playing around with mapboxgl.js and they require tiles to be 512.

[2016-08-15 18:04] ARolek commented on #66
I was able to recreate this issue, and the problem has to do with with a column name being a keyword. In the following SQL statement, the word "natural" is a [reserved Postgres keyword](https://www.postgresql.org/docs/8.1/static/sql-keywords-appendix.html).

[code]

An immediate solution would be to wrap all the field names in quotes

[2016-08-15 18:17] gdey commented on #66
That should be pretty easy to do. That is what I was suspecting. Thanks for confirming it for me.

[2016-08-15 18:32] kalxas commented on #66
good catch :)

[2016-08-15 18:35] kalxas commented on #67
With the previous configuration I was using this custom SQL without issues:
https://github.com/terranodo/geonode-live/blob/71ac7f2726612c2c13e0ab8aa247b74e52556e0b/conf/tegola/config.toml#L23

[2016-08-15 18:37] kalxas commented on #66
yes, the pgdump was from the OSM database, after processing with osmosis (splitting layers to different tables)

[2016-08-15 18:39] ARolek commented on #67
@kalxas I'm about to shift into this bug. Thanks for providing the old config.

[2016-08-15 19:26] ARolek commented on #67
@gdey I have a solution that has Bonn rendering again. Essentially if we add a check for "nil" in our feature tag switch [here](https://github.com/terranodo/tegola/blob/master/mvt/feature.go#L519) and essentially do nothing, the key will be encoded but the value will be nil. For example:

[code]

I do like the idea of keeping the key there even though the value is `nil` as it will keep the feature

[2016-08-15 21:03] ARolek commented on #67
I did some more research and it looks like currently the spec does not support `null` value types so the key should be ignored. See the conversation [here](https://github.com/mapbox/vector-tile-spec/issues/62).

[2016-08-15 22:44] #47 closed

[2016-08-15 22:49] gdey commented on #51
The clipping algo will take care of this. So, closing.

[2016-08-15 22:49] #51 closed

[2016-08-16 01:38] #66 closed

[2016-08-16 03:25] ARolek opened #71 "hstore support in postgis provider"
When working with an OSM export translated using osmosis some key / val pairs are being stored in an `hstore` datatype in PostGIS. These values are currently being encoded as a single string. We should decode the hstore and add the values alongside the feature's other tags.

[2016-08-16 03:43] #67 closed

[2016-08-16 19:59] #61 closed

[2016-08-16 22:30] ARolek commented on #68
I used `ab` to benchmark the a single request with the same config before and after concurrent layer fetching was added. I used the following command:

[code]

The requested tile had 12 layers at the requested z/x/y position.

## Without concurrent layer fetching

[code]

## With concurrent layer fetching

[code]

[2016-08-16 22:43] ARolek commented on #68
closed via https://github.com/terranodo/tegola/commit/d275fea9f13cf2c9eeaac50895311a82adfd856d

[2016-08-16 22:43] #68 closed

[2016-08-16 23:14] ARolek opened #74 "Improve CI to include example config file and compress release binaries."

[2016-08-17 00:15] ingenieroariel commented on #68
Just a heads up that the first benchmark uses 1000 requests instead of 100.
When I read it I thought there was a 10x speedup but it is more like a 1.2x
speedup (not bad of course).

On Aug 16, 2016 5:43 PM, "Alexander Rolek" <notifications@github.com> wrote:

[2016-08-17 00:25] ARolek commented on #68
@ingenieroariel good catch. Let me update the output so they're both using 100 requests. I ran the tests at 100 and 1000. I didn't mean to paste differing outputs.

I'm seeing about a 20-30% speedup going concurrent. This should be even faster if you have more cores. Something we can test soon.

[2016-08-17 00:39] ingenieroariel commented on #68
Nice!

On Aug 16, 2016 7:25 PM, "Alexander Rolek" <notifications@github.com> wrote:

[2016-08-26 19:37] #62 closed

[2016-08-31 18:26] ARolek opened #76 "Split "bind" and "port" into separate webserver config values"
Currently our webserver config takes in a `port` which is actually an "address" (i.e. "0.0.0.0:8080" or ":8080"). Our PostGIS provider takes in the `port` as an integer. In an effort to keep things consistent, the webserver should require the `port` to be an integer and allow the user to provide a `bind` value.

[2016-08-31 21:02] jj0hns0n opened #77 "Get DB connection params/string from environment"
We need this for Cloud Foundry

[2016-08-31 21:32] justenPalmer opened #78 "Panic when PostGIS tries to query a layer that does not exist"
Here's the stack trace:

[code]

[2016-09-01 17:03] gdey opened #79 "Add a way to get the version of the running software."
It would be good to get the version of the software running and (possibly the change set) from lighter the capabilities or another end-point

[2016-09-07 00:34] ARolek opened #80 "TOML parser does not error out on failed multiline string parsing. Gives off false positive to the user."

[2016-09-07 18:22] #80 closed

[2016-09-07 21:53] ARolek opened #81 "When using two providers if the same layer name exists across providers we need to alert the user."
Currently a config like the following will stop rendering in OpenLayers v3 after it hits the second `water` layer. All subsequently configured layers will not show up. This is only an issue if we have two providers configured with the same layer name and they're both set to render at a certain zoom.

Notice we have two different providers, each with a layer named `water`. The MVT spec requires uni

[2016-09-11 23:39] #79 closed

[2016-09-11 23:54] #63 closed

[2016-09-18 18:53] ARolek opened #82 "SSL support"
In order to support HTTP2 we need to support SSL.

[2016-09-28 20:26] lukasmartinelli opened #83 "Capabilities Endpoint"
_Capturing our previous Email discussions_

The layer metadata is not part of the TileJSON spec indeed.

`vector_layers` is what Mapbox uses as well. `Layer` in OSM2VectorTiles is just an artifact (should remove it otherwise confusing).
Listing the fields helps to describe the layer in an editor but instead of a field description one can also simply state the type (if you know it) or just have onl

[2016-09-29 17:37] ARolek commented on #83
@lukasmartinelli thanks for the detailed response. is the `source` value for a `vector_layer` suppose to be a URL or a URI? I know mapbox uses their own scheme that mapbox.js interprets.

Additionally, is this payload designed to describe a single "map". Currently the `/capabilities` endpoint for Tegola returns info about all maps configured. This might need to be reworked to follow this design.

[2016-09-29 17:42] lukasmartinelli commented on #83
For me just a URL is fine. Yes Mapbox uses `mapbox://` otherwise there are no special URIs as I know of now.
The `vector_layers` design is not so critical for me. I currently make no use of it - probably in future to add metadata about fields but for actual rendering clients they don't need `vector_layers`.

Each map could expose one TileJSON endpoint (that's how it was implemented in https://gith

[2016-10-04 17:14] lukasmartinelli commented on #28
Trying to integrate #83.
CORS currently does not work for tiles specified in http://tegola.cfapps.io/capabilities/bonn_osm.json

![maputnik](https://cloud.githubusercontent.com/assets/1288339/19084378/a0ea4434-8a66-11e6-878d-87c4246cc9ec.png)

[2016-10-04 19:33] ARolek commented on #28
I think what's going on is the OPTIONS preflight needs to be implemented for the `/capabiliites` and `/capabiliites/map_name.json` endpoints. Fix coming right up.

[2016-10-04 20:18] ARolek commented on #28
@lukasmartinelli we have pushed an update to the server at  http://tegola.cfapps.io/capabilities/bonn_osm.json. Let me know if you ht any other issues.

[2016-10-04 20:29] ARolek opened #84 "Add "center" to map config"
This will be included in the TileJSON response to a `/capabilities/:map_name.json` endpoint. The "center" value is provided as a convenience for clients to know where to land the user on initial loads.

[2016-10-04 21:28] ARolek commented on #27
Possible alternative: https://cla-assistant.io/

[2016-10-07 19:54] jj0hns0n opened #85 "Create a Dockerfile"
... to build and run tegola

[2016-11-08 13:54] pnorman opened #86 "Endpoint for multiple layers"
There is the endpoint `/maps/:map/:layer/:z/:x/:y` which allows fetching of a single layer. For some use-cases it would be useful to be able to fetch multiple layers, e.g. `/maps/foo/roads,rail/:z/:x/:y`

[2016-11-08 14:02] pnorman opened #87 "Multiple layers of the same name at different zooms"
Is it possible to have two layers of the same name but non-overlapping zooms?

e.g.

[code]

To achieve this effect, what is often done is

[code]

But this can get to be painful to work with.

[2016-11-08 14:04] pnorman opened #88 "zoom level token"
It would be useful to have a zoom level token like the bbox token. This is needed with some data sources, e.g.

[code]

[2016-11-08 23:04] ARolek commented on #88
Yeah this would be helpful and not a big level of effort. Thanks for opening the issue.

[2016-11-08 23:11] ARolek commented on #87
Looking at your config it appears you're querying across data providers. We don't support combining layers at the application level, but if both tables resided in the same database you could define the UNION query in your config.

Is the cross data provider the key to your request?

[2016-11-08 23:18] ARolek commented on #86
interesting idea, and again not too difficult to implement. would you expect a request to fail if you supplied a single invalid layer name? for example: `/maps/foo/roads,rail,invalid/:z/:x/:y`

[2016-11-09 08:14] pnorman commented on #86
I could see either way, but I'd look at what other services with the equivalent endpoint do.

[2016-11-09 08:15] pnorman commented on #87
No, a UNION ALL does work, just not ideally

[2016-11-10 19:45] ARolek commented on #87
Yeah the UNION ALL is going to be a heavy query. I need to think if there are any other clever ways to approach this.

[2016-11-10 19:50] pnorman commented on #87
Perhaps it's not clear, but the two layers would never both be used in the same tiles. In the example, z9 has natural_earth.roads and z10 has osm.roads

The UNION ALL is fine for performance, it just gets unwieldy.

[2016-11-10 20:19] ARolek commented on #87
I understand your question better now. So this is possible for your use case, _specifically because the zoom levels don't overlap_. We have an open bug (#81) right now to thrown an error if you try to use the sample layer name across providers with overlapping zoom levels.

[2016-12-24 14:16] russss opened #89 "Panic when selecting 3D geometry"
When selecting a 3D geometry from a table, tegola crashes with:

    2016/12/24 14:13:37 Error Getting MVTLayer: Was unable to decode geometry field(<field>) into wkb for layer <layer>

Using `ST_Force_2D` in the SQL fixes this but it would be useful if tegola could automatically discard the third dimension.

[2016-12-27 16:09] ARolek commented on #89
@russss thanks for the bug report. Is there an open dataset I can use to recreate the problem?

[2016-12-27 17:59] russss commented on #89
I think a minimal test case should be as simple as:

    CREATE TABLE test (id SERIAL, geom geometry(PointZ, 3857));
    INSERT INTO test(geom) VALUES (ST_GeomFromText('PointZ(1000 1000 10)', 3857));

[2016-12-29 11:33] allspatial opened #90 "Geometry errors at various zoom levels"
I am getting geometry errors in several polygon and line layers at various zoom levels. The higher the zoom level the more errors appear (screenshot 2). I am using tegola_darwin_amd64 (v 0.3.0) from the release page. I can provide sample data in Shapefile format or as PostgreSQL dump if required.

Many thanks,

Michael

![error](https://cloud.githubusercontent.com/assets/12534211/21543042/025aa2f0

[2016-12-29 17:02] ARolek commented on #90
@allspatial thanks for the report. What client side library are you using? If you're using Mapbox then we have seen this issue and it should be fixed in our 0.4 release which comes with geometry clipping (and is nearing completion!).

If you're using OpenLayers then this is a new issue and your shapefile would be helpful.

[2016-12-29 18:34] allspatial commented on #90
Hi @ARolek! Many thanks for your swift reply! I am indeed using mapbox (mapbox-gl-js  v 0.29.0). I wouldn't mind using OpenLayers but I did a few tests about three months back and the performance of OL when labelling thousands of features was significantly lower than with mabbox-gl-js. However, that might have improved meanwhile. I am very much looking forward to your 0.4 release then.

[2016-12-30 05:36] allspatial commented on #90
I would be glad to test the pre-release, I really want to use Tegola for quite an important government project. Are there any instructions on how to build the binary (I haven't done anything with Go so far)?

[2016-12-31 19:46] ARolek commented on #90
@allspatial I can put together some instructions in the Readme.md for building. Do you have go installed? If so, you can clone the repo, and then navigate to the `cmd/` directory and run the following:

[code]

For additional details on the config file check out our [docs](http://tegola.io/configuration/).

[2017-01-02 06:16] allspatial commented on #90
I installed Go via Homebrew. Building the tegola binary went smoothly. I had to cd to **cmd/tegola** though, not just **cmd/**. Many thanks!!!

[2017-01-02 23:00] ARolek commented on #90
@allspatial good catch. I have added the building instructions to the Readme file [here](https://github.com/terranodo/tegola/blob/master/README.md#building-from-source). We will let you know when clipping is ready for you to test.

[2017-01-03 05:08] allspatial commented on #90
@ARolek, perfect. I am looking forward to that. Many thanks again!

[2017-01-03 20:37] JivanAmara commented on #57
Why a reload endpoint instead of reloading when the config file has changed?

[2017-01-03 20:43] ARolek commented on #57
@JivanAmara we allow for remote configuration files (i.e. fetch a file on S3 or some other HTTP endpoint). This allows for easier management of a centralized config file across a cluster of servers instead of requiring the config to be reloaded on all servers. I need to document this.

[2017-01-04 08:29] lukasmartinelli commented on #83
@ARolek The TileJSON endpoint does not work with Mapbox GL.
I think TileJSON should at minimum be implemented to the extent that Mapbox GL can understand it.

/cc @jj0hns0n @PetersonGIS

I think the problem is that the endpoint has the wrong endpoint in the TileJSON:

[code]

It should probably contain

[code]

This example works with the XYZ tiles directly referenced.

[code]

While it doesn't wo

[2017-01-04 16:26] ARolek commented on #83
@lukasmartinelli I will look into this today and see if we can get an update out.

[2017-01-04 20:52] ARolek commented on #83
@lukasmartinelli we have pushed a new version of tegola up to the http://tegola.cfapps.io endpoint and tested it with your example and it's working.

The issue was not the extension (I tested both .pbf and .vector.pbf), but that the protocol was missing from the tile URLs.

Let me know if you have any other issues.

[2017-01-04 20:52] #83 closed

[2017-01-05 14:32] andreschardong opened #91 "Tegola seems to ignore the config Port tag"
Tegola seems to ignore the config Port tag.
On my config.toml it is set to :9090, however the server is always started on 8080.
I'm using 0.30 windows x64

[2017-01-05 18:05] ARolek commented on #91
@andreschardong thanks for the report. This has been fixed in master and is due to be released with the upcoming 0.4 release. If you want, I can put together a build of master for Windows for you to test.

[2017-01-07 12:32] andreschardong commented on #91
Thank you for the quick reply. No worries! I will wait for the 0.4 release.

[2017-01-10 20:47] ARolek opened #92 "Support "fields" key in vector_layers array returned by the map capabilities endpoint"
Currently our map capabilities endpoint does not return a value for the "fields" key for `vector_layers`. At the time of writing this, the values to be included in the `vectory_layers` array is [still being debated for the TileJSON spec](https://github.com/mapbox/tilejson-spec/issues/14). It also appears that the discussion is not aligning with Mapbox's current implementation. An example of Mapbox

[2017-01-13 00:48] ARolek commented on #71
@gdey do you recall why we have [this block of code](https://github.com/terranodo/tegola/blob/issue-71/provider/postgis/postgis.go#L484)? While implementing hstore support this line is causing a bug where the tag is being encoded but is empty. A couple things to note:

- Hstore's are key value pairs, and I'm simply adding all of the k/v pairs in the hstore to the feature tags, but the original hst

[2017-01-13 20:29] ARolek commented on #71
While testing the hstore implementation it appears that all hstore values are of type string. This may cause problems when trying to use values for say "building_height" to extrude buildings. I think trying to parse every string into a float / int would be unnecessary overhead. An alternative solution is to allow the user to configure how to handle an hstore field. This would also allow for filter

[2017-01-16 20:13] ARolek commented on #71
Digging into this a bit more a better solution might be to suggest the user better prepare their import if they need a specific attribute from the dump. This is discussed on StackOverflow [here](http://gis.stackexchange.com/questions/149929/how-to-search-within-a-string-to-extract-data-from-osm-other-tags).

The advantage to this approach is we don't need to add additional parsing to the hstore da

[2017-01-17 10:23] thomersch opened #94 "Different provider.layer depending on zoom level (user defined layer names)"
(Somehow related to #87 and #81)

I use generalised tables in order to reduce the size of tiles, e.g. "osm_roads" contains full resolution geometries, while those in "osm_roads_gen0" are reduced.

The provider layer configuration looks like this:

	[[providers.layers]]
 	name = "roads"
 	geometry_fieldname = "geom"
 	id_fieldname = "osm_id"
 	sql = """
  		SELECT name, osm_id, class, type, ST_AsBi

[2017-01-17 19:51] ARolek commented on #94
@thomersch when you say:

Are you referring to having both "osm.roads" and "osm.roads_gen0" render at the same zoom (i.e. zoom of 10)? If so, that's just a minor change to the "osm.raods" `min_zoom` level. If not, could you give me a few more details on your issue?

[2017-01-17 19:59] thomersch commented on #94
Sorry for being confusing. I will try to do better :)

What I mean is: Up to zoom level 10 I want to have `osm.roads_gen0` as data source for the roads layer, but on all layers above (> 10) I want to have `osm.roads` as data source for the same roads layer.

Same layer, same rendering in the end, but with data from different tables.

The background is, as I mentioned, that `roads_gen0` has low res

[2017-01-17 20:05] ARolek commented on #94
Got it. Your config looks good. Are both tables in the same database? What results are you seeing?

[2017-01-17 20:24] thomersch commented on #94
Yes, they are both in the same DB.

Well, I get two layers: One called `roads` and the other called `roads_gen0`, which is troublesome, because I want to apply the exact same style to them.

One possibility to solve it, would be the ability to give aliases to `maps.layers`. I could name them both "roads" and depending on the zoom level I would get the right thing. Admittedly kind of quick'n'dirty.

[2017-01-17 21:00] ARolek opened #95 "Support $ENV var for postgres connection string in config file"
A recent conversation about using tegola with docker brought up the issue of passing config files to containers. It's a terrible idea to build a container with a config file that includes database connection string parameters, but containers can easily accept environment variables. Additionally it would be nice to be able to share config files for complex data configuration (i.e. OSM data). So the

[2017-01-17 21:11] ARolek commented on #94
I see what you're trying to do, and allowing for an explicit name in the `map.layers` is an interesting way to solve it. Can you provide a snippet from your style config? I would like to see your styling approach.

One alternative approach that you can try now is to use [Map Layer Default Tags](http://tegola.io/configuration/#map-layer-default-tags) in the config to give both road layers a `class`

[2017-01-18 09:01] thomersch commented on #94
I use mapboxgl.js for rendering. My source definition looks like this:

[code]

Later on I pick up the source in multiple layers, e.g.

[code]

[code]

By the way, my gen0 table is filtered, so I don't have to transmit all the ways: `"sql_filter": "type IN ('motorway', 'primary', 'secondary')`.

All of this is still in development stage, so possibly I will have to filter more aggressively, filter

[2017-01-18 10:57] andreschardong commented on #91
Just build it following the instructions and the trunk version accepts the port set on config file. Thanks!

[2017-01-18 11:15] andreschardong opened #96 "Caching"
Is caching pbf on our plans? I'm wondering if I could help. Never worked with Go before, however could try.

[2017-01-18 11:16] #91 closed

[2017-01-18 18:04] ARolek commented on #94
Ok this is what I figured was going on but I wanted to be sure. I need to think how supporting a user defined layer name will impact other parts of the software. This is a valid use case and something I'm sure other's will run into. I will do some research and circle back with some possibilities.

[2017-01-18 18:05] thomersch commented on #94
Today I started hacking on the code base, maybe I'll be able to come up with something.

[2017-01-18 18:33] ARolek commented on #96
It's been a point of discussions many times, though we have not decided how we want to proceed. Our current suggestion is to use a CDN or caching layer in front of tegola. This keeps tegola focused on slicing tiles from data providers.

We have played with the idea of supporting a local disk cache using the the z/x/y.pbf naming convention as well as "seeding tools" (#64) which would precompute all

[2017-01-18 19:45] andreschardong commented on #96
Local disk cache using the the z/x/y.pbf schema would be perfect (at least  for my project). we have some huge datasets on PostGis. tegola has to do the heavy processing and produce the tiles (pbf files) each user request. The beauty  is that tegola  takes care of the simplification and does a awesome job with that.  Much better that a simple ST_simplify on postgis, for instance.

[2017-01-19 16:10] shongololo opened #98 "parallelisation to use cores?"
Does terranodo scale to use multiple cores if available?

Or is it necessary to run multiple individual apps to utilise all cores? e.g. as would be the case with Gunicorn in front of multiple python apps?

[2017-01-19 17:30] ARolek commented on #98
Short answer: Yes.

A bit of an explanation. We compile with Go 1.7+ which by default uses `GOMAXPROC = runtime.NumCPU`. This change happened in Go 1.5 ([reference](https://docs.google.com/document/d/1At2Ls5_fhJQ59kDK2DFVhFu3g5mATSXqqV5QrxinasI/edit)). For each incoming request tegola spins up a go routine which is the default behavior for  `net/http` requests. Additionally we spin up a go routine

[2017-01-19 17:57] shongololo commented on #98
Thank you for the explanation.

[2017-01-19 17:57] #98 closed

[2017-01-19 21:55] ARolek commented on #94
I have been doing some more research on this issue while reviewing your pull request and the approach here is essentially "VT compositing". We have discussed compositing layers from remote vector tile sources before (essentially a remote data provider) which would allow for using tegola to "mash-up" data from other vector tile servers and combine the data into a single tile. There's a quick post a

[2017-01-19 22:19] ARolek commented on #96
@andreschardong got it. What are your thoughts on clearing out the cache? We go back and forth on this one. A couple options we have considered:

- Use a TTL, and crawl the cache directory every so often to purge old tiles.
- Purge on reboot of the instance
- Purge on reload of a config (no downtime config reloading is something we're working on)

Also if you're interested in taking a stab at the

[2017-01-20 15:51] andreschardong commented on #96
@ARolek, regarding the options:
Use a TTL its OK. I would leave default 0 (never)
Purge on reboot of the instance: would not do it
Purge on reload of a config: not sure if it's a good idea. Eventually just purge does deleted layers (layers on the disk that are not on the config file anymore). BTW great to hear that you working on the reload config feature.

Some functionalities that could be added

[2017-01-22 05:18] gdey commented on #56
Quick update. Have clipping working for most tiles. However, there are a few polygons that get clipped to nothing, that I believe should not be.

As you can see from the missing tile:
![screen shot 2017-01-21 at 9 14 28 pm](https://cloud.githubusercontent.com/assets/14805/22180214/0cfc6bee-e01f-11e6-8449-df7bd4dd17c0.png)

I'm currently working on tooling to help me debug what is going on here. On

[2017-01-26 01:20] #55 closed

[2017-01-26 01:20] gdey commented on #55
Clipping takes care of this as well.

[2017-02-17 07:28] ARolek commented on #56
@gdey I was able to extract the geometries from the OSM database that were causing clipping issues as shown in the following screen shots:

<img width="919" alt="screen shot 2017-02-16 at 11 10 55 pm" src="https://cloud.githubusercontent.com/assets/667850/23056242/5683c76e-f49f-11e6-9a75-2a26e4bd3818.png">
<img width="381" alt="screen shot 2017-02-16 at 10 56 37 pm" src="https://cloud.githubuserco

[2017-02-18 22:04] ARolek opened #99 "Support for debug=true query string param in /capabilities endpoints"
Currently the capabilities endpoints don't support the debug=true query string parameter for the tiles references. Additionally a debug layer needs to be created inside the `vector_layers` property.

[2017-02-19 03:41] ARolek commented on #56
One more isolated test case
<img width="890" alt="screen shot 2017-02-18 at 7 35 51 pm" src="https://cloud.githubusercontent.com/assets/667850/23099035/2eb07286-f612-11e6-8978-79b0dbc5e2a8.png">

Using the following SQL

[code]

The attached output has 2 geometries in WKB format with their accompanying attributes.

[osm-roads-output.txt](https://github.com/terranodo/tegola/files/785518/osm-roads-o

[2017-03-04 00:37] allspatial commented on #56
Hi @ARolek and @gdey, I am getting the same type of errors with my line layers frequently. I am also getting (occasionally) the polygon error described by @gdey above, so whole tiles would be completely missing from my map. If I can help with anything (logged SQL statements, etc.) to solve that issue faster please let me know. The clipping issue is the main reason that prevents me from going fully

[2017-03-04 01:03] gdey commented on #56
Hi @allspatial !

Have you tried the latest build from this branch? I push up a few more fixes late last night. Also, be aware that by default the clipping is turned off and you have to setting the environmental variable TEGOLLA_CLIPPING to mvt, `TEGOLA_CLIPPING="mvt"` not to yes as I had in said in a different comment.

I'm looking into more bugs that @ARolek ARolek has pointed out to me. I, also

[2017-03-04 01:11] allspatial commented on #56
Hi @gdey, thanks for your swift reply! The changes from last night I haven't tried yet. Will do so right now. The "mvt" I already figured out.

[2017-03-05 04:10] ARolek opened #100 "Tile clipping results in edge artifacts"
This can be seen in the following image:

![clipping_480](https://cloud.githubusercontent.com/assets/667850/23584400/6a5aa0e6-0115-11e7-97ed-e85393a7d421.png)

And can be addressed with a configurable tile buffer which allows geometries to extend beyond the extent of the tile. This is discussed in [MVT Specification, Section 4.1. Layers](https://github.com/mapbox/vector-tile-spec/tree/master/2.1#4

[2017-03-05 05:38] allspatial commented on #56
Hi @gdey, I tested the latest clipping_3 branch. Line clipping seems to work better now, polygons still disappear (see screenshot). And I can now see the tile boundaries, I assume you are showing them for testing purposes. Many thanks!
![shot](https://cloud.githubusercontent.com/assets/12534211/23584858/6291c502-0187-11e7-9d86-929b219e1dc3.png)

[2017-03-06 03:17] gdey commented on #56
@allspatial No, those gray lines should not be there. I think I have to increase the overlap buffer for that. I've got a few more fix coming with a new push.

Thank you for looking into this.

[2017-03-09 12:14] kachkaev opened #101 "Support text ids (not just int64)"
Hi guys,

I've got a few experimental postgis tables that I'd like to expose via tegola and I've got an issue with type of the id field. In my case it is text, because I don't care much about the performance and in fact believe that it's not that different these days. As a result, the tile server logs show the following:

[code]

What would you suggest as a workaround? What do you think of support

[2017-03-09 12:58] kachkaev commented on #101
Tried `id_fieldname = "md5(id)::unit64 as id"` but it did not work. Tegola wrapped this into `""`, so I got this:

[code]

[2017-03-09 13:25] kachkaev commented on #101
Finally got this working:

[code]

The idea for getting a numeric key from a string is [from StackOverflow](http://stackoverflow.com/a/9812029/1818285). Although the workaround allows to achieve the result, it'd be still better to have text ids natively (if there are no serious consequences for this, of course).

[2017-03-09 15:45] emacgillavry commented on #88
We've just hit the same requirement when assessing Tegola. Good to see this is on the radar!

[2017-03-09 17:27] flippmoke opened #102 "Following V2 Tile Specification"
I am one of the authors of the MVT specification and I try to review all the code I see for people who are writing encoders specifically for MVTs. So I was looking through your code some and noticed some issues surrounding your support for the MVT specification.

I noticed you are attempting to follow the version 2.1 of the specification which is great, however, there are a few things that I think

[2017-03-09 19:55] ARolek commented on #101
@kachkaev seems like a reasonable request. I think we can add support [here](https://github.com/terranodo/tegola/blob/master/provider/postgis/postgis.go#L419). I will try to address it in our v0.4.0 branch so it will be part of an upcoming release.

[2017-03-09 19:56] ARolek commented on #88
@emacgillavry I'm going to try and address this in our upcoming v0.4.0 release. We have a v0.4.0 branch you can track if you don't mind building from source.

[2017-03-09 21:34] kachkaev commented on #101
Awesome! Glad that the current internal architecture allows for a potentially easy fix!

It'd be great if you considered docker integration as well - the [current image available on Docker Hub](https://hub.docker.com/r/terranodo/tegola/) is not official and is actually two forks [away](https://github.com/ingenieroariel/tegola). I've been using tegola inside a Docker container bundled with my custo

[2017-03-09 21:53] jj0hns0n commented on #101
sorry to hijack this issue, but @timlinux has a working docker setup. Tim, can you send a PR?

[2017-03-12 06:35] ARolek commented on #88
@pnorman @emacgillavry The `v0.4.0` branch now supports the `!ZOOM!` token in SQL statements. Here's an example of the SQL:

[code]

If you don't mind building from source can you give the implementation a test per your situation?

[2017-03-12 06:46] pnorman commented on #88
I don't have any Tegola-based vector sources at the moment, this was just something I had identified as a blocker for implementing one

[2017-03-12 06:49] ARolek commented on #88
@pnorman got it.

[2017-03-12 20:39] emacgillavry commented on #88
Wow, thanks for the update and rapid implementation. We'll certainly give
this a go this week.

On 12 March 2017 at 07:49, Alexander Rolek <notifications@github.com> wrote:

[2017-03-13 19:22] ARolek commented on #102
@flippmoke thanks for opening an issue and reviewing tegola. We took your suggestion and changed the version tag from 2.1 to 1.

We're working on geometry validity testing prior to encoding as we have noticed rendering artifacts when clipping invalid geometries. We're hoping to have this addressed soon and then eventually be 2.1 compliant. In the mean time I will release a patch build so any other

[2017-03-14 16:31] gdey opened #105 "Fix spelling mistakes reported by go report."
Go Report is currently reporting several [spelling errors](https://goreportcard.com/report/github.com/terranodo/tegola#misspell), fix these.

* [tegola/basic/line.go](https://github.com/terranodo/tegola/blob/master/basic/line.go)
  *   [Line 6](https://github.com/terranodo/tegola/blob/master/basic/line.go#6): warning: "interect" is a misspelling of "interacted" (misspell)
* [tegola/basic/polygon.g

[2017-03-14 16:37] gdey commented on #50
Thanks to @ARolek this is now working in f5ed72890df53d11acae6fa19d7c57147bb5d4d5 .

[2017-03-14 16:37] #50 closed

[2017-03-14 17:03] allspatial commented on #56
Hi @gdey and @ARolek, issues #90, #100 and #56 could probably be merged since they all refer to the clipping. It would reduce the number of issues at once without much effort ;-). Taking into account also issue #102 which would be the recommended Tegola version to test now with regard to improved geometry clipping and MVT specification compliance? By the way, here is the link to the application I

[2017-03-14 17:36] gdey commented on #90
Moving this to #56; as I believe these errors are related to clipping. (As pointed out by @allspatial )

[2017-03-14 17:36] #90 closed

[2017-03-14 17:38] gdey commented on #100
Closing as these are issues are related to clipping #56.

[2017-03-14 17:38] #100 closed

[2017-03-21 14:35] hpfast commented on #88
I've built branch v0.4.0 but I'm getting the following error:

[code]

[2017-03-21 15:03] hpfast commented on #88
It may be I'm not compiling things correctly, I don't know ... my first time compiling a go project, it was successful ...

[2017-03-21 15:08] hpfast commented on #88
Maybe this isn't the place for go compilation support, but then again maybe I'm just missing something small and obvious. I tried the instructions for building from source in the docs, and get:

[code]

Whereas if I first `go get ./...` in the repo root, the build command does succeed. But could it be I'm then pulling in dependencies from a different branch than v0.4.0?

[2017-03-21 15:20] ARolek commented on #88
@hpfast could you post your config file (without database credentials) so I can take a look at it? Also what version of Go are you using to compile and did you checkout the project into your `$GOPATH` (/home/hans/go/src/ according to the output logs)?

[2017-03-21 15:52] hpfast commented on #88
I'm using the !ZOOM! token on the water layer.

[code]

[2017-03-21 15:57] hpfast commented on #88
yes, these are my steps:

[code]

[2017-03-21 16:38] ARolek commented on #88
I think I see the issue in your build steps. Go expects the source code to be in in the `src/` folder and named per the repository location. After `cd ~/go` run the following commands:

[code]

The next several commands look great.

[2017-03-21 20:24] hpfast commented on #88
Thank you, sir, for the quick Go introduction! I was wondering about the src and pkg directories. It now builds and the !ZOOM! token works.

I definitely think it's a worthwhile feature. Our use-case at the moment is on a map with all water bodies in the Netherlands; by adding a zoom rank column based on width class, area and some other properties the map stays performant even as we zoom out. Ther

[2017-03-22 16:58] ARolek commented on #88
@hpfast anytime! Providing your setup steps made it easy to identify the issue.

I'm glad this feature is paying off for you. You're use case is perfect and it sounds like results are fantastic. Do you have a link to the project so I can check it out? Also I'm considering creating a wiki page with links to projects using Tegola. Once your project is live we can include a link to it, if you're inte

[2017-03-23 07:48] hpfast commented on #88
@ARolek the project we're using this for should be online by next week, I'll let you know.

[2017-03-30 22:35] ARolek opened #106 "Check for duplicate layer names across providers"
Layer names should never clash across providers.

[2017-04-07 04:20] allspatial commented on #56
Hi @gdey, I just pulled and tested the latest v0.4.0 branch. The line clipping works much better and there are no fictive lines anymore crossing the screen. However, there is one issue I found where a part of the line would be completely missing (screenshot "shot3" attached). Regarding the polygons I still get the issue of tiles completely missing. And currently I am seeing the tile boundaries. Ma

[2017-04-10 16:10] ARolek commented on #56
@allspatial thanks for testing out the v0.4.0 branch and providing the screen shots. We have a lot of effort going into clipping right now and we believe we have identified the clipping issues you're showing screenshots 1 and 2. The primary issue has to do with scaling and what happens to the geometries at lower zoom levels. After scaling the geometries can become invalid which causes the clipping

[2017-04-10 16:14] ARolek opened #107 "configurable tile buffer"
One of the issues being reported during geometry clipping (#56) is a rendering fragment due to the lack of tile buffer. Vector tiles use a "hack" where the tile buffer extends beyond the tile extent. This allows for a smooth transition between tiles. An example of the issue can be seen in the attached screenshot.
![fa79546e-1b6a-11e7-966e-656cbec01aec](https://cloud.githubusercontent.com/assets/66

[2017-04-10 16:26] gdey commented on #56
@allspatial Thanks for the update. I found some issues with the way I have been doing things, that is requiring a deeper change. So, I am working through that change right now.

The issue with the borders is because my buffer zone around the title is not large enough. I will be increasing that as soon as I get better handle of the clipping.

One of the issue is that once we scale the polygons to t

[2017-04-10 22:22] ARolek commented on #106
dupe of #81

[2017-04-10 22:22] #106 closed

[2017-04-11 04:20] allspatial commented on #56
Hi @ARolek and @gdey, many thanks for your efforts! The issue with the missing tiles for the polygon layer I also get at higher zoom levels. And yes, please let me know once the v0.4.0 branch has been updated. However, I am frequently checking anyway ;-). Thanks again!!!

[2017-04-12 18:16] ARolek commented on #87
@pnorman we now have a validate function on the config which checks for layers with the same name and overlapping zoom levels. We do allow for same `provider_layer` layer names across data providers as long as the zooms do not overlap. This is in the v0.4.0 branch.

[2017-04-12 18:16] #87 closed

[2017-04-13 00:48] ARolek opened #111 "Implement request context"
Incoming tile requests have no way of being canceled right now. Canceling a request is something that happens often when an user is zooming and panning around a map. Without a way to cancel a request, tegola will always do the work necessary to generate a tile even though it's no longer needed.

Implementing context.Context will allow for the web server to listen for request cancelation and commun

[2017-04-13 18:30] gdey commented on #56
@allspatial Just pushed up some more changes to the v0.4.0 branch. Let me know if that works better. It is slower, and will work on speeding things up once I have things working correctly.

[2017-04-14 17:11] ARolek opened #113 "PG: Support numeric (decimal) types"
Currently when a numeric type is returned from PG the value is encoded as a string. In order to support numeric types we need to implement a custom parser. For reference look at issue https://github.com/jackc/pgx/issues/56 on our PG driver.

[2017-04-15 17:36] allspatial commented on #56
Ho @gdey, much better now! Lines look all good and tile boundaries don't show anymore. The only remaining issue is the tiles for polygon layers that are still missing sometimes. Many thanks!
![shot](https://cloud.githubusercontent.com/assets/12534211/25065593/8e004f1c-2223-11e7-833d-f37c431077ec.png)

[2017-04-15 17:43] jj0hns0n commented on #56
@arolek is this the same thing we see at low zo in the OSM

On Sat, Apr 15, 2017 at 10:36 Michael Wagner <notifications@github.com>
wrote:

[2017-04-17 17:58] ARolek commented on #56
@allspatial thanks again for the tests. What zoom level are you at? Also we have a new tool that can dump WKB for our test suite. @gdey would it be helpful to have a dump of the tile for a test case?

[2017-04-17 21:07] ARolek commented on #101
@kachkaev we did some research on why we were specifically requiring int64 for feature ids and it's because the protocol buffer definition provided alongside the MVT spec requires uint64 for feature id. I opened an issue on the spec repo [here](https://github.com/mapbox/vector-tile-spec/issues/94#issuecomment-294591646) and got a response from one of the spec authors. it looks like best practice r

[2017-04-18 16:33] allspatial commented on #56
Hi @ARolek and @gdey , I observed the issue at zoom levels 12 to 16 mostly in my case:
[Seychelles WebGIS](https://www.webgis.gov.sc/mobile/)

And yes, let me know if you need a geometry dump.
Many thanks!

[2017-04-18 21:10] donnyv opened #115 "Add Spatialite as a provider?"
Have you thought about possibly using Spatialite as a provider? Its pretty close to PostGIS.

[2017-04-19 17:42] ARolek commented on #115
@donnyv we have been considering supporting Spatialite as a data provider. The main hurdle right now is the lack of a good pure Go Spatialite drive. We're trying to keep tegola pure Go so  deployment and distribution are contained to a single binary + config. There is an [SQLite driver](https://github.com/mattn/go-sqlite3) which uses cgo that I believe supports loading extensions. There is also th

[2017-04-19 19:04] donnyv commented on #115
I come from the C# world, so I didn't even think about available GO
drivers. I can see how that is an issue.

I wonder if you could just use the sqlite.exe and just send commands to it?
I know in C# that's pretty easy but not sure how that works in GO.

On Apr 19, 2017 1:42 PM, "Alexander Rolek" <notifications@github.com> wrote:

[2017-04-20 06:25] donnyv opened #116 "When setting table using a mixture of upper and lowercase letters, the table can not be found"
It looks like the table name is being converted to lowercase and then sent to Postgres. It shouldn't touch the casing since there could be caps involved.

[2017-04-20 06:28] donnyv opened #117 "Static endpoint is not working on Windows 10"
I tried using the static endpoint to test a sample and it kept responding with a 404. I looked at the GO code and it looks like you're missing a "/'' at the beginning of "static".

reference: http://stackoverflow.com/questions/28793619/golang-what-to-use-http-servefile-or-http-fileserver

[2017-04-21 18:14] ARolek commented on #115
@donnyv well as things go, there happens to be a [Go SQLite](https://github.com/cznic/sqlite) package in the works. Let's keep an eye on that project and see how it develops.

[2017-04-24 16:54] ARolek commented on #116
@donnyv thanks for the report. I'm going to mark this as a bug and will work on a fix.

[2017-04-24 16:55] ARolek commented on #117
@donnyv thanks for this report as well. I will work on a fix and let you know when it's up.

[2017-04-25 00:35] #101 closed

[2017-04-25 01:00] ARolek opened #118 "Configurable Webserver->HostName with fallbacks"
The webserver should have a configurable name via the `servername` attribute. If the value is not set, sniff for the X-Forwarded-For header and take the last entry of the list. If that header is not available then use the request Host.

This value should be used when responding the `/capabilities` requests.

[2017-04-25 01:04] #71 closed

[2017-04-25 01:04] #81 closed

[2017-04-25 01:04] #84 closed

[2017-04-25 01:04] #88 closed

[2017-04-25 01:04] #99 closed

[2017-04-25 01:04] #113 closed

[2017-05-01 22:55] #118 closed

[2017-05-01 22:59] ARolek commented on #117
@donnyv I'm having trouble recreating this issue. Was your `static` folder next to your tegola binary? tegola will look for a folder called `static` that is next to it for file serving.

[2017-05-01 23:25] donnyv commented on #117
Yes

On May 1, 2017 6:59 PM, "Alexander Rolek" <notifications@github.com> wrote:

[2017-05-02 00:31] ARolek commented on #116
@donnyv I'm not able to recreate this issue. I wonder if the problem is elsewhere? We have a debug flag which can be helpful in this situation. Try running

[code]
This will print out the SQL statements as they will be sent to PostGIS.

Here's an example of the layer config I was testing. Notice the casing on builDINGS. This carried through all the way to the execute statements send to the databas

[2017-05-04 21:12] allspatial commented on #56
Hi @gdey and @ARolek, after updating to the latest v0.4.0 version it seems the number of geometry issues has increased again. mapbox-gl-js also shows a warning that the tiles are not tile spec v2 conform which could cause rendering issues. I can't tell though how serious this warning is and if it really causes some of the issues you can see in the attached screenshots or if all results from the cl

[2017-05-05 04:59] allspatial commented on #56
Hi @ARolek, many thanks for the clarification! That sounds all good and I am very much looking forward. Tegola is a great tool and with the clipping fixed it will be perfect ;-).

[2017-05-05 06:52] Longnt1208 opened #120 "Square border and circle in center of each tile"
I used tegola for my tile map server but after display each tile on map always has a border and a small circle in center, I don't know how to fix it.

This is result map I got: [http://i68.tinypic.com/11qomk7.png](url)

[2017-05-05 06:55] Longnt1208 commented on #120
Sorry, that my fault I didn't remove ?debug=true

[2017-05-05 06:55] #120 closed

[2017-05-05 15:23] ARolek commented on #116
I'm closing this issue for now. @donnyv if you have a chance to test out the debug command or find an alternative way to recreate this issue I'm happy to revisit it.

[2017-05-05 15:23] #116 closed

[2017-05-06 20:21] ARolek commented on #111
While doing some heavy testing this issue showed up via a "too many open files" error. As user's are zooming / panning around a UI tile requests are constantly being canceled. Without support for request context and the ability to handle a canceled request, we're demanding tegola build tiles that are no longer necessary. this strains the server unnecessarily.

[2017-05-15 17:10] ARolek opened #122 "AddFeatures performance improvements"
After doing some `pprof` analysis on memory and CPU usage we revealed a bottleneck in the AddFeatures method. Profiles and screen shot attached.
<img width="1303" alt="screen shot 2017-05-15 at 10 09 19 am" src="https://cloud.githubusercontent.com/assets/667850/26069677/a036704a-3956-11e7-938f-6a82cebb9888.png">
[tegola-cpu-f298297.pdf](https://github.com/terranodo/tegola/files/1001816/tegola-cpu-

[2017-05-30 18:24] #111 closed

[2017-05-31 18:25] pnorman opened #124 "Outdated release links"
http://tegola.io/getting-started/#1-download-tegola gives links to https://github.com/terranodo/tegola/releases/download/v0.2.0/tegola_linux_amd64, which is v0.2.0, not the latest released v0.3.2

[2017-05-31 18:32] ARolek commented on #124
@pnorman thanks for the report! I just pushed up a quick fix. If you notice any other documentation issues, feel free to file an issue on our [tegola-docs](https://github.com/terranodo/tegola-docs) repo.

[2017-05-31 18:32] #124 closed

[2017-05-31 19:10] pnorman opened #125 "PostGIS requires host, database, user, other parameters"
The postgis provider requires host, database, user, and password. This seems to be assuming password-based, which is not the only option. Many or most users will be using sockets and tegola should allow all of these to be undefined, relying on libpq to derive what is correct in those cases.

A partial workaround is set host to the path to the PostgreSQL socket on your particular machine, e.g. ``ho

[2017-05-31 19:15] pnorman opened #126 "Error on layer without feature IDs"
I have a layer without feature IDs. When I give it the definition
[code]

I get the error `2017/05/31 12:12:49 SQL for layer(0) ocean does not contain the id field for the geometry: gid`

There is no field for this table that could be used as an ID.

[2017-05-31 19:34] pnorman commented on #94
This seems to be a duplicate of #87, except covering layers coming from the same provider.

[2017-05-31 19:39] ARolek commented on #126
@pnorman I just checked the spec and you're use case is perfectly valid. From the [Feature section](https://github.com/mapbox/vector-tile-spec/tree/master/2.1#42-features)

I will look into a fix for this. Thanks for the report.

[2017-05-31 19:56] pnorman opened #127 "Merging multiple layers"
c.f. #87 for more restricted case

I have a specification for a vector tile schema which calls for

- zoom 0 to 4, natural earth water_areas
- zoom 5 to 9, osm simplified_ocean_polygons
- zoom 10+, osm ocean_polygons
- zoom 5+  OSM waterway=riverbank or landuse=reservoir or natural=water

Right now this would require SQL like

[code]

Although query performance is not an issue, writing SQL like th

[2017-05-31 22:51] ARolek commented on #127
@pnorman i think this is a dupe of #94. From what I can tell, you're looking for a way to keep the layer name that is encoded in the tile but query from different tables from either the same or different providers.

This is something we're working on and is a fairly requested feature. I'm going to bump it up in priority due to demand. Please check #94 (I know you commented on it earlier today) to

[2017-06-01 00:16] pnorman commented on #127
This issue is looking at where there are two sources for data at the same zoom, #94 doesn't cover that case.

[2017-06-01 00:20] ARolek commented on #127
@pnorman and with the same layer name?

[2017-06-01 00:56] pnorman commented on #127
Yes - all the same layer name in this case

[2017-06-01 03:40] pnorman commented on #96
I think caching is essential when rendering from an updating data like OSM.

There are two strategies in production: pre-rendering the entire planet into the cache, or pre-rendering some parts into cache and rendering the rest on-demand.

When pre-rendering everything, you need to be able to seed the cache and then as osm2pgsql/etc reports tile expiry, re-render them.

If pre-rendering some and li

[2017-06-05 00:49] allspatial commented on #56
Hi @ARolek and @gdey, did you by chance find the time to do some refactoring/improvement on the clipping part? If so - in what branch would I find that? With the current version of v0.4.0 I can't go live (see attached). Many thanks!!!
![shot](https://cloud.githubusercontent.com/assets/12534211/26766850/5eb8db3a-49c3-11e7-9b26-819bc035e9b3.png)

[2017-06-05 01:30] ARolek commented on #56
@allspatial we have some major clipping improvements coming queued up. Hoping to merge into his ranch next week. In the mean time I think what you're seeing is the clipping is not turned on. Can you check if the environment var TEGOLA_CLIPPING="mvt" is set?

[2017-06-05 14:08] allspatial commented on #56
Hi @ARolek, I indeed forgot to set the clipping parameter this time. I apologise for the "false alarm".

[2017-06-05 21:32] gdey commented on #56
@allspatial No worries, always appreciate people keeping an eye out for possible regressions. I've got more changes, coming. Need to push up the changes I have from last week to the issue-56 branch( https://github.com/terranodo/tegola/tree/issue-56 ). I have gotten few more fixes. I'm still seeing issues that I am working through one by one.

[2017-06-06 01:32] ARolek commented on #126
@pnorman do you have a simple test dataset you can share? I'm going to build a test case around this so we can get it addressed.

[2017-06-06 01:46] pnorman commented on #126
Where I ran into this is natural earth and ocean shapefiles loaded with https://github.com/kartotherian/meddo/blob/master/get-external-data.py, but you should be able to replicate it with any dataset if you don't include a column for ID.

[2017-06-09 07:43] gdey commented on #56
@allspatial Hey I have the latest version of the clipping code pushed to issue_56 branch. Be warned it's slow now, and I have to go through a round of optimizations. I believe I have it clipping most things correctly now. At least things looked good when I did a quick skim.

I have not had a chance to zoom around the global map searching for issues.

[2017-06-09 08:45] Wykks commented on #56
Hi !
Thanks you for this software !
I have the same issue as allspatial, I'm gettings something like this (https://github.com/terranodo/tegola/issues/56#issuecomment-306079317) in the master branch.

I tried the issue-56 branch (with and without your latest changes) and it's worse, nothing appears, even with TEGOLA_CLIPPING="mvt". How can I help to debug this ?

[2017-06-09 08:57] gdey commented on #56
@Wykks Could you post an image. Also, with my latest changes, it takes a long while to generate the tiles. The reason being the validation process checks every segment in a feature against every other segment in that feature to make sure that no two segments that are not direct neighbors cross.  The crossing can occur after simplification — this was the source of some of the clipping issues. I wil

[2017-06-09 09:05] Wykks commented on #56
Sure !

With issue-56 without TEGOLA_CLIPPING="mvt" :
![image](https://user-images.githubusercontent.com/1236069/26968541-a95b630a-4d02-11e7-9576-7ca8df80cd78.png)
With issue-56 with TEGOLA_CLIPPING="mvt" :
![image](https://user-images.githubusercontent.com/1236069/26968562-b8e0d5bc-4d02-11e7-8f1e-5b60a787ddf9.png)
With master :
![image](https://user-images.githubusercontent.com/1236069/26968613-f

[2017-06-09 09:14] gdey commented on #56
@Wykks Thanks! I'll take a look at it later today. I really need to get some sleep. :P

[2017-06-09 14:07] bagage opened #128 "No point being displayed?"
For lowest zoom I'm trying to display points instead of polygons to avoid overloading the map; however I fail to display any of them. I am using the following query: `sql = "SELECT ST_AsBinary(ST_Centroid(way)) AS way, osm_id FROM planet_osm_polygon WHERE way && !BBOX!"`. Removing the `ST_Centroid()` "solves" the problem, eg. polygons are properly displayed.

I am not sure if the issue is on serve

[2017-06-09 14:56] ARolek commented on #128
@bagage sounds like it might be a styling issue. Can you check your style rule is targeting points not polygons?

[2017-06-09 20:44] bagage commented on #128
Thanks a lot for the pointer @ARolek, you were right: I misunderstood that part, so basically I simply had to rename my `providers.layers` name to `poi` or `housenumbers` to make them appear (because I used the demo file).
Let's start playing :dancer:

[2017-06-09 20:44] #128 closed

[2017-06-09 21:22] ARolek commented on #128
Nice!

[2017-06-26 19:08] bagage commented on #96
Is there any documentation on how to setup some caching with Tegola and Nginx for instance?
I setup a nginx configuration that works, but I didn't succeed to have a "clear cache" functionnality yet. *I cannot find an easy way to list `pbf` files located in a given bounding box*… so any hint's welcome :).

[2017-06-27 00:05] ARolek commented on #96
@bagage are you using nginx [Content Caching](https://www.nginx.com/resources/admin-guide/content-caching/)? An alternative suggestion would be to use a CDN in front of tegola to handle the caching.

I'm not quite sure what you mean by:

Are you trying to find the tiles that intersect with a lat / lng bounding box?

[2017-06-27 00:06] #122 closed

[2017-06-27 00:07] #126 closed

[2017-06-27 05:50] bagage commented on #96
@ARolek yes I'm using Content Caching. It does the job well, except when I wish to force refreshing a given zone.

Yes, I'd like to get the list of `.pbf` files located within a lat / lng bounding box for all zoom levels, so that I can send a `PURGE` command on them. So far I only managed to get generic URLs, for instance:
[code]
But most of these are not existing/empty files (because nothing is l

[2017-06-27 20:38] ARolek commented on #96
@bagage I'm trying to think what's the best way to pull this off. I think you're going to need to do the following steps:

1. convert the lower left `lat/lng` and upper right `lat/lng` to `x/y` tile values for each zoom you want to purge.
2. Calculate the various tiles in between the min and max `x/y` tile values for each zoom.
3. Issue a PURGE command for each `z/x/y` value.

You can see the math

[2017-06-27 21:48] bagage commented on #96
@ARolek Thanks for the pointers. That's actually how I implemented it, but it results in way too much PURGE requests (around 28K requests for zoom 18). Maybe my code is wrong though, will recheck it.

Not sure what the ideal solution could be here, exposing a purge area via HTTP could be useful imo (even if in my case I will have access to `tegola purge` directly).

[2017-06-27 23:45] ARolek commented on #96
@bagage yeah something has to be off with your script. What did you write it in? I can try to take a quick look if you want to post it up on a gist.

[2017-06-28 21:08] bagage commented on #96
@ARolek nevermind, the issue was actually simply due to boundingbox dimensions and zoom levels (both too bigs at the same time). For record my implementation (similar to yours) is [here](https://github.com/bagage/cadastre-conflation/blob/master/website/db_utils.py#L118-L126). With lower zoom value, it works as a charm! Cool!

[2017-06-28 22:14] ARolek commented on #96
@bagage great solution! When I get working on caching support I will design for bounding box & zoom area purging too. Thank you for the feedback!

[2017-07-19 18:17] ARolek opened #130 "Built in viewer"
Provide a simple viewer to confirm the config file is working and the data can be viewed in the browser. Additional features:

- [ ] ability to identify features on hover
- [ ] show zoom / lat / lng
- [ ] include geom type in style.json

[2017-08-10 21:52] ARolek opened #131 "Update MVTProvider interface to return LayerInfo"
Currently the MVTProvider interface is defined as:

[code]

This issue would remove `LayerNames()` and replace it with `Layers()` as follows:

[code]

`LayerInfo` will be an interface with the proposed design of:

[code]

[2017-08-20 17:32] skinkie opened #132 "Artifacts when rendering"
I have just opened https://github.com/mapbox/mapbox-gl-js/issues/5175 to figure out in what part of the server-client the wrong data is send. The config I am testing is:

[code]

[2017-08-20 20:11] skinkie commented on #56
#132 seem to show the same issue. At mapbox the suggestion is done that it is due to the 'buffer-size' of the tiles. Would that ring a bell?

[2017-08-20 20:19] skinkie commented on #56
Please take a peak at this comment:
https://github.com/mapbox/mapbox-gl-js/issues/5175#issuecomment-323609118

[2017-08-20 21:25] ARolek commented on #132
The artifacts are due to geometry clipping not being enabled on the v0.3.1 version of tegola. You can test geometry clipping by checking out the v0.4.0 branch and compiling from source and enable it by setting the environment variable TEGOLA_CLIPPING="mvt".

Are you ok with compiling from source? If not I can put together a pre-release build that you can test.

[2017-08-20 21:30] skinkie commented on #132
I would be very happy if you could provide a package (and maybe even a bit _more_ happy if I knew how I could solve the dependencies while building from source...) thanks for the effort, it is appreciated.

[2017-08-20 22:25] skinkie commented on #132
So for building I did:
[code]
(minor hacking in main.go and the config stuff that didn't want to compile)

Then I copied tegola to my application folder. And launched via:
[code]

...I am pretty sure it is not fixed.
![image](https://user-images.githubusercontent.com/502394/29498975-1935c278-8607-11e7-877c-b18b6fb9f917.png)

[2017-08-20 23:15] ARolek commented on #132
I'm on mobile and won't be able to build a binary for you until tomorrow. A few things to note:

- you should not need to fetch the dependencies. All dependencies are in the vendor directory and you should not need to go get the tegola packages. Do you clone the repo into your GOPATH?
- what OS are you using? You mention moving the bin to your application directory but you're also using the ./tego

[2017-08-20 23:31] skinkie commented on #132
I have never worked with Go, so sadly I have enough to learn. I cloned the server in /usr/src

Arch Linux

[2017-08-22 11:43] ARolek commented on #132
@skinkie take a look at the [v0.4.0-alpha release](https://github.com/terranodo/tegola/releases/tag/v0.4.0-alpha) to test clipping support. Make sure to set the environment variable `TEGOLA_CLIPPING=mvt`. Please report back the results.

[2017-08-22 20:06] skinkie commented on #132
@ARolek I am very impressed. The hole thing feels so much faster than for example t-rex, and the rendering is without artitifacts.

![impressed](https://user-images.githubusercontent.com/502394/29585065-1894ffd4-8786-11e7-8ea9-a936765bd492.png)

[2017-08-22 20:09] skinkie commented on #132
I did find an issue while scrolling through the data. The horizontal while line shouldn't be there.

![artifact](https://user-images.githubusercontent.com/502394/29585187-859aaa70-8786-11e7-80c0-ea55e8b4de42.png)

[2017-08-25 16:52] ARolek commented on #132
@skinkie apologies for the delayed response. It's great to hear the experience is much better with the clipping implementation we're working on. There are still a few clipping edge cases that are being worked on as you're seeing here. If you're interested in following the clipping progress issue #56 is where the development is happening.

It's been quite a large effort to implement all the various

[2017-08-27 22:53] mojodna opened #133 "Support for PORT environment variable"
In some contexts, `PORT` is provided in the environment as an alternative to specifying it on the command line. It would be nice if tegola respected this, with preferences in this order:

1. config file
2. `PORT`
3. command line

[2017-08-27 22:55] mojodna opened #134 "Specify client protocol in config"
When running behind a reverse proxy, SSL may be available, so HTTPS URLs should be able to be generated automatically.

[2017-08-27 22:57] mojodna opened #135 "Support for X-Forwarded-Proto"
When running behind a reverse proxy, `X-Forwarded-Proto` is typically available as an indicator as to which protocol should be used when generating URLs (rather than defaulting to `http`).

Related: #134

[2017-08-27 23:01] mojodna opened #136 "Allow path prefix to be configured"
When running behind a reverse proxy, endpoints may be prefixed (e.g. `/tiles/`). Tegola should have the ability to provide an alternate path prefix to match the proxied prefix when it doesn't match Tegola's default (`/`).

(As both an option in the config TOML and as a command line arg.)

[2017-08-27 23:05] mojodna opened #137 "Support for DATABASE_URL environment variable"
In addition to specifying database credentials in the `[[providers]]` section of the config TOML, `DATABASE_URL` should be read (as a URI), allowing configuration files to be freely hosted and shared without concern for leaking secrets.

E.g., `postgis://tegola:<redacted>@<redacted>:5432/osm` (and/or `postgresql` for compatibility with `libpq`).

[2017-08-27 23:09] mojodna opened #138 "X-Forwarded-For is not a Host alternative"
#119 introduced support for generating URLs with hostnames matching requests (using the `Host` header). It also added a heuristic that uses the last value in `X-Forwarded-For`.

`X-Forwarded-For` contains a/the list of client IPs involved in the request chain, _not_ a list of hostnames used to refer to the target.

`X-Forwarded-Host` is the name of the header that should be used instead.

[2017-08-27 23:55] mojodna commented on #138
N/m + apologies, this was fixed in d63bf980324d7109eaf9d04336d6594315f3ebd1.

[2017-08-27 23:55] #138 closed

[2017-08-29 01:37] ARolek opened #140 "Change Point and Point3 interfaces"
To help avoid collision with struct attribute names modify the `Point` interface from:

[code]

to:

[code]

and the `Point3` interface from:

[code]

to:

[code]

[2017-08-29 04:31] emakarov opened #141 "HTML code example for mapbox-gl"
Hello,
could you kindly write a HTML example same as you did for bonn data for mapbox-gl?

[2017-08-29 04:55] ARolek commented on #141
@emakarov absolutely! In the mean time, you can see the mapbox-gl code we use for demo.tegola.io [here](https://github.com/terranodo/tegola-osm/tree/master/docs/mapbox)

[2017-08-29 06:05] emakarov commented on #141
@ARolek thanks. looking forward to have a look at example

[2017-08-29 17:02] mojodna commented on #133
(Changed to `PORT`; I don't know what I was previously thinking.)

[2017-08-31 01:21] ARolek commented on #136
how is this usually handled? It seems to me the proxy should drop the prefix rather than push the responsibility to tegola.

[2017-08-31 01:23] ARolek commented on #134
tegola [sniffs for TLS](https://github.com/terranodo/tegola/blob/master/server/handle_map_capabilities.go#L46) on the capabilities endpoint. Are you saying that you have TLS between the proxy and the client, but not tegola and the proxy and therefore need a way to "force" https urls in the capabilities endpoint?

[2017-08-31 01:28] ARolek commented on #137
Just to clarify, you're suggesting we read in an environment variable into a "template variable" defined in the config? I like this idea as it could support multiple database URIs when the config is working with several data providers.

[2017-08-31 01:28] mojodna commented on #136
The proxy does drop the prefix, so the app is fully unaware of it (it sees `/` where the client requested `/`). I know Apache can be configured to rewrite URLs on the way out, but rewriting responses is something I'd rather stay away from.

The need is for URL generation, not handling.

[2017-08-31 01:29] mojodna commented on #134
Correct. `X-Forwarded-Proto` is one way (implemented in #135), but an alternate method would be useful if that header isn't being passed.

[2017-08-31 01:30] ARolek commented on #136
You're talking about the URLs returned by the capabilities endpoint?

[2017-08-31 01:31] mojodna commented on #137
Yes, I think we're talking about the same thing as long as only 1 set of database credentials is in use.

The goal is to remove the database credentials from the config and have them dynamically added by the server.

[2017-08-31 01:31] mojodna commented on #136
Yes.

[2017-08-31 01:35] ARolek commented on #136
tegola supports a config var of `hostname` which could be used for this requirement, though that's not the most elegant solution it would work near term.

[2017-09-04 16:33] ARolek commented on #94
@dracic I think you're looking for our !ZOOM! token which is available in [v0.4.0-alpha](https://github.com/terranodo/tegola/releases/tag/v0.4.0-alpha).

[2017-09-04 18:03] dracic commented on #94
@ARolek, thank you for your info. That's exactly what I was looking for...

[2017-09-04 18:19] ARolek commented on #94
@dracic perfect! let me know if you have any issues while testing the alpha version. We have a couple more clipping edge cases being address in `issue-56` but should be cutting beta soon.

[2017-09-05 08:58] skinkie opened #143 "Postgis 2.4"
http://postgis.net/2017/09/02/postgis-2.4.0beta1/

Would _3661, Mapbox vector tile output support via ST_AsMVT (Björn Harrtell / Carto)_ help in this project?

[2017-09-05 19:21] ARolek commented on #143
@skinkie I have been watching ST_AsMVT but leveraging it opens up several things to consider:

- We would still need to support our current approach for PostGIS versions pre 2.4 so now we have two implementations to manage.
- From what I can tell, ST_AsMVT returns an encoded `tile` rather than a `layer`. Tegola is designed to support multiple data providers so our `MVTProvider` interface expects b

[2017-09-05 22:10] #130 closed

[2017-09-05 22:12] ARolek commented on #140
The new interfaces have been defined at https://github.com/go-spatial/geom

[2017-09-05 22:12] #140 closed

[2017-09-05 22:12] #131 closed

[2017-09-06 19:06] #45 closed

[2017-09-08 18:28] rsvancara opened #144 "Using this with Open Street Map"
I like this project and I want to like it even more.  But using this with open street map data in post GIS seems problematic.  My configuration is as follows and really all I want to do is just have something work.

My config:

[webserver]
port = ":80"

# register data providers
[[providers]]
name = "us"           # provider name is referenced from map layers
type = "postgis"        # the type of

[2017-09-08 18:46] ARolek commented on #144
@rsvancara what version of tegola are you using?

When debugging I would start at the SQL. You can turn on SQL debug statements by setting the environment variable `SQL_DEBUG=EXECUTE_SQL` which will show you the SQL that is being run. You can then run that output against PostGIS to see if you're getting features back. If the result set is 0 then this is where the issue is. If the result set is abo

[2017-09-08 19:21] rsvancara commented on #144
I am using the latest tegola build.  Here is a sample query:

SELECT "osm_id", "access", "addr:housename", "addr:housenumber", "addr:interpolation", "admin_level", "aerialway", "aeroway", "amenity", "barrier", "bicycle", "bridge", "boundary", "building", "construction", "covered", "foot", "highway", "historic", "horse", "junction", "landuse", "layer", "leisure", "lock", "man_made", "military", "na

[2017-09-08 19:36] ARolek commented on #144
@rsvancara just to confirm, you're using v0.4.0-alpha?

Did you test that query against your database to confirm it returned features?

[2017-09-08 20:29] rsvancara commented on #144
Yes, I am using v0.4.0-alpha.

That is the query and it is not returning features.  I guess I dont understand how to find my bounding box to query for features.  I have only loaded north america as my region.

Thanks,

[2017-09-08 21:34] ARolek commented on #144
@rsvancara I think the issue might be your import actually (sorry I missed that initially). When working with the OSM PBF extracts you will want to use a tool like [imposm3](https://github.com/omniscale/imposm3) to convert from the node / ways storage that OSM uses.

We have a repo to help with setting up tegola and OSM. It comes with imposm3 mapping files, tegola config files, and mapbox-gl style

[2017-09-12 09:23] pnorman opened #145 "layer does not contain !BBOX!, entry."
When using a layer without `!BBOX!` I get the error

``SQL for layer (0) water does not contain !BBOX!, entry.``

There is a stray comma after `!BBOX!`. Also, this should probably be a warning, not a hard error.

[2017-09-12 20:23] ARolek commented on #145
@pnorman good catch on the stray comma.

Regarding lifting the requirement for the `!BBOX!` token, can you explain the use case where you would want to return everything in a layer for every tile? If we remove the `!BBOX!` token then tegola will need to process the entire layer for every tile requested.

[2017-09-13 20:11] ARolek opened #146 "Viewer not indicating colors correctly for polygons"

[2017-09-13 23:33] #146 closed

[2017-09-13 23:34] ARolek commented on #132
I'm going to close this issue for now as the remaining artifacts should be addressed once #56 is complete.

[2017-09-13 23:34] #132 closed

[2017-09-13 23:36] ARolek commented on #137
This is related to #77

[2017-09-13 23:36] ARolek commented on #137
And it looks like a dupe of #95

[2017-09-13 23:36] #137 closed

[2017-09-14 02:55] mojodna commented on #95
In the past, I've used [`pgexplode`](https://github.com/stamen/pgexplode) and [`interp`](https://github.com/stamen/interp) (which includes `pgexplode`'s functionality) to let me use `DATABASE_URL` in my environment and have it interpolated into config files w/o native environment support by treating them as handlebars templates.

[2017-09-14 04:43] pnorman commented on #145
I don't have a particular query in mind. Generated geometries come to mind as an example where `!BBOX!` might not make sense. `geom && !BBOX!` also isn't always a performance gain. These cases are rare, but not impossible.

It has to anyways - it's just with the !BBOX! token what the layer returns depends on bbox.

[2017-09-14 16:49] ARolek commented on #145
tegola only processes the features that intersect with the bbox of the tile. This dramatically reduces the amount of processing necessary. If we remove the !BBOX! token tegola needs to process every feature in the layer.

I'm generally opposed to the idea of removing the !BBOX! requirement unless there is a clear use case.

[2017-09-18 22:53] ARolek commented on #136
After discussing this with @mojodna we can accomplish this by supporting the query string `uriprefix` on the `/capabilites/` endpoints.

[2017-09-20 19:13] ARolek commented on #78
Tegola now checks for layer details on startup so this panic no longer happens.

[2017-09-20 19:13] #78 closed

[2017-09-22 19:57] sacontreras opened #147 "Redo logging output."
1. tegola - at least in 0.4.0 branch - seems to send output meant for stdout to stderr - e.g. loading config notification and successful server start messages are output to stderr, not stdout
2. in fact all output *appears* to be sent to stderr as I have yet to see any output at all sent to stdout

[2017-09-22 23:41] antoniolocandro opened #148 "scroll bars showing in viewer"
For some reason scrollbars are showing in firefox and chrome in win10
![tegola_initial_faa](https://user-images.githubusercontent.com/4627073/30767782-2e8b5f00-9fbd-11e7-85b6-2244ae0310d5.png)

[2017-09-26 23:50] pnorman opened #149 "Invalid tilejson scheme"
The tilejson spec states

[code]

When running tegola with the vector layer vector_demo I get the following JSON from http://192.168.1.1:9090/capabilities/vector_demo.json

[code]

The "scheme": "zxy" should be `xyz`

[2017-09-27 01:31] pnorman opened #150 "Missing holes from polygons"
With the configuration

[code]

I get

![image](https://user-images.githubusercontent.com/1190866/30891514-a499e652-a2e8-11e7-9ace-93437a15a456.png)

The problem is the missing Americas.

Not being sure if this was a problem with the qgis vector tile plugin, I downloaded the 2/0/1 tile and converted it to geojson with vt2geojson. I got the same problem.

[2017-09-27 08:42] pnorman commented on #150
Note: I've included the output tiles in a comment on https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/issues/81#issuecomment-332451950

[2017-09-29 00:54] ARolek commented on #149
good catch! fixed on the v0.4.0 branch and will be included in the upcoming beta.

[2017-09-29 00:54] #149 closed

[2017-09-29 00:58] ARolek commented on #150
@pnorman what version of tegola are you using? v0.4.0-alpha? This could be a clipping issue that's being addressed on issue-56 branch. That one is just about ready to be merged into v0.4.0

[2017-09-29 01:21] ARolek commented on #148
@antoniolocandro I'm not able to hide the scroll bars entirely as that's handled by the OS unless I want to implement javascript scrolling. I was able to get rid of the stacked scroll bars though. This is fixed in the v0.4.0 branch and will be part of the beta release.

Thanks for the report!

[2017-09-29 01:21] #148 closed

[2017-09-29 01:56] ARolek commented on #147
This will require reworking how we're handling logging in tegola. Currently we're mainly using `log.Println(...)` which defaults to `os.Stderr`. I'm in favor of cleaning this up and making log levels configurable. @goinggo has an article on this topic we can use for inspiration: [Using The Log Package In Go](https://www.goinggo.net/2013/11/using-log-package-in-go.html) which was turned into the [t

[2017-09-29 05:46] pnorman commented on #150
Yes

[2017-09-30 01:17] #135 closed

[2017-10-01 00:13] ARolek commented on #150
@pnorman ok. I think this is fixed on the issue-56 (#56) branch which is going through a round of performance optimizations right now. It looks like you're using an OSM dataset. Is this the [water polygons](http://openstreetmapdata.com/data/water-polygons)? If not, can you send me a link to the dataset so I can run a test?

[2017-10-01 05:08] pnorman commented on #150
No, there's no OSM data at that zoom, just natural earth.

https://github.com/pnorman/vector_tile_engines/tree/master/loading has the scripts to load the data. You can ignore the osm2pgsql stuff

[2017-10-14 21:21] ARolek commented on #144
@rsvancara were you able to get setup using tegola and OSM? I would like to close this issue unless you're still in need of assistance.

[2017-10-16 17:09] sacontreras opened #152 "add --version cmdline arg"
if "--version" is the only arg, tegola should output to stdout and then terminate process
if not, start tegola as usual but add addl. stdout line outputting version (in addition to current stdout output)

[2017-10-16 17:18] PetersonGIS opened #153 "Capabilities endpoints not returning zoom range for all layers with the same name"
When using group layer names in the toml, the output zooms may only have the min/max zoom levels of the first in the list. For example, in the following toml we list 3 inputs to the "landuse areas" group but the result is a layer that only has zooms 3-9.

![toml_zooms](https://user-images.githubusercontent.com/5266205/31625558-aba8de5a-b263-11e7-9705-da87a851c728.PNG)

[2017-10-16 19:46] #153 closed

[2017-10-16 19:48] #105 closed

[2017-10-17 20:17] ARolek opened #154 "PostGIS: hstore tags should not override column tags"
Example config:

[code]

In the above example there is a height property as a column and a heigh property in the `tags` hstore. The `tags` heigh value is overwriting the `height` column. hstore values should not overwrite values that already exist.

[2017-10-24 00:59] dbazile opened #155 "Panic when PostGIS query fails"
Fat-fingered a SQL query in my `config.toml` and ended up referencing a column name that doesn't exist.  I tried throwing a few more bad queries at it (bogus table, syntax errors, etc) and it looks like any time a query fails for one reason or another, it will panic.

### Environment

Tegola Version: `0.3.2`
System: Debian Stretch (Docker)

### Stacktrace:

[code]

[2017-10-24 01:08] ARolek commented on #155
@dbazile I'm pretty sure this has been fixed in the v0.4.0-beta version. You can download it from the [releases](https://github.com/terranodo/tegola/releases) page. Lots of new features in v0.4.0 including a built in viewer when you hit the server root (i.e. localhost:8080).

[2017-10-24 13:28] dbazile commented on #155
@ARolek: confirmed fixed; `0.4.0-beta` fails fast on invalid queries at startup.  Thanks!

[2017-10-24 13:28] #155 closed

[2017-10-24 20:55] dbazile opened #156 "Using WGS84 yields squishes tiles along Y-axis"
I specify a layer that uses WGS84, I get tiles that are squished along the Y-axis:

<img width="1523" alt="screen shot 2017-10-24 at 4 47 32 pm" src="https://user-images.githubusercontent.com/1542531/31967262-68fc13aa-b8db-11e7-89d9-efd0d6a4874d.png">
<img width="1523" alt="screen shot 2017-10-24 at 4 47 42 pm" src="https://user-images.githubusercontent.com/1542531/31967263-690f2f30-b8db-11e7-8af5

[2017-10-24 21:24] dbazile opened #157 "Default config.toml not found in `0.4.0`"
In version `0.4.0-beta` and `0.4.0-alpha`, running without the `--config=` flag can't find the default config file:

[code]

[2017-10-24 21:39] ARolek commented on #157
Thanks for the report.

[2017-10-24 22:42] ARolek commented on #156
@gdey can you take a look at this?

[2017-10-25 18:05] ARolek opened #158 "Config validation fails when layers are overlapping but in different map configs"

[2017-10-25 18:11] ARolek commented on #94
This has been implemented in v0.4.0 pre release builds which can be found [here](https://github.com/terranodo/tegola/releases)

[2017-10-25 18:11] #94 closed

[2017-10-25 18:45] #158 closed

[2017-10-25 18:54] ARolek commented on #157
Fixed on the v0.4.0 branch. Will be included in the new release build.

[2017-10-25 18:54] #157 closed

[2017-10-25 18:54] ARolek commented on #152
@sacontreras I forgot this is not documented yet but we do have support for it on the v0.4.0 builds. Run `tegola -v` or `tegola --version` to have the version output.

[2017-10-25 18:54] #152 closed

[2017-10-25 18:56] ARolek commented on #145
@pnorman did you ever come up with an use case for the request?

[2017-10-25 18:57] ARolek opened #159 "Viewer: Support switching between multiple maps"
Tegola can be configured to server multiple maps. The viewer does not currently have full support for a config with multiple maps.

[2017-10-25 19:24] sacontreras commented on #152
Not yet.  I had to put this one on the backburner to jump on dg-services
tegola devops stuff.

On Wed, Oct 25, 2017 at 10:54 AM, Alexander Rolek <notifications@github.com>
wrote:

[2017-10-25 19:25] sacontreras commented on #152
Oh I misread this initially.  It IS supported already.  Cool.

On Wed, Oct 25, 2017 at 11:24 AM, Steven Contreras <trippiest1@gmail.com>
wrote:

[2017-10-26 07:16] fawick opened #160 "Add Shapefiles as a provider"
I wonder whether it would be of interest for tegola to have a `mvt.Provider` for ESRI shapefiles.

@jonas-p created a [Go package for reading (and writing) ESRI Shapefiles])(https://github.com/jonas-p/go-shp) for which I am a secondary maintainer and which we are currently getting into a more mature shape. It's under MIT license, same as tegola. We already support reading Shapefiles and their indi

[2017-10-26 07:20] fawick opened #161 "Add GeoPackage as a Provider"
(Somewhat related to #115 and #160)

I wonder whether it would be of interest for tegola to have a `mvt.Provider` for the GeoPackage format. To my knowledge, there is no GeoPackage library for Go, yet. But since it is an open standard maybe  the time is right to kick off one under the tegola roof.

[2017-10-26 07:22] fawick opened #162 "Add GeoJSON as a Provider"
I wonder whether it would be of interest for tegola to have a `mvt.Provider` for GeoJSON files.

(Again, this is related to #160 and #161, so I apologize for spamming three issues for these at the same tiem, but since these are three very different formats I'd rather keep the pro-and-contra discussions and evaluations for use in Tegola  separated.)

[2017-10-26 16:57] jj0hns0n commented on #161
This one is in progress. @jivanamara can you give us an update?

[2017-10-26 16:58] jj0hns0n commented on #162
@jyutzler is beginning to work toward this.

[2017-10-26 19:35] jyutzler commented on #162
Sort of. I have produced a library that demonstrates a common model that supports both WKB and GeoJSON. If this library is approved, it could be used to add GeoJSON support to Tegola.

[2017-10-26 22:58] ARolek commented on #160
@fawick absolutely. We have been focused on plumbing PostGIS end to end, but as you have discovered we stubbed out a `mvt.Provider` interface so we could support multiple backends.

I did a quick look at the shapefile package and I didn't see any documentation about reading the indexes. I'm assuming these are spatial indexes. Can you point me to the right spot?

[2017-10-27 07:24] fawick commented on #160
Sorry, my sentence about the indices was misleading. What I meant to say is that the package  assumes a ZIP will bundle `.shp` (geometry), `.shx` (index) and `.dbf` (properties) are bundled in the ZIP, it does not yet read the `.shx` directly, yet.

The `.shx` index file is not a spatial index. It's simply a list of offset addresses into the geometry file (the `.shp`) that allows random access for

[2017-10-27 18:32] ARolek commented on #160
@fawick got it.To query the shapefile efficiently we're going to need some sort of spatial index. We can either read all the features at startup time and build the index in memory or create an index to work with. I did a bit of research and it looks like the .sbn file for shapefiles is where the spatial index would live. According to the [wikipedia article](https://en.wikipedia.org/wiki/Shapefile#

[2017-10-27 22:25] JivanAmara commented on #161
Using go-sqlite, I'm writing a basic library to read gpkg files (and the wkbgeometry format used inside them) as a tegola provider.  Have a rough version working on a particular gpkg that loads layers and doesn't throw any errors, but something is preventing tiles from showing up in the map.  Once the branch is working at a basic level and I've cleaned up a bit I'll share.

[2017-10-27 23:44] ARolek commented on #161
@fawick a bit more about this. Since Geopackage uses SQLite, we're waiting for an SQLite port to Go. In the mean time a bridge via cgo is necessary. There are two projects working on SQLite in pure go though, and we're watching those.

[2017-10-28 13:28] fawick commented on #161
Although I am well aware of the call overhead that CGO induces I would like to make a case for using the official SQLite library via CGO. The main advantage I see is that [the official SQLite sources are rigorously tested](https://www.sqlite.org/testing.html).

In fact, [their testing suite suffices the very strict requirements of the DO-178 aviation standard for safety-critical software](https://

[2017-10-28 13:36] fawick commented on #160
Thanks for the PDF, @ARolek! I agree that this is something we should consider for go-shp.
At the moment I have only a very limited understanding on the algorithms needed to compute a performant spatial index so it can take bit of time until I am up to speed. Using https://github.com/dhconnelly/rtreego would be one of my first ideas.

As the index computation might be interesting for WKB / GeoJSON

[2017-10-28 17:41] ARolek commented on #161
@fawick using CGO is the current strategy that @JivanAmara is working on for several of the reasons you have mentioned and the fact that it's the only way to leverage SQLite in Go. The pure Go projects we're watching:

- [c2go](https://github.com/elliotchance/c2go) - If you take a look at their roadmap, the ultimate goal is to transpile SQLite3.
- [sqlite](https://github.com/cznic/sqlite) - this i

[2017-10-28 23:32] ARolek commented on #160
@fawick you nailed it regarding the index computations. GeoJSON is going to absolutely need this in order to be a tegola provider. WKB would benefit from this as well, though the current use cases (GeoPackage and PostGIS) both have indexes implemented at the provider layer.

This opens up a great discussion. We have been working on setting up the [go-spatial](https://github.com/go-spatial) org. Ou

[2017-10-30 21:07] murphy214 commented on #160
Now when we say index do we mean like a plain rtree or a more domain specific structure being like a map[m.TileID][]Features, this has easy conversion to bounds and back and is more expressive for what the use of the index would probably be. For example lets say you have a set of features that are cleanly within (clipped) tile (0,0,0) you could then get the children of that tile and recursively cl

[2017-10-30 21:28] jamesyarrington opened #163 "504 returned when attempting to retrieve a tile at negative zoom"
**To Reproduce:**
Send a GET to:
[code]
**Expected Response:**
A `400 Bad Request`should be returned, along with a message stating that negative zoom levels are not allowed.

**Actual Response:**
A `504 Gateway Time-out` is returned, with no other message.

[2017-10-30 22:22] ARolek commented on #163
@jamesyarrington thanks for the report.

[2017-10-30 23:34] ARolek commented on #160
@murphy214 we're rounding out the clipping and make valid part of tegola right now. The release candidate for v0.4.0 should be cut in the next day or so.

The discussion here is more about performant bbox queries. Tegola is going to send a `tegola.Tile` struct in when it requests an `MVTLayer` from a provider. That tile struct will have z, x, y values and has a method for generating a BoundingBox

[2017-10-31 01:40] murphy214 commented on #160
Check out this gist I made, is this sort of what your after? I used a library of mine for tile to zoom stuff and a geojson library that I build a lot of my stuff on top of. https://gist.github.com/murphy214/6876dd66ccb1d498a2769815564d35fb

[2017-10-31 21:25] gdey commented on #156
We are about to push issue-56 into v0.4.0. I had noticed some regressions and fixed them. When this push happens I'll revisit this to see if the issue still exists, and debug.

[2017-10-31 21:28] gdey opened #164 "Remove extra comma in error message."
from #145

[code]

[2017-10-31 21:29] gdey commented on #145
Split out the issue with extra error message into issue #164.

[2017-10-31 22:29] gdey opened #165 "Plumb through simplification parameter to the config file."
At current simplification is hardcoded at the layer level. We need to be able to control this at the config level. Need to plumb through the option to simplify and at what zoom level.

[2017-10-31 22:30] gdey opened #166 "Change out the simplification aglo"
We should implement and try the simplification algo described by (https://bost.ocks.org/mike/simplify/). This algo has the potential to generate better shapes for us.

[2017-11-01 19:09] gdey opened #167 "Migrate the models in the maths library to aline with go-spatial"
We want to start moving over to go-spatial types. This is the first issue towards this goal.

https://github.com/go-spatial/geom

[2017-11-01 19:55] pnorman commented on #145
The ones mentioned above.

[2017-11-01 19:57] ARolek commented on #145
@pnorman I guess I was referring to a statement earlier in the chain:

If you can give me a concrete example I'm happy to consider this, otherwise let's close the issue and re-open when an use case arrises.

[2017-11-01 20:02] gdey commented on #102
issue #56 is now merged into v0.4.0. This should address this issue.

[2017-11-01 20:02] #102 closed

[2017-11-01 20:33] gdey commented on #56
This is now done.

[2017-11-01 20:33] #56 closed

[2017-11-01 21:00] ARolek commented on #150
@pnorman can you try the new release of tegola ([v0.4.0-rc1](https://github.com/terranodo/tegola/releases/tag/v0.4.0-rc1)) to see if this issue has been addressed?

[2017-11-01 21:02] #154 closed

[2017-11-01 21:14] gdey commented on #156
@dbazile Can you see if this has been addressed by v0.4.0-rc1?  Thank you.

[2017-11-01 21:23] gdey commented on #52
Each package that gets benchmarks should have its own issue. I think we can close this out.

[2017-11-01 21:23] #52 closed

[2017-11-01 21:28] gdey commented on #147
We need to redo our logging output.
For this issue.

1. Vendor in the [tracelog](https://github.com/goinggo/tracelog) package.
2. Added loggers for:
- [ ] Trace
- [ ] Info
- [ ] Error
- [ ] Warning
3. Update log statements to the appropriate logger.

[2017-11-01 21:32] gdey commented on #74
@ARolek Could you fill in a description for this issue. Sounds like it might be a good first timer issue.

[2017-11-01 23:12] ARolek commented on #163
Fixed in v0.4.0 will be in the final version release.

[2017-11-01 23:12] #163 closed

[2017-11-01 23:13] ARolek opened #169 "Remove "DisplayTiming" in server pacakge/handle_map_zxy.go"
Looks like some leftover debug code.

[2017-11-01 23:17] gdey commented on #156
@dbazile I think the regression still exists. I continue to look into it.

[2017-11-02 18:11] ARolek opened #170 "Clean up context canceled log"
The following output does not need to be printed to the console as it will happen often:

[code]

[2017-11-02 18:20] dbazile commented on #156
@gdey sorry for the delay!  I tried out `0.4.0-rc1` this morning but nothing renders at all now:

`git show` of https://github.com/dbazile/sandbox-tegola:

[code]

Screenshot of OpenLayers 4 in Chrome:

![screen shot 2017-11-02 at 2 15 07 pm](https://user-images.githubusercontent.com/1542531/32342925-4605c572-bfd8-11e7-9dfa-fb1cb927f82c.png)

[2017-11-02 18:21] dbazile commented on #156
I also tried adding `srid` to the `provider.layers` block which didn't look like it made a difference.

[2017-11-02 19:31] gdey commented on #156
Yeah, I changed something that is causing this. Trying to figure out where the regression is. The obvious places are currently not yield anything.

[2017-11-02 23:53] ARolek commented on #160
@murphy214 thanks for the example code! Reading through it, this looks like a way to check for intersecting bounding boxes but requires iterating through each feature. You are doing it in parallel which will be faster, but it still requires iterating everything. Am I missing something? Have you built out an r-tree index? I think an r-tree would essentially include a step before this step which wou

[2017-11-03 05:59] murphy214 commented on #160
While it does require you to iterate through every feature this process only needs to be done once NOT every request and would replace the dataset entirely furthermore could be done during ingestion like reading in a shp file or geojson. It also uses pointers so the only memory bloat your getting is minimal from so many map entries. (which usually isn't that bad)

So you have this index sitting as

[2017-11-04 00:44] gdey commented on #156
Looks like I introduced this regression in 0912fc9b004ac453a4e008041fefbd716883c0e8 . (I found this using git bisect). Will keep this issue updates as I learn more.

[2017-11-04 01:01] gdey opened #171 "basic.Line should be called basic.LineString"
This type is not constantly named. We should strive for consistency.

[2017-11-04 08:05] gdey commented on #156
@dbazile found the regression. Thank you for the bug report. Once the above pull request is merged it should no longer be an issue.

[2017-11-04 22:10] ARolek commented on #171
Maybe this should be a subtask of #167?

[2017-11-04 22:31] #164 closed

[2017-11-04 22:32] #169 closed

[2017-11-04 23:00] ARolek commented on #156
@dbazile this is now fixed in the [`v0.4.0-rc2` release](https://github.com/terranodo/tegola/releases) I just pushed. I will leave this issue open in case you see any other errors while testing.

Thanks again for the report!

[2017-11-04 23:03] ARolek commented on #96
A file cache has been implemented in the release candidate for [v0.4.0](https://github.com/terranodo/tegola/releases). The fist implementation is a file cache but we're positioned to support other caching backends as necessary.

Seeding and purging are coming up next. I'm going to address purging in another issue so we can close this one.

[2017-11-04 23:03] #96 closed

[2017-11-06 15:13] dbazile commented on #156
@ARolek @gdey Just bumped to `0.4.0-rc2`; the tile requests are super slow at low zoom levels (no response >= 120s).  If I zoom down to 8 or 9, things start to show up but it takes about 5 seconds or so per tile.

[code]

[2017-11-06 15:26] dbazile commented on #156
Out of curiosity, I also tested against MapBox's [Web Mercator version of the Natural Earth `countries` data](http://mapbox-geodata.s3.amazonaws.com/natural-earth-1.3.0/cultural/10m-admin-0-countries.zip) and it looks like it's having the same delays there too.

[code]

[2017-11-06 16:31] gdey commented on #156
@dbazile Yeah, I've not optimized the new code base. It's now doing simplification, clipping, and makevalid on all polygons. This brings us up to spec for v2 of mvt. However, there are still some makevalid bugs (You will see some phantom triangles due to cutouts in holes), and the speed of the makevalid func is slow. There are two reasons for this:
1) It's not yet parallelized.
2) It;s probally ov

[2017-11-06 16:56] ARolek commented on #156
@dbazile as @gdey mentioned the goal for v0.4.0 has been to be compliant with MVT v2 spec. This was a rather large effort to implement the necessary algorithims for simplification, clipping and making invalid polygons valid. Now that we're end to end we're going to start working on performance profiling and benchmarking to speed up the tiles that are slow to process. As you have discovered it's ma

[2017-11-06 20:13] gsoyka opened #174 "Make db connection pool configurable"
Currently, each worker has a hardcoded limit of 100 database connections in the pool.  For some environments, this results in exceeding the number of allowed connections to the database.  For PaaS environments and the like, it would be helpful to configure a lower limit.

[2017-11-06 20:16] ARolek commented on #174
@gsoyka great issue. I will add it to the upcoming version. Thanks for the report.

[2017-11-06 23:56] ARolek commented on #174
@gsoyka looks like this is already configurable via the `max_connection` param for the `postgis` provider. @jj0hns0n is running some tests bit you should be good to go.

[2017-11-07 00:23] jj0hns0n commented on #174
looks like alex fixed a bug and `max_connections` now works.

[2017-11-07 00:23] #174 closed

[2017-11-07 00:39] ARolek commented on #174
looks like there was an error parsing the data type (int64 v int) I have a fix coming. I have also adjusted the language to `max_connections` (plural).

[2017-11-07 07:18] ARolek commented on #160
@murphy214 I did some additional research on this and apparently an r-tree index allows the query to traverse the set of bounding boxes in a similar fashion to a binary tree. The tree lookup will be substantially faster than iterating every feature. I have not played with any of the implementations but here are two examples in go: [rtreego](https://github.com/dhconnelly/rtreego), [rtree](https://g

[2017-11-07 09:35] murphy214 commented on #160
"The tree lookup will be substantially faster than iterating every feature."

A query doesn't iterate through every feature, the process that iterates through every feature simply builds the index. All a query has to do in my index is get the tile x,y,z then look it up in a map. If I recall a hash table is substantially faster than a binary tree, especially considering your looking a hash table on

[2017-11-07 13:19] dbazile commented on #156
Got it.  In that case, the tiles that appear *are* WGS84 and unsquished. :+1:

[2017-11-07 13:19] #156 closed

[2017-11-07 17:34] ARolek commented on #160
@murphy214 I understand your approach builds out the bounding box indexes at initialization. I missed the fact that you're using the tile{x,y,x} as the map key. That would be a quick lookup but if I understand this correctly you're index would need to pre calculating every bbox intersection for every tile / feature combination on init. Slippy map tiles have the possibility of producing [billions o

[2017-11-07 18:32] murphy214 commented on #160
You could consider stopping at like zoom 14 or 16 for an index, as thats really quite a high resolution for clipping anyway keep in mind youd still be clipping around the high tile zoom square you'd just be looking up at zoom 16 for anything above 16. Although this would introduce confusion in the api that would have to dealt with (i.e. having a different x,y,z other than the tile your making) but

[2017-11-09 21:41] ARolek opened #176 "/capabilities endpoints should include no-cache headers"
Since the endpoints are generated and include protocols (http, https) to various resources, these endpoints should not cache. As it stands, if the resource is requested via http and cached via a CDN, subsequent requests over https will include URLS with http as their protocol.

[2017-11-12 04:22] #150 closed

[2017-11-13 17:38] PetersonGIS opened #178 "Filecache: invalid fileKey on cache init (Windows)"
Running tegola on Windows produces the following:

[code]

[2017-11-13 18:11] PetersonGIS opened #179 "Rendering artifact"
There are a couple of extra lines showing up in this natural earth country polygon dataset. They disappear once you zoom in.
![tiledebug](https://user-images.githubusercontent.com/5266205/32741352-317cd918-c863-11e7-80a3-35263711b0bf.png)

[2017-11-13 18:26] gdey commented on #179
@PetersonGIS Thanks for reporting this. Will look into it. I believe it's the makevalid, for some reason on some geometries does not generate the last triangle. I'm working on trying to figure out why this is, as well as why it sometimes does not eliminate an unneeded cutout ring.

[2017-11-13 20:21] ARolek opened #180 "providers/postgis: remove ST_AsBinary(geom) requirement for sql statements"
The `ST_AsBinary(geom)` requirement in SQL statements is a wart that I would like to get rid of. The underlying postgres driver (pgx) supports binary transfer protocol. We should be able to fetch request using the binary protocol rather than the text protocol to remove this wart.

When this task is worked on, make sure to address the outstanding TODO [here](https://github.com/terranodo/tegola/blob

[2017-11-14 17:25] JivanAmara opened #181 "Gpkg file puerto_mont-osm-20170922.gpkg not showing data in map."
The gpkg provider has basic functionality with athens-osm-20170921.gpkg, but puerto_mont-osm-20170922.gpkg data isn't showing up on map.

[2017-11-14 20:56] #181 closed

[2017-11-14 20:58] JivanAmara opened #182 "Add Feature Provider intended to deprecate/replace mvt.Provider."
There's currently provider.go, provider/*, mvt/provider/*.
These should be consolidated.

[2017-11-14 21:10] ARolek commented on #182
We're talking about removing the mvt.Provider interface and creating a FeatureProvider interface. Pushing the responsibility of encoding MVT layers onto the provider is an old decision we want to go away. Providers should only be responsible for returning geometries and their associated tags.

[2017-11-14 21:44] JivanAmara commented on #182
What are you thinking for communicating the relationship of layers to features in a FeatureProvider?

[2017-11-14 23:10] ARolek commented on #182
Quick design we're playing with. Still settling on the names but this is the main idea:

[code]

[2017-11-15 13:06] remster opened #183 "Simplification algo appears to cause tile seam artefacts"
We had to turn the simplification off as wedges would develop on tile seams preventing the [bleed/buffer](https://github.com/mapbox/vector-tile-spec/tree/master/2.1) (grep for buffer) to be correctly applied. My guess is that [Douglas–Peucker](https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm) that you use removes poly edges that we have deliberately bleed out of the ti

[2017-11-15 16:29] gdey commented on #183
The skipping of dy and dx was the first system we used. But it did not reduce the number of points. One thing I'm trying to figure out how to plumb through is the ability to turn off simplification on a per layer bases. Also, there is a different simplification algo, that I'm planning on implementing; but I think it will have the same effect.

[2017-11-16 08:32] remster commented on #183
Thanks @gdey for accepting this.
Not sure i follow why skipping dx,yx==[0,0] would not reduce the number of points - at least in the use case we care most of - down-sampling for coarser zooms.
Suppose we have this poly:
[code]
If you feed it today, if i understand correctly, it will generate:
[code]
if the loop I pointed to skipped such dx,dx==[0,0] then, correct me if i am wrong, you should get:

[2017-11-16 17:42] gdey commented on #183
Sorry, I was not being very clear in my statements. We did not see a significant amount of point reduction compared to simplification.  In fact part of the makeValid I do this very thing. Just not in encode cmd, though as you correctly point out it would be a noop. So, I will put this back in. But, there are features which are detailed for the low zoom levels that are reduced significantly with Do

[2017-11-16 19:31] JivanAmara opened #184 "GPKGProvider bounding box filtering"
Update data extraction from gpkg files to make use of rtree tables to limit results based on bounding box.

[2017-11-16 19:32] JivanAmara opened #185 "Find home for 2nd WKBGeometry implementation."
Should we make use of this for testing the existing wkb package or just dump it?

[2017-11-16 19:33] JivanAmara opened #186 "GPKGProvider - add support for 'sql' config param (part of #161)"

[2017-11-16 19:33] JivanAmara opened #187 "GPKGProvider - add support for 'fields' config param. (Part of #161)"

[2017-11-16 19:38] ARolek commented on #185
@JivanAmara the WKB implementation is currently being updated by @gdey and will be using the new [geom](https://github.com/go-spatial/geom) package we have been working on. I think we should dump this one for now since the type strategy is also being updated.

[2017-11-16 20:31] remster commented on #183
Well, i discovered this:
- `DontSimplify: true`
- `&tegola.BoundingBox{Z:...` which i guess you need to document (show in the example)

I think it makes a hygienical sense to skip the [0,0] noops and i am not surprised this doesn't serve as sufficient simplification. I am surprised by the very bug and Douglas-Peucker seemingly cutting a distant and crucial aspect of the polygon. Maybe you can simp

[2017-11-20 15:33] hcliff commented on #166
I've got some code for this, it needs to be ported over to using an rtree for perf reasons, but it's got cooked in logic to avoid self-intersections, will tidy up and throw over the fence

[2017-11-21 09:40] zhl11b opened #188 "Filecache: concurrent map read and map write on Set()"
fatal error: concurrent map read and map write

[code]

[2017-11-21 19:02] ojlamb commented on #141
@emakarov Not sure if you're still looking for an example, but here you go.

`<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8' />
	<title></title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
	<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT

[2017-11-21 20:48] JivanAmara opened #189 "Make tegola.Tile bounding box consistent."
The bounding box in a Tile claims to be in WebMercator coordinates, but the bounding box presents its data as though the origin is the top left.

Write tests for FromWebMercator(), ApplyToPoints(), webmercator.PToLonLat(), to verify that these functions are converting from a WebMercator axis (origin off African coast) rather than a Tile axis (origin at top-left of world map)

After verifying, upda

[2017-11-21 22:26] JivanAmara commented on #184
Implemented in commit faa21c17.

[2017-11-21 22:26] #184 closed

[2017-11-21 23:17] JivanAmara commented on #185
Removed in commit 8fae61cb.

[2017-11-21 23:17] #185 closed

[2017-11-21 23:53] #178 closed

[2017-11-21 23:53] #188 closed

[2017-11-22 01:05] #170 closed

[2017-11-22 04:59] ARolek commented on #117
tegola no longer has a static webserver endpoint. This may be re-introduce later if there is enough demand. For now, the built in viewer at project root will render an autogenerated style of the map form the configured data provider(s)

[2017-11-22 04:59] #117 closed

[2017-11-22 07:34] emakarov commented on #141
@ojlamb thanks!
will definitely give it a try

[2017-11-22 16:58] sagarr commented on #107
I hope it also solves problem like this (road cuts at adjoining tiles)

![fireshot capture 1 - - http___localhost_8080_index html 16 39_49 58995_6 14185](https://user-images.githubusercontent.com/1051004/33139840-69570642-cfd4-11e7-9c53-e9826a80f648.png)

[2017-11-22 18:17] JivanAmara opened #192 "Connection pooling for GPKGProvider"

[2017-11-22 18:24] JivanAmara opened #193 "Two colons are appearing in constructed urls between host and port number."

[2017-11-22 18:38] JivanAmara commented on #193
Fixed in commit 8f7791b9

[2017-11-22 18:38] #193 closed

[2017-11-22 20:50] JivanAmara opened #194 "GPKGProvider - Add support for id_fieldname config param"

[2017-11-23 20:49] #194 closed

[2017-11-24 02:42] zhl11b commented on #141
@ojlamb I think it's not right,even add source "zones",it use mapbox official tile

[2017-11-25 05:08] gdey opened #195 "This should be `cf.ID == nil` and not `cf.ID != nil`"
https://github.com/terranodo/tegola/blob/30dac10f813543493ab8a0479ec7a806ddd86f1f/mvt/layer.go#L154-L158

This will cause a runtime panic because we are guaranteeing that `cf.ID` is going to be nil, before dereferencing it. It's obvious that this is a typo, and should have been `cf.ID == nil`.

[2017-11-27 20:35] ARolek opened #196 "filecache: check filesystem for tile even if key does not exist"
The filecache maintains a map of tiles in the cache. The cache reads the filesystem on init and then creates new entries in the map as the server generates new tiles. This approach does not account for seeding creating new tiles while the server is running, or possibly a shared file store situation (i.e. Amazon EFS).

When a tile key does not exist in our map, we should check the filesystem to see

[2017-11-28 16:55] remster opened #197 "Performance affected by unused log statements"
We've been trying to use tegola for on-demand mapbox tile generation and we didn't see the performance we were after. I've pprof'ed it and i saw this:
![profile](https://user-images.githubusercontent.com/8327961/33332261-1e09427e-d464-11e7-88c0-94b97d63be44.png)
I don't know if i read it right, but it appears that 40% of tile generation cpu cycles are spent on fmt.Sprintf
composing log statements.

[2017-11-28 17:27] gdey commented on #197
Yes, that's possible. I have not looked at performance tuning, and cleanup quite yet. That is left over code from when I was trying to figure out why there were certain cases of makevalid that was not working. Thank you for looking into it. We can quickly patch this, but I'm sure there are other areas that can be cleaned up and improved.

[2017-11-28 17:53] ARolek commented on #197
@remster Thanks for the research! This is absolutely a possible performance bottleneck and a quick one to fix. For the v0.4.0 release we focused on making geo processing work, not necessarily work fast. @gdey is working on a write up of the MakeValid algorithm and the v0.5.0 release is focusing on performance. Nonetheless, this is could be a quick win. We will do some analysis and push up a patch

[2017-11-28 23:21] kalxas commented on #197
👍

[2017-11-28 23:36] ARolek commented on #197
@remster I have confirmed that you have found some low hanging performance fruit. I have cleaned up the unused debug code and will be pushing out a patch release shortly. We still have a lot of performance improvements coming through the pipe but this a such a great win that it's worth pushing a release out now. I'm seeing upwards of 40% faster response times on polygon heavy tiles like the follow

[2017-11-28 23:53] ARolek commented on #197
[v0.4.2 is now available](https://github.com/terranodo/tegola/releases/tag/v0.4.2)

[2017-11-28 23:53] #197 closed

[2017-11-29 00:13] gdey commented on #107
Yes, I would say those issues are related to the title buffer. The buffer is not big enough.

[2017-11-29 08:11] remster commented on #197
Thanks for the insight guys.

[2017-11-29 16:47] JivanAmara opened #199 "Factor out hostName() changes into PR on v0.5.0"
hostName() only returns the host name, but is used to construct the portions of URLs which include both host and port.  Updates to return a host:port value have been made on issue-161_geopackage_provider.

Additional changes were made to allow the "port" attribute in a tegola config to be expressed as ":<port>" (current) or as simply "<port>" (new).

Isolate these changes and create PR for them.

[2017-11-29 17:50] PetersonGIS opened #200 "Windows: error creating connection pool (postgis)"
Running v0.4.2. tegola_windows_amd64.exe results in the following error:

`main.go:54: Failed while creating connection pool: dial tcp :5432: connectex: The requested address is not valid in its context.`

[2017-11-29 20:03] ARolek commented on #200
This appears to be an issue with the Go compiler for windows as documented [here](https://github.com/golang/go/issues/22811). Compiling with go 1.9.2 fixes the problem. The task here is to update our CI build tools to use go 1.9.2

[2017-11-29 20:20] gdey commented on #182
I guess I'm highjacking this issue and turing it into a quick discussion about the Feature Provider. I want to make sure we have a good design before we start work on this.

Two Points:

1. Should Tegola.Feature have an SRID field? Or should each feature return have a way to get the SRID? This is needed as I think the responsibility for converting to a desired srid should fall at the layer level.

[2017-11-29 20:21] ARolek commented on #200
Looks like we can add a `deploy` condition to sniff for the appropriate go version as shown in the example [here](https://docs.travis-ci.com/user/languages/go/#Environment-Variable)

[2017-11-29 20:26] ARolek commented on #182
An additional point is that the feature providers should know what zoom they're dealing with as we have a !ZOOM! token to support.

[2017-11-30 17:57] JivanAmara commented on #182
@gdey, are there any examples of features within a layer being encoded with different srid's?  I haven't seen it in gpkg's but the srid of a feature's geometry is stored independently of the layer's claimed srid so the possibility is there at least for this provider.

[2017-11-30 19:25] ARolek commented on #147
**Logger Proxy API**
- `log.Fatal(string, vals... interface{})` -
  - prevents the program from continuing
  - i.e. can't allocate additional memory
- `log.Error(string, vals... interface{})`
  - non-fatal, but prevents valid execution
  - i.e. can't connect to a database, complete a function call, open file, invalid format
- `log.Warn(string, vals... interface{})`
  - looks unusual, but does not

[2017-11-30 19:41] gdey commented on #182
I have not seen it. The main reason is that the SRID needs to be provided, currently we are returning at slice of features. The Alternative is to return an SRID a long with the slice.:
[code]

[2017-12-01 00:52] ARolek opened #203 "Filecache: remove map for tracking what is cached, read from the filesystem directly"
Currently the filecache uses a map[string]sync.RWMutex to track what's in the cache. This strategy does not work if another tegola process is populating the filecache via a `cache seed` (introduced in v0.5.0).

The cache should read from the filesystem directly rather than track what has been written to the cache. To avoid any issues with reading / writing the cache should first write to a temp fi

[2017-12-01 05:15] ARolek commented on #182
After thinking this over a bit more, I'm going to propose we name the method `TileFeatures` since the tile will come with the Z, X and Y values as well as helper methods `BoundingBox` and the upcoming `BufferedBoundingBox` which the provider should be using to address the issue described in #107 .

Updated proposed interface:

[code]

Regarding the SRID, features from a query should all have the s

[2017-12-01 12:20] CodeKunal commented on #33
So does this mean Tegola MVT does not support Geometry collection as in we won't be able to render geometry collections on the map? As I understand reading through above comments even Mapbox does not render GeometryCollection? Correct me if I am wrong. Thanks

[2017-12-01 12:22] CodeKunal opened #204 "Geometry Collection rendering"
Are there any plans on supporting rendering of GeometryCollections? As of now it does not support geometry collections. Correct me if I am wrong.

[2017-12-01 15:42] ARolek commented on #204
@CodeKunai currently the MVT Specification does not support rendering geometry collections so tegola has no intent to support them unless the spec changes. [Here are the geometry types](https://github.com/mapbox/vector-tile-spec/blob/master/2.1/README.md#434-geometry-types) the MVT spec currently supports.

There is a work arounds you can consider. Check out the PostGIS function [`ST_CollectionExt

[2017-12-04 00:57] gdey commented on #107
I no longer think the issue is because of the tile buffer is not big enough. I think this has to do with bounding boxes removing
I no longer think it's because the tile buffer is not big enough. I think this has to do with the geometries we are grabbing before clipping. These geometries are the ones within a bounding box defined by the z/x/y tile. We then expand that bounding box the buffer size a

[2017-12-04 18:54] JivanAmara opened #207 "GPKGProvider - Rewrite tests without testify (part of #161)"

[2017-12-04 19:01] gdey commented on #199
Please, wait for the issue to be reviewed and merged into the release branch. Also, if there is a good reason to the close the issue (i.e., because the issue is invalid, or it's not going to be fixed. Add a comment stating the reason for the closing the issue — and the appropriate tags.)

[2017-12-04 19:03] gdey commented on #192
Please, wait for the issue to be reviewed and merged into the release branch. Also, if there is a good reason to the close the issue (i.e., because the issue is invalid, or it's not going to be fixed. Add a comment stating the reason for the closing the issue — and the appropriate tags.)

[2017-12-04 19:05] #192 closed

[2017-12-04 19:06] JivanAmara commented on #192
As part of a feature branch, closing this as completed on the feature branch.

[2017-12-04 19:10] JivanAmara commented on #207
#161

[2017-12-04 19:11] JivanAmara commented on #187
#161

[2017-12-04 19:11] JivanAmara commented on #186
#161

[2017-12-04 19:56] MrMaksimize opened #208 "Mongo Support"
I would love to see Tegola support MongoDB.  It's a very popular database for NoSQL and also has pretty good support for geospatial operations.

Just wanted to throw this out and see what you all think about it.

[2017-12-04 20:16] jj0hns0n commented on #208
@MrMaksimize I think @gdey and @ARolek plan to refactor the provider interface a bit as part of the plan for merging `issue-161_geopackage_provider` branch. Once thats done, seems it should be straightforward to implement a mongo data provider using one of the golang drivers. Looks like this one may be the best https://labix.org/mgo ... PRs welcome :)

[2017-12-05 22:45] ARolek commented on #196
This issues will be covered by #203. Closing

[2017-12-05 22:45] #196 closed

[2017-12-05 23:16] ARolek opened #210 "Support environment variables in config file"
Several issues (#95, #133, #137) are requesting environment variable "injecting" into the config file. For example:

[code]

We can accomplish this by using the go text/template package and reading in all the environment variables via os.Env().

[2017-12-05 23:17] ARolek opened #211 "Suport for S3 cache backend"
Support using Amazon s3 as a cache backend

[2017-12-06 00:14] ARolek commented on #210
An alternative approach is to implement the [toml.TextUnmarshller](https://godoc.org/github.com/BurntSushi/toml#TextUnmarshaler) interface for all our types to sniff for a prefix (i.e. the typical environment var $). This would avoid needing to use the Go template syntax and allow us to use a syntax that is more common place. For example:

[code]

[2017-12-06 00:24] JivanAmara commented on #76
Related to #210

[2017-12-06 06:43] gdey commented on #107
Anyone have an isolated dataset for this issue? I think I have a solution; that I need to test.

[2017-12-06 16:25] sagarr commented on #107
@gdey Do you have a solution on github branch which I can pull from? I want to test it.

[2017-12-06 18:01] gdey commented on #195
The issue has been merged into v0.5.0

[2017-12-06 18:01] #195 closed

[2017-12-06 19:32] gdey commented on #107
@sagarr Not yet, I'll push up as soon as I have figured out this bug, then ping you.

[2017-12-06 23:29] JivanAmara commented on #76
Note to self, looking more closely at the config processing should shed some light on: https://github.com/terranodo/tegola/blob/issue-161_geopackage_provider/provider/gpkg/gpkgProvider.go#L379

[2017-12-11 19:28] JivanAmara commented on #161
- [x ] Add support for "fields" config param
- [ ] Add support for "sql" config param
- [ ] Rewrite tests without testify

[2017-12-11 19:28] JivanAmara commented on #207
Moved to checklist in comments of #161

[2017-12-11 19:28] #207 closed

[2017-12-11 19:30] JivanAmara commented on #187
Implemented on feature branch issue-161_geopackage_provider and moved to checklist in comment of #161

[2017-12-11 19:30] #187 closed

[2017-12-11 19:30] JivanAmara commented on #186
Added to checklist in comment of #161

[2017-12-11 19:30] #186 closed

[2017-12-11 19:55] ARolek opened #214 "Support for cache purging / seeding using a tile list"
The `cache purge` and `cache seed` commands should be able to accept a list of tiles in a file where each line has a `z/x/y` entry. Additionally, the commands should be able to watch a directory for new files and read the files as they're created.

[2017-12-12 14:14] gdey commented on #107
@sagarr I just pushed up a branch called issue-107. Please try that branch out. I still have a few failing tests there, and some clean up to do.

But you should be able to test it.

[2017-12-12 18:22] JivanAmara commented on #199
Merged
https://github.com/terranodo/tegola/pull/212

[2017-12-12 18:22] #199 closed

[2017-12-12 22:20] JivanAmara commented on #147
New logger added with https://github.com/terranodo/tegola/pull/205.

[2017-12-12 22:20] #147 closed

[2017-12-12 22:23] JivanAmara opened #215 "Replace current logging with internal logger."
A logging interface & initial implementation has been added to v0.5.0 with https://github.com/terranodo/tegola/pull/205.  Current logging calls need to be replaced with this:
- [ ] v0.6.0
- [ ] master

[2017-12-12 22:31] #203 closed

[2017-12-12 22:31] #211 closed

[2017-12-12 23:17] #64 closed

[2017-12-12 23:17] #200 closed

[2017-12-13 00:47] #176 closed

[2017-12-13 06:07] remster opened #218 "encoding/wkb: export WKB.encode"
Is there a good reason for not exporting [wkb.encode](https://github.com/terranodo/tegola/blob/41859b8d22e4224dc87a5c7bc8d3c98cfcf589dd/wkb/wkb.go#L54)?
We need a wkb raw bytes and it seems convoluted to need to use the [wkb.Encode](https://github.com/terranodo/tegola/blob/41859b8d22e4224dc87a5c7bc8d3c98cfcf589dd/wkb/wkb.go#L145) and supply an io.Writer - any caller can pass the bytes onto whateve

[2017-12-13 10:15] CodeKunal opened #219 "Google maps support"
Is there a way I could use these vector tiles on google maps?

[2017-12-13 15:43] gdey commented on #218
Because the plan is the remove wkb.encode, and stream the data to the writer. I'm working on this currently. If you need the raw bytes, you can use [bytes.Buffer](https://www.godoc.org/bytes#Buffer) i.e:

[code]

Using an io.Writer interface is more idiomatic, and allow for more things to be passed in. Right now we just pass the `http.ResponseWriter`, instead of having to call the `Write` method w

[2017-12-13 20:32] ARolek commented on #219
@CodeKunal I believe you could do something with OpenLayers, but not quite sure. Google Maps uses a different format for their tiles than tegola. It's technically possible to blend the tile formats and composite them client side but I'm not aware of a clean solution to pull this off right now.

[2017-12-13 23:05] sacontreras opened #221 "providers/postgis: Add connection parameterization for tegola unit-test suite"
Currently test-suite assumes test-suite execution host has postgres installed locally. This can be problematic for non-Travis CI environments.  Adding capability to point to remote postgres endpoint can alleviate this.

Vars surrounding postgres conn to be paramterized:
- username
- password
- host
- port

[2017-12-14 11:36] gdey opened #224 "mvt: Split out Transformation, Simplification, and Clipping from encodeGeometry"
Since these three functions are currently intermingled into the mvt renderer, it is difficult to write good test cases for encodeGeometry, split out these four things into there own function and have a higher level function called them as needed. The only thing that needs to be done is splitting out the encoding functionally and turning encodeGeometry into a higher level function.

[2017-12-14 14:13] remster commented on #218
Thanks, but that doesn't work either. I get an error. Culprit:
[code]
output:
[code]
in the code:
[code]

[2017-12-14 16:41] gdey commented on #218
This is a bug. I don't have many (any) testcases around the encoding because I did not need it. I'll fix up what I have now finish up adding the test case and push up the new encoding package.

As for the Polygons, they are not closed. I'll make sure they are closed by adding the same ending point as the beginning. In MVT  lines in polygons are assumed to be connected from the last point to the fi

[2017-12-14 19:16] ARolek commented on #204
I'm going to close this now as we don't have plans to fix this unless the MVT spec introduces support for it.

[2017-12-14 19:16] #204 closed

[2017-12-15 10:28] remster opened #226 "wkb.Collection not a tegola.Collection"
airmap/gis/tile/mb/server/test/utils.go:143:7: cannot use collection (type *wkb.Collection) as type tegola.Collection in assignment:
	*wkb.Collection does not implement tegola.Collection (missing Geometries method)

[2017-12-15 11:07] remster opened #227 "WKT for collection doesn't do much"
[Here](https://github.com/terranodo/tegola/blob/master/wkb/wkt.go#L108) is:
[code]
should be:
[code]
Essentially, I think you have a bit of a design problem. By the way you have defined your tegola.Geometry interface, everything fulfills it, even number seven. And your code (e.g.: here) is quite lenient producing empty wkt. Perhaps you want to add a token aspect of the geometry to the interface, l

[2017-12-15 13:42] jamesyarrington opened #228 "tegola.Tile returns a Tile even if given coordinates outside of the projection"
**To Reproduce:**
Run this go program:
[code]

**Expected Result:**
`tegola.Tile` should either throw an error, or return a Tile object within the bounds of the projection.

**Actual Result**
The program runs without error, returning a negative value for the y-coordinate.
[code]

[2017-12-15 14:21] jamesyarrington opened #229 "A GET request for a Tile with a negative row value is successful"
**To Reproduce:**
Send this GET Request:
[code]

**Expected Response:**
The server should return `400 Bad Request`.

**Actual Response:**
The Server returns `200 OK`.
This is the Tile object (converted using pbf, vector-tile):
[code]

_I do not know if the `debug-tile-outline` and `debug-tile-center` are from the vector-tile converter package, or from Tegola._

[2017-12-15 20:18] gdey commented on #229
The debug-tile-outline and debug-tile-center are added by Tegola. When you pass `?debug` to the inspector, a center point and the outline is drawn. These are the layers for those geometries.

[2017-12-15 20:25] gdey commented on #227
Thanks for this. This is a bug. The WKT was one of the first things I build and it was mainly to help debug things. I'm in the process of rewriting the WKB and WKT encoding libs. Yeah, the WKT(sg) function should have done a type check and returned an error. The issue is it returns an empty string when it does not recognize a type; instead of returning an error. https://github.com/terranodo/tegola

[2017-12-15 20:40] gdey commented on #228
I think the solution here is to make the `Deg2Num()` return an error. This is especially important with #225 which creates a new set of `New` functions that should be used to init a tile.

[2017-12-15 22:50] JivanAmara opened #231 "Logger outputs file:line of log/standard.go along with timestamp in output."
This default output should be eliminated as the file & line number of the actual logging location are included in the output & this just confuses the output.

`2017/12/15 15:45:20 standard.go:23: •INFO•/home/jivan/.projects/tegola/src/github.com/terranodo/tegola/provider/gpkg/gpkgProvider.go•675•logging message`

[2017-12-15 23:13] JivanAmara commented on #182
POC at https://github.com/terranodo/tegola/tree/issue-182_new_provider_interface
Managed to implement FeatureProvider interface with minor changes to each of:
 * MVTLayer->TileFeatures
 * layerFromQuery->featuresFromQuery
 * NewProvider->NewFeatureProvider

and types/interfaces in provider/featureProvider.go
Not sure exactly how you guys would want to access NewFeatureProvider to try things out, s

[2017-12-18 20:00] PetersonGIS opened #232 "Provider/postgis: Using !ZOOM! token can cause nil geom type on style generation"
Using the min_zoom field in ne_110m_land as a filter in the config toml like this:

`sql = "SELECT ST_AsBinary(wkb_geometry) AS geometry, ogc_fid, featurecla, min_zoom FROM ne_110m_land WHERE min_zoom < !ZOOM! and wkb_geometry && !BBOX!"`

can cause this error:
![error](https://user-images.githubusercontent.com/5266205/34125403-6135e464-e3f3-11e7-8bc8-233198242b40.PNG)

[2017-12-19 22:15] JivanAmara commented on #210
I like making the syntax match commonplace usage, why not simply make the replacements before the config goes to toml decoding?

[2017-12-19 22:25] ARolek commented on #210
@JivanAmara I'm already playing with a couple ideas, but I think the TextUnmarhshller interface is going to work well. We could read the config file prior to toml processing but I think we're going to shift the problem to regex processing, which is not necessarily a bad thing. Did you have another idea?

[2017-12-19 22:38] erictheise commented on #210
I mentioned leveraging the [Foreman](http://blog.daviddollar.org/2011/05/06/introducing-foreman.html) approach in https://github.com/terranodo/tegola-osm/issues/25. Three Go ports are listed in [Foreman's README.md](https://github.com/ddollar/foreman#ports).

Curious to hear @mojodna's latest thinking, too.

[2017-12-20 00:22] JivanAmara commented on #210
@ARolek I was thinking using regex processing to search & replace the environment vars in the config text (i.e. "port = $PORT" -> "port = 8080", then hand it off for decoding.  What do you mean by shifting the problem to regex processing?

[2017-12-20 00:54] JivanAmara commented on #210
@ARolek Something like this: https://github.com/terranodo/tegola/tree/issue-210_config_env_vars

[2017-12-20 04:36] ARolek commented on #210
@JivanAmara I dig the approach. I added a few comments, but overall I think this will work.

[2017-12-20 04:38] erictheise opened #233 "Tegola (version not set) with 0.5.0"
I just fired up the latest release and in `/capabilities` and the built in map browser I'm seeing _(version not set)_ instead of _0.5.0_.

`tegola_darwin_amd64`.

[2017-12-20 04:41] ARolek commented on #233
@erictheise thanks for the report. I will check the CI scripts to see what's going on.

[2017-12-22 20:21] #221 closed

[2017-12-22 20:23] #219 closed

[2017-12-22 22:53] ARolek commented on #233
@erictheise I re-released v0.5.0 since this was not really a functional bug fix. You can download the updated bins on the release page. Thanks for the report.

[2017-12-23 13:59] gdey commented on #227
I'll am working through all wkb and wkt issues in the geom branch. Right now that has a better support for WKB in the [`tegola/geom/encoding/wkb`](https://github.com/terranodo/tegola/tree/geom/geom/encoding) directory. wkt support is still incomplete. Encode into WKT should work; I'm still working on decode as time allows.

[2017-12-25 23:11] JivanAmara commented on #228
I updated Deg2Num() & Num2Deg(), but @jamesyarrington's suggestion that things like this be caught at the time of tile creation also makes a lot of sense.

[2017-12-26 03:19] tangjuncheng1986 opened #240 "polygon was out of shape"
Hi, When I zoom map,Zhe Polygon was been stretched.
Please,Help me.

![qq 20171226111715](https://user-images.githubusercontent.com/19219876/34346023-8cffd5f0-ea2e-11e7-9f18-e7b72a0748a4.png)

[2017-12-26 20:17] JivanAmara commented on #95
See https://github.com/terranodo/tegola/pull/237, this change allows arbitrary environment variables to inject content into the config file.

[2017-12-26 23:41] gdey commented on #171
Yeah I think this makes more sense as a subtask of #167

[2017-12-26 23:41] #171 closed

[2017-12-27 00:31] JivanAmara commented on #189
Tests for:
[ ] FromWebMercator()
[ ] ApplyToPoints()
[ ] PToLonLat()

[2017-12-28 17:54] ARolek commented on #240
@tangjuncheng1986 is this a dataset you can make available to me so I can recreate the issue?

[2017-12-29 20:04] ARolek commented on #227
This fix is now merged into the v0.6.0 branch and will be part of the upcoming release. As @gdey mentioned, we're overhauling the wkb package which might be released with v0.6.0. We're also redefining the core geom types which the new wkb package will leverage. Thanks for the report!

[2017-12-29 20:04] #227 closed

[2017-12-29 20:07] ARolek opened #243 "Support for rendering tiles in 4326 projection"
Tegola supports querying for tiles when the data is in 4326 projection, but only renders to WebMercator (3857) projection. Tegola needs to also support rendering tiles to 4326 projection.

[2017-12-29 23:16] JivanAmara opened #244 "Write Dockerfile to build tegola & create minimal deployment images."
2 Deployment images are needed, w/ cgo & w/o cgo.
Not clear yet if it makes sense to keep this as 1 Dockerfile or split, will see.

Config file will be expected at specific location in image & can then either be baked-in using FROM tegola/_image_name_ or added using a VOLUME mounted at that location.

[2017-12-29 23:19] JivanAmara opened #245 "Wire docker image build into CI."
After #244 gets completed, someone needs to update the build pipeline to include the docker images.

[2017-12-30 00:05] JivanAmara commented on #85
Replaced with https://github.com/terranodo/tegola/issues/244

[2017-12-30 00:05] #85 closed

[2018-01-02 01:06] JivanAmara opened #246 "Create *f() variants of log methods."
Per discussion in #222, adds formatting-specific calls like Errorf(formatString, args...) in addition to raw output calls like Error(args...).

[2018-01-02 08:05] tangjuncheng1986 commented on #240
[n81_qukuai_wp.zip](https://github.com/terranodo/tegola/files/1597026/n81_qukuai_wp.zip)
@ARolek  Thank you very much for my issue. The data store in postgis.

[2018-01-03 00:38] #246 closed

[2018-01-03 00:39] #231 closed

[2018-01-03 00:39] #229 closed

[2018-01-04 19:28] jamesyarrington opened #250 "Tile request returns 200 when using invalid map."
**To Reproduce:**
Send a GET request to `/maps/foo/1/1/1.pbf`

**Expected Response:**
The response is coded as a `400 Bad Request` or `404 Not Found`, with an appropriate message, like:

**Actual Response:**
Response is coded as `200 OK`.
The file `1.pbf` is downloaded, which contains the message:

The response should be an error code, and the error message should not be downloaded like a file, it

[2018-01-04 19:34] ARolek commented on #250
@jamesyarrington what version of tegola are you using? I looked at the code and the server should be handling it fine.

[2018-01-04 22:50] ARolek commented on #107
This issue has been merged into the v0.6.0 branch and will be included in the next release. You can give it a test by pulling down the branch and building from source.

[2018-01-04 22:50] #107 closed

[2018-01-04 22:55] ARolek commented on #250
This is caused by the tile cache middleware. On the first request the response is correct, but the middleware is not sniffing for a 200 and writes to the cache anyway. Subsequent requests then read from the cache which causes the 200 response.

[2018-01-05 00:13] ARolek opened #252 "/maps/:map/:layer/:z/:x/:y not filtering to correct layer"
After `atlas` was implemented the layer handler received an incorrect implementation for filtering by only layer. Currently the endpoint is filtering by Zoom, but needs to filter by just layer.

[2018-01-05 17:48] ARolek commented on #250
This has been fixed in the v0.6.0 branch.

[2018-01-05 17:48] #250 closed

[2018-01-05 23:04] ARolek opened #253 "Throw warning when adding features with the same id to a layer"
The mvt specification says feature IDs `SHOULD` be unique within a layer. When they're not unique, rendering issues often occur. When this happens, tegola should output a log to help the user identify this potential issue.

[2018-01-08 20:34] #210 closed

[2018-01-08 20:38] ARolek opened #255 "Remove configurable LogFile and LogFormat from webserver config"
The new `log` package should eventually replace this implementation, less the LogFormat capability.

[2018-01-08 21:16] #28 closed

[2018-01-08 22:33] ARolek commented on #77
This was covered by #210

[2018-01-08 22:33] #77 closed

[2018-01-08 22:34] ARolek commented on #95
Addressed in #237 which is now in the v0.6.0 branch.

[2018-01-08 22:34] #95 closed

[2018-01-08 22:36] ARolek commented on #133
The port can be set in several ways now:

- config file, hard coded
- config file, via environment vars (i.e. $PORT)
- command line via `tegola serve --config tegola.toml --port = ":9090"

[2018-01-08 22:36] #133 closed

[2018-01-10 04:19] JivanAmara opened #257 "Document use of tegola docker image on docker hub."

[2018-01-10 04:33] JivanAmara commented on #244
Since the binary size and dependencies don't change without it, I've only made one docker image with a binary compiled w/ cgo support statically linked.

[2018-01-11 03:56] #245 closed

[2018-01-11 03:57] #244 closed

[2018-01-11 04:28] ARolek commented on #240
@tangjuncheng1986 can you add your config file so I can take a look at your queries? I want to recreate the issue and try some of the fixes that will be released soon.

Also, at what zoom are you seeing this issue at?

[2018-01-11 22:01] #257 closed

[2018-01-12 07:33] tangjuncheng1986 commented on #240
@ARolek Thank you very much for my question.When zoom to 19.
config
---------------------------------------------------
[webserver]
port = ":8085"

# register data providers
[[providers]]
name = "providers"           # provider name is referenced from map layers
type = "postgis"        # the type of data provider. currently only supports postgis
host = "192.168.1.202"      # postgis database host

[2018-01-14 13:50] MohammedAlsayed opened #262 "Automated way to generate config.toml"
Hi,

I'm looking for a config.toml where it's layer names matches with osm-liberity.json layer names
The osm-liberity style can be found here: https://maputnik.github.io/editor/#0.8/-0/0.

Also, is there a matching style (the layer names matches in both files) with the config.toml in the tegola-osm example ?

[2018-01-15 13:48] MohammedAlsayed commented on #144
@ARolek where are the mapbox-gl style files ?

[2018-01-15 18:15] ARolek commented on #144
@MohammedAlsayed All the styles that use the tegola-osm schema and can be seen at demo.tegola.io can be found in the demo repo at https://github.com/go-spatial/tegola-web-demo/tree/master/styles.

[2018-01-15 18:22] ARolek commented on #262
@MohammedAlsayed tegola does not currently have a way to generate a config file from a data source. We have considered this idea to help get up and running quicker but have not yet implemented it. Even if we did automate the config generation you would need to do subsequent refinement to match the properties the client side would be expecting.

This being said, the config should not be too difficu

[2018-01-16 21:40] ARolek opened #263 "Tile cache middleware not receiving response code 200"
When a tile is successfully generated the tile cache middleware is suppose to intercept the response and decide if the tile should be persisted in the cache. It does this by looking or a response code of 200 (http.StatusOK). This was implemented in #251 but appears to have created a regression where 200 responses are not being written correctly and therefore the cache is not being populated.

[2018-01-17 23:50] ARolek opened #265 "Refactor postgis provider to use provider.Tiler interface"

[2018-01-23 14:44] vherbst opened #266 "dynamic maps and layers"
We do have the requirement to have dynamic instead of static maps. To define a map and datasource in sql, create a uuid token as map name and query this from the web client would be straight forward. But instead of adding the map to config.toml we would just provide the map configuration in a extra file in a config directory mapname(uuid).toml and load on the fly. WE could via timestamp of the map

[2018-01-23 17:24] singram7 opened #267 "Support a proj query parameter for rendering in various projections"
Vector Tiles have no projection, thus any cylindrical projection on the WGS84 Datum can be rendered into Vector Tiles in meters. The default is currently web-mercator (3857), but 3395 (Elliptical Mercator) could be supported.

[2018-01-24 03:15] ARolek commented on #266
@vherbst interesting idea. How many maps are you working with? 10s, 100s, 1000s? Depending on your needs I think there are a couple options:

- **multiple maps in a single config file**: The config format supports multiple maps so you could dynamically generate the config file with multiple maps. We also have an open issue to allow hot reloading of the config (#57) but it has not been a priority l

[2018-01-24 03:22] ARolek commented on #267
@singram7 I agree. @gdey and I talked through this today and we're going to add this to the v0.7.0 release. We want to implement more robust projection handling and will use 3395 as second projection system we will support.

Your idea with using a query string is interesting. Though this is completely possible I need to think through some of the caching ramifications. I'm initially inclined to hav

[2018-01-24 19:18] jj0hns0n commented on #267
@JivanAmara OpenLayers supports any projection essentially.

[2018-01-25 18:10] gdey commented on #179
I believe this should be resolved in #268

[2018-01-25 18:17] gdey opened #269 "clean up maths package."
There is a lot of dead experiments in attempting to get clipping and makevalid correct. Time to clean things up. This will be a master issue to track the cleanup

[2018-01-25 18:18] gdey opened #270 "Clean up boundbox"
There are several implementations of bounding box/ or extents. consolidate and clean these various implementations and the code the depends on them. Renaming it to Extents by the end.

Part of #269

[2018-01-25 18:25] gdey opened #271 "Convert maths.Point type"
Change over the maths.Point type from a struct to a [2]float64. This will simplify quite a bit of code and remove the need for some conversion code.

#269

[2018-01-25 18:36] gdey opened #272 "Clean up old clip package"
The only things we are using from this package is the LineString and functions it depends on. Remove extra code, and update tests as needed.

part of #269

[2018-01-25 18:37] gdey opened #273 "Move rectangle and Triangle to geom."
Move/Consolidate the Rectangle and Triangle shapes with the geom package.

Part #269

[2018-01-25 18:38] gdey opened #274 "Move webmercator into a projections package."
Webmercator needs to be moved into a new package; that deals with projections.

[2018-01-25 18:39] #269 closed

[2018-01-25 19:59] gdey opened #275 "Move the way from the hand coded parsers to PEG"
Right now we have a couple of hand-coded recursive descent parsers.  We should really just write up a formal peg grammar and run pigeon on it.

https://github.com/mna/pigeon

This will not be a vendor program as it will only be used to generate the source that will be checked in.

[2018-01-25 21:17] ARolek commented on #275
@gdey can you reference the parsers you're thinking we should use pigeon on in case someone else wants to pick up this issue?

[2018-01-26 04:21] gdey opened #276 "Create a set of utility functions to help with the transition from Tegola Types to Geom Types."
As we are transitioning from the original Tegola types to geom types, we need a set of helper functions to convert to and from the two types.

[2018-01-26 12:38] exotfboy opened #277 "Get the intersected geometry by pg"
Hi:

I found that the feature are selected by from the database only filtered by the `bbox` by default(unless you set your own sql in the confituration), and then clip the geometry by the `bbox`(with a padding) again by program.

There is no problem for points and simple line or polygon feature.

However if the geometry of the feature is too big, this may take a long time, think about a very large

[2018-01-26 15:09] exotfboy commented on #243
Does this feature implemented?

[2018-01-26 15:16] gdey commented on #243
Not yet we are working toward implementing this.

[2018-01-26 15:19] gdey commented on #243
This one and #267 should be considered together.

[2018-01-26 18:09] JivanAmara commented on #275
@gdey, I second @ARolek's interest in mentioning the specific parsers.  The only ones that come to mind are the wkb/wkt processing.

[2018-01-26 19:51] ARolek commented on #277
@exotfboy you're correct, we're handling the geo processing (clipping, simplification, etc.) via tegola and not in PostGIS. We went this route as not all data providers  (i.e. goejson, geopackage, shapefiles, etc.) have the tooling that PostGIS comes with. In order to position tegola so it can support additional data providers tegola needs the geo processing tools.

This considered, you're correct

[2018-01-26 19:54] #276 closed

[2018-01-26 20:27] gdey commented on #275
Right now that's it. It's just the wkb/wkt processing. Once for the testfile for wkb and the other for wkt.

[2018-01-26 20:30] gdey commented on #275
Eventually, I think it would be good for the postgis driver to have an SQL parser, so that we can be smarter about the sql that is given to us, but that is more something I want to do then is needed.  I don't think the had coded one's I've written are bad; but a peg file is easier to read. I was going to write up a YACC file, but I'm not a fan of yacc; and go built in yacc tool seems not be mainta

[2018-01-26 23:38] exotfboy commented on #277
Thank you for your attention. This does make sense once we try to support more data sources.And you are right there must be somewhere the intersection occur which may take a lot of resources like CPU or memory.

[2018-01-26 23:39] #277 closed

[2018-01-26 23:50] exotfboy opened #279 "The architecture of tegola for developer"
Hi:

I just found tegola which is a wonderful tool for vector tile serving.

I want to make some changes , however I can not  make it clear enough about how tegola work even I read the source code (I am new for golang too :( ). For example, the architecture if this project, the work procedure and etc.
Maybe a contribution guide like mapbox-js ?

[2018-01-26 23:52] exotfboy commented on #243
This is a awesome feature, I have found that for a long time.

[2018-01-29 03:33] ARolek commented on #279
@exotfboy good call! We have been intending to write contributing guidelines for a while. We're close to releasing v0.6.0 of tegola at which point documentation is going to get some attention. I will add this task to the list. In the mean time, there are some quick instructions on how to build from source at: https://github.com/terranodo/tegola#building-from-source

[2018-01-29 04:45] exotfboy commented on #279
Glad to hear that. 👍

[2018-01-29 19:33] gdey opened #280 "2 pt lines are being disregarded"
Some linestrings are not being encoded correctly. Need to figure out if this is an issue with clipping or validation of the line.
<img width="1077" alt="screen shot 2018-01-29 at 11 32 17 am" src="https://user-images.githubusercontent.com/14805/35530216-4763ec5a-04e8-11e8-8488-f812464e713d.png">

[2018-01-29 19:46] gdey commented on #280
Seems to be an issue in the scaling or decoding of the wkb.

[2018-01-29 20:09] gdey commented on #280
Turns out the issue was in the scaleline function. If the line had only two points it would not scale it and just return. The eliminated the line.

[2018-01-29 22:45] gdey opened #282 "Weird Simplification/clipping."
Verify that is this an issue. Looks like simplification is causing weirdness for this polygon, then makevalid is cleaning it up.

If it is an issue, fix. Otherwise just note it in this issue.

http://localhost:8080/?debug=true#7/71.402/179.7

<img width="905" alt="screen shot 2018-01-29 at 2 42 47 pm" src="https://user-images.githubusercontent.com/14805/35538493-f4a22584-0502-11e8-9733-b29e557ab1a

[2018-01-29 23:04] gdey opened #283 "Clipping issue: Rendered triangle due to a makevalid producing invalid polygon."
Sometimes the makevalid function will create a polygon with a cutout that is not compleatly surrounded by the main ring. This results in a triangle artifact being rendered.

Here is a sample, this is on natural earth dataset.
http://localhost:8080/?debug=true#5/51.391/10.159
<img width="613" alt="screen shot 2018-01-29 at 2 59 34 pm" src="https://user-images.githubusercontent.com/14805/35539187-68

[2018-01-30 02:44] #280 closed

[2018-01-30 06:34] gdey commented on #218
This is in v0.6.0

[2018-01-30 06:34] #218 closed

[2018-01-30 06:36] gdey commented on #226
The new geom/encoding/wkb package uses geom/geometries. Those geometries fully support collections. This is available in the v0.6.0 branch.

[2018-01-30 06:36] #226 closed

[2018-01-31 03:23] george-silva opened #284 "binary linked in docs is way too old"
Hello everyone.

The linux binary (probably the other platforms as well) is really outdated. I followed the procedure documented and it did not worked.
Then I checked the version and downloaded the newer version, which worked fine.

Let's change it, otherwise some people might give up on their first try.

[2018-01-31 03:51] ARolek commented on #284
@george-silva thanks for the heads up. I will get that fixed up on the docs. We're also working on updating the docs after we cut v0.6.0.

[2018-01-31 03:55] ARolek commented on #284
@george-silva this is now fixed.

[2018-01-31 03:55] #284 closed

[2018-01-31 21:50] ARolek commented on #232
The way this works right now is tegola sniffs for `ST_AsBinary` and replaces it with `ST_GeometryType`. This is not super stable as we have plans for removing the requirement of wrapping geometry types with `ST_AsBinary` #180. Unfortunately without running the query we can't know what the geometry type is as the user provided SQL may change the resulting geometry type.

That considered, the main p

[2018-01-31 22:46] ARolek commented on #232
Another detail to note about this strategy, we're currently doing a string.ToLower() on the SQL so we can match the two `ST_*` methods, but this may malform the SQL when case is important (i.e. WHERE property = 'SOME_VAL')

[2018-02-01 19:06] #263 closed

[2018-02-01 22:16] ARolek commented on #232
Final strategy turned out to be replacing the `!ZOOM!` token with `ANY('{0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24}')` which basically turns off the zoom filtering for this situation but keeps the SQL intact.

[2018-02-02 00:57] #265 closed

[2018-02-02 01:18] MrMaksimize opened #286 "Syntax Error at or near "ANY""
This is based on commit https://github.com/terranodo/tegola/commit/02bdfb432a65cf9b65359755f4138c952ac0a601 in the v0.6.0 branch.

It worked fine before I pulled it in and rebuilt, but now with the same TOML file, I'm getting the following:

![https://mrm-screen.s3.amazonaws.com/1._tmux_tmux_2018-02-01_17-14-18.png]

[code]
There is no "ANY" in my TOML file at all.

Again - just, this was not ther

[2018-02-02 01:22] MrMaksimize commented on #286
Just looking at the diff, the issue may be here:

https://github.com/terranodo/tegola/commit/02bdfb432a65cf9b65359755f4138c952ac0a601#diff-ddc50fa17407017ce1cab642b5ae3a47R280

As I do have a !ZOOM! in my query, and probably not in the way expected.  I have it as: `!ZOOM! as z` for debugging.

[2018-02-02 01:24] MrMaksimize commented on #286
Confirming that removing !ZOOM! from query fixes the error.  Up to maintainer what you want to do - this can either be a NOFIX or adjust for use case above :)

[2018-02-02 02:51] gdey commented on #286
Can you post the SQL statement as well? Wondering what is going on.

Thankyou.

[2018-02-02 17:31] sanfilippopablo opened #287 "Debug outline without ?debug=true"
Hi. I'm getting the debug outline no matter how I made the request. I tried without ?debug=true and with ?debug=false.

I'm using v0.5.0.

This is my conf.toml:
[code]

The request:
[code]

Is there a way to disable it? Or does it come as a layer so I can choose not to render it in the client?

[2018-02-02 17:35] ARolek commented on #287
@sanfilippopablo this is a bug in v0.5.0 but has been fixed in v0.6.0. Are you able to build the v0.6.0 branch to give it a test?

[2018-02-02 17:50] ARolek commented on #252
This is now fixed in the v0.6.0 branch

[2018-02-02 17:50] #252 closed

[2018-02-02 17:52] MrMaksimize commented on #286
Yup!

[code]

[2018-02-02 18:00] ARolek commented on #287
note there is one wart with the debug approach that I have not settled on a solution for. If you have a cache backend in use and request a tile that has already been cached the debug outlines do not get added. I'm still trying to decide what the best way to handle this is. A few options:

- if `?debug=true` is present in the URL we skip the cache lookup and always generate a new tile. This require

[2018-02-02 19:39] gdey commented on #282
This is fixed in v0.6.0

[2018-02-02 19:39] #282 closed

[2018-02-02 19:49] sanfilippopablo commented on #287
Ah, awesome. I didn't try it, I was using the binary downloaded from tegola.io. Is there a binary for v0.6.0 or I have to build from source?

About cache behavior, I like those options in this order: 3, 1, 2.

[2018-02-02 19:50] PetersonGIS commented on #262
An auto-generated config would help when the database has 20+ tables. It could get newbies started more easily as well. They can start with the auto-generated config and then refine it as necessary. I think this is a great idea if it is possible.

[2018-02-02 20:42] erictheise commented on #262
I've been working on and using a Python tool that creates `providers` and `maps` `layers` for the tegola config based on the imposm3 import. I'm also planning to implement a `reconcile` action that'll flag imports that don't appear in the tegola config and vice versa. Seems quite likely this could be modified to ingest a style and export a reasonable starting point for a tegola config.

[2018-02-04 19:09] JivanAmara opened #288 "Add GeoJSON encoding to geom package."
Primary interest is for returning GeoJSON from wfs service, but will probably be useful elsewhere.

[2018-02-05 23:23] erictheise opened #290 "Line clipping panics when linestring has 0 points"
I am working with a Geofabrik country-level (Italy) extract. I have no problems running master which is at 43fa8d9 from Dec 22. Over the weekend I made a build from the v0.6.0 branch so that I could start using environment variables and now when I do the simplest things I get these panic messages
[code]
after seeing errors like these. I am not certain they always correspond to queries having 0 res

[2018-02-06 00:34] gdey commented on #290
Do you know what tile is causing the issue?
Is it possible for me to get the data set?

[2018-02-06 00:42] erictheise commented on #290
tegola behaves when I build at 661b81c but not after. So this is not currently a blocker for me. Happy to test after you've had a chance to look at it.

[2018-02-06 02:35] erictheise commented on #290
I've continued to have problems so I took @gdey's suggestion and ran `git bisect`. It landed me at 25b61e6 so I suggest you start there. Unfortunately, I had to disable the environment variable stuff to run the `git bisect` because _that's_ not working for a number of commits and we're in a position where we need that.

So I'm building at 688a41dd and hoping I'm not missing too much.

[2018-02-06 23:57] erictheise commented on #290
[code]

[2018-02-06 23:57] gdey commented on #290
Thanks

[2018-02-07 00:29] gdey opened #291 "geom/encoding/wkt does not handle nil and empty geometries correctly."
The new implementation of wkt does not handle nil values and empty geometries.
Add test cases as necessary.
Fix any issues.

[2018-02-07 19:16] ARolek commented on #290
@gdey also to note with this issue is that the error log statement of "Error Getting MVTLayer for tile" should be changed to: `err fetching tile (z: %v, x: %v, y: %v) features: %v`

[2018-02-07 21:23] skinkie opened #292 "Simplification with respect to topology"
At this moment a layer each object is simplified individually.

![image](https://user-images.githubusercontent.com/502394/35942155-066998de-0c55-11e8-8b46-b391faa3957c.png)

Is it possible to simplify with respect to topology? Hopfully enable this on specific layers.

As workaround I use now:
TEGOLA_OPTIONS=DontSimplifyGeo ./tegola_linux_amd64.3 serve

![image](https://user-images.githubuserconten

[2018-02-07 22:46] ARolek commented on #292
@skinkie we have configurable simplification on a per layer basis planned for v0.6.0. You can track #165. v0.6.0 is not far away.

[2018-02-07 22:51] skinkie opened #293 "handle_map_style.go:141: layer (providerLayerName: zones_label) has unsupported geometry type (<nil>)"
Any hint what is missing, every element in the column is a point.

[2018-02-07 23:19] ARolek commented on #293
@skinkie do you have an !ZOOM! token in your sql? I recently pushed a fix to the v0.6.0 branch that addresses this. check out #232

[2018-02-07 23:24] skinkie commented on #293
Sorry, my fault. I do hope this report helps future users. I didn't grant the table to user tegola. Hence the query probably aborted without read rights. Could you check the error if tegola has access to the table, if not report that to the user?

[2018-02-07 23:29] ARolek commented on #293
hmm that's strange. I would have suspected an error around permissions rather than an nil geom type. I will modify this issue title and check into it.

[2018-02-08 19:59] #290 closed

[2018-02-08 20:04] erictheise commented on #290
First indications are that the issue’s been resolved building at 0d31640. I’m going to use it locally, install it for the openseamap project on AWS, and I’ll try cross-compiling for @petersongis to try.

Thanks for the speedy resolution, @gdey and @ARolek!

[2018-02-10 04:26] sanfilippopablo opened #296 "Server doesn't start when layer sql contains this query"
I'm trying to make coverage overviews for a layer when zoom < 13. I tried this:
[code]
but the server logs `config.go:161: Loading local config (config.toml)` and it just hangs there, never starting to listen for connections.

With this query, it works fine:
[code]
That makes me thing that ST_Union is the problem.

Also, is it a bad practice to do aggregation here?

[2018-02-10 17:34] sanfilippopablo commented on #296
Correction: it starts, after 10 minutes. I checked DB activity and the DB instance was at CPU 100%, for the whole tegola starting time. That means tegola is doing some expensive query at startup?

[2018-02-10 21:17] ARolek commented on #296
@sanfilippopablo when tegola starts up it tries to run all the queries to make sure they're successful before it starts serving. This is to avoid issues during tile request time. Have you tried running these queries in PostGIS to check their performance? Also do you have indexes on your geometries?

I suspect the ST_Union query is the culprit and causing PostGIS to work really hard. This operation

[2018-02-10 21:36] sanfilippopablo commented on #296
I tried it for tiles and it was really fast, but if it's doing it for the whole world, I can imagine it taking too long. Yes, I have an index on the geometry. I think I will do `ST_Buffer(polygon::geography, 80)::geometry)` previously into a new `overviews` table.

[2018-02-10 22:01] ARolek commented on #296
It does do it on a 0/0/0 tile but also includes a LIMIT 1 so usually it’s super fast. If you turn on the execute sql debug you should be able to see the query and test it in postgis. Check out http://tegola.io/debugging/#environment-variables

[2018-02-13 19:18] gdey opened #300 "Add support for a redis caché, to the caché system."
Moving over feature request from tegola-osm/#40 for @peldhose .

[2018-02-14 16:44] vchrisb opened #302 "handle_map_style.go:138: layer (providerLayerName: landuse_areas_gen0) has unsupported geometry type (<nil>)"
I'm trying to deploy tegola.
I did try the "Getting Started" as well as the "tegola-osm" variant, but in both cases I do get an error like this:
[code]

I also tried `v0.6.0` as I've seen there should be some better `nil` handling just in the latest commits.

I also made sure, that my database user is owner on every table.

Any idea where this error comes from?

Thx.

[2018-02-14 17:20] ARolek commented on #302
@vchrisb can you paste in the SQL for those specific layers?

[2018-02-14 18:11] vchrisb commented on #302
@ARolek these are the lines in the tegola-osm repo:
https://github.com/terranodo/tegola-osm/blob/master/tegola.toml#L98
https://github.com/terranodo/tegola-osm/blob/master/tegola.toml#L43

for the getting started example it was for all three layers in http://tegola.io/getting-started/
Though for the getting-started I didn't check the table owner.

[2018-02-14 18:59] peldhose commented on #300
ok thanks ... 👍
how much time it may take to implement feature ?? any roadmap or timeline??

[2018-02-14 21:11] ARolek commented on #300
@peldhose we have a few other priorities so it's not on the immediate roadmap. Would you be interested in trying to build the implementation? I can point you to where in the code you would do the work.

[2018-02-14 21:15] ARolek commented on #240
@tangjuncheng1986 do you know how to build Go programs from source? I'm hoping you can try the v0.6.0 branch to see if this rendering issue is now resolved for you. We have addressed several rendering issues in v0.6.0 so your test would be helpful.

[2018-02-15 00:59] ARolek commented on #302
@vchrisb I just recreated the issue. So what's going on is the condition `AND area > 1000000000` is filtering out all the records so tegola is not able to understand what the geometry type is for that layer. you can change the filter for the area to `AND area > 10000` and it should work. This is not a great solution though so I think I'm going to need to figure out a strategy for auto generating a

[2018-02-15 12:18] peldhose commented on #300
mmm ok , actually i coded years before in java n php.anyway give me some guidelines i will try myself to implement (u guys should help me ).
also we would like to use tegola for production purpose, any suggestions ??

[2018-02-15 15:00] gdey commented on #300
@peldhose If you have any questions ask, and I'll do my best to help you out. To learn Go you can start with:
https://tour.golang.org/welcome/1

As far as implementing the caché:
Here is are a couple popular redis libs:
https://godoc.org/github.com/garyburd/redigo/redis
https://godoc.org/github.com/go-redis/redis

I'm not sure which is better.

To add a new caché, it will need to register with the

[2018-02-15 15:32] peldhose commented on #300
ok, let me go through n need some time to understand GO way ... anyway, i will try my best.

 we would like to use tegola for production purpose, any suggestions or concerns i should consider  ??

[2018-02-15 16:31] PetersonGIS opened #304 "Figure out why QGIS Vector Tiles Reader compatibility plugin is not able to read our tilejson url."
Add the following end point:
`/capabilities/$map/metadata.json`

Where the json returned follows the follow spec:
https://github.com/geometalab/Vector-Tiles-Reader-QGIS-Plugin/wiki/Help#metadatajson

This will allow QGIS to access tiles from Tegola directly.

[2018-02-15 17:07] gdey commented on #304
Would this be in the cache directory? Or at a particular URL? I guess how do you envision this being used?

[2018-02-15 17:12] PetersonGIS commented on #304
This might not be an answer, but here's what I was trying to do:
![pluginscreenshot](https://user-images.githubusercontent.com/5266205/36270265-7a5f3b3e-1238-11e8-90fb-b507f49a8bff.JPG)
After clicking save, then connect, it shows this:
![connect](https://user-images.githubusercontent.com/5266205/36270280-86888bb8-1238-11e8-802a-14149f977145.JPG)
I have also tried with this url: https://osm.tegola.

[2018-02-15 23:33] #161 closed

[2018-02-16 01:11] ARolek commented on #302
@vchrisb I just pushed up a fix to the v0.6.0 branch if you want to give it a test. If we can't generate a style we don't, rather than break the interface.

[2018-02-16 01:12] #182 closed

[2018-02-16 01:32] JivanAmara opened #306 "reduce/move provider dependencies"
For providers to be reused effectively, their dependencies on the larger tegola project should be
reduced.

For example, the import section of the gpkg provider includes:

- "github.com/terranodo/tegola"
- "github.com/terranodo/tegola/basic"
- "github.com/terranodo/tegola/geom"
- "github.com/terranodo/tegola/geom/encoding/wkb"
- "github.com/terranodo/tegola/internal/log"
- "github.com/terranodo/te

[2018-02-16 20:30] vchrisb commented on #302
thx, I'll give it a try!

[2018-02-17 00:59] ear7h commented on #300
@peldhose if you haven't gone through too much trouble already I could implement this

[2018-02-17 04:37] peldhose commented on #300
no probs @ear7h pls proceed.
I just started, need more time than I expecting.

[2018-02-18 01:41] JivanAmara opened #309 "Eliminate gpkg provider config param 'idFieldname'"
With the improved metadata collection in #308, we can eliminate this config parameter & simply use the primary key found for the table in NewTileProvider().

[2018-02-19 01:11] ear7h opened #311 "Caching at higher levels than specified by maxZoom"
From what I understand [here](https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames#Zoom_levels) higher zooms correspond with higher numbers. However the code in the `filecache` and `s3cache` packages assume the opposite, not caching when the zoom level is lower than `MaxZoom`.

[code]

Also, I think mechanism is makes odd use of pointers and uint types. I'm willing to change this but wanted to

[2018-02-19 17:51] ARolek commented on #311
@ear7h you're correct about "lower zooms" being closer to zero, and this looks like a bug. Thanks for reporting it. I will add a test case to both the `filecache` and `s3cache` and get this fixed.

Regarding the uint / pointer piece being odd, I agree. This is because some of the typing is going through a transition. Tile requests come to tegola in the format of `/:map_name/:z/:x/:y`. Currently we

[2018-02-19 17:56] ARolek opened #312 "Move z,x,y values to from int to uint"
Z/X/Y values should never be negative and therefor should be of type `uint`. This change will need to be implemented in the `server` package for both `HandleMapLayerZXY` and `HandleMapZXY` methods, the `cache` interface and sub packages as well as other packages that accept any z/x/y values (i.e. atlas package: `Map.FilerLayersByZoom()`)

[2018-02-19 18:29] ARolek commented on #306
I agree. This is part of the transition to the `geom` package and purging all the top level files. After the transition we should be able to remove:

- `github.com/terranodo/tegola`
- `github.com/terranodo/tegola/basic`

[2018-02-19 22:14] pnorman commented on #214
Just to note some [information on an expire list](https://github.com/t-rex-tileserver/t-rex/issues/58)

The standard format is `X Y Z` separated by spaces, with each tile separated by newlines.

For what needs to be implemented, I'd look to render_list from renderd

[code]

The difference with renderd is that it has "dirty" tiles, so it can have an outdated tile still in its store.

For an overvie

[2018-02-19 22:55] pnorman opened #313 "Google Summer of Code"
OpenStreetMap is taking part in Google Summer of Code (GSoC) this year, and I was thinking a Tegola project might be possible. I wouldn't be able to mentor this myself, not being a Go programmer.

A good scope would be issues which apply to using OpenStreetMap data with Tegola. In particular, those which touch on some combination of

- world-wide data;
- continually updating data; or
- tools to ma

[2018-02-19 22:57] gdey commented on #313
I would/could help out. Never done something like this before. What would be needed from out side?

[2018-02-19 23:32] ear7h commented on #311
Okay sounds good. I'll look for those tests when you submit them and make corresponding ones for the `rediscache`

[2018-02-19 23:38] pnorman commented on #313
There's two parts - proposals, then doing the work. We're in the first part right now, so what's needed is a project idea. There are some others at https://wiki.openstreetmap.org/wiki/Google_Summer_of_Code/2018/Project_Ideas.

An idea needs to be
- software development, not pure documentation or other similar activities, although a good project should include documenting it;
- about three months o

[2018-02-19 23:53] ear7h commented on #312
I can work on this.

Also after reading more on the coordinate system, I saw there are bounds on the max X and Y values for each tile coordinate. The `parseURI` function doesn't check for it, I'm not sure if this is corrected else where.

[2018-02-20 00:44] ARolek commented on #312
@ear7h much appreciated!

So the X/Y in the Z/X/Y tile scheme does not refer to a coordinate on the tile, but rather references a zoom, row and column in the [slippy map tile scheme](https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames) which is quad tree where at zoom 0 there is 1 tile, zoom 1 there are 4 tiles, zoom 2 there are 16 tiles, etc. etc. The Z/X/Y values are then converted into a t

[2018-02-20 21:55] ARolek commented on #313
@pnorman absolutely interested! Lots of possible projects a student could work on. Just a couple off the top of my mind:

- data providers: we have a backlog of data providers that could be implemented for various geospatial data stores.
- performance profiling: we're always looking for performance gains. learning to analyze programs via pprof and then implementing the changes is rewarding and val

[2018-02-20 21:57] ARolek commented on #214
@pnorman thanks for the follow up on this. I'm actually about to start working on this and your comment spun up requirement to support a tile entry template. The imposm3 tile list is in z/x/y format. I will make sure to support a configurable template.

[2018-02-20 23:03] pnorman commented on #313
Realistically the only non-PostGIS provider that would get used in an OSM setup would be shapefiles, for the coastlines. Other spatial data stores tend not to be used with OSM.

This would be difficult to wrap into a proposal. I'm not saying it couldn't be turned into a good project, but it's hard to distill down into a statement of what work is intended.

Do we have a good grasp of what is missin

[2018-02-21 00:03] gdey commented on #313
This was something that has been suggested. #160 There is already a library that can read and write shapefiles in go. The main thing would be to figure out the indexing strategy, whether r-index makes sense or the system @murphy214 is proposing.

The surface area is nice, there is a need, and any code they create will be used.
Even creating an initial dumb provider that is slow and does not use an

[2018-02-21 01:00] gdey commented on #270
Going through the various bounding box (and extent) implementations I come to the conclusion that the way the clipping algorithms is using bounding box is wrong. They are assuming that a bounding box is made up of two points the (upper left) and (lower right) which in mvt happen to be the minx, miny and maxx, maxy points. I thinking it makes more sense to have bbox be [4]float64 as it's not really

[2018-02-21 04:05] ARolek commented on #270
@gdey I'm not quite sure I follow. What's the difference between `[2][2]float64` and `[4]float64`? Seem like you need to know what is the min / max is if you're going to access the values directly or you will need to leverage MinX/Y() MaxX/Y() methods. If we stick with `[2][2]float64` we can leverage the `geom` package. Maybe a `New([2]float64, [2]float64)` would be helpful and it could figure out

[2018-02-21 05:03] ARolek commented on #311
@ear7h my recent PR (https://github.com/terranodo/tegola/pull/314) has the max_zoom fix and associated tests. Thanks again for the report. Teach me to not write test cases... ;-)

[2018-02-21 17:28] #311 closed

[2018-02-21 20:52] gdey opened #316 "Make the geom/encoding/wkt Function sig conisitant with geom/encoding/wkb"
Like the wkb package, the Encode functions should be the following:
[code]

This will make the package interface for the encoding methods the same.

[2018-02-21 22:17] ear7h commented on #312
@ARolek right, so there are max values for the columns an rows. Should there be a check for this as well?

[2018-02-21 22:39] ingenieroariel commented on #313
I think an imposm + postgis + golang/geo would be a nice experiment that could yield a single binary that looks at a protobuf file and gets you vector tiles.

[2018-02-21 22:43] pnorman commented on #313
How many weeks of work do you think that would be for a student?

[2018-02-21 23:31] ARolek commented on #313
@pnorman I would estimate a month to end to end depending on the foundational knowledge the student has. If we need to bring the student up to speed on the world of GIS then we should consider some additional time.

The task may require sending in code to the Go Shapefile package depending on what is discovered during the implementation. There are also a few r-tree indexes packages out there but I

[2018-02-22 00:31] ARolek commented on #300
@peldhose looks like you're in luck! @ear7h implemented the redis cache and it will be released with v0.6.0 due to be cut this week. If you want to try it out beforehand you can build from the v0.6.0 branch.